/**********align-items**********/

.items-start {
    align-items: flex-start !important;
}

.items-end {
    align-items: flex-end !important;
}

.items-center {
    align-items: center !important;
}

.items-baseline {
    align-items: baseline !important;
}

.items-stretch {
    align-items: stretch !important;
}

/********** align-items-media **********/

@media (max-width: 576px) {
    .media-xs\:items-start {
        align-items: flex-start !important;
    }

    .media-xs\:items-end {
        align-items: flex-end !important;
    }

    .media-xs\:items-center {
        align-items: center !important;
    }

    .media-xs\:items-baseline {
        align-items: baseline !important;
    }

    .media-xs\:items-stretch {
        align-items: stretch !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:items-start {
        align-items: flex-start !important;
    }

    .media-sm\:items-end {
        align-items: flex-end !important;
    }

    .media-sm\:items-center {
        align-items: center !important;
    }

    .media-sm\:items-baseline {
        align-items: baseline !important;
    }

    .media-sm\:items-stretch {
        align-items: stretch !important;
    }
}

@media (max-width: 992px) {
    .media-md\:items-start {
        align-items: flex-start !important;
    }

    .media-md\:items-end {
        align-items: flex-end !important;
    }

    .media-md\:items-center {
        align-items: center !important;
    }

    .media-md\:items-baseline {
        align-items: baseline !important;
    }

    .media-md\:items-stretch {
        align-items: stretch !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:items-start {
        align-items: flex-start !important;
    }

    .media-lg\:items-end {
        align-items: flex-end !important;
    }

    .media-lg\:items-center {
        align-items: center !important;
    }

    .media-lg\:items-baseline {
        align-items: baseline !important;
    }

    .media-lg\:items-stretch {
        align-items: stretch !important;
    }
}

/********** align-items-media-end **********/