/**********background-color-hover**********/

/* Color 1 */
.hover\:bg-color-1:hover {
    background-color: var(--kintaro-color-1) !important;
}

.hover\:bg-color-1-transparent:hover {
    background-color: var(--kintaro-color-1-transparent) !important;
}

/* Color 2 */
.hover\:bg-color-2:hover {
    background-color: var(--kintaro-color-2) !important;
}

.hover\:bg-color-2-transparent:hover {
    background-color: var(--kintaro-color-2-transparent) !important;
}

/* Color 3 */
.hover\:bg-color-3:hover {
    background-color: var(--kintaro-color-3) !important;
}

.hover\:bg-color-3-transparent:hover {
    background-color: var(--kintaro-color-3-transparent) !important;
}

/* Accent */
.hover\:bg-accent:hover {
    background-color: var(--kintaro-accent-color) !important;
}

.hover\:bg-accent-transparent:hover {
    background-color: var(--kintaro-accent-color-transparent) !important;
}

/* Success */
.hover\:bg-success:hover {
    background-color: var(--kintaro-success-color) !important;
}

.hover\:bg-success-transparent:hover {
    background-color: var(--kintaro-success-color-transparent) !important;
}

/* Warning */
.hover\:bg-warning:hover {
    background-color: var(--kintaro-warning-color) !important;
}

.hover\:bg-warning-transparent:hover {
    background-color: var(--kintaro-warning-color-transparent) !important;
}

/* Error */
.hover\:bg-error:hover {
    background-color: var(--kintaro-error-color) !important;
}

.hover\:bg-error-transparent:hover {
    background-color: var(--kintaro-error-color-transparent) !important;
}

/**********background-color-hover-end**********/