/**********background-color**********/

/* Color 1 */
.bg-color-1 {
    background-color: var(--kintaro-color-1) !important;
}

.bg-color-1-transparent {
    background-color: var(--kintaro-color-1-transparent) !important;
}

/* Color 2 */
.bg-color-2 {
    background-color: var(--kintaro-color-2) !important;
}

.bg-color-2-transparent {
    background-color: var(--kintaro-color-2-transparent) !important;
}

/* Color 3 */
.bg-color-3 {
    background-color: var(--kintaro-color-3) !important;
}

.bg-color-3-transparent {
    background-color: var(--kintaro-color-3-transparent) !important;
}

/* Accent */
.bg-accent {
    background-color: var(--kintaro-accent-color) !important;
}

.bg-accent-transparent {
    background-color: var(--kintaro-accent-color-transparent) !important;
}

/* Success */
.bg-success {
    background-color: var(--kintaro-success-color) !important;
}

.bg-success-transparent {
    background-color: var(--kintaro-success-color-transparent) !important;
}

/* Warning */
.bg-warning {
    background-color: var(--kintaro-warning-color) !important;
}

.bg-warning-transparent {
    background-color: var(--kintaro-warning-color-transparent) !important;
}

/* Error */
.bg-error {
    background-color: var(--kintaro-error-color) !important;
}

.bg-error-transparent {
    background-color: var(--kintaro-error-color-transparent) !important;
}

/**********background-color-end**********/