/**********border-radius**********/

.rounded {
    border-radius: var(--kintaro-border-radius-1) !important;
}

.rounded-full {
    border-radius: 50% !important;
}

.rounded-none {
    border-radius: 0 !important;
}

/**********border-radius-end**********/