/**********border-radius**********/

.rounded {
    border-radius: var(--kintaro-border-radius-1) !important;
}

.rounded-full {
    border-radius: 50% !important;
}

.rounded-none {
    border-radius: 0 !important;
}

/**********border-radius-end**********/

.rounded-0 {
    border-radius: 0px;
}

.rounded-1 {
    border-radius: 1px;
}

.rounded-2 {
    border-radius: 2px;
}

.rounded-3 {
    border-radius: 3px;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-7 {
    border-radius: 7px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-9 {
    border-radius: 9px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-11 {
    border-radius: 11px;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-13 {
    border-radius: 13px;
}

.rounded-14 {
    border-radius: 14px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-17 {
    border-radius: 17px;
}

.rounded-18 {
    border-radius: 18px;
}

.rounded-19 {
    border-radius: 19px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-21 {
    border-radius: 21px;
}

.rounded-22 {
    border-radius: 22px;
}

.rounded-23 {
    border-radius: 23px;
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-26 {
    border-radius: 26px;
}

.rounded-27 {
    border-radius: 27px;
}

.rounded-28 {
    border-radius: 28px;
}

.rounded-29 {
    border-radius: 29px;
}

.rounded-30 {
    border-radius: 30px;
}

.rounded-31 {
    border-radius: 31px;
}

.rounded-32 {
    border-radius: 32px;
}

.rounded-33 {
    border-radius: 33px;
}

.rounded-34 {
    border-radius: 34px;
}

.rounded-35 {
    border-radius: 35px;
}

.rounded-36 {
    border-radius: 36px;
}

.rounded-37 {
    border-radius: 37px;
}

.rounded-38 {
    border-radius: 38px;
}

.rounded-39 {
    border-radius: 39px;
}

.rounded-40 {
    border-radius: 40px;
}

.rounded-41 {
    border-radius: 41px;
}

.rounded-42 {
    border-radius: 42px;
}

.rounded-43 {
    border-radius: 43px;
}

.rounded-44 {
    border-radius: 44px;
}

.rounded-45 {
    border-radius: 45px;
}

.rounded-46 {
    border-radius: 46px;
}

.rounded-47 {
    border-radius: 47px;
}

.rounded-48 {
    border-radius: 48px;
}

.rounded-49 {
    border-radius: 49px;
}

.rounded-50 {
    border-radius: 50px;
}

.rounded-51 {
    border-radius: 51px;
}

.rounded-52 {
    border-radius: 52px;
}

.rounded-53 {
    border-radius: 53px;
}

.rounded-54 {
    border-radius: 54px;
}

.rounded-55 {
    border-radius: 55px;
}

.rounded-56 {
    border-radius: 56px;
}

.rounded-57 {
    border-radius: 57px;
}

.rounded-58 {
    border-radius: 58px;
}

.rounded-59 {
    border-radius: 59px;
}

.rounded-60 {
    border-radius: 60px;
}

.rounded-61 {
    border-radius: 61px;
}

.rounded-62 {
    border-radius: 62px;
}

.rounded-63 {
    border-radius: 63px;
}

.rounded-64 {
    border-radius: 64px;
}

.rounded-65 {
    border-radius: 65px;
}

.rounded-66 {
    border-radius: 66px;
}

.rounded-67 {
    border-radius: 67px;
}

.rounded-68 {
    border-radius: 68px;
}

.rounded-69 {
    border-radius: 69px;
}

.rounded-70 {
    border-radius: 70px;
}

.rounded-71 {
    border-radius: 71px;
}

.rounded-72 {
    border-radius: 72px;
}

.rounded-73 {
    border-radius: 73px;
}

.rounded-74 {
    border-radius: 74px;
}

.rounded-75 {
    border-radius: 75px;
}

.rounded-76 {
    border-radius: 76px;
}

.rounded-77 {
    border-radius: 77px;
}

.rounded-78 {
    border-radius: 78px;
}

.rounded-79 {
    border-radius: 79px;
}

.rounded-80 {
    border-radius: 80px;
}

.rounded-81 {
    border-radius: 81px;
}

.rounded-82 {
    border-radius: 82px;
}

.rounded-83 {
    border-radius: 83px;
}

.rounded-84 {
    border-radius: 84px;
}

.rounded-85 {
    border-radius: 85px;
}

.rounded-86 {
    border-radius: 86px;
}

.rounded-87 {
    border-radius: 87px;
}

.rounded-88 {
    border-radius: 88px;
}

.rounded-89 {
    border-radius: 89px;
}

.rounded-90 {
    border-radius: 90px;
}

.rounded-91 {
    border-radius: 91px;
}

.rounded-92 {
    border-radius: 92px;
}

.rounded-93 {
    border-radius: 93px;
}

.rounded-94 {
    border-radius: 94px;
}

.rounded-95 {
    border-radius: 95px;
}

.rounded-96 {
    border-radius: 96px;
}

.rounded-97 {
    border-radius: 97px;
}

.rounded-98 {
    border-radius: 98px;
}

.rounded-99 {
    border-radius: 99px;
}

.rounded-100 {
    border-radius: 100px;
}

.rounded-101 {
    border-radius: 101px;
}

.rounded-102 {
    border-radius: 102px;
}

.rounded-103 {
    border-radius: 103px;
}

.rounded-104 {
    border-radius: 104px;
}

.rounded-105 {
    border-radius: 105px;
}

.rounded-106 {
    border-radius: 106px;
}

.rounded-107 {
    border-radius: 107px;
}

.rounded-108 {
    border-radius: 108px;
}

.rounded-109 {
    border-radius: 109px;
}

.rounded-110 {
    border-radius: 110px;
}

.rounded-111 {
    border-radius: 111px;
}

.rounded-112 {
    border-radius: 112px;
}

.rounded-113 {
    border-radius: 113px;
}

.rounded-114 {
    border-radius: 114px;
}

.rounded-115 {
    border-radius: 115px;
}

.rounded-116 {
    border-radius: 116px;
}

.rounded-117 {
    border-radius: 117px;
}

.rounded-118 {
    border-radius: 118px;
}

.rounded-119 {
    border-radius: 119px;
}

.rounded-120 {
    border-radius: 120px;
}

.rounded-121 {
    border-radius: 121px;
}

.rounded-122 {
    border-radius: 122px;
}

.rounded-123 {
    border-radius: 123px;
}

.rounded-124 {
    border-radius: 124px;
}

.rounded-125 {
    border-radius: 125px;
}

.rounded-126 {
    border-radius: 126px;
}

.rounded-127 {
    border-radius: 127px;
}

.rounded-128 {
    border-radius: 128px;
}