/**********text-color-hover**********/

/* Color 1 */
.hover\:text-color-1:hover {
    color: var(--kintaro-text-color-1) !important;
}

.hover\:text-color-1-transparent:hover {
    color: var(--kintaro-text-color-1-transparent) !important;
}

/* Color 2 */
.hover\:text-color-2:hover {
    color: var(--kintaro-text-color-2) !important;
}

.hover\:text-color-2-transparent:hover {
    color: var(--kintaro-text-color-2-transparent) !important;
}

/* Disabled */
.hover\:text-color-disabled:hover {
    color: var(--kintaro-text-color-disabled) !important;
}

.hover\:text-color-disabled-transparent:hover {
    color: var(--kintaro-text-color-disabled-transparent) !important;
}

/* Accent */
.hover\:text-accent:hover {
    color: var(--kintaro-accent-color) !important;
}

.hover\:text-accent-transparent:hover {
    color: var(--kintaro-accent-color-transparent) !important;
}

/* Success */
.hover\:text-success:hover {
    color: var(--kintaro-success-color) !important;
}

.hover\:text-success-transparent:hover {
    color: var(--kintaro-success-color-transparent) !important;
}

/* Warning */
.hover\:text-warning:hover {
    color: var(--kintaro-warning-color) !important;
}

.hover\:text-warning-transparent:hover {
    color: var(--kintaro-warning-color-transparent) !important;
}

/* Error */
.hover\:text-error:hover {
    color: var(--kintaro-error-color) !important;
}

.hover\:text-error-transparent:hover {
    color: var(--kintaro-error-color-transparent) !important;
}

/**********text-color-hover-end**********/