/**********cursor**********/

.cursor-auto {
    cursor: auto;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-wait {
    cursor: wait;
}

.cursor-move {
    cursor: move;
}

.cursor-grab {
    cursor: grab;
}

/**********cursor-end**********/