/**********flex-direction**********/

.flex-row {
    flex-direction: row !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.flex-col {
    flex-direction: column !important;
}

.flex-col-reverse {
    flex-direction: column-reverse !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

/**********flex-direction-end**********/

/********** flex-direction-media **********/

@media (max-width: 576px) {
    .media-xs\:flex-row {
        flex-direction: row !important;
    }

    .media-xs\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .media-xs\:flex-col {
        flex-direction: column !important;
    }

    .media-xs\:flex-col-reverse {
        flex-direction: column-reverse !important;
    }

    .media-xs\:flex-wrap {
        flex-wrap: wrap !important;
    }

    .media-xs\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .media-xs\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:flex-row {
        flex-direction: row !important;
    }

    .media-sm\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .media-sm\:flex-col {
        flex-direction: column !important;
    }

    .media-sm\:flex-col-reverse {
        flex-direction: column-reverse !important;
    }

    .media-sm\:flex-wrap {
        flex-wrap: wrap !important;
    }

    .media-sm\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .media-sm\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
}

@media (max-width: 992px) {
    .media-md\:flex-row {
        flex-direction: row !important;
    }

    .media-md\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .media-md\:flex-col {
        flex-direction: column !important;
    }

    .media-md\:flex-col-reverse {
        flex-direction: column-reverse !important;
    }

    .media-md\:flex-wrap {
        flex-wrap: wrap !important;
    }

    .media-md\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .media-md\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:flex-row {
        flex-direction: row !important;
    }

    .media-lg\:flex-row-reverse {
        flex-direction: row-reverse !important;
    }

    .media-lg\:flex-col {
        flex-direction: column !important;
    }

    .media-lg\:flex-col-reverse {
        flex-direction: column-reverse !important;
    }

    .media-lg\:flex-wrap {
        flex-wrap: wrap !important;
    }

    .media-lg\:flex-wrap-reverse {
        flex-wrap: wrap-reverse !important;
    }

    .media-lg\:flex-nowrap {
        flex-wrap: nowrap !important;
    }
}

/********** flex-direction-media-end **********/