/**********size**********/

.size-xs {
    font-size: var(--kintaro-font-xs);
}

.size-sm {
    font-size: var(--kintaro-font-sm);
}

.size-md {
    font-size: var(--kintaro-font-md);
}

.size-lg {
    font-size: var(--kintaro-font-lg);
}

.size-xl {
    font-size: var(--kintaro-font-xl);
}

.size-xxl {
    font-size: var(--kintaro-font-xxl);
}

/**********size-end**********/