/**********gap**********/

.gap-0 {
    gap: 0 !important;
}

.gap-xs {
    gap: var(--kintaro-gap-xs) !important;
}

.gap-sm {
    gap: var(--kintaro-gap-sm) !important;
}

.gap-md {
    gap: var(--kintaro-gap-md) !important;
}

.gap-lg {
    gap: var(--kintaro-gap-lg) !important;
}

.gap-xl {
    gap: var(--kintaro-gap-xl) !important;
}

.gap-xxl {
    gap: var(--kintaro-gap-xxl) !important;
}

/**********gap-end**********/