/**********justify-content**********/

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

/********** justify-content-media **********/

@media (max-width: 576px) {
    .media-xs\:justify-start {
        justify-content: flex-start !important;
    }

    .media-xs\:justify-end {
        justify-content: flex-end !important;
    }

    .media-xs\:justify-center {
        justify-content: center !important;
    }

    .media-xs\:justify-between {
        justify-content: space-between !important;
    }

    .media-xs\:justify-around {
        justify-content: space-around !important;
    }

    .media-xs\:justify-evenly {
        justify-content: space-evenly !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:justify-start {
        justify-content: flex-start !important;
    }

    .media-sm\:justify-end {
        justify-content: flex-end !important;
    }

    .media-sm\:justify-center {
        justify-content: center !important;
    }

    .media-sm\:justify-between {
        justify-content: space-between !important;
    }

    .media-sm\:justify-around {
        justify-content: space-around !important;
    }

    .media-sm\:justify-evenly {
        justify-content: space-evenly !important;
    }
}

@media (max-width: 992px) {
    .media-md\:justify-start {
        justify-content: flex-start !important;
    }

    .media-md\:justify-end {
        justify-content: flex-end !important;
    }

    .media-md\:justify-center {
        justify-content: center !important;
    }

    .media-md\:justify-between {
        justify-content: space-between !important;
    }

    .media-md\:justify-around {
        justify-content: space-around !important;
    }

    .media-md\:justify-evenly {
        justify-content: space-evenly !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:justify-start {
        justify-content: flex-start !important;
    }

    .media-lg\:justify-end {
        justify-content: flex-end !important;
    }

    .media-lg\:justify-center {
        justify-content: center !important;
    }

    .media-lg\:justify-between {
        justify-content: space-between !important;
    }

    .media-lg\:justify-around {
        justify-content: space-around !important;
    }

    .media-lg\:justify-evenly {
        justify-content: space-evenly !important;
    }
}

/********** justify-content-media-end **********/