/**********transition**********/

.transition {
    transition: var(--kintaro-transition-1) !important;
}

.transition-all {
    transition: var(--kintaro-transition-1) !important;
}

.transition-none {
    transition: none !important;
}

/**********transition-end**********/