/**********border-width**********/

.border-0 {
    border-width: 0 !important;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-4 {
    border-width: 4px !important;
}

.border-5 {
    border-width: 5px !important;
}

/* Border Top */
.border-top-0 {
    border-top-width: 0 !important;
}

.border-top-1 {
    border-top-width: 1px !important;
}

.border-top-2 {
    border-top-width: 2px !important;
}

.border-top-4 {
    border-top-width: 4px !important;
}

.border-top-5 {
    border-top-width: 5px !important;
}

/* Border Bottom */
.border-bottom-0 {
    border-bottom-width: 0 !important;
}

.border-bottom-1 {
    border-bottom-width: 1px !important;
}

.border-bottom-2 {
    border-bottom-width: 2px !important;
}

.border-bottom-4 {
    border-bottom-width: 4px !important;
}

.border-bottom-5 {
    border-bottom-width: 5px !important;
}

/* Border Left */
.border-left-0 {
    border-left-width: 0 !important;
}

.border-left-1 {
    border-left-width: 1px !important;
}

.border-left-2 {
    border-left-width: 2px !important;
}

.border-left-4 {
    border-left-width: 4px !important;
}

.border-left-5 {
    border-left-width: 5px !important;
}

/* Border Right */
.border-right-0 {
    border-right-width: 0 !important;
}

.border-right-1 {
    border-right-width: 1px !important;
}

.border-right-2 {
    border-right-width: 2px !important;
}

.border-right-4 {
    border-right-width: 4px !important;
}

.border-right-5 {
    border-right-width: 5px !important;
}

/**********border-width-end**********/