/**********border-color**********/

/* Default Border */
.border-color {
    border-color: var(--kintaro-border) !important;
}

.hover\:border-color:hover {
    border-color: var(--kintaro-border) !important;
}

/* Accent */
.border-accent {
    border-color: var(--kintaro-accent-color) !important;
}

.hover\:border-accent:hover {
    border-color: var(--kintaro-accent-color) !important;
}

.border-accent-transparent {
    border-color: var(--kintaro-accent-color-transparent) !important;
}

.hover\:border-accent-transparent:hover {
    border-color: var(--kintaro-accent-color-transparent) !important;
}

/* Success */
.border-success {
    border-color: var(--kintaro-success-color) !important;
}

.hover\:border-success:hover {
    border-color: var(--kintaro-success-color) !important;
}

.border-success-transparent {
    border-color: var(--kintaro-success-color-transparent) !important;
}

.hover\:border-success-transparent:hover {
    border-color: var(--kintaro-success-color-transparent) !important;
}

/* Warning */
.border-warning {
    border-color: var(--kintaro-warning-color) !important;
}

.hover\:border-warning:hover {
    border-color: var(--kintaro-warning-color) !important;
}

.border-warning-transparent {
    border-color: var(--kintaro-warning-color-transparent) !important;
}

.hover\:border-warning-transparent:hover {
    border-color: var(--kintaro-warning-color-transparent) !important;
}

/* Error */
.border-error {
    border-color: var(--kintaro-error-color) !important;
}

.hover\:border-error:hover {
    border-color: var(--kintaro-error-color) !important;
}

.border-error-transparent {
    border-color: var(--kintaro-error-color-transparent) !important;
}

.hover\:border-error-transparent:hover {
    border-color: var(--kintaro-error-color-transparent) !important;
}

/**********border-color-end**********/