.kintaro-close-button {
    cursor: pointer;
    transition: var(--transition-1);
    background: none;
    border: none;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.kintaro-close-button svg {
    pointer-events: none;
}

.kintaro-close-button:hover {
    filter: brightness(0.7) !important;
}