@import url("../root.css");

.kintaro-button-accent-2 {
    background: var(--kintaro-accent-color-1);
    color: var(--kintaro-text-color-1);
    font-size: var(--kintaro-font-sm);
    padding: 0.5rem 1rem;
    border-radius: 35px;
    cursor: pointer;
}

.kintaro-button-accent-2:hover {
    background: var(--kintaro-accent-color-1-transparent);
}