.left-n1p {
    left: -1% !important;
}

.left-n2p {
    left: -2% !important;
}

.left-n3p {
    left: -3% !important;
}

.left-n4p {
    left: -4% !important;
}

.left-n5p {
    left: -5% !important;
}

.left-n6p {
    left: -6% !important;
}

.left-n7p {
    left: -7% !important;
}

.left-n8p {
    left: -8% !important;
}

.left-n9p {
    left: -9% !important;
}

.left-n10p {
    left: -10% !important;
}

.left-n11p {
    left: -11% !important;
}

.left-n12p {
    left: -12% !important;
}

.left-n13p {
    left: -13% !important;
}

.left-n14p {
    left: -14% !important;
}

.left-n15p {
    left: -15% !important;
}

.left-n16p {
    left: -16% !important;
}

.left-n17p {
    left: -17% !important;
}

.left-n18p {
    left: -18% !important;
}

.left-n19p {
    left: -19% !important;
}

.left-n20p {
    left: -20% !important;
}

.left-n21p {
    left: -21% !important;
}

.left-n22p {
    left: -22% !important;
}

.left-n23p {
    left: -23% !important;
}

.left-n24p {
    left: -24% !important;
}

.left-n25p {
    left: -25% !important;
}

.left-n26p {
    left: -26% !important;
}

.left-n27p {
    left: -27% !important;
}

.left-n28p {
    left: -28% !important;
}

.left-n29p {
    left: -29% !important;
}

.left-n30p {
    left: -30% !important;
}

.left-n31p {
    left: -31% !important;
}

.left-n32p {
    left: -32% !important;
}

.left-n33p {
    left: -33% !important;
}

.left-n34p {
    left: -34% !important;
}

.left-n35p {
    left: -35% !important;
}

.left-n36p {
    left: -36% !important;
}

.left-n37p {
    left: -37% !important;
}

.left-n38p {
    left: -38% !important;
}

.left-n39p {
    left: -39% !important;
}

.left-n40p {
    left: -40% !important;
}

.left-n41p {
    left: -41% !important;
}

.left-n42p {
    left: -42% !important;
}

.left-n43p {
    left: -43% !important;
}

.left-n44p {
    left: -44% !important;
}

.left-n45p {
    left: -45% !important;
}

.left-n46p {
    left: -46% !important;
}

.left-n47p {
    left: -47% !important;
}

.left-n48p {
    left: -48% !important;
}

.left-n49p {
    left: -49% !important;
}

.left-n50p {
    left: -50% !important;
}

.left-n51p {
    left: -51% !important;
}

.left-n52p {
    left: -52% !important;
}

.left-n53p {
    left: -53% !important;
}

.left-n54p {
    left: -54% !important;
}

.left-n55p {
    left: -55% !important;
}

.left-n56p {
    left: -56% !important;
}

.left-n57p {
    left: -57% !important;
}

.left-n58p {
    left: -58% !important;
}

.left-n59p {
    left: -59% !important;
}

.left-n60p {
    left: -60% !important;
}

.left-n61p {
    left: -61% !important;
}

.left-n62p {
    left: -62% !important;
}

.left-n63p {
    left: -63% !important;
}

.left-n64p {
    left: -64% !important;
}

.left-n65p {
    left: -65% !important;
}

.left-n66p {
    left: -66% !important;
}

.left-n67p {
    left: -67% !important;
}

.left-n68p {
    left: -68% !important;
}

.left-n69p {
    left: -69% !important;
}

.left-n70p {
    left: -70% !important;
}

.left-n71p {
    left: -71% !important;
}

.left-n72p {
    left: -72% !important;
}

.left-n73p {
    left: -73% !important;
}

.left-n74p {
    left: -74% !important;
}

.left-n75p {
    left: -75% !important;
}

.left-n76p {
    left: -76% !important;
}

.left-n77p {
    left: -77% !important;
}

.left-n78p {
    left: -78% !important;
}

.left-n79p {
    left: -79% !important;
}

.left-n80p {
    left: -80% !important;
}

.left-n81p {
    left: -81% !important;
}

.left-n82p {
    left: -82% !important;
}

.left-n83p {
    left: -83% !important;
}

.left-n84p {
    left: -84% !important;
}

.left-n85p {
    left: -85% !important;
}

.left-n86p {
    left: -86% !important;
}

.left-n87p {
    left: -87% !important;
}

.left-n88p {
    left: -88% !important;
}

.left-n89p {
    left: -89% !important;
}

.left-n90p {
    left: -90% !important;
}

.left-n91p {
    left: -91% !important;
}

.left-n92p {
    left: -92% !important;
}

.left-n93p {
    left: -93% !important;
}

.left-n94p {
    left: -94% !important;
}

.left-n95p {
    left: -95% !important;
}

.left-n96p {
    left: -96% !important;
}

.left-n97p {
    left: -97% !important;
}

.left-n98p {
    left: -98% !important;
}

.left-n99p {
    left: -99% !important;
}

.left-n100p {
    left: -100% !important;
}

@media (max-width: 576px) {
    .media-xs\:left-n1p {
        left: -1% !important;
    }

    .media-xs\:left-n2p {
        left: -2% !important;
    }

    .media-xs\:left-n3p {
        left: -3% !important;
    }

    .media-xs\:left-n4p {
        left: -4% !important;
    }

    .media-xs\:left-n5p {
        left: -5% !important;
    }

    .media-xs\:left-n6p {
        left: -6% !important;
    }

    .media-xs\:left-n7p {
        left: -7% !important;
    }

    .media-xs\:left-n8p {
        left: -8% !important;
    }

    .media-xs\:left-n9p {
        left: -9% !important;
    }

    .media-xs\:left-n10p {
        left: -10% !important;
    }

    .media-xs\:left-n11p {
        left: -11% !important;
    }

    .media-xs\:left-n12p {
        left: -12% !important;
    }

    .media-xs\:left-n13p {
        left: -13% !important;
    }

    .media-xs\:left-n14p {
        left: -14% !important;
    }

    .media-xs\:left-n15p {
        left: -15% !important;
    }

    .media-xs\:left-n16p {
        left: -16% !important;
    }

    .media-xs\:left-n17p {
        left: -17% !important;
    }

    .media-xs\:left-n18p {
        left: -18% !important;
    }

    .media-xs\:left-n19p {
        left: -19% !important;
    }

    .media-xs\:left-n20p {
        left: -20% !important;
    }

    .media-xs\:left-n21p {
        left: -21% !important;
    }

    .media-xs\:left-n22p {
        left: -22% !important;
    }

    .media-xs\:left-n23p {
        left: -23% !important;
    }

    .media-xs\:left-n24p {
        left: -24% !important;
    }

    .media-xs\:left-n25p {
        left: -25% !important;
    }

    .media-xs\:left-n26p {
        left: -26% !important;
    }

    .media-xs\:left-n27p {
        left: -27% !important;
    }

    .media-xs\:left-n28p {
        left: -28% !important;
    }

    .media-xs\:left-n29p {
        left: -29% !important;
    }

    .media-xs\:left-n30p {
        left: -30% !important;
    }

    .media-xs\:left-n31p {
        left: -31% !important;
    }

    .media-xs\:left-n32p {
        left: -32% !important;
    }

    .media-xs\:left-n33p {
        left: -33% !important;
    }

    .media-xs\:left-n34p {
        left: -34% !important;
    }

    .media-xs\:left-n35p {
        left: -35% !important;
    }

    .media-xs\:left-n36p {
        left: -36% !important;
    }

    .media-xs\:left-n37p {
        left: -37% !important;
    }

    .media-xs\:left-n38p {
        left: -38% !important;
    }

    .media-xs\:left-n39p {
        left: -39% !important;
    }

    .media-xs\:left-n40p {
        left: -40% !important;
    }

    .media-xs\:left-n41p {
        left: -41% !important;
    }

    .media-xs\:left-n42p {
        left: -42% !important;
    }

    .media-xs\:left-n43p {
        left: -43% !important;
    }

    .media-xs\:left-n44p {
        left: -44% !important;
    }

    .media-xs\:left-n45p {
        left: -45% !important;
    }

    .media-xs\:left-n46p {
        left: -46% !important;
    }

    .media-xs\:left-n47p {
        left: -47% !important;
    }

    .media-xs\:left-n48p {
        left: -48% !important;
    }

    .media-xs\:left-n49p {
        left: -49% !important;
    }

    .media-xs\:left-n50p {
        left: -50% !important;
    }

    .media-xs\:left-n51p {
        left: -51% !important;
    }

    .media-xs\:left-n52p {
        left: -52% !important;
    }

    .media-xs\:left-n53p {
        left: -53% !important;
    }

    .media-xs\:left-n54p {
        left: -54% !important;
    }

    .media-xs\:left-n55p {
        left: -55% !important;
    }

    .media-xs\:left-n56p {
        left: -56% !important;
    }

    .media-xs\:left-n57p {
        left: -57% !important;
    }

    .media-xs\:left-n58p {
        left: -58% !important;
    }

    .media-xs\:left-n59p {
        left: -59% !important;
    }

    .media-xs\:left-n60p {
        left: -60% !important;
    }

    .media-xs\:left-n61p {
        left: -61% !important;
    }

    .media-xs\:left-n62p {
        left: -62% !important;
    }

    .media-xs\:left-n63p {
        left: -63% !important;
    }

    .media-xs\:left-n64p {
        left: -64% !important;
    }

    .media-xs\:left-n65p {
        left: -65% !important;
    }

    .media-xs\:left-n66p {
        left: -66% !important;
    }

    .media-xs\:left-n67p {
        left: -67% !important;
    }

    .media-xs\:left-n68p {
        left: -68% !important;
    }

    .media-xs\:left-n69p {
        left: -69% !important;
    }

    .media-xs\:left-n70p {
        left: -70% !important;
    }

    .media-xs\:left-n71p {
        left: -71% !important;
    }

    .media-xs\:left-n72p {
        left: -72% !important;
    }

    .media-xs\:left-n73p {
        left: -73% !important;
    }

    .media-xs\:left-n74p {
        left: -74% !important;
    }

    .media-xs\:left-n75p {
        left: -75% !important;
    }

    .media-xs\:left-n76p {
        left: -76% !important;
    }

    .media-xs\:left-n77p {
        left: -77% !important;
    }

    .media-xs\:left-n78p {
        left: -78% !important;
    }

    .media-xs\:left-n79p {
        left: -79% !important;
    }

    .media-xs\:left-n80p {
        left: -80% !important;
    }

    .media-xs\:left-n81p {
        left: -81% !important;
    }

    .media-xs\:left-n82p {
        left: -82% !important;
    }

    .media-xs\:left-n83p {
        left: -83% !important;
    }

    .media-xs\:left-n84p {
        left: -84% !important;
    }

    .media-xs\:left-n85p {
        left: -85% !important;
    }

    .media-xs\:left-n86p {
        left: -86% !important;
    }

    .media-xs\:left-n87p {
        left: -87% !important;
    }

    .media-xs\:left-n88p {
        left: -88% !important;
    }

    .media-xs\:left-n89p {
        left: -89% !important;
    }

    .media-xs\:left-n90p {
        left: -90% !important;
    }

    .media-xs\:left-n91p {
        left: -91% !important;
    }

    .media-xs\:left-n92p {
        left: -92% !important;
    }

    .media-xs\:left-n93p {
        left: -93% !important;
    }

    .media-xs\:left-n94p {
        left: -94% !important;
    }

    .media-xs\:left-n95p {
        left: -95% !important;
    }

    .media-xs\:left-n96p {
        left: -96% !important;
    }

    .media-xs\:left-n97p {
        left: -97% !important;
    }

    .media-xs\:left-n98p {
        left: -98% !important;
    }

    .media-xs\:left-n99p {
        left: -99% !important;
    }

    .media-xs\:left-n100p {
        left: -100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:left-n1p {
        left: -1% !important;
    }

    .media-sm\:left-n2p {
        left: -2% !important;
    }

    .media-sm\:left-n3p {
        left: -3% !important;
    }

    .media-sm\:left-n4p {
        left: -4% !important;
    }

    .media-sm\:left-n5p {
        left: -5% !important;
    }

    .media-sm\:left-n6p {
        left: -6% !important;
    }

    .media-sm\:left-n7p {
        left: -7% !important;
    }

    .media-sm\:left-n8p {
        left: -8% !important;
    }

    .media-sm\:left-n9p {
        left: -9% !important;
    }

    .media-sm\:left-n10p {
        left: -10% !important;
    }

    .media-sm\:left-n11p {
        left: -11% !important;
    }

    .media-sm\:left-n12p {
        left: -12% !important;
    }

    .media-sm\:left-n13p {
        left: -13% !important;
    }

    .media-sm\:left-n14p {
        left: -14% !important;
    }

    .media-sm\:left-n15p {
        left: -15% !important;
    }

    .media-sm\:left-n16p {
        left: -16% !important;
    }

    .media-sm\:left-n17p {
        left: -17% !important;
    }

    .media-sm\:left-n18p {
        left: -18% !important;
    }

    .media-sm\:left-n19p {
        left: -19% !important;
    }

    .media-sm\:left-n20p {
        left: -20% !important;
    }

    .media-sm\:left-n21p {
        left: -21% !important;
    }

    .media-sm\:left-n22p {
        left: -22% !important;
    }

    .media-sm\:left-n23p {
        left: -23% !important;
    }

    .media-sm\:left-n24p {
        left: -24% !important;
    }

    .media-sm\:left-n25p {
        left: -25% !important;
    }

    .media-sm\:left-n26p {
        left: -26% !important;
    }

    .media-sm\:left-n27p {
        left: -27% !important;
    }

    .media-sm\:left-n28p {
        left: -28% !important;
    }

    .media-sm\:left-n29p {
        left: -29% !important;
    }

    .media-sm\:left-n30p {
        left: -30% !important;
    }

    .media-sm\:left-n31p {
        left: -31% !important;
    }

    .media-sm\:left-n32p {
        left: -32% !important;
    }

    .media-sm\:left-n33p {
        left: -33% !important;
    }

    .media-sm\:left-n34p {
        left: -34% !important;
    }

    .media-sm\:left-n35p {
        left: -35% !important;
    }

    .media-sm\:left-n36p {
        left: -36% !important;
    }

    .media-sm\:left-n37p {
        left: -37% !important;
    }

    .media-sm\:left-n38p {
        left: -38% !important;
    }

    .media-sm\:left-n39p {
        left: -39% !important;
    }

    .media-sm\:left-n40p {
        left: -40% !important;
    }

    .media-sm\:left-n41p {
        left: -41% !important;
    }

    .media-sm\:left-n42p {
        left: -42% !important;
    }

    .media-sm\:left-n43p {
        left: -43% !important;
    }

    .media-sm\:left-n44p {
        left: -44% !important;
    }

    .media-sm\:left-n45p {
        left: -45% !important;
    }

    .media-sm\:left-n46p {
        left: -46% !important;
    }

    .media-sm\:left-n47p {
        left: -47% !important;
    }

    .media-sm\:left-n48p {
        left: -48% !important;
    }

    .media-sm\:left-n49p {
        left: -49% !important;
    }

    .media-sm\:left-n50p {
        left: -50% !important;
    }

    .media-sm\:left-n51p {
        left: -51% !important;
    }

    .media-sm\:left-n52p {
        left: -52% !important;
    }

    .media-sm\:left-n53p {
        left: -53% !important;
    }

    .media-sm\:left-n54p {
        left: -54% !important;
    }

    .media-sm\:left-n55p {
        left: -55% !important;
    }

    .media-sm\:left-n56p {
        left: -56% !important;
    }

    .media-sm\:left-n57p {
        left: -57% !important;
    }

    .media-sm\:left-n58p {
        left: -58% !important;
    }

    .media-sm\:left-n59p {
        left: -59% !important;
    }

    .media-sm\:left-n60p {
        left: -60% !important;
    }

    .media-sm\:left-n61p {
        left: -61% !important;
    }

    .media-sm\:left-n62p {
        left: -62% !important;
    }

    .media-sm\:left-n63p {
        left: -63% !important;
    }

    .media-sm\:left-n64p {
        left: -64% !important;
    }

    .media-sm\:left-n65p {
        left: -65% !important;
    }

    .media-sm\:left-n66p {
        left: -66% !important;
    }

    .media-sm\:left-n67p {
        left: -67% !important;
    }

    .media-sm\:left-n68p {
        left: -68% !important;
    }

    .media-sm\:left-n69p {
        left: -69% !important;
    }

    .media-sm\:left-n70p {
        left: -70% !important;
    }

    .media-sm\:left-n71p {
        left: -71% !important;
    }

    .media-sm\:left-n72p {
        left: -72% !important;
    }

    .media-sm\:left-n73p {
        left: -73% !important;
    }

    .media-sm\:left-n74p {
        left: -74% !important;
    }

    .media-sm\:left-n75p {
        left: -75% !important;
    }

    .media-sm\:left-n76p {
        left: -76% !important;
    }

    .media-sm\:left-n77p {
        left: -77% !important;
    }

    .media-sm\:left-n78p {
        left: -78% !important;
    }

    .media-sm\:left-n79p {
        left: -79% !important;
    }

    .media-sm\:left-n80p {
        left: -80% !important;
    }

    .media-sm\:left-n81p {
        left: -81% !important;
    }

    .media-sm\:left-n82p {
        left: -82% !important;
    }

    .media-sm\:left-n83p {
        left: -83% !important;
    }

    .media-sm\:left-n84p {
        left: -84% !important;
    }

    .media-sm\:left-n85p {
        left: -85% !important;
    }

    .media-sm\:left-n86p {
        left: -86% !important;
    }

    .media-sm\:left-n87p {
        left: -87% !important;
    }

    .media-sm\:left-n88p {
        left: -88% !important;
    }

    .media-sm\:left-n89p {
        left: -89% !important;
    }

    .media-sm\:left-n90p {
        left: -90% !important;
    }

    .media-sm\:left-n91p {
        left: -91% !important;
    }

    .media-sm\:left-n92p {
        left: -92% !important;
    }

    .media-sm\:left-n93p {
        left: -93% !important;
    }

    .media-sm\:left-n94p {
        left: -94% !important;
    }

    .media-sm\:left-n95p {
        left: -95% !important;
    }

    .media-sm\:left-n96p {
        left: -96% !important;
    }

    .media-sm\:left-n97p {
        left: -97% !important;
    }

    .media-sm\:left-n98p {
        left: -98% !important;
    }

    .media-sm\:left-n99p {
        left: -99% !important;
    }

    .media-sm\:left-n100p {
        left: -100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:left-n1p {
        left: -1% !important;
    }

    .media-md\:left-n2p {
        left: -2% !important;
    }

    .media-md\:left-n3p {
        left: -3% !important;
    }

    .media-md\:left-n4p {
        left: -4% !important;
    }

    .media-md\:left-n5p {
        left: -5% !important;
    }

    .media-md\:left-n6p {
        left: -6% !important;
    }

    .media-md\:left-n7p {
        left: -7% !important;
    }

    .media-md\:left-n8p {
        left: -8% !important;
    }

    .media-md\:left-n9p {
        left: -9% !important;
    }

    .media-md\:left-n10p {
        left: -10% !important;
    }

    .media-md\:left-n11p {
        left: -11% !important;
    }

    .media-md\:left-n12p {
        left: -12% !important;
    }

    .media-md\:left-n13p {
        left: -13% !important;
    }

    .media-md\:left-n14p {
        left: -14% !important;
    }

    .media-md\:left-n15p {
        left: -15% !important;
    }

    .media-md\:left-n16p {
        left: -16% !important;
    }

    .media-md\:left-n17p {
        left: -17% !important;
    }

    .media-md\:left-n18p {
        left: -18% !important;
    }

    .media-md\:left-n19p {
        left: -19% !important;
    }

    .media-md\:left-n20p {
        left: -20% !important;
    }

    .media-md\:left-n21p {
        left: -21% !important;
    }

    .media-md\:left-n22p {
        left: -22% !important;
    }

    .media-md\:left-n23p {
        left: -23% !important;
    }

    .media-md\:left-n24p {
        left: -24% !important;
    }

    .media-md\:left-n25p {
        left: -25% !important;
    }

    .media-md\:left-n26p {
        left: -26% !important;
    }

    .media-md\:left-n27p {
        left: -27% !important;
    }

    .media-md\:left-n28p {
        left: -28% !important;
    }

    .media-md\:left-n29p {
        left: -29% !important;
    }

    .media-md\:left-n30p {
        left: -30% !important;
    }

    .media-md\:left-n31p {
        left: -31% !important;
    }

    .media-md\:left-n32p {
        left: -32% !important;
    }

    .media-md\:left-n33p {
        left: -33% !important;
    }

    .media-md\:left-n34p {
        left: -34% !important;
    }

    .media-md\:left-n35p {
        left: -35% !important;
    }

    .media-md\:left-n36p {
        left: -36% !important;
    }

    .media-md\:left-n37p {
        left: -37% !important;
    }

    .media-md\:left-n38p {
        left: -38% !important;
    }

    .media-md\:left-n39p {
        left: -39% !important;
    }

    .media-md\:left-n40p {
        left: -40% !important;
    }

    .media-md\:left-n41p {
        left: -41% !important;
    }

    .media-md\:left-n42p {
        left: -42% !important;
    }

    .media-md\:left-n43p {
        left: -43% !important;
    }

    .media-md\:left-n44p {
        left: -44% !important;
    }

    .media-md\:left-n45p {
        left: -45% !important;
    }

    .media-md\:left-n46p {
        left: -46% !important;
    }

    .media-md\:left-n47p {
        left: -47% !important;
    }

    .media-md\:left-n48p {
        left: -48% !important;
    }

    .media-md\:left-n49p {
        left: -49% !important;
    }

    .media-md\:left-n50p {
        left: -50% !important;
    }

    .media-md\:left-n51p {
        left: -51% !important;
    }

    .media-md\:left-n52p {
        left: -52% !important;
    }

    .media-md\:left-n53p {
        left: -53% !important;
    }

    .media-md\:left-n54p {
        left: -54% !important;
    }

    .media-md\:left-n55p {
        left: -55% !important;
    }

    .media-md\:left-n56p {
        left: -56% !important;
    }

    .media-md\:left-n57p {
        left: -57% !important;
    }

    .media-md\:left-n58p {
        left: -58% !important;
    }

    .media-md\:left-n59p {
        left: -59% !important;
    }

    .media-md\:left-n60p {
        left: -60% !important;
    }

    .media-md\:left-n61p {
        left: -61% !important;
    }

    .media-md\:left-n62p {
        left: -62% !important;
    }

    .media-md\:left-n63p {
        left: -63% !important;
    }

    .media-md\:left-n64p {
        left: -64% !important;
    }

    .media-md\:left-n65p {
        left: -65% !important;
    }

    .media-md\:left-n66p {
        left: -66% !important;
    }

    .media-md\:left-n67p {
        left: -67% !important;
    }

    .media-md\:left-n68p {
        left: -68% !important;
    }

    .media-md\:left-n69p {
        left: -69% !important;
    }

    .media-md\:left-n70p {
        left: -70% !important;
    }

    .media-md\:left-n71p {
        left: -71% !important;
    }

    .media-md\:left-n72p {
        left: -72% !important;
    }

    .media-md\:left-n73p {
        left: -73% !important;
    }

    .media-md\:left-n74p {
        left: -74% !important;
    }

    .media-md\:left-n75p {
        left: -75% !important;
    }

    .media-md\:left-n76p {
        left: -76% !important;
    }

    .media-md\:left-n77p {
        left: -77% !important;
    }

    .media-md\:left-n78p {
        left: -78% !important;
    }

    .media-md\:left-n79p {
        left: -79% !important;
    }

    .media-md\:left-n80p {
        left: -80% !important;
    }

    .media-md\:left-n81p {
        left: -81% !important;
    }

    .media-md\:left-n82p {
        left: -82% !important;
    }

    .media-md\:left-n83p {
        left: -83% !important;
    }

    .media-md\:left-n84p {
        left: -84% !important;
    }

    .media-md\:left-n85p {
        left: -85% !important;
    }

    .media-md\:left-n86p {
        left: -86% !important;
    }

    .media-md\:left-n87p {
        left: -87% !important;
    }

    .media-md\:left-n88p {
        left: -88% !important;
    }

    .media-md\:left-n89p {
        left: -89% !important;
    }

    .media-md\:left-n90p {
        left: -90% !important;
    }

    .media-md\:left-n91p {
        left: -91% !important;
    }

    .media-md\:left-n92p {
        left: -92% !important;
    }

    .media-md\:left-n93p {
        left: -93% !important;
    }

    .media-md\:left-n94p {
        left: -94% !important;
    }

    .media-md\:left-n95p {
        left: -95% !important;
    }

    .media-md\:left-n96p {
        left: -96% !important;
    }

    .media-md\:left-n97p {
        left: -97% !important;
    }

    .media-md\:left-n98p {
        left: -98% !important;
    }

    .media-md\:left-n99p {
        left: -99% !important;
    }

    .media-md\:left-n100p {
        left: -100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:left-n1p {
        left: -1% !important;
    }

    .media-lg\:left-n2p {
        left: -2% !important;
    }

    .media-lg\:left-n3p {
        left: -3% !important;
    }

    .media-lg\:left-n4p {
        left: -4% !important;
    }

    .media-lg\:left-n5p {
        left: -5% !important;
    }

    .media-lg\:left-n6p {
        left: -6% !important;
    }

    .media-lg\:left-n7p {
        left: -7% !important;
    }

    .media-lg\:left-n8p {
        left: -8% !important;
    }

    .media-lg\:left-n9p {
        left: -9% !important;
    }

    .media-lg\:left-n10p {
        left: -10% !important;
    }

    .media-lg\:left-n11p {
        left: -11% !important;
    }

    .media-lg\:left-n12p {
        left: -12% !important;
    }

    .media-lg\:left-n13p {
        left: -13% !important;
    }

    .media-lg\:left-n14p {
        left: -14% !important;
    }

    .media-lg\:left-n15p {
        left: -15% !important;
    }

    .media-lg\:left-n16p {
        left: -16% !important;
    }

    .media-lg\:left-n17p {
        left: -17% !important;
    }

    .media-lg\:left-n18p {
        left: -18% !important;
    }

    .media-lg\:left-n19p {
        left: -19% !important;
    }

    .media-lg\:left-n20p {
        left: -20% !important;
    }

    .media-lg\:left-n21p {
        left: -21% !important;
    }

    .media-lg\:left-n22p {
        left: -22% !important;
    }

    .media-lg\:left-n23p {
        left: -23% !important;
    }

    .media-lg\:left-n24p {
        left: -24% !important;
    }

    .media-lg\:left-n25p {
        left: -25% !important;
    }

    .media-lg\:left-n26p {
        left: -26% !important;
    }

    .media-lg\:left-n27p {
        left: -27% !important;
    }

    .media-lg\:left-n28p {
        left: -28% !important;
    }

    .media-lg\:left-n29p {
        left: -29% !important;
    }

    .media-lg\:left-n30p {
        left: -30% !important;
    }

    .media-lg\:left-n31p {
        left: -31% !important;
    }

    .media-lg\:left-n32p {
        left: -32% !important;
    }

    .media-lg\:left-n33p {
        left: -33% !important;
    }

    .media-lg\:left-n34p {
        left: -34% !important;
    }

    .media-lg\:left-n35p {
        left: -35% !important;
    }

    .media-lg\:left-n36p {
        left: -36% !important;
    }

    .media-lg\:left-n37p {
        left: -37% !important;
    }

    .media-lg\:left-n38p {
        left: -38% !important;
    }

    .media-lg\:left-n39p {
        left: -39% !important;
    }

    .media-lg\:left-n40p {
        left: -40% !important;
    }

    .media-lg\:left-n41p {
        left: -41% !important;
    }

    .media-lg\:left-n42p {
        left: -42% !important;
    }

    .media-lg\:left-n43p {
        left: -43% !important;
    }

    .media-lg\:left-n44p {
        left: -44% !important;
    }

    .media-lg\:left-n45p {
        left: -45% !important;
    }

    .media-lg\:left-n46p {
        left: -46% !important;
    }

    .media-lg\:left-n47p {
        left: -47% !important;
    }

    .media-lg\:left-n48p {
        left: -48% !important;
    }

    .media-lg\:left-n49p {
        left: -49% !important;
    }

    .media-lg\:left-n50p {
        left: -50% !important;
    }

    .media-lg\:left-n51p {
        left: -51% !important;
    }

    .media-lg\:left-n52p {
        left: -52% !important;
    }

    .media-lg\:left-n53p {
        left: -53% !important;
    }

    .media-lg\:left-n54p {
        left: -54% !important;
    }

    .media-lg\:left-n55p {
        left: -55% !important;
    }

    .media-lg\:left-n56p {
        left: -56% !important;
    }

    .media-lg\:left-n57p {
        left: -57% !important;
    }

    .media-lg\:left-n58p {
        left: -58% !important;
    }

    .media-lg\:left-n59p {
        left: -59% !important;
    }

    .media-lg\:left-n60p {
        left: -60% !important;
    }

    .media-lg\:left-n61p {
        left: -61% !important;
    }

    .media-lg\:left-n62p {
        left: -62% !important;
    }

    .media-lg\:left-n63p {
        left: -63% !important;
    }

    .media-lg\:left-n64p {
        left: -64% !important;
    }

    .media-lg\:left-n65p {
        left: -65% !important;
    }

    .media-lg\:left-n66p {
        left: -66% !important;
    }

    .media-lg\:left-n67p {
        left: -67% !important;
    }

    .media-lg\:left-n68p {
        left: -68% !important;
    }

    .media-lg\:left-n69p {
        left: -69% !important;
    }

    .media-lg\:left-n70p {
        left: -70% !important;
    }

    .media-lg\:left-n71p {
        left: -71% !important;
    }

    .media-lg\:left-n72p {
        left: -72% !important;
    }

    .media-lg\:left-n73p {
        left: -73% !important;
    }

    .media-lg\:left-n74p {
        left: -74% !important;
    }

    .media-lg\:left-n75p {
        left: -75% !important;
    }

    .media-lg\:left-n76p {
        left: -76% !important;
    }

    .media-lg\:left-n77p {
        left: -77% !important;
    }

    .media-lg\:left-n78p {
        left: -78% !important;
    }

    .media-lg\:left-n79p {
        left: -79% !important;
    }

    .media-lg\:left-n80p {
        left: -80% !important;
    }

    .media-lg\:left-n81p {
        left: -81% !important;
    }

    .media-lg\:left-n82p {
        left: -82% !important;
    }

    .media-lg\:left-n83p {
        left: -83% !important;
    }

    .media-lg\:left-n84p {
        left: -84% !important;
    }

    .media-lg\:left-n85p {
        left: -85% !important;
    }

    .media-lg\:left-n86p {
        left: -86% !important;
    }

    .media-lg\:left-n87p {
        left: -87% !important;
    }

    .media-lg\:left-n88p {
        left: -88% !important;
    }

    .media-lg\:left-n89p {
        left: -89% !important;
    }

    .media-lg\:left-n90p {
        left: -90% !important;
    }

    .media-lg\:left-n91p {
        left: -91% !important;
    }

    .media-lg\:left-n92p {
        left: -92% !important;
    }

    .media-lg\:left-n93p {
        left: -93% !important;
    }

    .media-lg\:left-n94p {
        left: -94% !important;
    }

    .media-lg\:left-n95p {
        left: -95% !important;
    }

    .media-lg\:left-n96p {
        left: -96% !important;
    }

    .media-lg\:left-n97p {
        left: -97% !important;
    }

    .media-lg\:left-n98p {
        left: -98% !important;
    }

    .media-lg\:left-n99p {
        left: -99% !important;
    }

    .media-lg\:left-n100p {
        left: -100% !important;
    }
}