.left-1p {
    left: 1% !important;
}

.left-2p {
    left: 2% !important;
}

.left-3p {
    left: 3% !important;
}

.left-4p {
    left: 4% !important;
}

.left-5p {
    left: 5% !important;
}

.left-6p {
    left: 6% !important;
}

.left-7p {
    left: 7% !important;
}

.left-8p {
    left: 8% !important;
}

.left-9p {
    left: 9% !important;
}

.left-10p {
    left: 10% !important;
}

.left-11p {
    left: 11% !important;
}

.left-12p {
    left: 12% !important;
}

.left-13p {
    left: 13% !important;
}

.left-14p {
    left: 14% !important;
}

.left-15p {
    left: 15% !important;
}

.left-16p {
    left: 16% !important;
}

.left-17p {
    left: 17% !important;
}

.left-18p {
    left: 18% !important;
}

.left-19p {
    left: 19% !important;
}

.left-20p {
    left: 20% !important;
}

.left-21p {
    left: 21% !important;
}

.left-22p {
    left: 22% !important;
}

.left-23p {
    left: 23% !important;
}

.left-24p {
    left: 24% !important;
}

.left-25p {
    left: 25% !important;
}

.left-26p {
    left: 26% !important;
}

.left-27p {
    left: 27% !important;
}

.left-28p {
    left: 28% !important;
}

.left-29p {
    left: 29% !important;
}

.left-30p {
    left: 30% !important;
}

.left-31p {
    left: 31% !important;
}

.left-32p {
    left: 32% !important;
}

.left-33p {
    left: 33% !important;
}

.left-34p {
    left: 34% !important;
}

.left-35p {
    left: 35% !important;
}

.left-36p {
    left: 36% !important;
}

.left-37p {
    left: 37% !important;
}

.left-38p {
    left: 38% !important;
}

.left-39p {
    left: 39% !important;
}

.left-40p {
    left: 40% !important;
}

.left-41p {
    left: 41% !important;
}

.left-42p {
    left: 42% !important;
}

.left-43p {
    left: 43% !important;
}

.left-44p {
    left: 44% !important;
}

.left-45p {
    left: 45% !important;
}

.left-46p {
    left: 46% !important;
}

.left-47p {
    left: 47% !important;
}

.left-48p {
    left: 48% !important;
}

.left-49p {
    left: 49% !important;
}

.left-50p {
    left: 50% !important;
}

.left-51p {
    left: 51% !important;
}

.left-52p {
    left: 52% !important;
}

.left-53p {
    left: 53% !important;
}

.left-54p {
    left: 54% !important;
}

.left-55p {
    left: 55% !important;
}

.left-56p {
    left: 56% !important;
}

.left-57p {
    left: 57% !important;
}

.left-58p {
    left: 58% !important;
}

.left-59p {
    left: 59% !important;
}

.left-60p {
    left: 60% !important;
}

.left-61p {
    left: 61% !important;
}

.left-62p {
    left: 62% !important;
}

.left-63p {
    left: 63% !important;
}

.left-64p {
    left: 64% !important;
}

.left-65p {
    left: 65% !important;
}

.left-66p {
    left: 66% !important;
}

.left-67p {
    left: 67% !important;
}

.left-68p {
    left: 68% !important;
}

.left-69p {
    left: 69% !important;
}

.left-70p {
    left: 70% !important;
}

.left-71p {
    left: 71% !important;
}

.left-72p {
    left: 72% !important;
}

.left-73p {
    left: 73% !important;
}

.left-74p {
    left: 74% !important;
}

.left-75p {
    left: 75% !important;
}

.left-76p {
    left: 76% !important;
}

.left-77p {
    left: 77% !important;
}

.left-78p {
    left: 78% !important;
}

.left-79p {
    left: 79% !important;
}

.left-80p {
    left: 80% !important;
}

.left-81p {
    left: 81% !important;
}

.left-82p {
    left: 82% !important;
}

.left-83p {
    left: 83% !important;
}

.left-84p {
    left: 84% !important;
}

.left-85p {
    left: 85% !important;
}

.left-86p {
    left: 86% !important;
}

.left-87p {
    left: 87% !important;
}

.left-88p {
    left: 88% !important;
}

.left-89p {
    left: 89% !important;
}

.left-90p {
    left: 90% !important;
}

.left-91p {
    left: 91% !important;
}

.left-92p {
    left: 92% !important;
}

.left-93p {
    left: 93% !important;
}

.left-94p {
    left: 94% !important;
}

.left-95p {
    left: 95% !important;
}

.left-96p {
    left: 96% !important;
}

.left-97p {
    left: 97% !important;
}

.left-98p {
    left: 98% !important;
}

.left-99p {
    left: 99% !important;
}

.left-100p {
    left: 100% !important;
}

@media (max-width: 576px) {
    .media-xs\:left-1p {
        left: 1% !important;
    }

    .media-xs\:left-2p {
        left: 2% !important;
    }

    .media-xs\:left-3p {
        left: 3% !important;
    }

    .media-xs\:left-4p {
        left: 4% !important;
    }

    .media-xs\:left-5p {
        left: 5% !important;
    }

    .media-xs\:left-6p {
        left: 6% !important;
    }

    .media-xs\:left-7p {
        left: 7% !important;
    }

    .media-xs\:left-8p {
        left: 8% !important;
    }

    .media-xs\:left-9p {
        left: 9% !important;
    }

    .media-xs\:left-10p {
        left: 10% !important;
    }

    .media-xs\:left-11p {
        left: 11% !important;
    }

    .media-xs\:left-12p {
        left: 12% !important;
    }

    .media-xs\:left-13p {
        left: 13% !important;
    }

    .media-xs\:left-14p {
        left: 14% !important;
    }

    .media-xs\:left-15p {
        left: 15% !important;
    }

    .media-xs\:left-16p {
        left: 16% !important;
    }

    .media-xs\:left-17p {
        left: 17% !important;
    }

    .media-xs\:left-18p {
        left: 18% !important;
    }

    .media-xs\:left-19p {
        left: 19% !important;
    }

    .media-xs\:left-20p {
        left: 20% !important;
    }

    .media-xs\:left-21p {
        left: 21% !important;
    }

    .media-xs\:left-22p {
        left: 22% !important;
    }

    .media-xs\:left-23p {
        left: 23% !important;
    }

    .media-xs\:left-24p {
        left: 24% !important;
    }

    .media-xs\:left-25p {
        left: 25% !important;
    }

    .media-xs\:left-26p {
        left: 26% !important;
    }

    .media-xs\:left-27p {
        left: 27% !important;
    }

    .media-xs\:left-28p {
        left: 28% !important;
    }

    .media-xs\:left-29p {
        left: 29% !important;
    }

    .media-xs\:left-30p {
        left: 30% !important;
    }

    .media-xs\:left-31p {
        left: 31% !important;
    }

    .media-xs\:left-32p {
        left: 32% !important;
    }

    .media-xs\:left-33p {
        left: 33% !important;
    }

    .media-xs\:left-34p {
        left: 34% !important;
    }

    .media-xs\:left-35p {
        left: 35% !important;
    }

    .media-xs\:left-36p {
        left: 36% !important;
    }

    .media-xs\:left-37p {
        left: 37% !important;
    }

    .media-xs\:left-38p {
        left: 38% !important;
    }

    .media-xs\:left-39p {
        left: 39% !important;
    }

    .media-xs\:left-40p {
        left: 40% !important;
    }

    .media-xs\:left-41p {
        left: 41% !important;
    }

    .media-xs\:left-42p {
        left: 42% !important;
    }

    .media-xs\:left-43p {
        left: 43% !important;
    }

    .media-xs\:left-44p {
        left: 44% !important;
    }

    .media-xs\:left-45p {
        left: 45% !important;
    }

    .media-xs\:left-46p {
        left: 46% !important;
    }

    .media-xs\:left-47p {
        left: 47% !important;
    }

    .media-xs\:left-48p {
        left: 48% !important;
    }

    .media-xs\:left-49p {
        left: 49% !important;
    }

    .media-xs\:left-50p {
        left: 50% !important;
    }

    .media-xs\:left-51p {
        left: 51% !important;
    }

    .media-xs\:left-52p {
        left: 52% !important;
    }

    .media-xs\:left-53p {
        left: 53% !important;
    }

    .media-xs\:left-54p {
        left: 54% !important;
    }

    .media-xs\:left-55p {
        left: 55% !important;
    }

    .media-xs\:left-56p {
        left: 56% !important;
    }

    .media-xs\:left-57p {
        left: 57% !important;
    }

    .media-xs\:left-58p {
        left: 58% !important;
    }

    .media-xs\:left-59p {
        left: 59% !important;
    }

    .media-xs\:left-60p {
        left: 60% !important;
    }

    .media-xs\:left-61p {
        left: 61% !important;
    }

    .media-xs\:left-62p {
        left: 62% !important;
    }

    .media-xs\:left-63p {
        left: 63% !important;
    }

    .media-xs\:left-64p {
        left: 64% !important;
    }

    .media-xs\:left-65p {
        left: 65% !important;
    }

    .media-xs\:left-66p {
        left: 66% !important;
    }

    .media-xs\:left-67p {
        left: 67% !important;
    }

    .media-xs\:left-68p {
        left: 68% !important;
    }

    .media-xs\:left-69p {
        left: 69% !important;
    }

    .media-xs\:left-70p {
        left: 70% !important;
    }

    .media-xs\:left-71p {
        left: 71% !important;
    }

    .media-xs\:left-72p {
        left: 72% !important;
    }

    .media-xs\:left-73p {
        left: 73% !important;
    }

    .media-xs\:left-74p {
        left: 74% !important;
    }

    .media-xs\:left-75p {
        left: 75% !important;
    }

    .media-xs\:left-76p {
        left: 76% !important;
    }

    .media-xs\:left-77p {
        left: 77% !important;
    }

    .media-xs\:left-78p {
        left: 78% !important;
    }

    .media-xs\:left-79p {
        left: 79% !important;
    }

    .media-xs\:left-80p {
        left: 80% !important;
    }

    .media-xs\:left-81p {
        left: 81% !important;
    }

    .media-xs\:left-82p {
        left: 82% !important;
    }

    .media-xs\:left-83p {
        left: 83% !important;
    }

    .media-xs\:left-84p {
        left: 84% !important;
    }

    .media-xs\:left-85p {
        left: 85% !important;
    }

    .media-xs\:left-86p {
        left: 86% !important;
    }

    .media-xs\:left-87p {
        left: 87% !important;
    }

    .media-xs\:left-88p {
        left: 88% !important;
    }

    .media-xs\:left-89p {
        left: 89% !important;
    }

    .media-xs\:left-90p {
        left: 90% !important;
    }

    .media-xs\:left-91p {
        left: 91% !important;
    }

    .media-xs\:left-92p {
        left: 92% !important;
    }

    .media-xs\:left-93p {
        left: 93% !important;
    }

    .media-xs\:left-94p {
        left: 94% !important;
    }

    .media-xs\:left-95p {
        left: 95% !important;
    }

    .media-xs\:left-96p {
        left: 96% !important;
    }

    .media-xs\:left-97p {
        left: 97% !important;
    }

    .media-xs\:left-98p {
        left: 98% !important;
    }

    .media-xs\:left-99p {
        left: 99% !important;
    }

    .media-xs\:left-100p {
        left: 100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:left-1p {
        left: 1% !important;
    }

    .media-sm\:left-2p {
        left: 2% !important;
    }

    .media-sm\:left-3p {
        left: 3% !important;
    }

    .media-sm\:left-4p {
        left: 4% !important;
    }

    .media-sm\:left-5p {
        left: 5% !important;
    }

    .media-sm\:left-6p {
        left: 6% !important;
    }

    .media-sm\:left-7p {
        left: 7% !important;
    }

    .media-sm\:left-8p {
        left: 8% !important;
    }

    .media-sm\:left-9p {
        left: 9% !important;
    }

    .media-sm\:left-10p {
        left: 10% !important;
    }

    .media-sm\:left-11p {
        left: 11% !important;
    }

    .media-sm\:left-12p {
        left: 12% !important;
    }

    .media-sm\:left-13p {
        left: 13% !important;
    }

    .media-sm\:left-14p {
        left: 14% !important;
    }

    .media-sm\:left-15p {
        left: 15% !important;
    }

    .media-sm\:left-16p {
        left: 16% !important;
    }

    .media-sm\:left-17p {
        left: 17% !important;
    }

    .media-sm\:left-18p {
        left: 18% !important;
    }

    .media-sm\:left-19p {
        left: 19% !important;
    }

    .media-sm\:left-20p {
        left: 20% !important;
    }

    .media-sm\:left-21p {
        left: 21% !important;
    }

    .media-sm\:left-22p {
        left: 22% !important;
    }

    .media-sm\:left-23p {
        left: 23% !important;
    }

    .media-sm\:left-24p {
        left: 24% !important;
    }

    .media-sm\:left-25p {
        left: 25% !important;
    }

    .media-sm\:left-26p {
        left: 26% !important;
    }

    .media-sm\:left-27p {
        left: 27% !important;
    }

    .media-sm\:left-28p {
        left: 28% !important;
    }

    .media-sm\:left-29p {
        left: 29% !important;
    }

    .media-sm\:left-30p {
        left: 30% !important;
    }

    .media-sm\:left-31p {
        left: 31% !important;
    }

    .media-sm\:left-32p {
        left: 32% !important;
    }

    .media-sm\:left-33p {
        left: 33% !important;
    }

    .media-sm\:left-34p {
        left: 34% !important;
    }

    .media-sm\:left-35p {
        left: 35% !important;
    }

    .media-sm\:left-36p {
        left: 36% !important;
    }

    .media-sm\:left-37p {
        left: 37% !important;
    }

    .media-sm\:left-38p {
        left: 38% !important;
    }

    .media-sm\:left-39p {
        left: 39% !important;
    }

    .media-sm\:left-40p {
        left: 40% !important;
    }

    .media-sm\:left-41p {
        left: 41% !important;
    }

    .media-sm\:left-42p {
        left: 42% !important;
    }

    .media-sm\:left-43p {
        left: 43% !important;
    }

    .media-sm\:left-44p {
        left: 44% !important;
    }

    .media-sm\:left-45p {
        left: 45% !important;
    }

    .media-sm\:left-46p {
        left: 46% !important;
    }

    .media-sm\:left-47p {
        left: 47% !important;
    }

    .media-sm\:left-48p {
        left: 48% !important;
    }

    .media-sm\:left-49p {
        left: 49% !important;
    }

    .media-sm\:left-50p {
        left: 50% !important;
    }

    .media-sm\:left-51p {
        left: 51% !important;
    }

    .media-sm\:left-52p {
        left: 52% !important;
    }

    .media-sm\:left-53p {
        left: 53% !important;
    }

    .media-sm\:left-54p {
        left: 54% !important;
    }

    .media-sm\:left-55p {
        left: 55% !important;
    }

    .media-sm\:left-56p {
        left: 56% !important;
    }

    .media-sm\:left-57p {
        left: 57% !important;
    }

    .media-sm\:left-58p {
        left: 58% !important;
    }

    .media-sm\:left-59p {
        left: 59% !important;
    }

    .media-sm\:left-60p {
        left: 60% !important;
    }

    .media-sm\:left-61p {
        left: 61% !important;
    }

    .media-sm\:left-62p {
        left: 62% !important;
    }

    .media-sm\:left-63p {
        left: 63% !important;
    }

    .media-sm\:left-64p {
        left: 64% !important;
    }

    .media-sm\:left-65p {
        left: 65% !important;
    }

    .media-sm\:left-66p {
        left: 66% !important;
    }

    .media-sm\:left-67p {
        left: 67% !important;
    }

    .media-sm\:left-68p {
        left: 68% !important;
    }

    .media-sm\:left-69p {
        left: 69% !important;
    }

    .media-sm\:left-70p {
        left: 70% !important;
    }

    .media-sm\:left-71p {
        left: 71% !important;
    }

    .media-sm\:left-72p {
        left: 72% !important;
    }

    .media-sm\:left-73p {
        left: 73% !important;
    }

    .media-sm\:left-74p {
        left: 74% !important;
    }

    .media-sm\:left-75p {
        left: 75% !important;
    }

    .media-sm\:left-76p {
        left: 76% !important;
    }

    .media-sm\:left-77p {
        left: 77% !important;
    }

    .media-sm\:left-78p {
        left: 78% !important;
    }

    .media-sm\:left-79p {
        left: 79% !important;
    }

    .media-sm\:left-80p {
        left: 80% !important;
    }

    .media-sm\:left-81p {
        left: 81% !important;
    }

    .media-sm\:left-82p {
        left: 82% !important;
    }

    .media-sm\:left-83p {
        left: 83% !important;
    }

    .media-sm\:left-84p {
        left: 84% !important;
    }

    .media-sm\:left-85p {
        left: 85% !important;
    }

    .media-sm\:left-86p {
        left: 86% !important;
    }

    .media-sm\:left-87p {
        left: 87% !important;
    }

    .media-sm\:left-88p {
        left: 88% !important;
    }

    .media-sm\:left-89p {
        left: 89% !important;
    }

    .media-sm\:left-90p {
        left: 90% !important;
    }

    .media-sm\:left-91p {
        left: 91% !important;
    }

    .media-sm\:left-92p {
        left: 92% !important;
    }

    .media-sm\:left-93p {
        left: 93% !important;
    }

    .media-sm\:left-94p {
        left: 94% !important;
    }

    .media-sm\:left-95p {
        left: 95% !important;
    }

    .media-sm\:left-96p {
        left: 96% !important;
    }

    .media-sm\:left-97p {
        left: 97% !important;
    }

    .media-sm\:left-98p {
        left: 98% !important;
    }

    .media-sm\:left-99p {
        left: 99% !important;
    }

    .media-sm\:left-100p {
        left: 100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:left-1p {
        left: 1% !important;
    }

    .media-md\:left-2p {
        left: 2% !important;
    }

    .media-md\:left-3p {
        left: 3% !important;
    }

    .media-md\:left-4p {
        left: 4% !important;
    }

    .media-md\:left-5p {
        left: 5% !important;
    }

    .media-md\:left-6p {
        left: 6% !important;
    }

    .media-md\:left-7p {
        left: 7% !important;
    }

    .media-md\:left-8p {
        left: 8% !important;
    }

    .media-md\:left-9p {
        left: 9% !important;
    }

    .media-md\:left-10p {
        left: 10% !important;
    }

    .media-md\:left-11p {
        left: 11% !important;
    }

    .media-md\:left-12p {
        left: 12% !important;
    }

    .media-md\:left-13p {
        left: 13% !important;
    }

    .media-md\:left-14p {
        left: 14% !important;
    }

    .media-md\:left-15p {
        left: 15% !important;
    }

    .media-md\:left-16p {
        left: 16% !important;
    }

    .media-md\:left-17p {
        left: 17% !important;
    }

    .media-md\:left-18p {
        left: 18% !important;
    }

    .media-md\:left-19p {
        left: 19% !important;
    }

    .media-md\:left-20p {
        left: 20% !important;
    }

    .media-md\:left-21p {
        left: 21% !important;
    }

    .media-md\:left-22p {
        left: 22% !important;
    }

    .media-md\:left-23p {
        left: 23% !important;
    }

    .media-md\:left-24p {
        left: 24% !important;
    }

    .media-md\:left-25p {
        left: 25% !important;
    }

    .media-md\:left-26p {
        left: 26% !important;
    }

    .media-md\:left-27p {
        left: 27% !important;
    }

    .media-md\:left-28p {
        left: 28% !important;
    }

    .media-md\:left-29p {
        left: 29% !important;
    }

    .media-md\:left-30p {
        left: 30% !important;
    }

    .media-md\:left-31p {
        left: 31% !important;
    }

    .media-md\:left-32p {
        left: 32% !important;
    }

    .media-md\:left-33p {
        left: 33% !important;
    }

    .media-md\:left-34p {
        left: 34% !important;
    }

    .media-md\:left-35p {
        left: 35% !important;
    }

    .media-md\:left-36p {
        left: 36% !important;
    }

    .media-md\:left-37p {
        left: 37% !important;
    }

    .media-md\:left-38p {
        left: 38% !important;
    }

    .media-md\:left-39p {
        left: 39% !important;
    }

    .media-md\:left-40p {
        left: 40% !important;
    }

    .media-md\:left-41p {
        left: 41% !important;
    }

    .media-md\:left-42p {
        left: 42% !important;
    }

    .media-md\:left-43p {
        left: 43% !important;
    }

    .media-md\:left-44p {
        left: 44% !important;
    }

    .media-md\:left-45p {
        left: 45% !important;
    }

    .media-md\:left-46p {
        left: 46% !important;
    }

    .media-md\:left-47p {
        left: 47% !important;
    }

    .media-md\:left-48p {
        left: 48% !important;
    }

    .media-md\:left-49p {
        left: 49% !important;
    }

    .media-md\:left-50p {
        left: 50% !important;
    }

    .media-md\:left-51p {
        left: 51% !important;
    }

    .media-md\:left-52p {
        left: 52% !important;
    }

    .media-md\:left-53p {
        left: 53% !important;
    }

    .media-md\:left-54p {
        left: 54% !important;
    }

    .media-md\:left-55p {
        left: 55% !important;
    }

    .media-md\:left-56p {
        left: 56% !important;
    }

    .media-md\:left-57p {
        left: 57% !important;
    }

    .media-md\:left-58p {
        left: 58% !important;
    }

    .media-md\:left-59p {
        left: 59% !important;
    }

    .media-md\:left-60p {
        left: 60% !important;
    }

    .media-md\:left-61p {
        left: 61% !important;
    }

    .media-md\:left-62p {
        left: 62% !important;
    }

    .media-md\:left-63p {
        left: 63% !important;
    }

    .media-md\:left-64p {
        left: 64% !important;
    }

    .media-md\:left-65p {
        left: 65% !important;
    }

    .media-md\:left-66p {
        left: 66% !important;
    }

    .media-md\:left-67p {
        left: 67% !important;
    }

    .media-md\:left-68p {
        left: 68% !important;
    }

    .media-md\:left-69p {
        left: 69% !important;
    }

    .media-md\:left-70p {
        left: 70% !important;
    }

    .media-md\:left-71p {
        left: 71% !important;
    }

    .media-md\:left-72p {
        left: 72% !important;
    }

    .media-md\:left-73p {
        left: 73% !important;
    }

    .media-md\:left-74p {
        left: 74% !important;
    }

    .media-md\:left-75p {
        left: 75% !important;
    }

    .media-md\:left-76p {
        left: 76% !important;
    }

    .media-md\:left-77p {
        left: 77% !important;
    }

    .media-md\:left-78p {
        left: 78% !important;
    }

    .media-md\:left-79p {
        left: 79% !important;
    }

    .media-md\:left-80p {
        left: 80% !important;
    }

    .media-md\:left-81p {
        left: 81% !important;
    }

    .media-md\:left-82p {
        left: 82% !important;
    }

    .media-md\:left-83p {
        left: 83% !important;
    }

    .media-md\:left-84p {
        left: 84% !important;
    }

    .media-md\:left-85p {
        left: 85% !important;
    }

    .media-md\:left-86p {
        left: 86% !important;
    }

    .media-md\:left-87p {
        left: 87% !important;
    }

    .media-md\:left-88p {
        left: 88% !important;
    }

    .media-md\:left-89p {
        left: 89% !important;
    }

    .media-md\:left-90p {
        left: 90% !important;
    }

    .media-md\:left-91p {
        left: 91% !important;
    }

    .media-md\:left-92p {
        left: 92% !important;
    }

    .media-md\:left-93p {
        left: 93% !important;
    }

    .media-md\:left-94p {
        left: 94% !important;
    }

    .media-md\:left-95p {
        left: 95% !important;
    }

    .media-md\:left-96p {
        left: 96% !important;
    }

    .media-md\:left-97p {
        left: 97% !important;
    }

    .media-md\:left-98p {
        left: 98% !important;
    }

    .media-md\:left-99p {
        left: 99% !important;
    }

    .media-md\:left-100p {
        left: 100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:left-1p {
        left: 1% !important;
    }

    .media-lg\:left-2p {
        left: 2% !important;
    }

    .media-lg\:left-3p {
        left: 3% !important;
    }

    .media-lg\:left-4p {
        left: 4% !important;
    }

    .media-lg\:left-5p {
        left: 5% !important;
    }

    .media-lg\:left-6p {
        left: 6% !important;
    }

    .media-lg\:left-7p {
        left: 7% !important;
    }

    .media-lg\:left-8p {
        left: 8% !important;
    }

    .media-lg\:left-9p {
        left: 9% !important;
    }

    .media-lg\:left-10p {
        left: 10% !important;
    }

    .media-lg\:left-11p {
        left: 11% !important;
    }

    .media-lg\:left-12p {
        left: 12% !important;
    }

    .media-lg\:left-13p {
        left: 13% !important;
    }

    .media-lg\:left-14p {
        left: 14% !important;
    }

    .media-lg\:left-15p {
        left: 15% !important;
    }

    .media-lg\:left-16p {
        left: 16% !important;
    }

    .media-lg\:left-17p {
        left: 17% !important;
    }

    .media-lg\:left-18p {
        left: 18% !important;
    }

    .media-lg\:left-19p {
        left: 19% !important;
    }

    .media-lg\:left-20p {
        left: 20% !important;
    }

    .media-lg\:left-21p {
        left: 21% !important;
    }

    .media-lg\:left-22p {
        left: 22% !important;
    }

    .media-lg\:left-23p {
        left: 23% !important;
    }

    .media-lg\:left-24p {
        left: 24% !important;
    }

    .media-lg\:left-25p {
        left: 25% !important;
    }

    .media-lg\:left-26p {
        left: 26% !important;
    }

    .media-lg\:left-27p {
        left: 27% !important;
    }

    .media-lg\:left-28p {
        left: 28% !important;
    }

    .media-lg\:left-29p {
        left: 29% !important;
    }

    .media-lg\:left-30p {
        left: 30% !important;
    }

    .media-lg\:left-31p {
        left: 31% !important;
    }

    .media-lg\:left-32p {
        left: 32% !important;
    }

    .media-lg\:left-33p {
        left: 33% !important;
    }

    .media-lg\:left-34p {
        left: 34% !important;
    }

    .media-lg\:left-35p {
        left: 35% !important;
    }

    .media-lg\:left-36p {
        left: 36% !important;
    }

    .media-lg\:left-37p {
        left: 37% !important;
    }

    .media-lg\:left-38p {
        left: 38% !important;
    }

    .media-lg\:left-39p {
        left: 39% !important;
    }

    .media-lg\:left-40p {
        left: 40% !important;
    }

    .media-lg\:left-41p {
        left: 41% !important;
    }

    .media-lg\:left-42p {
        left: 42% !important;
    }

    .media-lg\:left-43p {
        left: 43% !important;
    }

    .media-lg\:left-44p {
        left: 44% !important;
    }

    .media-lg\:left-45p {
        left: 45% !important;
    }

    .media-lg\:left-46p {
        left: 46% !important;
    }

    .media-lg\:left-47p {
        left: 47% !important;
    }

    .media-lg\:left-48p {
        left: 48% !important;
    }

    .media-lg\:left-49p {
        left: 49% !important;
    }

    .media-lg\:left-50p {
        left: 50% !important;
    }

    .media-lg\:left-51p {
        left: 51% !important;
    }

    .media-lg\:left-52p {
        left: 52% !important;
    }

    .media-lg\:left-53p {
        left: 53% !important;
    }

    .media-lg\:left-54p {
        left: 54% !important;
    }

    .media-lg\:left-55p {
        left: 55% !important;
    }

    .media-lg\:left-56p {
        left: 56% !important;
    }

    .media-lg\:left-57p {
        left: 57% !important;
    }

    .media-lg\:left-58p {
        left: 58% !important;
    }

    .media-lg\:left-59p {
        left: 59% !important;
    }

    .media-lg\:left-60p {
        left: 60% !important;
    }

    .media-lg\:left-61p {
        left: 61% !important;
    }

    .media-lg\:left-62p {
        left: 62% !important;
    }

    .media-lg\:left-63p {
        left: 63% !important;
    }

    .media-lg\:left-64p {
        left: 64% !important;
    }

    .media-lg\:left-65p {
        left: 65% !important;
    }

    .media-lg\:left-66p {
        left: 66% !important;
    }

    .media-lg\:left-67p {
        left: 67% !important;
    }

    .media-lg\:left-68p {
        left: 68% !important;
    }

    .media-lg\:left-69p {
        left: 69% !important;
    }

    .media-lg\:left-70p {
        left: 70% !important;
    }

    .media-lg\:left-71p {
        left: 71% !important;
    }

    .media-lg\:left-72p {
        left: 72% !important;
    }

    .media-lg\:left-73p {
        left: 73% !important;
    }

    .media-lg\:left-74p {
        left: 74% !important;
    }

    .media-lg\:left-75p {
        left: 75% !important;
    }

    .media-lg\:left-76p {
        left: 76% !important;
    }

    .media-lg\:left-77p {
        left: 77% !important;
    }

    .media-lg\:left-78p {
        left: 78% !important;
    }

    .media-lg\:left-79p {
        left: 79% !important;
    }

    .media-lg\:left-80p {
        left: 80% !important;
    }

    .media-lg\:left-81p {
        left: 81% !important;
    }

    .media-lg\:left-82p {
        left: 82% !important;
    }

    .media-lg\:left-83p {
        left: 83% !important;
    }

    .media-lg\:left-84p {
        left: 84% !important;
    }

    .media-lg\:left-85p {
        left: 85% !important;
    }

    .media-lg\:left-86p {
        left: 86% !important;
    }

    .media-lg\:left-87p {
        left: 87% !important;
    }

    .media-lg\:left-88p {
        left: 88% !important;
    }

    .media-lg\:left-89p {
        left: 89% !important;
    }

    .media-lg\:left-90p {
        left: 90% !important;
    }

    .media-lg\:left-91p {
        left: 91% !important;
    }

    .media-lg\:left-92p {
        left: 92% !important;
    }

    .media-lg\:left-93p {
        left: 93% !important;
    }

    .media-lg\:left-94p {
        left: 94% !important;
    }

    .media-lg\:left-95p {
        left: 95% !important;
    }

    .media-lg\:left-96p {
        left: 96% !important;
    }

    .media-lg\:left-97p {
        left: 97% !important;
    }

    .media-lg\:left-98p {
        left: 98% !important;
    }

    .media-lg\:left-99p {
        left: 99% !important;
    }

    .media-lg\:left-100p {
        left: 100% !important;
    }
}