.padding-top-0 {
    padding-top: 0 !important;
}

.padding-top-xs {
    padding-top: var(--kintaro-gap-xs) !important;
}

.padding-top-sm {
    padding-top: var(--kintaro-gap-sm) !important;
}

.padding-top-md {
    padding-top: var(--kintaro-gap-md) !important;
}

.padding-top-lg {
    padding-top: var(--kintaro-gap-lg) !important;
}

.padding-top-xl {
    padding-top: var(--kintaro-gap-xl) !important;
}

.padding-top-xxl {
    padding-top: var(--kintaro-gap-xxl) !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.padding-right-xs {
    padding-right: var(--kintaro-gap-xs) !important;
}

.padding-right-sm {
    padding-right: var(--kintaro-gap-sm) !important;
}

.padding-right-md {
    padding-right: var(--kintaro-gap-md) !important;
}

.padding-right-lg {
    padding-right: var(--kintaro-gap-lg) !important;
}

.padding-right-xl {
    padding-right: var(--kintaro-gap-xl) !important;
}

.padding-right-xxl {
    padding-right: var(--kintaro-gap-xxl) !important;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-xs {
    padding-bottom: var(--kintaro-gap-xs) !important;
}

.padding-bottom-sm {
    padding-bottom: var(--kintaro-gap-sm) !important;
}

.padding-bottom-md {
    padding-bottom: var(--kintaro-gap-md) !important;
}

.padding-bottom-lg {
    padding-bottom: var(--kintaro-gap-lg) !important;
}

.padding-bottom-xl {
    padding-bottom: var(--kintaro-gap-xl) !important;
}

.padding-bottom-xxl {
    padding-bottom: var(--kintaro-gap-xxl) !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.padding-left-xs {
    padding-left: var(--kintaro-gap-xs) !important;
}

.padding-left-sm {
    padding-left: var(--kintaro-gap-sm) !important;
}

.padding-left-md {
    padding-left: var(--kintaro-gap-md) !important;
}

.padding-left-lg {
    padding-left: var(--kintaro-gap-lg) !important;
}

.padding-left-xl {
    padding-left: var(--kintaro-gap-xl) !important;
}

.padding-left-xxl {
    padding-left: var(--kintaro-gap-xxl) !important;
}

@media (max-width: 576px) {
    .media-xs\:padding-top-0 {
        padding-top: 0 !important;
    }

    .media-xs\:padding-top-xs {
        padding-top: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:padding-top-sm {
        padding-top: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:padding-top-md {
        padding-top: var(--kintaro-gap-md) !important;
    }

    .media-xs\:padding-top-lg {
        padding-top: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:padding-top-xl {
        padding-top: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:padding-top-xxl {
        padding-top: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:padding-right-0 {
        padding-right: 0 !important;
    }

    .media-xs\:padding-right-xs {
        padding-right: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:padding-right-sm {
        padding-right: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:padding-right-md {
        padding-right: var(--kintaro-gap-md) !important;
    }

    .media-xs\:padding-right-lg {
        padding-right: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:padding-right-xl {
        padding-right: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:padding-right-xxl {
        padding-right: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:padding-bottom-0 {
        padding-bottom: 0 !important;
    }

    .media-xs\:padding-bottom-xs {
        padding-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:padding-bottom-sm {
        padding-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:padding-bottom-md {
        padding-bottom: var(--kintaro-gap-md) !important;
    }

    .media-xs\:padding-bottom-lg {
        padding-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:padding-bottom-xl {
        padding-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:padding-bottom-xxl {
        padding-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:padding-left-0 {
        padding-left: 0 !important;
    }

    .media-xs\:padding-left-xs {
        padding-left: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:padding-left-sm {
        padding-left: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:padding-left-md {
        padding-left: var(--kintaro-gap-md) !important;
    }

    .media-xs\:padding-left-lg {
        padding-left: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:padding-left-xl {
        padding-left: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:padding-left-xxl {
        padding-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:padding-top-0 {
        padding-top: 0 !important;
    }

    .media-sm\:padding-top-xs {
        padding-top: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:padding-top-sm {
        padding-top: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:padding-top-md {
        padding-top: var(--kintaro-gap-md) !important;
    }

    .media-sm\:padding-top-lg {
        padding-top: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:padding-top-xl {
        padding-top: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:padding-top-xxl {
        padding-top: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:padding-right-0 {
        padding-right: 0 !important;
    }

    .media-sm\:padding-right-xs {
        padding-right: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:padding-right-sm {
        padding-right: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:padding-right-md {
        padding-right: var(--kintaro-gap-md) !important;
    }

    .media-sm\:padding-right-lg {
        padding-right: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:padding-right-xl {
        padding-right: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:padding-right-xxl {
        padding-right: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:padding-bottom-0 {
        padding-bottom: 0 !important;
    }

    .media-sm\:padding-bottom-xs {
        padding-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:padding-bottom-sm {
        padding-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:padding-bottom-md {
        padding-bottom: var(--kintaro-gap-md) !important;
    }

    .media-sm\:padding-bottom-lg {
        padding-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:padding-bottom-xl {
        padding-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:padding-bottom-xxl {
        padding-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:padding-left-0 {
        padding-left: 0 !important;
    }

    .media-sm\:padding-left-xs {
        padding-left: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:padding-left-sm {
        padding-left: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:padding-left-md {
        padding-left: var(--kintaro-gap-md) !important;
    }

    .media-sm\:padding-left-lg {
        padding-left: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:padding-left-xl {
        padding-left: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:padding-left-xxl {
        padding-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:padding-top-0 {
        padding-top: 0 !important;
    }

    .media-md\:padding-top-xs {
        padding-top: var(--kintaro-gap-xs) !important;
    }

    .media-md\:padding-top-sm {
        padding-top: var(--kintaro-gap-sm) !important;
    }

    .media-md\:padding-top-md {
        padding-top: var(--kintaro-gap-md) !important;
    }

    .media-md\:padding-top-lg {
        padding-top: var(--kintaro-gap-lg) !important;
    }

    .media-md\:padding-top-xl {
        padding-top: var(--kintaro-gap-xl) !important;
    }

    .media-md\:padding-top-xxl {
        padding-top: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:padding-right-0 {
        padding-right: 0 !important;
    }

    .media-md\:padding-right-xs {
        padding-right: var(--kintaro-gap-xs) !important;
    }

    .media-md\:padding-right-sm {
        padding-right: var(--kintaro-gap-sm) !important;
    }

    .media-md\:padding-right-md {
        padding-right: var(--kintaro-gap-md) !important;
    }

    .media-md\:padding-right-lg {
        padding-right: var(--kintaro-gap-lg) !important;
    }

    .media-md\:padding-right-xl {
        padding-right: var(--kintaro-gap-xl) !important;
    }

    .media-md\:padding-right-xxl {
        padding-right: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:padding-bottom-0 {
        padding-bottom: 0 !important;
    }

    .media-md\:padding-bottom-xs {
        padding-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-md\:padding-bottom-sm {
        padding-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-md\:padding-bottom-md {
        padding-bottom: var(--kintaro-gap-md) !important;
    }

    .media-md\:padding-bottom-lg {
        padding-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-md\:padding-bottom-xl {
        padding-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-md\:padding-bottom-xxl {
        padding-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:padding-left-0 {
        padding-left: 0 !important;
    }

    .media-md\:padding-left-xs {
        padding-left: var(--kintaro-gap-xs) !important;
    }

    .media-md\:padding-left-sm {
        padding-left: var(--kintaro-gap-sm) !important;
    }

    .media-md\:padding-left-md {
        padding-left: var(--kintaro-gap-md) !important;
    }

    .media-md\:padding-left-lg {
        padding-left: var(--kintaro-gap-lg) !important;
    }

    .media-md\:padding-left-xl {
        padding-left: var(--kintaro-gap-xl) !important;
    }

    .media-md\:padding-left-xxl {
        padding-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:padding-top-0 {
        padding-top: 0 !important;
    }

    .media-lg\:padding-top-xs {
        padding-top: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:padding-top-sm {
        padding-top: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:padding-top-md {
        padding-top: var(--kintaro-gap-md) !important;
    }

    .media-lg\:padding-top-lg {
        padding-top: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:padding-top-xl {
        padding-top: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:padding-top-xxl {
        padding-top: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:padding-right-0 {
        padding-right: 0 !important;
    }

    .media-lg\:padding-right-xs {
        padding-right: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:padding-right-sm {
        padding-right: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:padding-right-md {
        padding-right: var(--kintaro-gap-md) !important;
    }

    .media-lg\:padding-right-lg {
        padding-right: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:padding-right-xl {
        padding-right: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:padding-right-xxl {
        padding-right: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:padding-bottom-0 {
        padding-bottom: 0 !important;
    }

    .media-lg\:padding-bottom-xs {
        padding-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:padding-bottom-sm {
        padding-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:padding-bottom-md {
        padding-bottom: var(--kintaro-gap-md) !important;
    }

    .media-lg\:padding-bottom-lg {
        padding-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:padding-bottom-xl {
        padding-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:padding-bottom-xxl {
        padding-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:padding-left-0 {
        padding-left: 0 !important;
    }

    .media-lg\:padding-left-xs {
        padding-left: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:padding-left-sm {
        padding-left: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:padding-left-md {
        padding-left: var(--kintaro-gap-md) !important;
    }

    .media-lg\:padding-left-lg {
        padding-left: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:padding-left-xl {
        padding-left: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:padding-left-xxl {
        padding-left: var(--kintaro-gap-xxl) !important;
    }
}