.kintaro-button-3 {
    color: var(--text-1);
    background: var(--color-4);
    font-size: var(--font-sm);
    padding: 0.5rem 1rem;
    border-radius: 35px;
    cursor: pointer;
}

.kintaro-button-3:hover {
    background: var(--kintaro-custom-hover, var(--hover)) !important;
}