.kintaro-button-3 {
    color: var(--kintaro-text-color-1);
    background: var(--kintaro-input-color);
    font-size: var(--kintaro-font-sm);
    padding: 0.5rem 1rem;
    border-radius: 35px;
    cursor: pointer;
}

.kintaro-button-3:hover {
    background: var(--kintaro-input-color-hover);
}