/* Min Width (%) */
.min-w-1p {
    min-width: 1% !important;
}

.min-w-2p {
    min-width: 2% !important;
}

.min-w-3p {
    min-width: 3% !important;
}

.min-w-4p {
    min-width: 4% !important;
}

.min-w-5p {
    min-width: 5% !important;
}

.min-w-6p {
    min-width: 6% !important;
}

.min-w-7p {
    min-width: 7% !important;
}

.min-w-8p {
    min-width: 8% !important;
}

.min-w-9p {
    min-width: 9% !important;
}

.min-w-10p {
    min-width: 10% !important;
}

.min-w-11p {
    min-width: 11% !important;
}

.min-w-12p {
    min-width: 12% !important;
}

.min-w-13p {
    min-width: 13% !important;
}

.min-w-14p {
    min-width: 14% !important;
}

.min-w-15p {
    min-width: 15% !important;
}

.min-w-16p {
    min-width: 16% !important;
}

.min-w-17p {
    min-width: 17% !important;
}

.min-w-18p {
    min-width: 18% !important;
}

.min-w-19p {
    min-width: 19% !important;
}

.min-w-20p {
    min-width: 20% !important;
}

.min-w-21p {
    min-width: 21% !important;
}

.min-w-22p {
    min-width: 22% !important;
}

.min-w-23p {
    min-width: 23% !important;
}

.min-w-24p {
    min-width: 24% !important;
}

.min-w-25p {
    min-width: 25% !important;
}

.min-w-26p {
    min-width: 26% !important;
}

.min-w-27p {
    min-width: 27% !important;
}

.min-w-28p {
    min-width: 28% !important;
}

.min-w-29p {
    min-width: 29% !important;
}

.min-w-30p {
    min-width: 30% !important;
}

.min-w-31p {
    min-width: 31% !important;
}

.min-w-32p {
    min-width: 32% !important;
}

.min-w-33p {
    min-width: 33% !important;
}

.min-w-34p {
    min-width: 34% !important;
}

.min-w-35p {
    min-width: 35% !important;
}

.min-w-36p {
    min-width: 36% !important;
}

.min-w-37p {
    min-width: 37% !important;
}

.min-w-38p {
    min-width: 38% !important;
}

.min-w-39p {
    min-width: 39% !important;
}

.min-w-40p {
    min-width: 40% !important;
}

.min-w-41p {
    min-width: 41% !important;
}

.min-w-42p {
    min-width: 42% !important;
}

.min-w-43p {
    min-width: 43% !important;
}

.min-w-44p {
    min-width: 44% !important;
}

.min-w-45p {
    min-width: 45% !important;
}

.min-w-46p {
    min-width: 46% !important;
}

.min-w-47p {
    min-width: 47% !important;
}

.min-w-48p {
    min-width: 48% !important;
}

.min-w-49p {
    min-width: 49% !important;
}

.min-w-50p {
    min-width: 50% !important;
}

.min-w-51p {
    min-width: 51% !important;
}

.min-w-52p {
    min-width: 52% !important;
}

.min-w-53p {
    min-width: 53% !important;
}

.min-w-54p {
    min-width: 54% !important;
}

.min-w-55p {
    min-width: 55% !important;
}

.min-w-56p {
    min-width: 56% !important;
}

.min-w-57p {
    min-width: 57% !important;
}

.min-w-58p {
    min-width: 58% !important;
}

.min-w-59p {
    min-width: 59% !important;
}

.min-w-60p {
    min-width: 60% !important;
}

.min-w-61p {
    min-width: 61% !important;
}

.min-w-62p {
    min-width: 62% !important;
}

.min-w-63p {
    min-width: 63% !important;
}

.min-w-64p {
    min-width: 64% !important;
}

.min-w-65p {
    min-width: 65% !important;
}

.min-w-66p {
    min-width: 66% !important;
}

.min-w-67p {
    min-width: 67% !important;
}

.min-w-68p {
    min-width: 68% !important;
}

.min-w-69p {
    min-width: 69% !important;
}

.min-w-70p {
    min-width: 70% !important;
}

.min-w-71p {
    min-width: 71% !important;
}

.min-w-72p {
    min-width: 72% !important;
}

.min-w-73p {
    min-width: 73% !important;
}

.min-w-74p {
    min-width: 74% !important;
}

.min-w-75p {
    min-width: 75% !important;
}

.min-w-76p {
    min-width: 76% !important;
}

.min-w-77p {
    min-width: 77% !important;
}

.min-w-78p {
    min-width: 78% !important;
}

.min-w-79p {
    min-width: 79% !important;
}

.min-w-80p {
    min-width: 80% !important;
}

.min-w-81p {
    min-width: 81% !important;
}

.min-w-82p {
    min-width: 82% !important;
}

.min-w-83p {
    min-width: 83% !important;
}

.min-w-84p {
    min-width: 84% !important;
}

.min-w-85p {
    min-width: 85% !important;
}

.min-w-86p {
    min-width: 86% !important;
}

.min-w-87p {
    min-width: 87% !important;
}

.min-w-88p {
    min-width: 88% !important;
}

.min-w-89p {
    min-width: 89% !important;
}

.min-w-90p {
    min-width: 90% !important;
}

.min-w-91p {
    min-width: 91% !important;
}

.min-w-92p {
    min-width: 92% !important;
}

.min-w-93p {
    min-width: 93% !important;
}

.min-w-94p {
    min-width: 94% !important;
}

.min-w-95p {
    min-width: 95% !important;
}

.min-w-96p {
    min-width: 96% !important;
}

.min-w-97p {
    min-width: 97% !important;
}

.min-w-98p {
    min-width: 98% !important;
}

.min-w-99p {
    min-width: 99% !important;
}

.min-w-100p {
    min-width: 100% !important;
}