/* Min Width (%) */
.min-w-1p {
    min-width: 1%;
}

.min-w-2p {
    min-width: 2%;
}

.min-w-3p {
    min-width: 3%;
}

.min-w-4p {
    min-width: 4%;
}

.min-w-5p {
    min-width: 5%;
}

.min-w-6p {
    min-width: 6%;
}

.min-w-7p {
    min-width: 7%;
}

.min-w-8p {
    min-width: 8%;
}

.min-w-9p {
    min-width: 9%;
}

.min-w-10p {
    min-width: 10%;
}

.min-w-11p {
    min-width: 11%;
}

.min-w-12p {
    min-width: 12%;
}

.min-w-13p {
    min-width: 13%;
}

.min-w-14p {
    min-width: 14%;
}

.min-w-15p {
    min-width: 15%;
}

.min-w-16p {
    min-width: 16%;
}

.min-w-17p {
    min-width: 17%;
}

.min-w-18p {
    min-width: 18%;
}

.min-w-19p {
    min-width: 19%;
}

.min-w-20p {
    min-width: 20%;
}

.min-w-21p {
    min-width: 21%;
}

.min-w-22p {
    min-width: 22%;
}

.min-w-23p {
    min-width: 23%;
}

.min-w-24p {
    min-width: 24%;
}

.min-w-25p {
    min-width: 25%;
}

.min-w-26p {
    min-width: 26%;
}

.min-w-27p {
    min-width: 27%;
}

.min-w-28p {
    min-width: 28%;
}

.min-w-29p {
    min-width: 29%;
}

.min-w-30p {
    min-width: 30%;
}

.min-w-31p {
    min-width: 31%;
}

.min-w-32p {
    min-width: 32%;
}

.min-w-33p {
    min-width: 33%;
}

.min-w-34p {
    min-width: 34%;
}

.min-w-35p {
    min-width: 35%;
}

.min-w-36p {
    min-width: 36%;
}

.min-w-37p {
    min-width: 37%;
}

.min-w-38p {
    min-width: 38%;
}

.min-w-39p {
    min-width: 39%;
}

.min-w-40p {
    min-width: 40%;
}

.min-w-41p {
    min-width: 41%;
}

.min-w-42p {
    min-width: 42%;
}

.min-w-43p {
    min-width: 43%;
}

.min-w-44p {
    min-width: 44%;
}

.min-w-45p {
    min-width: 45%;
}

.min-w-46p {
    min-width: 46%;
}

.min-w-47p {
    min-width: 47%;
}

.min-w-48p {
    min-width: 48%;
}

.min-w-49p {
    min-width: 49%;
}

.min-w-50p {
    min-width: 50%;
}

.min-w-51p {
    min-width: 51%;
}

.min-w-52p {
    min-width: 52%;
}

.min-w-53p {
    min-width: 53%;
}

.min-w-54p {
    min-width: 54%;
}

.min-w-55p {
    min-width: 55%;
}

.min-w-56p {
    min-width: 56%;
}

.min-w-57p {
    min-width: 57%;
}

.min-w-58p {
    min-width: 58%;
}

.min-w-59p {
    min-width: 59%;
}

.min-w-60p {
    min-width: 60%;
}

.min-w-61p {
    min-width: 61%;
}

.min-w-62p {
    min-width: 62%;
}

.min-w-63p {
    min-width: 63%;
}

.min-w-64p {
    min-width: 64%;
}

.min-w-65p {
    min-width: 65%;
}

.min-w-66p {
    min-width: 66%;
}

.min-w-67p {
    min-width: 67%;
}

.min-w-68p {
    min-width: 68%;
}

.min-w-69p {
    min-width: 69%;
}

.min-w-70p {
    min-width: 70%;
}

.min-w-71p {
    min-width: 71%;
}

.min-w-72p {
    min-width: 72%;
}

.min-w-73p {
    min-width: 73%;
}

.min-w-74p {
    min-width: 74%;
}

.min-w-75p {
    min-width: 75%;
}

.min-w-76p {
    min-width: 76%;
}

.min-w-77p {
    min-width: 77%;
}

.min-w-78p {
    min-width: 78%;
}

.min-w-79p {
    min-width: 79%;
}

.min-w-80p {
    min-width: 80%;
}

.min-w-81p {
    min-width: 81%;
}

.min-w-82p {
    min-width: 82%;
}

.min-w-83p {
    min-width: 83%;
}

.min-w-84p {
    min-width: 84%;
}

.min-w-85p {
    min-width: 85%;
}

.min-w-86p {
    min-width: 86%;
}

.min-w-87p {
    min-width: 87%;
}

.min-w-88p {
    min-width: 88%;
}

.min-w-89p {
    min-width: 89%;
}

.min-w-90p {
    min-width: 90%;
}

.min-w-91p {
    min-width: 91%;
}

.min-w-92p {
    min-width: 92%;
}

.min-w-93p {
    min-width: 93%;
}

.min-w-94p {
    min-width: 94%;
}

.min-w-95p {
    min-width: 95%;
}

.min-w-96p {
    min-width: 96%;
}

.min-w-97p {
    min-width: 97%;
}

.min-w-98p {
    min-width: 98%;
}

.min-w-99p {
    min-width: 99%;
}

.min-w-100p {
    min-width: 100%;
}