.w-0 {
    width: 0 !important;
}

.w-screen {
    width: 100vw !important;
}

.w-auto {
    width: auto !important;
}

.w-fit {
    width: fit-content !important;
}

.w-max {
    width: max-content !important;
}

.w-min {
    width: min-content !important;
}

@media (max-width: 576px) {
    .media-xs\:w-0 {
        width: 0 !important;
    }

    .media-xs\:w-screen {
        width: 100vw !important;
    }

    .media-xs\:w-auto {
        width: auto !important;
    }

    .media-xs\:w-fit {
        width: fit-content !important;
    }

    .media-xs\:w-max {
        width: max-content !important;
    }

    .media-xs\:w-min {
        width: min-content !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:w-0 {
        width: 0 !important;
    }

    .media-sm\:w-screen {
        width: 100vw !important;
    }

    .media-sm\:w-auto {
        width: auto !important;
    }

    .media-sm\:w-fit {
        width: fit-content !important;
    }

    .media-sm\:w-max {
        width: max-content !important;
    }

    .media-sm\:w-min {
        width: min-content !important;
    }
}

@media (max-width: 992px) {
    .media-md\:w-0 {
        width: 0 !important;
    }

    .media-md\:w-screen {
        width: 100vw !important;
    }

    .media-md\:w-auto {
        width: auto !important;
    }

    .media-md\:w-fit {
        width: fit-content !important;
    }

    .media-md\:w-max {
        width: max-content !important;
    }

    .media-md\:w-min {
        width: min-content !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:w-0 {
        width: 0 !important;
    }

    .media-lg\:w-screen {
        width: 100vw !important;
    }

    .media-lg\:w-auto {
        width: auto !important;
    }

    .media-lg\:w-fit {
        width: fit-content !important;
    }

    .media-lg\:w-max {
        width: max-content !important;
    }

    .media-lg\:w-min {
        width: min-content !important;
    }
}