/* Special Width Values */
.w-0 {
    width: 0 !important;
}

.w-screen {
    width: 100vw !important;
}

.w-auto {
    width: auto !important;
}

.w-fit {
    width: fit-content !important;
}

.w-max {
    width: max-content !important;
}

.w-min {
    width: min-content !important;
}

.w-unset {
    width: unset !important;
}

.w-initial {
    width: initial !important;
}

.w-inherit {
    width: inherit !important;
}