.kintaro-description {
    text-align: var(--custom-text-align);
}

.kintaro-description-text {
    color: var(--text-2);
    font-size: var(--font-md);
    text-shadow: var(--text-shadow);
    display: inline;
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kintaro-description-button {
    display: inline;
    vertical-align: baseline;
    border-radius: var(--border-radius-1);
    font-size: var(--font-sm);
    transition: var(--transition-1);
    color: var(--text-1);
    text-shadow: var(--text-shadow);
    font-weight: var(--font-weight);
    width: fit-content;
    background: transparent;
    user-select: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.kintaro-description-button:hover {
    color: var(--text-2);
}

@media (max-width: 768px) {
    .kintaro-description {
        text-align: var(--custom-text-align-mobile);
    }
}