.scale-0 {
    transform: scale(0) !important;
}

.scale-1 {
    transform: scale(0.1) !important;
}

.scale-2 {
    transform: scale(0.2) !important;
}

.scale-3 {
    transform: scale(0.3) !important;
}

.scale-4 {
    transform: scale(0.4) !important;
}

.scale-5 {
    transform: scale(0.5) !important;
}

.scale-6 {
    transform: scale(0.6) !important;
}

.scale-7 {
    transform: scale(0.7) !important;
}

.scale-8 {
    transform: scale(0.8) !important;
}

.scale-9 {
    transform: scale(0.9) !important;
}

.scale-10 {
    transform: scale(1) !important;
}

.scale-11 {
    transform: scale(1.1) !important;
}

.scale-12 {
    transform: scale(1.2) !important;
}

.scale-13 {
    transform: scale(1.3) !important;
}

.scale-14 {
    transform: scale(1.4) !important;
}

.scale-15 {
    transform: scale(1.5) !important;
}

.scale-16 {
    transform: scale(1.6) !important;
}

.scale-17 {
    transform: scale(1.7) !important;
}

.scale-18 {
    transform: scale(1.8) !important;
}

.scale-19 {
    transform: scale(1.9) !important;
}

.scale-20 {
    transform: scale(2) !important;
}

.scale-21 {
    transform: scale(2.1) !important;
}

.scale-22 {
    transform: scale(2.2) !important;
}

.scale-23 {
    transform: scale(2.3) !important;
}

.scale-24 {
    transform: scale(2.4) !important;
}

.scale-25 {
    transform: scale(2.5) !important;
}

.scale-26 {
    transform: scale(2.6) !important;
}

.scale-27 {
    transform: scale(2.7) !important;
}

.scale-28 {
    transform: scale(2.8) !important;
}

.scale-29 {
    transform: scale(2.9) !important;
}

.scale-30 {
    transform: scale(3) !important;
}

.scale-31 {
    transform: scale(3.1) !important;
}

.scale-32 {
    transform: scale(3.2) !important;
}

.scale-33 {
    transform: scale(3.3) !important;
}

.scale-34 {
    transform: scale(3.4) !important;
}

.scale-35 {
    transform: scale(3.5) !important;
}

.scale-36 {
    transform: scale(3.6) !important;
}

.scale-37 {
    transform: scale(3.7) !important;
}

.scale-38 {
    transform: scale(3.8) !important;
}

.scale-39 {
    transform: scale(3.9) !important;
}

.scale-40 {
    transform: scale(4) !important;
}

.scale-41 {
    transform: scale(4.1) !important;
}

.scale-42 {
    transform: scale(4.2) !important;
}

.scale-43 {
    transform: scale(4.3) !important;
}

.scale-44 {
    transform: scale(4.4) !important;
}

.scale-45 {
    transform: scale(4.5) !important;
}

.scale-46 {
    transform: scale(4.6) !important;
}

.scale-47 {
    transform: scale(4.7) !important;
}

.scale-48 {
    transform: scale(4.8) !important;
}

.scale-49 {
    transform: scale(4.9) !important;
}

.scale-50 {
    transform: scale(5) !important;
}

.scale-51 {
    transform: scale(5.1) !important;
}

.scale-52 {
    transform: scale(5.2) !important;
}

.scale-53 {
    transform: scale(5.3) !important;
}

.scale-54 {
    transform: scale(5.4) !important;
}

.scale-55 {
    transform: scale(5.5) !important;
}

.scale-56 {
    transform: scale(5.6) !important;
}

.scale-57 {
    transform: scale(5.7) !important;
}

.scale-58 {
    transform: scale(5.8) !important;
}

.scale-59 {
    transform: scale(5.9) !important;
}

.scale-60 {
    transform: scale(6) !important;
}

.scale-61 {
    transform: scale(6.1) !important;
}

.scale-62 {
    transform: scale(6.2) !important;
}

.scale-63 {
    transform: scale(6.3) !important;
}

.scale-64 {
    transform: scale(6.4) !important;
}

.scale-65 {
    transform: scale(6.5) !important;
}

.scale-66 {
    transform: scale(6.6) !important;
}

.scale-67 {
    transform: scale(6.7) !important;
}

.scale-68 {
    transform: scale(6.8) !important;
}

.scale-69 {
    transform: scale(6.9) !important;
}

.scale-70 {
    transform: scale(7) !important;
}

.scale-71 {
    transform: scale(7.1) !important;
}

.scale-72 {
    transform: scale(7.2) !important;
}

.scale-73 {
    transform: scale(7.3) !important;
}

.scale-74 {
    transform: scale(7.4) !important;
}

.scale-75 {
    transform: scale(7.5) !important;
}

.scale-76 {
    transform: scale(7.6) !important;
}

.scale-77 {
    transform: scale(7.7) !important;
}

.scale-78 {
    transform: scale(7.8) !important;
}

.scale-79 {
    transform: scale(7.9) !important;
}

.scale-80 {
    transform: scale(8) !important;
}

.scale-81 {
    transform: scale(8.1) !important;
}

.scale-82 {
    transform: scale(8.2) !important;
}

.scale-83 {
    transform: scale(8.3) !important;
}

.scale-84 {
    transform: scale(8.4) !important;
}

.scale-85 {
    transform: scale(8.5) !important;
}

.scale-86 {
    transform: scale(8.6) !important;
}

.scale-87 {
    transform: scale(8.7) !important;
}

.scale-88 {
    transform: scale(8.8) !important;
}

.scale-89 {
    transform: scale(8.9) !important;
}

.scale-90 {
    transform: scale(9) !important;
}

.scale-91 {
    transform: scale(9.1) !important;
}

.scale-92 {
    transform: scale(9.2) !important;
}

.scale-93 {
    transform: scale(9.3) !important;
}

.scale-94 {
    transform: scale(9.4) !important;
}

.scale-95 {
    transform: scale(9.5) !important;
}

.scale-96 {
    transform: scale(9.6) !important;
}

.scale-97 {
    transform: scale(9.7) !important;
}

.scale-98 {
    transform: scale(9.8) !important;
}

.scale-99 {
    transform: scale(9.9) !important;
}

.scale-100 {
    transform: scale(10) !important;
}

@media (max-width: 576px) {
    .media-xs\:scale-0 {
        transform: scale(0) !important;
    }

    .media-xs\:scale-1 {
        transform: scale(0.1) !important;
    }

    .media-xs\:scale-2 {
        transform: scale(0.2) !important;
    }

    .media-xs\:scale-3 {
        transform: scale(0.3) !important;
    }

    .media-xs\:scale-4 {
        transform: scale(0.4) !important;
    }

    .media-xs\:scale-5 {
        transform: scale(0.5) !important;
    }

    .media-xs\:scale-6 {
        transform: scale(0.6) !important;
    }

    .media-xs\:scale-7 {
        transform: scale(0.7) !important;
    }

    .media-xs\:scale-8 {
        transform: scale(0.8) !important;
    }

    .media-xs\:scale-9 {
        transform: scale(0.9) !important;
    }

    .media-xs\:scale-10 {
        transform: scale(1) !important;
    }

    .media-xs\:scale-11 {
        transform: scale(1.1) !important;
    }

    .media-xs\:scale-12 {
        transform: scale(1.2) !important;
    }

    .media-xs\:scale-13 {
        transform: scale(1.3) !important;
    }

    .media-xs\:scale-14 {
        transform: scale(1.4) !important;
    }

    .media-xs\:scale-15 {
        transform: scale(1.5) !important;
    }

    .media-xs\:scale-16 {
        transform: scale(1.6) !important;
    }

    .media-xs\:scale-17 {
        transform: scale(1.7) !important;
    }

    .media-xs\:scale-18 {
        transform: scale(1.8) !important;
    }

    .media-xs\:scale-19 {
        transform: scale(1.9) !important;
    }

    .media-xs\:scale-20 {
        transform: scale(2) !important;
    }

    .media-xs\:scale-21 {
        transform: scale(2.1) !important;
    }

    .media-xs\:scale-22 {
        transform: scale(2.2) !important;
    }

    .media-xs\:scale-23 {
        transform: scale(2.3) !important;
    }

    .media-xs\:scale-24 {
        transform: scale(2.4) !important;
    }

    .media-xs\:scale-25 {
        transform: scale(2.5) !important;
    }

    .media-xs\:scale-26 {
        transform: scale(2.6) !important;
    }

    .media-xs\:scale-27 {
        transform: scale(2.7) !important;
    }

    .media-xs\:scale-28 {
        transform: scale(2.8) !important;
    }

    .media-xs\:scale-29 {
        transform: scale(2.9) !important;
    }

    .media-xs\:scale-30 {
        transform: scale(3) !important;
    }

    .media-xs\:scale-31 {
        transform: scale(3.1) !important;
    }

    .media-xs\:scale-32 {
        transform: scale(3.2) !important;
    }

    .media-xs\:scale-33 {
        transform: scale(3.3) !important;
    }

    .media-xs\:scale-34 {
        transform: scale(3.4) !important;
    }

    .media-xs\:scale-35 {
        transform: scale(3.5) !important;
    }

    .media-xs\:scale-36 {
        transform: scale(3.6) !important;
    }

    .media-xs\:scale-37 {
        transform: scale(3.7) !important;
    }

    .media-xs\:scale-38 {
        transform: scale(3.8) !important;
    }

    .media-xs\:scale-39 {
        transform: scale(3.9) !important;
    }

    .media-xs\:scale-40 {
        transform: scale(4) !important;
    }

    .media-xs\:scale-41 {
        transform: scale(4.1) !important;
    }

    .media-xs\:scale-42 {
        transform: scale(4.2) !important;
    }

    .media-xs\:scale-43 {
        transform: scale(4.3) !important;
    }

    .media-xs\:scale-44 {
        transform: scale(4.4) !important;
    }

    .media-xs\:scale-45 {
        transform: scale(4.5) !important;
    }

    .media-xs\:scale-46 {
        transform: scale(4.6) !important;
    }

    .media-xs\:scale-47 {
        transform: scale(4.7) !important;
    }

    .media-xs\:scale-48 {
        transform: scale(4.8) !important;
    }

    .media-xs\:scale-49 {
        transform: scale(4.9) !important;
    }

    .media-xs\:scale-50 {
        transform: scale(5) !important;
    }

    .media-xs\:scale-51 {
        transform: scale(5.1) !important;
    }

    .media-xs\:scale-52 {
        transform: scale(5.2) !important;
    }

    .media-xs\:scale-53 {
        transform: scale(5.3) !important;
    }

    .media-xs\:scale-54 {
        transform: scale(5.4) !important;
    }

    .media-xs\:scale-55 {
        transform: scale(5.5) !important;
    }

    .media-xs\:scale-56 {
        transform: scale(5.6) !important;
    }

    .media-xs\:scale-57 {
        transform: scale(5.7) !important;
    }

    .media-xs\:scale-58 {
        transform: scale(5.8) !important;
    }

    .media-xs\:scale-59 {
        transform: scale(5.9) !important;
    }

    .media-xs\:scale-60 {
        transform: scale(6) !important;
    }

    .media-xs\:scale-61 {
        transform: scale(6.1) !important;
    }

    .media-xs\:scale-62 {
        transform: scale(6.2) !important;
    }

    .media-xs\:scale-63 {
        transform: scale(6.3) !important;
    }

    .media-xs\:scale-64 {
        transform: scale(6.4) !important;
    }

    .media-xs\:scale-65 {
        transform: scale(6.5) !important;
    }

    .media-xs\:scale-66 {
        transform: scale(6.6) !important;
    }

    .media-xs\:scale-67 {
        transform: scale(6.7) !important;
    }

    .media-xs\:scale-68 {
        transform: scale(6.8) !important;
    }

    .media-xs\:scale-69 {
        transform: scale(6.9) !important;
    }

    .media-xs\:scale-70 {
        transform: scale(7) !important;
    }

    .media-xs\:scale-71 {
        transform: scale(7.1) !important;
    }

    .media-xs\:scale-72 {
        transform: scale(7.2) !important;
    }

    .media-xs\:scale-73 {
        transform: scale(7.3) !important;
    }

    .media-xs\:scale-74 {
        transform: scale(7.4) !important;
    }

    .media-xs\:scale-75 {
        transform: scale(7.5) !important;
    }

    .media-xs\:scale-76 {
        transform: scale(7.6) !important;
    }

    .media-xs\:scale-77 {
        transform: scale(7.7) !important;
    }

    .media-xs\:scale-78 {
        transform: scale(7.8) !important;
    }

    .media-xs\:scale-79 {
        transform: scale(7.9) !important;
    }

    .media-xs\:scale-80 {
        transform: scale(8) !important;
    }

    .media-xs\:scale-81 {
        transform: scale(8.1) !important;
    }

    .media-xs\:scale-82 {
        transform: scale(8.2) !important;
    }

    .media-xs\:scale-83 {
        transform: scale(8.3) !important;
    }

    .media-xs\:scale-84 {
        transform: scale(8.4) !important;
    }

    .media-xs\:scale-85 {
        transform: scale(8.5) !important;
    }

    .media-xs\:scale-86 {
        transform: scale(8.6) !important;
    }

    .media-xs\:scale-87 {
        transform: scale(8.7) !important;
    }

    .media-xs\:scale-88 {
        transform: scale(8.8) !important;
    }

    .media-xs\:scale-89 {
        transform: scale(8.9) !important;
    }

    .media-xs\:scale-90 {
        transform: scale(9) !important;
    }

    .media-xs\:scale-91 {
        transform: scale(9.1) !important;
    }

    .media-xs\:scale-92 {
        transform: scale(9.2) !important;
    }

    .media-xs\:scale-93 {
        transform: scale(9.3) !important;
    }

    .media-xs\:scale-94 {
        transform: scale(9.4) !important;
    }

    .media-xs\:scale-95 {
        transform: scale(9.5) !important;
    }

    .media-xs\:scale-96 {
        transform: scale(9.6) !important;
    }

    .media-xs\:scale-97 {
        transform: scale(9.7) !important;
    }

    .media-xs\:scale-98 {
        transform: scale(9.8) !important;
    }

    .media-xs\:scale-99 {
        transform: scale(9.9) !important;
    }

    .media-xs\:scale-100 {
        transform: scale(10) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:scale-0 {
        transform: scale(0) !important;
    }

    .media-sm\:scale-1 {
        transform: scale(0.1) !important;
    }

    .media-sm\:scale-2 {
        transform: scale(0.2) !important;
    }

    .media-sm\:scale-3 {
        transform: scale(0.3) !important;
    }

    .media-sm\:scale-4 {
        transform: scale(0.4) !important;
    }

    .media-sm\:scale-5 {
        transform: scale(0.5) !important;
    }

    .media-sm\:scale-6 {
        transform: scale(0.6) !important;
    }

    .media-sm\:scale-7 {
        transform: scale(0.7) !important;
    }

    .media-sm\:scale-8 {
        transform: scale(0.8) !important;
    }

    .media-sm\:scale-9 {
        transform: scale(0.9) !important;
    }

    .media-sm\:scale-10 {
        transform: scale(1) !important;
    }

    .media-sm\:scale-11 {
        transform: scale(1.1) !important;
    }

    .media-sm\:scale-12 {
        transform: scale(1.2) !important;
    }

    .media-sm\:scale-13 {
        transform: scale(1.3) !important;
    }

    .media-sm\:scale-14 {
        transform: scale(1.4) !important;
    }

    .media-sm\:scale-15 {
        transform: scale(1.5) !important;
    }

    .media-sm\:scale-16 {
        transform: scale(1.6) !important;
    }

    .media-sm\:scale-17 {
        transform: scale(1.7) !important;
    }

    .media-sm\:scale-18 {
        transform: scale(1.8) !important;
    }

    .media-sm\:scale-19 {
        transform: scale(1.9) !important;
    }

    .media-sm\:scale-20 {
        transform: scale(2) !important;
    }

    .media-sm\:scale-21 {
        transform: scale(2.1) !important;
    }

    .media-sm\:scale-22 {
        transform: scale(2.2) !important;
    }

    .media-sm\:scale-23 {
        transform: scale(2.3) !important;
    }

    .media-sm\:scale-24 {
        transform: scale(2.4) !important;
    }

    .media-sm\:scale-25 {
        transform: scale(2.5) !important;
    }

    .media-sm\:scale-26 {
        transform: scale(2.6) !important;
    }

    .media-sm\:scale-27 {
        transform: scale(2.7) !important;
    }

    .media-sm\:scale-28 {
        transform: scale(2.8) !important;
    }

    .media-sm\:scale-29 {
        transform: scale(2.9) !important;
    }

    .media-sm\:scale-30 {
        transform: scale(3) !important;
    }

    .media-sm\:scale-31 {
        transform: scale(3.1) !important;
    }

    .media-sm\:scale-32 {
        transform: scale(3.2) !important;
    }

    .media-sm\:scale-33 {
        transform: scale(3.3) !important;
    }

    .media-sm\:scale-34 {
        transform: scale(3.4) !important;
    }

    .media-sm\:scale-35 {
        transform: scale(3.5) !important;
    }

    .media-sm\:scale-36 {
        transform: scale(3.6) !important;
    }

    .media-sm\:scale-37 {
        transform: scale(3.7) !important;
    }

    .media-sm\:scale-38 {
        transform: scale(3.8) !important;
    }

    .media-sm\:scale-39 {
        transform: scale(3.9) !important;
    }

    .media-sm\:scale-40 {
        transform: scale(4) !important;
    }

    .media-sm\:scale-41 {
        transform: scale(4.1) !important;
    }

    .media-sm\:scale-42 {
        transform: scale(4.2) !important;
    }

    .media-sm\:scale-43 {
        transform: scale(4.3) !important;
    }

    .media-sm\:scale-44 {
        transform: scale(4.4) !important;
    }

    .media-sm\:scale-45 {
        transform: scale(4.5) !important;
    }

    .media-sm\:scale-46 {
        transform: scale(4.6) !important;
    }

    .media-sm\:scale-47 {
        transform: scale(4.7) !important;
    }

    .media-sm\:scale-48 {
        transform: scale(4.8) !important;
    }

    .media-sm\:scale-49 {
        transform: scale(4.9) !important;
    }

    .media-sm\:scale-50 {
        transform: scale(5) !important;
    }

    .media-sm\:scale-51 {
        transform: scale(5.1) !important;
    }

    .media-sm\:scale-52 {
        transform: scale(5.2) !important;
    }

    .media-sm\:scale-53 {
        transform: scale(5.3) !important;
    }

    .media-sm\:scale-54 {
        transform: scale(5.4) !important;
    }

    .media-sm\:scale-55 {
        transform: scale(5.5) !important;
    }

    .media-sm\:scale-56 {
        transform: scale(5.6) !important;
    }

    .media-sm\:scale-57 {
        transform: scale(5.7) !important;
    }

    .media-sm\:scale-58 {
        transform: scale(5.8) !important;
    }

    .media-sm\:scale-59 {
        transform: scale(5.9) !important;
    }

    .media-sm\:scale-60 {
        transform: scale(6) !important;
    }

    .media-sm\:scale-61 {
        transform: scale(6.1) !important;
    }

    .media-sm\:scale-62 {
        transform: scale(6.2) !important;
    }

    .media-sm\:scale-63 {
        transform: scale(6.3) !important;
    }

    .media-sm\:scale-64 {
        transform: scale(6.4) !important;
    }

    .media-sm\:scale-65 {
        transform: scale(6.5) !important;
    }

    .media-sm\:scale-66 {
        transform: scale(6.6) !important;
    }

    .media-sm\:scale-67 {
        transform: scale(6.7) !important;
    }

    .media-sm\:scale-68 {
        transform: scale(6.8) !important;
    }

    .media-sm\:scale-69 {
        transform: scale(6.9) !important;
    }

    .media-sm\:scale-70 {
        transform: scale(7) !important;
    }

    .media-sm\:scale-71 {
        transform: scale(7.1) !important;
    }

    .media-sm\:scale-72 {
        transform: scale(7.2) !important;
    }

    .media-sm\:scale-73 {
        transform: scale(7.3) !important;
    }

    .media-sm\:scale-74 {
        transform: scale(7.4) !important;
    }

    .media-sm\:scale-75 {
        transform: scale(7.5) !important;
    }

    .media-sm\:scale-76 {
        transform: scale(7.6) !important;
    }

    .media-sm\:scale-77 {
        transform: scale(7.7) !important;
    }

    .media-sm\:scale-78 {
        transform: scale(7.8) !important;
    }

    .media-sm\:scale-79 {
        transform: scale(7.9) !important;
    }

    .media-sm\:scale-80 {
        transform: scale(8) !important;
    }

    .media-sm\:scale-81 {
        transform: scale(8.1) !important;
    }

    .media-sm\:scale-82 {
        transform: scale(8.2) !important;
    }

    .media-sm\:scale-83 {
        transform: scale(8.3) !important;
    }

    .media-sm\:scale-84 {
        transform: scale(8.4) !important;
    }

    .media-sm\:scale-85 {
        transform: scale(8.5) !important;
    }

    .media-sm\:scale-86 {
        transform: scale(8.6) !important;
    }

    .media-sm\:scale-87 {
        transform: scale(8.7) !important;
    }

    .media-sm\:scale-88 {
        transform: scale(8.8) !important;
    }

    .media-sm\:scale-89 {
        transform: scale(8.9) !important;
    }

    .media-sm\:scale-90 {
        transform: scale(9) !important;
    }

    .media-sm\:scale-91 {
        transform: scale(9.1) !important;
    }

    .media-sm\:scale-92 {
        transform: scale(9.2) !important;
    }

    .media-sm\:scale-93 {
        transform: scale(9.3) !important;
    }

    .media-sm\:scale-94 {
        transform: scale(9.4) !important;
    }

    .media-sm\:scale-95 {
        transform: scale(9.5) !important;
    }

    .media-sm\:scale-96 {
        transform: scale(9.6) !important;
    }

    .media-sm\:scale-97 {
        transform: scale(9.7) !important;
    }

    .media-sm\:scale-98 {
        transform: scale(9.8) !important;
    }

    .media-sm\:scale-99 {
        transform: scale(9.9) !important;
    }

    .media-sm\:scale-100 {
        transform: scale(10) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:scale-0 {
        transform: scale(0) !important;
    }

    .media-md\:scale-1 {
        transform: scale(0.1) !important;
    }

    .media-md\:scale-2 {
        transform: scale(0.2) !important;
    }

    .media-md\:scale-3 {
        transform: scale(0.3) !important;
    }

    .media-md\:scale-4 {
        transform: scale(0.4) !important;
    }

    .media-md\:scale-5 {
        transform: scale(0.5) !important;
    }

    .media-md\:scale-6 {
        transform: scale(0.6) !important;
    }

    .media-md\:scale-7 {
        transform: scale(0.7) !important;
    }

    .media-md\:scale-8 {
        transform: scale(0.8) !important;
    }

    .media-md\:scale-9 {
        transform: scale(0.9) !important;
    }

    .media-md\:scale-10 {
        transform: scale(1) !important;
    }

    .media-md\:scale-11 {
        transform: scale(1.1) !important;
    }

    .media-md\:scale-12 {
        transform: scale(1.2) !important;
    }

    .media-md\:scale-13 {
        transform: scale(1.3) !important;
    }

    .media-md\:scale-14 {
        transform: scale(1.4) !important;
    }

    .media-md\:scale-15 {
        transform: scale(1.5) !important;
    }

    .media-md\:scale-16 {
        transform: scale(1.6) !important;
    }

    .media-md\:scale-17 {
        transform: scale(1.7) !important;
    }

    .media-md\:scale-18 {
        transform: scale(1.8) !important;
    }

    .media-md\:scale-19 {
        transform: scale(1.9) !important;
    }

    .media-md\:scale-20 {
        transform: scale(2) !important;
    }

    .media-md\:scale-21 {
        transform: scale(2.1) !important;
    }

    .media-md\:scale-22 {
        transform: scale(2.2) !important;
    }

    .media-md\:scale-23 {
        transform: scale(2.3) !important;
    }

    .media-md\:scale-24 {
        transform: scale(2.4) !important;
    }

    .media-md\:scale-25 {
        transform: scale(2.5) !important;
    }

    .media-md\:scale-26 {
        transform: scale(2.6) !important;
    }

    .media-md\:scale-27 {
        transform: scale(2.7) !important;
    }

    .media-md\:scale-28 {
        transform: scale(2.8) !important;
    }

    .media-md\:scale-29 {
        transform: scale(2.9) !important;
    }

    .media-md\:scale-30 {
        transform: scale(3) !important;
    }

    .media-md\:scale-31 {
        transform: scale(3.1) !important;
    }

    .media-md\:scale-32 {
        transform: scale(3.2) !important;
    }

    .media-md\:scale-33 {
        transform: scale(3.3) !important;
    }

    .media-md\:scale-34 {
        transform: scale(3.4) !important;
    }

    .media-md\:scale-35 {
        transform: scale(3.5) !important;
    }

    .media-md\:scale-36 {
        transform: scale(3.6) !important;
    }

    .media-md\:scale-37 {
        transform: scale(3.7) !important;
    }

    .media-md\:scale-38 {
        transform: scale(3.8) !important;
    }

    .media-md\:scale-39 {
        transform: scale(3.9) !important;
    }

    .media-md\:scale-40 {
        transform: scale(4) !important;
    }

    .media-md\:scale-41 {
        transform: scale(4.1) !important;
    }

    .media-md\:scale-42 {
        transform: scale(4.2) !important;
    }

    .media-md\:scale-43 {
        transform: scale(4.3) !important;
    }

    .media-md\:scale-44 {
        transform: scale(4.4) !important;
    }

    .media-md\:scale-45 {
        transform: scale(4.5) !important;
    }

    .media-md\:scale-46 {
        transform: scale(4.6) !important;
    }

    .media-md\:scale-47 {
        transform: scale(4.7) !important;
    }

    .media-md\:scale-48 {
        transform: scale(4.8) !important;
    }

    .media-md\:scale-49 {
        transform: scale(4.9) !important;
    }

    .media-md\:scale-50 {
        transform: scale(5) !important;
    }

    .media-md\:scale-51 {
        transform: scale(5.1) !important;
    }

    .media-md\:scale-52 {
        transform: scale(5.2) !important;
    }

    .media-md\:scale-53 {
        transform: scale(5.3) !important;
    }

    .media-md\:scale-54 {
        transform: scale(5.4) !important;
    }

    .media-md\:scale-55 {
        transform: scale(5.5) !important;
    }

    .media-md\:scale-56 {
        transform: scale(5.6) !important;
    }

    .media-md\:scale-57 {
        transform: scale(5.7) !important;
    }

    .media-md\:scale-58 {
        transform: scale(5.8) !important;
    }

    .media-md\:scale-59 {
        transform: scale(5.9) !important;
    }

    .media-md\:scale-60 {
        transform: scale(6) !important;
    }

    .media-md\:scale-61 {
        transform: scale(6.1) !important;
    }

    .media-md\:scale-62 {
        transform: scale(6.2) !important;
    }

    .media-md\:scale-63 {
        transform: scale(6.3) !important;
    }

    .media-md\:scale-64 {
        transform: scale(6.4) !important;
    }

    .media-md\:scale-65 {
        transform: scale(6.5) !important;
    }

    .media-md\:scale-66 {
        transform: scale(6.6) !important;
    }

    .media-md\:scale-67 {
        transform: scale(6.7) !important;
    }

    .media-md\:scale-68 {
        transform: scale(6.8) !important;
    }

    .media-md\:scale-69 {
        transform: scale(6.9) !important;
    }

    .media-md\:scale-70 {
        transform: scale(7) !important;
    }

    .media-md\:scale-71 {
        transform: scale(7.1) !important;
    }

    .media-md\:scale-72 {
        transform: scale(7.2) !important;
    }

    .media-md\:scale-73 {
        transform: scale(7.3) !important;
    }

    .media-md\:scale-74 {
        transform: scale(7.4) !important;
    }

    .media-md\:scale-75 {
        transform: scale(7.5) !important;
    }

    .media-md\:scale-76 {
        transform: scale(7.6) !important;
    }

    .media-md\:scale-77 {
        transform: scale(7.7) !important;
    }

    .media-md\:scale-78 {
        transform: scale(7.8) !important;
    }

    .media-md\:scale-79 {
        transform: scale(7.9) !important;
    }

    .media-md\:scale-80 {
        transform: scale(8) !important;
    }

    .media-md\:scale-81 {
        transform: scale(8.1) !important;
    }

    .media-md\:scale-82 {
        transform: scale(8.2) !important;
    }

    .media-md\:scale-83 {
        transform: scale(8.3) !important;
    }

    .media-md\:scale-84 {
        transform: scale(8.4) !important;
    }

    .media-md\:scale-85 {
        transform: scale(8.5) !important;
    }

    .media-md\:scale-86 {
        transform: scale(8.6) !important;
    }

    .media-md\:scale-87 {
        transform: scale(8.7) !important;
    }

    .media-md\:scale-88 {
        transform: scale(8.8) !important;
    }

    .media-md\:scale-89 {
        transform: scale(8.9) !important;
    }

    .media-md\:scale-90 {
        transform: scale(9) !important;
    }

    .media-md\:scale-91 {
        transform: scale(9.1) !important;
    }

    .media-md\:scale-92 {
        transform: scale(9.2) !important;
    }

    .media-md\:scale-93 {
        transform: scale(9.3) !important;
    }

    .media-md\:scale-94 {
        transform: scale(9.4) !important;
    }

    .media-md\:scale-95 {
        transform: scale(9.5) !important;
    }

    .media-md\:scale-96 {
        transform: scale(9.6) !important;
    }

    .media-md\:scale-97 {
        transform: scale(9.7) !important;
    }

    .media-md\:scale-98 {
        transform: scale(9.8) !important;
    }

    .media-md\:scale-99 {
        transform: scale(9.9) !important;
    }

    .media-md\:scale-100 {
        transform: scale(10) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:scale-0 {
        transform: scale(0) !important;
    }

    .media-lg\:scale-1 {
        transform: scale(0.1) !important;
    }

    .media-lg\:scale-2 {
        transform: scale(0.2) !important;
    }

    .media-lg\:scale-3 {
        transform: scale(0.3) !important;
    }

    .media-lg\:scale-4 {
        transform: scale(0.4) !important;
    }

    .media-lg\:scale-5 {
        transform: scale(0.5) !important;
    }

    .media-lg\:scale-6 {
        transform: scale(0.6) !important;
    }

    .media-lg\:scale-7 {
        transform: scale(0.7) !important;
    }

    .media-lg\:scale-8 {
        transform: scale(0.8) !important;
    }

    .media-lg\:scale-9 {
        transform: scale(0.9) !important;
    }

    .media-lg\:scale-10 {
        transform: scale(1) !important;
    }

    .media-lg\:scale-11 {
        transform: scale(1.1) !important;
    }

    .media-lg\:scale-12 {
        transform: scale(1.2) !important;
    }

    .media-lg\:scale-13 {
        transform: scale(1.3) !important;
    }

    .media-lg\:scale-14 {
        transform: scale(1.4) !important;
    }

    .media-lg\:scale-15 {
        transform: scale(1.5) !important;
    }

    .media-lg\:scale-16 {
        transform: scale(1.6) !important;
    }

    .media-lg\:scale-17 {
        transform: scale(1.7) !important;
    }

    .media-lg\:scale-18 {
        transform: scale(1.8) !important;
    }

    .media-lg\:scale-19 {
        transform: scale(1.9) !important;
    }

    .media-lg\:scale-20 {
        transform: scale(2) !important;
    }

    .media-lg\:scale-21 {
        transform: scale(2.1) !important;
    }

    .media-lg\:scale-22 {
        transform: scale(2.2) !important;
    }

    .media-lg\:scale-23 {
        transform: scale(2.3) !important;
    }

    .media-lg\:scale-24 {
        transform: scale(2.4) !important;
    }

    .media-lg\:scale-25 {
        transform: scale(2.5) !important;
    }

    .media-lg\:scale-26 {
        transform: scale(2.6) !important;
    }

    .media-lg\:scale-27 {
        transform: scale(2.7) !important;
    }

    .media-lg\:scale-28 {
        transform: scale(2.8) !important;
    }

    .media-lg\:scale-29 {
        transform: scale(2.9) !important;
    }

    .media-lg\:scale-30 {
        transform: scale(3) !important;
    }

    .media-lg\:scale-31 {
        transform: scale(3.1) !important;
    }

    .media-lg\:scale-32 {
        transform: scale(3.2) !important;
    }

    .media-lg\:scale-33 {
        transform: scale(3.3) !important;
    }

    .media-lg\:scale-34 {
        transform: scale(3.4) !important;
    }

    .media-lg\:scale-35 {
        transform: scale(3.5) !important;
    }

    .media-lg\:scale-36 {
        transform: scale(3.6) !important;
    }

    .media-lg\:scale-37 {
        transform: scale(3.7) !important;
    }

    .media-lg\:scale-38 {
        transform: scale(3.8) !important;
    }

    .media-lg\:scale-39 {
        transform: scale(3.9) !important;
    }

    .media-lg\:scale-40 {
        transform: scale(4) !important;
    }

    .media-lg\:scale-41 {
        transform: scale(4.1) !important;
    }

    .media-lg\:scale-42 {
        transform: scale(4.2) !important;
    }

    .media-lg\:scale-43 {
        transform: scale(4.3) !important;
    }

    .media-lg\:scale-44 {
        transform: scale(4.4) !important;
    }

    .media-lg\:scale-45 {
        transform: scale(4.5) !important;
    }

    .media-lg\:scale-46 {
        transform: scale(4.6) !important;
    }

    .media-lg\:scale-47 {
        transform: scale(4.7) !important;
    }

    .media-lg\:scale-48 {
        transform: scale(4.8) !important;
    }

    .media-lg\:scale-49 {
        transform: scale(4.9) !important;
    }

    .media-lg\:scale-50 {
        transform: scale(5) !important;
    }

    .media-lg\:scale-51 {
        transform: scale(5.1) !important;
    }

    .media-lg\:scale-52 {
        transform: scale(5.2) !important;
    }

    .media-lg\:scale-53 {
        transform: scale(5.3) !important;
    }

    .media-lg\:scale-54 {
        transform: scale(5.4) !important;
    }

    .media-lg\:scale-55 {
        transform: scale(5.5) !important;
    }

    .media-lg\:scale-56 {
        transform: scale(5.6) !important;
    }

    .media-lg\:scale-57 {
        transform: scale(5.7) !important;
    }

    .media-lg\:scale-58 {
        transform: scale(5.8) !important;
    }

    .media-lg\:scale-59 {
        transform: scale(5.9) !important;
    }

    .media-lg\:scale-60 {
        transform: scale(6) !important;
    }

    .media-lg\:scale-61 {
        transform: scale(6.1) !important;
    }

    .media-lg\:scale-62 {
        transform: scale(6.2) !important;
    }

    .media-lg\:scale-63 {
        transform: scale(6.3) !important;
    }

    .media-lg\:scale-64 {
        transform: scale(6.4) !important;
    }

    .media-lg\:scale-65 {
        transform: scale(6.5) !important;
    }

    .media-lg\:scale-66 {
        transform: scale(6.6) !important;
    }

    .media-lg\:scale-67 {
        transform: scale(6.7) !important;
    }

    .media-lg\:scale-68 {
        transform: scale(6.8) !important;
    }

    .media-lg\:scale-69 {
        transform: scale(6.9) !important;
    }

    .media-lg\:scale-70 {
        transform: scale(7) !important;
    }

    .media-lg\:scale-71 {
        transform: scale(7.1) !important;
    }

    .media-lg\:scale-72 {
        transform: scale(7.2) !important;
    }

    .media-lg\:scale-73 {
        transform: scale(7.3) !important;
    }

    .media-lg\:scale-74 {
        transform: scale(7.4) !important;
    }

    .media-lg\:scale-75 {
        transform: scale(7.5) !important;
    }

    .media-lg\:scale-76 {
        transform: scale(7.6) !important;
    }

    .media-lg\:scale-77 {
        transform: scale(7.7) !important;
    }

    .media-lg\:scale-78 {
        transform: scale(7.8) !important;
    }

    .media-lg\:scale-79 {
        transform: scale(7.9) !important;
    }

    .media-lg\:scale-80 {
        transform: scale(8) !important;
    }

    .media-lg\:scale-81 {
        transform: scale(8.1) !important;
    }

    .media-lg\:scale-82 {
        transform: scale(8.2) !important;
    }

    .media-lg\:scale-83 {
        transform: scale(8.3) !important;
    }

    .media-lg\:scale-84 {
        transform: scale(8.4) !important;
    }

    .media-lg\:scale-85 {
        transform: scale(8.5) !important;
    }

    .media-lg\:scale-86 {
        transform: scale(8.6) !important;
    }

    .media-lg\:scale-87 {
        transform: scale(8.7) !important;
    }

    .media-lg\:scale-88 {
        transform: scale(8.8) !important;
    }

    .media-lg\:scale-89 {
        transform: scale(8.9) !important;
    }

    .media-lg\:scale-90 {
        transform: scale(9) !important;
    }

    .media-lg\:scale-91 {
        transform: scale(9.1) !important;
    }

    .media-lg\:scale-92 {
        transform: scale(9.2) !important;
    }

    .media-lg\:scale-93 {
        transform: scale(9.3) !important;
    }

    .media-lg\:scale-94 {
        transform: scale(9.4) !important;
    }

    .media-lg\:scale-95 {
        transform: scale(9.5) !important;
    }

    .media-lg\:scale-96 {
        transform: scale(9.6) !important;
    }

    .media-lg\:scale-97 {
        transform: scale(9.7) !important;
    }

    .media-lg\:scale-98 {
        transform: scale(9.8) !important;
    }

    .media-lg\:scale-99 {
        transform: scale(9.9) !important;
    }

    .media-lg\:scale-100 {
        transform: scale(10) !important;
    }
}