/* Special Height Values */
.h-0 {
    height: 0;
}

.h-screen {
    height: 100vh;
}

.h-auto {
    height: auto;
}

.h-fit {
    height: fit-content;
}

.h-max {
    height: max-content;
}

.h-min {
    height: min-content;
}

.h-unset {
    height: unset;
}

.h-initial {
    height: initial;
}

.h-inherit {
    height: inherit;
}