.kintaro-txtbox-1 {
    font-size: var(--kintaro-font-md);
    color: var(--kintaro-text-color-1);
    border-radius: var(--kintaro-border-radius-1);
    background: var(--kintaro-color-4);
    resize: vertical;
    outline: none;
    border: none;
    height: 60px;
    padding: 0px 15px;
    width: 100%;
}

.kintaro-txtbox-1:focus {
    box-shadow: var(--kintaro-box-shadow);
}

.kintaro-txtbox-1::placeholder {
    color: var(--kintaro-text-color-2);
}

.kintaro-txtbox-1-disabled {
    opacity: 0.7;
    cursor: not-allowed;
}