.kintaro-txtbox-1 {
    font-size: var(--font-md);
    color: var(--text-1);
    border-radius: var(--border-radius-1);
    background: var(--color-4);
    resize: vertical;
    outline: none;
    border: none;
    height: 60px;
    padding: 0px 15px;
    width: 100%;
}

.kintaro-txtbox-1:focus {
    box-shadow: var(--box-shadow);
}

.kintaro-txtbox-1::placeholder {
    color: var(--text-2);
}

.kintaro-txtbox-1-disabled {
    opacity: 0.7;
    cursor: not-allowed;
}