.bottom-n1p {
    bottom: -1% !important;
}

.bottom-n2p {
    bottom: -2% !important;
}

.bottom-n3p {
    bottom: -3% !important;
}

.bottom-n4p {
    bottom: -4% !important;
}

.bottom-n5p {
    bottom: -5% !important;
}

.bottom-n6p {
    bottom: -6% !important;
}

.bottom-n7p {
    bottom: -7% !important;
}

.bottom-n8p {
    bottom: -8% !important;
}

.bottom-n9p {
    bottom: -9% !important;
}

.bottom-n10p {
    bottom: -10% !important;
}

.bottom-n11p {
    bottom: -11% !important;
}

.bottom-n12p {
    bottom: -12% !important;
}

.bottom-n13p {
    bottom: -13% !important;
}

.bottom-n14p {
    bottom: -14% !important;
}

.bottom-n15p {
    bottom: -15% !important;
}

.bottom-n16p {
    bottom: -16% !important;
}

.bottom-n17p {
    bottom: -17% !important;
}

.bottom-n18p {
    bottom: -18% !important;
}

.bottom-n19p {
    bottom: -19% !important;
}

.bottom-n20p {
    bottom: -20% !important;
}

.bottom-n21p {
    bottom: -21% !important;
}

.bottom-n22p {
    bottom: -22% !important;
}

.bottom-n23p {
    bottom: -23% !important;
}

.bottom-n24p {
    bottom: -24% !important;
}

.bottom-n25p {
    bottom: -25% !important;
}

.bottom-n26p {
    bottom: -26% !important;
}

.bottom-n27p {
    bottom: -27% !important;
}

.bottom-n28p {
    bottom: -28% !important;
}

.bottom-n29p {
    bottom: -29% !important;
}

.bottom-n30p {
    bottom: -30% !important;
}

.bottom-n31p {
    bottom: -31% !important;
}

.bottom-n32p {
    bottom: -32% !important;
}

.bottom-n33p {
    bottom: -33% !important;
}

.bottom-n34p {
    bottom: -34% !important;
}

.bottom-n35p {
    bottom: -35% !important;
}

.bottom-n36p {
    bottom: -36% !important;
}

.bottom-n37p {
    bottom: -37% !important;
}

.bottom-n38p {
    bottom: -38% !important;
}

.bottom-n39p {
    bottom: -39% !important;
}

.bottom-n40p {
    bottom: -40% !important;
}

.bottom-n41p {
    bottom: -41% !important;
}

.bottom-n42p {
    bottom: -42% !important;
}

.bottom-n43p {
    bottom: -43% !important;
}

.bottom-n44p {
    bottom: -44% !important;
}

.bottom-n45p {
    bottom: -45% !important;
}

.bottom-n46p {
    bottom: -46% !important;
}

.bottom-n47p {
    bottom: -47% !important;
}

.bottom-n48p {
    bottom: -48% !important;
}

.bottom-n49p {
    bottom: -49% !important;
}

.bottom-n50p {
    bottom: -50% !important;
}

.bottom-n51p {
    bottom: -51% !important;
}

.bottom-n52p {
    bottom: -52% !important;
}

.bottom-n53p {
    bottom: -53% !important;
}

.bottom-n54p {
    bottom: -54% !important;
}

.bottom-n55p {
    bottom: -55% !important;
}

.bottom-n56p {
    bottom: -56% !important;
}

.bottom-n57p {
    bottom: -57% !important;
}

.bottom-n58p {
    bottom: -58% !important;
}

.bottom-n59p {
    bottom: -59% !important;
}

.bottom-n60p {
    bottom: -60% !important;
}

.bottom-n61p {
    bottom: -61% !important;
}

.bottom-n62p {
    bottom: -62% !important;
}

.bottom-n63p {
    bottom: -63% !important;
}

.bottom-n64p {
    bottom: -64% !important;
}

.bottom-n65p {
    bottom: -65% !important;
}

.bottom-n66p {
    bottom: -66% !important;
}

.bottom-n67p {
    bottom: -67% !important;
}

.bottom-n68p {
    bottom: -68% !important;
}

.bottom-n69p {
    bottom: -69% !important;
}

.bottom-n70p {
    bottom: -70% !important;
}

.bottom-n71p {
    bottom: -71% !important;
}

.bottom-n72p {
    bottom: -72% !important;
}

.bottom-n73p {
    bottom: -73% !important;
}

.bottom-n74p {
    bottom: -74% !important;
}

.bottom-n75p {
    bottom: -75% !important;
}

.bottom-n76p {
    bottom: -76% !important;
}

.bottom-n77p {
    bottom: -77% !important;
}

.bottom-n78p {
    bottom: -78% !important;
}

.bottom-n79p {
    bottom: -79% !important;
}

.bottom-n80p {
    bottom: -80% !important;
}

.bottom-n81p {
    bottom: -81% !important;
}

.bottom-n82p {
    bottom: -82% !important;
}

.bottom-n83p {
    bottom: -83% !important;
}

.bottom-n84p {
    bottom: -84% !important;
}

.bottom-n85p {
    bottom: -85% !important;
}

.bottom-n86p {
    bottom: -86% !important;
}

.bottom-n87p {
    bottom: -87% !important;
}

.bottom-n88p {
    bottom: -88% !important;
}

.bottom-n89p {
    bottom: -89% !important;
}

.bottom-n90p {
    bottom: -90% !important;
}

.bottom-n91p {
    bottom: -91% !important;
}

.bottom-n92p {
    bottom: -92% !important;
}

.bottom-n93p {
    bottom: -93% !important;
}

.bottom-n94p {
    bottom: -94% !important;
}

.bottom-n95p {
    bottom: -95% !important;
}

.bottom-n96p {
    bottom: -96% !important;
}

.bottom-n97p {
    bottom: -97% !important;
}

.bottom-n98p {
    bottom: -98% !important;
}

.bottom-n99p {
    bottom: -99% !important;
}

.bottom-n100p {
    bottom: -100% !important;
}

@media (max-width: 576px) {
    .media-xs\:bottom-n1p {
        bottom: -1% !important;
    }

    .media-xs\:bottom-n2p {
        bottom: -2% !important;
    }

    .media-xs\:bottom-n3p {
        bottom: -3% !important;
    }

    .media-xs\:bottom-n4p {
        bottom: -4% !important;
    }

    .media-xs\:bottom-n5p {
        bottom: -5% !important;
    }

    .media-xs\:bottom-n6p {
        bottom: -6% !important;
    }

    .media-xs\:bottom-n7p {
        bottom: -7% !important;
    }

    .media-xs\:bottom-n8p {
        bottom: -8% !important;
    }

    .media-xs\:bottom-n9p {
        bottom: -9% !important;
    }

    .media-xs\:bottom-n10p {
        bottom: -10% !important;
    }

    .media-xs\:bottom-n11p {
        bottom: -11% !important;
    }

    .media-xs\:bottom-n12p {
        bottom: -12% !important;
    }

    .media-xs\:bottom-n13p {
        bottom: -13% !important;
    }

    .media-xs\:bottom-n14p {
        bottom: -14% !important;
    }

    .media-xs\:bottom-n15p {
        bottom: -15% !important;
    }

    .media-xs\:bottom-n16p {
        bottom: -16% !important;
    }

    .media-xs\:bottom-n17p {
        bottom: -17% !important;
    }

    .media-xs\:bottom-n18p {
        bottom: -18% !important;
    }

    .media-xs\:bottom-n19p {
        bottom: -19% !important;
    }

    .media-xs\:bottom-n20p {
        bottom: -20% !important;
    }

    .media-xs\:bottom-n21p {
        bottom: -21% !important;
    }

    .media-xs\:bottom-n22p {
        bottom: -22% !important;
    }

    .media-xs\:bottom-n23p {
        bottom: -23% !important;
    }

    .media-xs\:bottom-n24p {
        bottom: -24% !important;
    }

    .media-xs\:bottom-n25p {
        bottom: -25% !important;
    }

    .media-xs\:bottom-n26p {
        bottom: -26% !important;
    }

    .media-xs\:bottom-n27p {
        bottom: -27% !important;
    }

    .media-xs\:bottom-n28p {
        bottom: -28% !important;
    }

    .media-xs\:bottom-n29p {
        bottom: -29% !important;
    }

    .media-xs\:bottom-n30p {
        bottom: -30% !important;
    }

    .media-xs\:bottom-n31p {
        bottom: -31% !important;
    }

    .media-xs\:bottom-n32p {
        bottom: -32% !important;
    }

    .media-xs\:bottom-n33p {
        bottom: -33% !important;
    }

    .media-xs\:bottom-n34p {
        bottom: -34% !important;
    }

    .media-xs\:bottom-n35p {
        bottom: -35% !important;
    }

    .media-xs\:bottom-n36p {
        bottom: -36% !important;
    }

    .media-xs\:bottom-n37p {
        bottom: -37% !important;
    }

    .media-xs\:bottom-n38p {
        bottom: -38% !important;
    }

    .media-xs\:bottom-n39p {
        bottom: -39% !important;
    }

    .media-xs\:bottom-n40p {
        bottom: -40% !important;
    }

    .media-xs\:bottom-n41p {
        bottom: -41% !important;
    }

    .media-xs\:bottom-n42p {
        bottom: -42% !important;
    }

    .media-xs\:bottom-n43p {
        bottom: -43% !important;
    }

    .media-xs\:bottom-n44p {
        bottom: -44% !important;
    }

    .media-xs\:bottom-n45p {
        bottom: -45% !important;
    }

    .media-xs\:bottom-n46p {
        bottom: -46% !important;
    }

    .media-xs\:bottom-n47p {
        bottom: -47% !important;
    }

    .media-xs\:bottom-n48p {
        bottom: -48% !important;
    }

    .media-xs\:bottom-n49p {
        bottom: -49% !important;
    }

    .media-xs\:bottom-n50p {
        bottom: -50% !important;
    }

    .media-xs\:bottom-n51p {
        bottom: -51% !important;
    }

    .media-xs\:bottom-n52p {
        bottom: -52% !important;
    }

    .media-xs\:bottom-n53p {
        bottom: -53% !important;
    }

    .media-xs\:bottom-n54p {
        bottom: -54% !important;
    }

    .media-xs\:bottom-n55p {
        bottom: -55% !important;
    }

    .media-xs\:bottom-n56p {
        bottom: -56% !important;
    }

    .media-xs\:bottom-n57p {
        bottom: -57% !important;
    }

    .media-xs\:bottom-n58p {
        bottom: -58% !important;
    }

    .media-xs\:bottom-n59p {
        bottom: -59% !important;
    }

    .media-xs\:bottom-n60p {
        bottom: -60% !important;
    }

    .media-xs\:bottom-n61p {
        bottom: -61% !important;
    }

    .media-xs\:bottom-n62p {
        bottom: -62% !important;
    }

    .media-xs\:bottom-n63p {
        bottom: -63% !important;
    }

    .media-xs\:bottom-n64p {
        bottom: -64% !important;
    }

    .media-xs\:bottom-n65p {
        bottom: -65% !important;
    }

    .media-xs\:bottom-n66p {
        bottom: -66% !important;
    }

    .media-xs\:bottom-n67p {
        bottom: -67% !important;
    }

    .media-xs\:bottom-n68p {
        bottom: -68% !important;
    }

    .media-xs\:bottom-n69p {
        bottom: -69% !important;
    }

    .media-xs\:bottom-n70p {
        bottom: -70% !important;
    }

    .media-xs\:bottom-n71p {
        bottom: -71% !important;
    }

    .media-xs\:bottom-n72p {
        bottom: -72% !important;
    }

    .media-xs\:bottom-n73p {
        bottom: -73% !important;
    }

    .media-xs\:bottom-n74p {
        bottom: -74% !important;
    }

    .media-xs\:bottom-n75p {
        bottom: -75% !important;
    }

    .media-xs\:bottom-n76p {
        bottom: -76% !important;
    }

    .media-xs\:bottom-n77p {
        bottom: -77% !important;
    }

    .media-xs\:bottom-n78p {
        bottom: -78% !important;
    }

    .media-xs\:bottom-n79p {
        bottom: -79% !important;
    }

    .media-xs\:bottom-n80p {
        bottom: -80% !important;
    }

    .media-xs\:bottom-n81p {
        bottom: -81% !important;
    }

    .media-xs\:bottom-n82p {
        bottom: -82% !important;
    }

    .media-xs\:bottom-n83p {
        bottom: -83% !important;
    }

    .media-xs\:bottom-n84p {
        bottom: -84% !important;
    }

    .media-xs\:bottom-n85p {
        bottom: -85% !important;
    }

    .media-xs\:bottom-n86p {
        bottom: -86% !important;
    }

    .media-xs\:bottom-n87p {
        bottom: -87% !important;
    }

    .media-xs\:bottom-n88p {
        bottom: -88% !important;
    }

    .media-xs\:bottom-n89p {
        bottom: -89% !important;
    }

    .media-xs\:bottom-n90p {
        bottom: -90% !important;
    }

    .media-xs\:bottom-n91p {
        bottom: -91% !important;
    }

    .media-xs\:bottom-n92p {
        bottom: -92% !important;
    }

    .media-xs\:bottom-n93p {
        bottom: -93% !important;
    }

    .media-xs\:bottom-n94p {
        bottom: -94% !important;
    }

    .media-xs\:bottom-n95p {
        bottom: -95% !important;
    }

    .media-xs\:bottom-n96p {
        bottom: -96% !important;
    }

    .media-xs\:bottom-n97p {
        bottom: -97% !important;
    }

    .media-xs\:bottom-n98p {
        bottom: -98% !important;
    }

    .media-xs\:bottom-n99p {
        bottom: -99% !important;
    }

    .media-xs\:bottom-n100p {
        bottom: -100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:bottom-n1p {
        bottom: -1% !important;
    }

    .media-sm\:bottom-n2p {
        bottom: -2% !important;
    }

    .media-sm\:bottom-n3p {
        bottom: -3% !important;
    }

    .media-sm\:bottom-n4p {
        bottom: -4% !important;
    }

    .media-sm\:bottom-n5p {
        bottom: -5% !important;
    }

    .media-sm\:bottom-n6p {
        bottom: -6% !important;
    }

    .media-sm\:bottom-n7p {
        bottom: -7% !important;
    }

    .media-sm\:bottom-n8p {
        bottom: -8% !important;
    }

    .media-sm\:bottom-n9p {
        bottom: -9% !important;
    }

    .media-sm\:bottom-n10p {
        bottom: -10% !important;
    }

    .media-sm\:bottom-n11p {
        bottom: -11% !important;
    }

    .media-sm\:bottom-n12p {
        bottom: -12% !important;
    }

    .media-sm\:bottom-n13p {
        bottom: -13% !important;
    }

    .media-sm\:bottom-n14p {
        bottom: -14% !important;
    }

    .media-sm\:bottom-n15p {
        bottom: -15% !important;
    }

    .media-sm\:bottom-n16p {
        bottom: -16% !important;
    }

    .media-sm\:bottom-n17p {
        bottom: -17% !important;
    }

    .media-sm\:bottom-n18p {
        bottom: -18% !important;
    }

    .media-sm\:bottom-n19p {
        bottom: -19% !important;
    }

    .media-sm\:bottom-n20p {
        bottom: -20% !important;
    }

    .media-sm\:bottom-n21p {
        bottom: -21% !important;
    }

    .media-sm\:bottom-n22p {
        bottom: -22% !important;
    }

    .media-sm\:bottom-n23p {
        bottom: -23% !important;
    }

    .media-sm\:bottom-n24p {
        bottom: -24% !important;
    }

    .media-sm\:bottom-n25p {
        bottom: -25% !important;
    }

    .media-sm\:bottom-n26p {
        bottom: -26% !important;
    }

    .media-sm\:bottom-n27p {
        bottom: -27% !important;
    }

    .media-sm\:bottom-n28p {
        bottom: -28% !important;
    }

    .media-sm\:bottom-n29p {
        bottom: -29% !important;
    }

    .media-sm\:bottom-n30p {
        bottom: -30% !important;
    }

    .media-sm\:bottom-n31p {
        bottom: -31% !important;
    }

    .media-sm\:bottom-n32p {
        bottom: -32% !important;
    }

    .media-sm\:bottom-n33p {
        bottom: -33% !important;
    }

    .media-sm\:bottom-n34p {
        bottom: -34% !important;
    }

    .media-sm\:bottom-n35p {
        bottom: -35% !important;
    }

    .media-sm\:bottom-n36p {
        bottom: -36% !important;
    }

    .media-sm\:bottom-n37p {
        bottom: -37% !important;
    }

    .media-sm\:bottom-n38p {
        bottom: -38% !important;
    }

    .media-sm\:bottom-n39p {
        bottom: -39% !important;
    }

    .media-sm\:bottom-n40p {
        bottom: -40% !important;
    }

    .media-sm\:bottom-n41p {
        bottom: -41% !important;
    }

    .media-sm\:bottom-n42p {
        bottom: -42% !important;
    }

    .media-sm\:bottom-n43p {
        bottom: -43% !important;
    }

    .media-sm\:bottom-n44p {
        bottom: -44% !important;
    }

    .media-sm\:bottom-n45p {
        bottom: -45% !important;
    }

    .media-sm\:bottom-n46p {
        bottom: -46% !important;
    }

    .media-sm\:bottom-n47p {
        bottom: -47% !important;
    }

    .media-sm\:bottom-n48p {
        bottom: -48% !important;
    }

    .media-sm\:bottom-n49p {
        bottom: -49% !important;
    }

    .media-sm\:bottom-n50p {
        bottom: -50% !important;
    }

    .media-sm\:bottom-n51p {
        bottom: -51% !important;
    }

    .media-sm\:bottom-n52p {
        bottom: -52% !important;
    }

    .media-sm\:bottom-n53p {
        bottom: -53% !important;
    }

    .media-sm\:bottom-n54p {
        bottom: -54% !important;
    }

    .media-sm\:bottom-n55p {
        bottom: -55% !important;
    }

    .media-sm\:bottom-n56p {
        bottom: -56% !important;
    }

    .media-sm\:bottom-n57p {
        bottom: -57% !important;
    }

    .media-sm\:bottom-n58p {
        bottom: -58% !important;
    }

    .media-sm\:bottom-n59p {
        bottom: -59% !important;
    }

    .media-sm\:bottom-n60p {
        bottom: -60% !important;
    }

    .media-sm\:bottom-n61p {
        bottom: -61% !important;
    }

    .media-sm\:bottom-n62p {
        bottom: -62% !important;
    }

    .media-sm\:bottom-n63p {
        bottom: -63% !important;
    }

    .media-sm\:bottom-n64p {
        bottom: -64% !important;
    }

    .media-sm\:bottom-n65p {
        bottom: -65% !important;
    }

    .media-sm\:bottom-n66p {
        bottom: -66% !important;
    }

    .media-sm\:bottom-n67p {
        bottom: -67% !important;
    }

    .media-sm\:bottom-n68p {
        bottom: -68% !important;
    }

    .media-sm\:bottom-n69p {
        bottom: -69% !important;
    }

    .media-sm\:bottom-n70p {
        bottom: -70% !important;
    }

    .media-sm\:bottom-n71p {
        bottom: -71% !important;
    }

    .media-sm\:bottom-n72p {
        bottom: -72% !important;
    }

    .media-sm\:bottom-n73p {
        bottom: -73% !important;
    }

    .media-sm\:bottom-n74p {
        bottom: -74% !important;
    }

    .media-sm\:bottom-n75p {
        bottom: -75% !important;
    }

    .media-sm\:bottom-n76p {
        bottom: -76% !important;
    }

    .media-sm\:bottom-n77p {
        bottom: -77% !important;
    }

    .media-sm\:bottom-n78p {
        bottom: -78% !important;
    }

    .media-sm\:bottom-n79p {
        bottom: -79% !important;
    }

    .media-sm\:bottom-n80p {
        bottom: -80% !important;
    }

    .media-sm\:bottom-n81p {
        bottom: -81% !important;
    }

    .media-sm\:bottom-n82p {
        bottom: -82% !important;
    }

    .media-sm\:bottom-n83p {
        bottom: -83% !important;
    }

    .media-sm\:bottom-n84p {
        bottom: -84% !important;
    }

    .media-sm\:bottom-n85p {
        bottom: -85% !important;
    }

    .media-sm\:bottom-n86p {
        bottom: -86% !important;
    }

    .media-sm\:bottom-n87p {
        bottom: -87% !important;
    }

    .media-sm\:bottom-n88p {
        bottom: -88% !important;
    }

    .media-sm\:bottom-n89p {
        bottom: -89% !important;
    }

    .media-sm\:bottom-n90p {
        bottom: -90% !important;
    }

    .media-sm\:bottom-n91p {
        bottom: -91% !important;
    }

    .media-sm\:bottom-n92p {
        bottom: -92% !important;
    }

    .media-sm\:bottom-n93p {
        bottom: -93% !important;
    }

    .media-sm\:bottom-n94p {
        bottom: -94% !important;
    }

    .media-sm\:bottom-n95p {
        bottom: -95% !important;
    }

    .media-sm\:bottom-n96p {
        bottom: -96% !important;
    }

    .media-sm\:bottom-n97p {
        bottom: -97% !important;
    }

    .media-sm\:bottom-n98p {
        bottom: -98% !important;
    }

    .media-sm\:bottom-n99p {
        bottom: -99% !important;
    }

    .media-sm\:bottom-n100p {
        bottom: -100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:bottom-n1p {
        bottom: -1% !important;
    }

    .media-md\:bottom-n2p {
        bottom: -2% !important;
    }

    .media-md\:bottom-n3p {
        bottom: -3% !important;
    }

    .media-md\:bottom-n4p {
        bottom: -4% !important;
    }

    .media-md\:bottom-n5p {
        bottom: -5% !important;
    }

    .media-md\:bottom-n6p {
        bottom: -6% !important;
    }

    .media-md\:bottom-n7p {
        bottom: -7% !important;
    }

    .media-md\:bottom-n8p {
        bottom: -8% !important;
    }

    .media-md\:bottom-n9p {
        bottom: -9% !important;
    }

    .media-md\:bottom-n10p {
        bottom: -10% !important;
    }

    .media-md\:bottom-n11p {
        bottom: -11% !important;
    }

    .media-md\:bottom-n12p {
        bottom: -12% !important;
    }

    .media-md\:bottom-n13p {
        bottom: -13% !important;
    }

    .media-md\:bottom-n14p {
        bottom: -14% !important;
    }

    .media-md\:bottom-n15p {
        bottom: -15% !important;
    }

    .media-md\:bottom-n16p {
        bottom: -16% !important;
    }

    .media-md\:bottom-n17p {
        bottom: -17% !important;
    }

    .media-md\:bottom-n18p {
        bottom: -18% !important;
    }

    .media-md\:bottom-n19p {
        bottom: -19% !important;
    }

    .media-md\:bottom-n20p {
        bottom: -20% !important;
    }

    .media-md\:bottom-n21p {
        bottom: -21% !important;
    }

    .media-md\:bottom-n22p {
        bottom: -22% !important;
    }

    .media-md\:bottom-n23p {
        bottom: -23% !important;
    }

    .media-md\:bottom-n24p {
        bottom: -24% !important;
    }

    .media-md\:bottom-n25p {
        bottom: -25% !important;
    }

    .media-md\:bottom-n26p {
        bottom: -26% !important;
    }

    .media-md\:bottom-n27p {
        bottom: -27% !important;
    }

    .media-md\:bottom-n28p {
        bottom: -28% !important;
    }

    .media-md\:bottom-n29p {
        bottom: -29% !important;
    }

    .media-md\:bottom-n30p {
        bottom: -30% !important;
    }

    .media-md\:bottom-n31p {
        bottom: -31% !important;
    }

    .media-md\:bottom-n32p {
        bottom: -32% !important;
    }

    .media-md\:bottom-n33p {
        bottom: -33% !important;
    }

    .media-md\:bottom-n34p {
        bottom: -34% !important;
    }

    .media-md\:bottom-n35p {
        bottom: -35% !important;
    }

    .media-md\:bottom-n36p {
        bottom: -36% !important;
    }

    .media-md\:bottom-n37p {
        bottom: -37% !important;
    }

    .media-md\:bottom-n38p {
        bottom: -38% !important;
    }

    .media-md\:bottom-n39p {
        bottom: -39% !important;
    }

    .media-md\:bottom-n40p {
        bottom: -40% !important;
    }

    .media-md\:bottom-n41p {
        bottom: -41% !important;
    }

    .media-md\:bottom-n42p {
        bottom: -42% !important;
    }

    .media-md\:bottom-n43p {
        bottom: -43% !important;
    }

    .media-md\:bottom-n44p {
        bottom: -44% !important;
    }

    .media-md\:bottom-n45p {
        bottom: -45% !important;
    }

    .media-md\:bottom-n46p {
        bottom: -46% !important;
    }

    .media-md\:bottom-n47p {
        bottom: -47% !important;
    }

    .media-md\:bottom-n48p {
        bottom: -48% !important;
    }

    .media-md\:bottom-n49p {
        bottom: -49% !important;
    }

    .media-md\:bottom-n50p {
        bottom: -50% !important;
    }

    .media-md\:bottom-n51p {
        bottom: -51% !important;
    }

    .media-md\:bottom-n52p {
        bottom: -52% !important;
    }

    .media-md\:bottom-n53p {
        bottom: -53% !important;
    }

    .media-md\:bottom-n54p {
        bottom: -54% !important;
    }

    .media-md\:bottom-n55p {
        bottom: -55% !important;
    }

    .media-md\:bottom-n56p {
        bottom: -56% !important;
    }

    .media-md\:bottom-n57p {
        bottom: -57% !important;
    }

    .media-md\:bottom-n58p {
        bottom: -58% !important;
    }

    .media-md\:bottom-n59p {
        bottom: -59% !important;
    }

    .media-md\:bottom-n60p {
        bottom: -60% !important;
    }

    .media-md\:bottom-n61p {
        bottom: -61% !important;
    }

    .media-md\:bottom-n62p {
        bottom: -62% !important;
    }

    .media-md\:bottom-n63p {
        bottom: -63% !important;
    }

    .media-md\:bottom-n64p {
        bottom: -64% !important;
    }

    .media-md\:bottom-n65p {
        bottom: -65% !important;
    }

    .media-md\:bottom-n66p {
        bottom: -66% !important;
    }

    .media-md\:bottom-n67p {
        bottom: -67% !important;
    }

    .media-md\:bottom-n68p {
        bottom: -68% !important;
    }

    .media-md\:bottom-n69p {
        bottom: -69% !important;
    }

    .media-md\:bottom-n70p {
        bottom: -70% !important;
    }

    .media-md\:bottom-n71p {
        bottom: -71% !important;
    }

    .media-md\:bottom-n72p {
        bottom: -72% !important;
    }

    .media-md\:bottom-n73p {
        bottom: -73% !important;
    }

    .media-md\:bottom-n74p {
        bottom: -74% !important;
    }

    .media-md\:bottom-n75p {
        bottom: -75% !important;
    }

    .media-md\:bottom-n76p {
        bottom: -76% !important;
    }

    .media-md\:bottom-n77p {
        bottom: -77% !important;
    }

    .media-md\:bottom-n78p {
        bottom: -78% !important;
    }

    .media-md\:bottom-n79p {
        bottom: -79% !important;
    }

    .media-md\:bottom-n80p {
        bottom: -80% !important;
    }

    .media-md\:bottom-n81p {
        bottom: -81% !important;
    }

    .media-md\:bottom-n82p {
        bottom: -82% !important;
    }

    .media-md\:bottom-n83p {
        bottom: -83% !important;
    }

    .media-md\:bottom-n84p {
        bottom: -84% !important;
    }

    .media-md\:bottom-n85p {
        bottom: -85% !important;
    }

    .media-md\:bottom-n86p {
        bottom: -86% !important;
    }

    .media-md\:bottom-n87p {
        bottom: -87% !important;
    }

    .media-md\:bottom-n88p {
        bottom: -88% !important;
    }

    .media-md\:bottom-n89p {
        bottom: -89% !important;
    }

    .media-md\:bottom-n90p {
        bottom: -90% !important;
    }

    .media-md\:bottom-n91p {
        bottom: -91% !important;
    }

    .media-md\:bottom-n92p {
        bottom: -92% !important;
    }

    .media-md\:bottom-n93p {
        bottom: -93% !important;
    }

    .media-md\:bottom-n94p {
        bottom: -94% !important;
    }

    .media-md\:bottom-n95p {
        bottom: -95% !important;
    }

    .media-md\:bottom-n96p {
        bottom: -96% !important;
    }

    .media-md\:bottom-n97p {
        bottom: -97% !important;
    }

    .media-md\:bottom-n98p {
        bottom: -98% !important;
    }

    .media-md\:bottom-n99p {
        bottom: -99% !important;
    }

    .media-md\:bottom-n100p {
        bottom: -100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:bottom-n1p {
        bottom: -1% !important;
    }

    .media-lg\:bottom-n2p {
        bottom: -2% !important;
    }

    .media-lg\:bottom-n3p {
        bottom: -3% !important;
    }

    .media-lg\:bottom-n4p {
        bottom: -4% !important;
    }

    .media-lg\:bottom-n5p {
        bottom: -5% !important;
    }

    .media-lg\:bottom-n6p {
        bottom: -6% !important;
    }

    .media-lg\:bottom-n7p {
        bottom: -7% !important;
    }

    .media-lg\:bottom-n8p {
        bottom: -8% !important;
    }

    .media-lg\:bottom-n9p {
        bottom: -9% !important;
    }

    .media-lg\:bottom-n10p {
        bottom: -10% !important;
    }

    .media-lg\:bottom-n11p {
        bottom: -11% !important;
    }

    .media-lg\:bottom-n12p {
        bottom: -12% !important;
    }

    .media-lg\:bottom-n13p {
        bottom: -13% !important;
    }

    .media-lg\:bottom-n14p {
        bottom: -14% !important;
    }

    .media-lg\:bottom-n15p {
        bottom: -15% !important;
    }

    .media-lg\:bottom-n16p {
        bottom: -16% !important;
    }

    .media-lg\:bottom-n17p {
        bottom: -17% !important;
    }

    .media-lg\:bottom-n18p {
        bottom: -18% !important;
    }

    .media-lg\:bottom-n19p {
        bottom: -19% !important;
    }

    .media-lg\:bottom-n20p {
        bottom: -20% !important;
    }

    .media-lg\:bottom-n21p {
        bottom: -21% !important;
    }

    .media-lg\:bottom-n22p {
        bottom: -22% !important;
    }

    .media-lg\:bottom-n23p {
        bottom: -23% !important;
    }

    .media-lg\:bottom-n24p {
        bottom: -24% !important;
    }

    .media-lg\:bottom-n25p {
        bottom: -25% !important;
    }

    .media-lg\:bottom-n26p {
        bottom: -26% !important;
    }

    .media-lg\:bottom-n27p {
        bottom: -27% !important;
    }

    .media-lg\:bottom-n28p {
        bottom: -28% !important;
    }

    .media-lg\:bottom-n29p {
        bottom: -29% !important;
    }

    .media-lg\:bottom-n30p {
        bottom: -30% !important;
    }

    .media-lg\:bottom-n31p {
        bottom: -31% !important;
    }

    .media-lg\:bottom-n32p {
        bottom: -32% !important;
    }

    .media-lg\:bottom-n33p {
        bottom: -33% !important;
    }

    .media-lg\:bottom-n34p {
        bottom: -34% !important;
    }

    .media-lg\:bottom-n35p {
        bottom: -35% !important;
    }

    .media-lg\:bottom-n36p {
        bottom: -36% !important;
    }

    .media-lg\:bottom-n37p {
        bottom: -37% !important;
    }

    .media-lg\:bottom-n38p {
        bottom: -38% !important;
    }

    .media-lg\:bottom-n39p {
        bottom: -39% !important;
    }

    .media-lg\:bottom-n40p {
        bottom: -40% !important;
    }

    .media-lg\:bottom-n41p {
        bottom: -41% !important;
    }

    .media-lg\:bottom-n42p {
        bottom: -42% !important;
    }

    .media-lg\:bottom-n43p {
        bottom: -43% !important;
    }

    .media-lg\:bottom-n44p {
        bottom: -44% !important;
    }

    .media-lg\:bottom-n45p {
        bottom: -45% !important;
    }

    .media-lg\:bottom-n46p {
        bottom: -46% !important;
    }

    .media-lg\:bottom-n47p {
        bottom: -47% !important;
    }

    .media-lg\:bottom-n48p {
        bottom: -48% !important;
    }

    .media-lg\:bottom-n49p {
        bottom: -49% !important;
    }

    .media-lg\:bottom-n50p {
        bottom: -50% !important;
    }

    .media-lg\:bottom-n51p {
        bottom: -51% !important;
    }

    .media-lg\:bottom-n52p {
        bottom: -52% !important;
    }

    .media-lg\:bottom-n53p {
        bottom: -53% !important;
    }

    .media-lg\:bottom-n54p {
        bottom: -54% !important;
    }

    .media-lg\:bottom-n55p {
        bottom: -55% !important;
    }

    .media-lg\:bottom-n56p {
        bottom: -56% !important;
    }

    .media-lg\:bottom-n57p {
        bottom: -57% !important;
    }

    .media-lg\:bottom-n58p {
        bottom: -58% !important;
    }

    .media-lg\:bottom-n59p {
        bottom: -59% !important;
    }

    .media-lg\:bottom-n60p {
        bottom: -60% !important;
    }

    .media-lg\:bottom-n61p {
        bottom: -61% !important;
    }

    .media-lg\:bottom-n62p {
        bottom: -62% !important;
    }

    .media-lg\:bottom-n63p {
        bottom: -63% !important;
    }

    .media-lg\:bottom-n64p {
        bottom: -64% !important;
    }

    .media-lg\:bottom-n65p {
        bottom: -65% !important;
    }

    .media-lg\:bottom-n66p {
        bottom: -66% !important;
    }

    .media-lg\:bottom-n67p {
        bottom: -67% !important;
    }

    .media-lg\:bottom-n68p {
        bottom: -68% !important;
    }

    .media-lg\:bottom-n69p {
        bottom: -69% !important;
    }

    .media-lg\:bottom-n70p {
        bottom: -70% !important;
    }

    .media-lg\:bottom-n71p {
        bottom: -71% !important;
    }

    .media-lg\:bottom-n72p {
        bottom: -72% !important;
    }

    .media-lg\:bottom-n73p {
        bottom: -73% !important;
    }

    .media-lg\:bottom-n74p {
        bottom: -74% !important;
    }

    .media-lg\:bottom-n75p {
        bottom: -75% !important;
    }

    .media-lg\:bottom-n76p {
        bottom: -76% !important;
    }

    .media-lg\:bottom-n77p {
        bottom: -77% !important;
    }

    .media-lg\:bottom-n78p {
        bottom: -78% !important;
    }

    .media-lg\:bottom-n79p {
        bottom: -79% !important;
    }

    .media-lg\:bottom-n80p {
        bottom: -80% !important;
    }

    .media-lg\:bottom-n81p {
        bottom: -81% !important;
    }

    .media-lg\:bottom-n82p {
        bottom: -82% !important;
    }

    .media-lg\:bottom-n83p {
        bottom: -83% !important;
    }

    .media-lg\:bottom-n84p {
        bottom: -84% !important;
    }

    .media-lg\:bottom-n85p {
        bottom: -85% !important;
    }

    .media-lg\:bottom-n86p {
        bottom: -86% !important;
    }

    .media-lg\:bottom-n87p {
        bottom: -87% !important;
    }

    .media-lg\:bottom-n88p {
        bottom: -88% !important;
    }

    .media-lg\:bottom-n89p {
        bottom: -89% !important;
    }

    .media-lg\:bottom-n90p {
        bottom: -90% !important;
    }

    .media-lg\:bottom-n91p {
        bottom: -91% !important;
    }

    .media-lg\:bottom-n92p {
        bottom: -92% !important;
    }

    .media-lg\:bottom-n93p {
        bottom: -93% !important;
    }

    .media-lg\:bottom-n94p {
        bottom: -94% !important;
    }

    .media-lg\:bottom-n95p {
        bottom: -95% !important;
    }

    .media-lg\:bottom-n96p {
        bottom: -96% !important;
    }

    .media-lg\:bottom-n97p {
        bottom: -97% !important;
    }

    .media-lg\:bottom-n98p {
        bottom: -98% !important;
    }

    .media-lg\:bottom-n99p {
        bottom: -99% !important;
    }

    .media-lg\:bottom-n100p {
        bottom: -100% !important;
    }
}