.bottom-1p {
    bottom: 1% !important;
}

.bottom-2p {
    bottom: 2% !important;
}

.bottom-3p {
    bottom: 3% !important;
}

.bottom-4p {
    bottom: 4% !important;
}

.bottom-5p {
    bottom: 5% !important;
}

.bottom-6p {
    bottom: 6% !important;
}

.bottom-7p {
    bottom: 7% !important;
}

.bottom-8p {
    bottom: 8% !important;
}

.bottom-9p {
    bottom: 9% !important;
}

.bottom-10p {
    bottom: 10% !important;
}

.bottom-11p {
    bottom: 11% !important;
}

.bottom-12p {
    bottom: 12% !important;
}

.bottom-13p {
    bottom: 13% !important;
}

.bottom-14p {
    bottom: 14% !important;
}

.bottom-15p {
    bottom: 15% !important;
}

.bottom-16p {
    bottom: 16% !important;
}

.bottom-17p {
    bottom: 17% !important;
}

.bottom-18p {
    bottom: 18% !important;
}

.bottom-19p {
    bottom: 19% !important;
}

.bottom-20p {
    bottom: 20% !important;
}

.bottom-21p {
    bottom: 21% !important;
}

.bottom-22p {
    bottom: 22% !important;
}

.bottom-23p {
    bottom: 23% !important;
}

.bottom-24p {
    bottom: 24% !important;
}

.bottom-25p {
    bottom: 25% !important;
}

.bottom-26p {
    bottom: 26% !important;
}

.bottom-27p {
    bottom: 27% !important;
}

.bottom-28p {
    bottom: 28% !important;
}

.bottom-29p {
    bottom: 29% !important;
}

.bottom-30p {
    bottom: 30% !important;
}

.bottom-31p {
    bottom: 31% !important;
}

.bottom-32p {
    bottom: 32% !important;
}

.bottom-33p {
    bottom: 33% !important;
}

.bottom-34p {
    bottom: 34% !important;
}

.bottom-35p {
    bottom: 35% !important;
}

.bottom-36p {
    bottom: 36% !important;
}

.bottom-37p {
    bottom: 37% !important;
}

.bottom-38p {
    bottom: 38% !important;
}

.bottom-39p {
    bottom: 39% !important;
}

.bottom-40p {
    bottom: 40% !important;
}

.bottom-41p {
    bottom: 41% !important;
}

.bottom-42p {
    bottom: 42% !important;
}

.bottom-43p {
    bottom: 43% !important;
}

.bottom-44p {
    bottom: 44% !important;
}

.bottom-45p {
    bottom: 45% !important;
}

.bottom-46p {
    bottom: 46% !important;
}

.bottom-47p {
    bottom: 47% !important;
}

.bottom-48p {
    bottom: 48% !important;
}

.bottom-49p {
    bottom: 49% !important;
}

.bottom-50p {
    bottom: 50% !important;
}

.bottom-51p {
    bottom: 51% !important;
}

.bottom-52p {
    bottom: 52% !important;
}

.bottom-53p {
    bottom: 53% !important;
}

.bottom-54p {
    bottom: 54% !important;
}

.bottom-55p {
    bottom: 55% !important;
}

.bottom-56p {
    bottom: 56% !important;
}

.bottom-57p {
    bottom: 57% !important;
}

.bottom-58p {
    bottom: 58% !important;
}

.bottom-59p {
    bottom: 59% !important;
}

.bottom-60p {
    bottom: 60% !important;
}

.bottom-61p {
    bottom: 61% !important;
}

.bottom-62p {
    bottom: 62% !important;
}

.bottom-63p {
    bottom: 63% !important;
}

.bottom-64p {
    bottom: 64% !important;
}

.bottom-65p {
    bottom: 65% !important;
}

.bottom-66p {
    bottom: 66% !important;
}

.bottom-67p {
    bottom: 67% !important;
}

.bottom-68p {
    bottom: 68% !important;
}

.bottom-69p {
    bottom: 69% !important;
}

.bottom-70p {
    bottom: 70% !important;
}

.bottom-71p {
    bottom: 71% !important;
}

.bottom-72p {
    bottom: 72% !important;
}

.bottom-73p {
    bottom: 73% !important;
}

.bottom-74p {
    bottom: 74% !important;
}

.bottom-75p {
    bottom: 75% !important;
}

.bottom-76p {
    bottom: 76% !important;
}

.bottom-77p {
    bottom: 77% !important;
}

.bottom-78p {
    bottom: 78% !important;
}

.bottom-79p {
    bottom: 79% !important;
}

.bottom-80p {
    bottom: 80% !important;
}

.bottom-81p {
    bottom: 81% !important;
}

.bottom-82p {
    bottom: 82% !important;
}

.bottom-83p {
    bottom: 83% !important;
}

.bottom-84p {
    bottom: 84% !important;
}

.bottom-85p {
    bottom: 85% !important;
}

.bottom-86p {
    bottom: 86% !important;
}

.bottom-87p {
    bottom: 87% !important;
}

.bottom-88p {
    bottom: 88% !important;
}

.bottom-89p {
    bottom: 89% !important;
}

.bottom-90p {
    bottom: 90% !important;
}

.bottom-91p {
    bottom: 91% !important;
}

.bottom-92p {
    bottom: 92% !important;
}

.bottom-93p {
    bottom: 93% !important;
}

.bottom-94p {
    bottom: 94% !important;
}

.bottom-95p {
    bottom: 95% !important;
}

.bottom-96p {
    bottom: 96% !important;
}

.bottom-97p {
    bottom: 97% !important;
}

.bottom-98p {
    bottom: 98% !important;
}

.bottom-99p {
    bottom: 99% !important;
}

.bottom-100p {
    bottom: 100% !important;
}

@media (max-width: 576px) {
    .media-xs\:bottom-1p {
        bottom: 1% !important;
    }

    .media-xs\:bottom-2p {
        bottom: 2% !important;
    }

    .media-xs\:bottom-3p {
        bottom: 3% !important;
    }

    .media-xs\:bottom-4p {
        bottom: 4% !important;
    }

    .media-xs\:bottom-5p {
        bottom: 5% !important;
    }

    .media-xs\:bottom-6p {
        bottom: 6% !important;
    }

    .media-xs\:bottom-7p {
        bottom: 7% !important;
    }

    .media-xs\:bottom-8p {
        bottom: 8% !important;
    }

    .media-xs\:bottom-9p {
        bottom: 9% !important;
    }

    .media-xs\:bottom-10p {
        bottom: 10% !important;
    }

    .media-xs\:bottom-11p {
        bottom: 11% !important;
    }

    .media-xs\:bottom-12p {
        bottom: 12% !important;
    }

    .media-xs\:bottom-13p {
        bottom: 13% !important;
    }

    .media-xs\:bottom-14p {
        bottom: 14% !important;
    }

    .media-xs\:bottom-15p {
        bottom: 15% !important;
    }

    .media-xs\:bottom-16p {
        bottom: 16% !important;
    }

    .media-xs\:bottom-17p {
        bottom: 17% !important;
    }

    .media-xs\:bottom-18p {
        bottom: 18% !important;
    }

    .media-xs\:bottom-19p {
        bottom: 19% !important;
    }

    .media-xs\:bottom-20p {
        bottom: 20% !important;
    }

    .media-xs\:bottom-21p {
        bottom: 21% !important;
    }

    .media-xs\:bottom-22p {
        bottom: 22% !important;
    }

    .media-xs\:bottom-23p {
        bottom: 23% !important;
    }

    .media-xs\:bottom-24p {
        bottom: 24% !important;
    }

    .media-xs\:bottom-25p {
        bottom: 25% !important;
    }

    .media-xs\:bottom-26p {
        bottom: 26% !important;
    }

    .media-xs\:bottom-27p {
        bottom: 27% !important;
    }

    .media-xs\:bottom-28p {
        bottom: 28% !important;
    }

    .media-xs\:bottom-29p {
        bottom: 29% !important;
    }

    .media-xs\:bottom-30p {
        bottom: 30% !important;
    }

    .media-xs\:bottom-31p {
        bottom: 31% !important;
    }

    .media-xs\:bottom-32p {
        bottom: 32% !important;
    }

    .media-xs\:bottom-33p {
        bottom: 33% !important;
    }

    .media-xs\:bottom-34p {
        bottom: 34% !important;
    }

    .media-xs\:bottom-35p {
        bottom: 35% !important;
    }

    .media-xs\:bottom-36p {
        bottom: 36% !important;
    }

    .media-xs\:bottom-37p {
        bottom: 37% !important;
    }

    .media-xs\:bottom-38p {
        bottom: 38% !important;
    }

    .media-xs\:bottom-39p {
        bottom: 39% !important;
    }

    .media-xs\:bottom-40p {
        bottom: 40% !important;
    }

    .media-xs\:bottom-41p {
        bottom: 41% !important;
    }

    .media-xs\:bottom-42p {
        bottom: 42% !important;
    }

    .media-xs\:bottom-43p {
        bottom: 43% !important;
    }

    .media-xs\:bottom-44p {
        bottom: 44% !important;
    }

    .media-xs\:bottom-45p {
        bottom: 45% !important;
    }

    .media-xs\:bottom-46p {
        bottom: 46% !important;
    }

    .media-xs\:bottom-47p {
        bottom: 47% !important;
    }

    .media-xs\:bottom-48p {
        bottom: 48% !important;
    }

    .media-xs\:bottom-49p {
        bottom: 49% !important;
    }

    .media-xs\:bottom-50p {
        bottom: 50% !important;
    }

    .media-xs\:bottom-51p {
        bottom: 51% !important;
    }

    .media-xs\:bottom-52p {
        bottom: 52% !important;
    }

    .media-xs\:bottom-53p {
        bottom: 53% !important;
    }

    .media-xs\:bottom-54p {
        bottom: 54% !important;
    }

    .media-xs\:bottom-55p {
        bottom: 55% !important;
    }

    .media-xs\:bottom-56p {
        bottom: 56% !important;
    }

    .media-xs\:bottom-57p {
        bottom: 57% !important;
    }

    .media-xs\:bottom-58p {
        bottom: 58% !important;
    }

    .media-xs\:bottom-59p {
        bottom: 59% !important;
    }

    .media-xs\:bottom-60p {
        bottom: 60% !important;
    }

    .media-xs\:bottom-61p {
        bottom: 61% !important;
    }

    .media-xs\:bottom-62p {
        bottom: 62% !important;
    }

    .media-xs\:bottom-63p {
        bottom: 63% !important;
    }

    .media-xs\:bottom-64p {
        bottom: 64% !important;
    }

    .media-xs\:bottom-65p {
        bottom: 65% !important;
    }

    .media-xs\:bottom-66p {
        bottom: 66% !important;
    }

    .media-xs\:bottom-67p {
        bottom: 67% !important;
    }

    .media-xs\:bottom-68p {
        bottom: 68% !important;
    }

    .media-xs\:bottom-69p {
        bottom: 69% !important;
    }

    .media-xs\:bottom-70p {
        bottom: 70% !important;
    }

    .media-xs\:bottom-71p {
        bottom: 71% !important;
    }

    .media-xs\:bottom-72p {
        bottom: 72% !important;
    }

    .media-xs\:bottom-73p {
        bottom: 73% !important;
    }

    .media-xs\:bottom-74p {
        bottom: 74% !important;
    }

    .media-xs\:bottom-75p {
        bottom: 75% !important;
    }

    .media-xs\:bottom-76p {
        bottom: 76% !important;
    }

    .media-xs\:bottom-77p {
        bottom: 77% !important;
    }

    .media-xs\:bottom-78p {
        bottom: 78% !important;
    }

    .media-xs\:bottom-79p {
        bottom: 79% !important;
    }

    .media-xs\:bottom-80p {
        bottom: 80% !important;
    }

    .media-xs\:bottom-81p {
        bottom: 81% !important;
    }

    .media-xs\:bottom-82p {
        bottom: 82% !important;
    }

    .media-xs\:bottom-83p {
        bottom: 83% !important;
    }

    .media-xs\:bottom-84p {
        bottom: 84% !important;
    }

    .media-xs\:bottom-85p {
        bottom: 85% !important;
    }

    .media-xs\:bottom-86p {
        bottom: 86% !important;
    }

    .media-xs\:bottom-87p {
        bottom: 87% !important;
    }

    .media-xs\:bottom-88p {
        bottom: 88% !important;
    }

    .media-xs\:bottom-89p {
        bottom: 89% !important;
    }

    .media-xs\:bottom-90p {
        bottom: 90% !important;
    }

    .media-xs\:bottom-91p {
        bottom: 91% !important;
    }

    .media-xs\:bottom-92p {
        bottom: 92% !important;
    }

    .media-xs\:bottom-93p {
        bottom: 93% !important;
    }

    .media-xs\:bottom-94p {
        bottom: 94% !important;
    }

    .media-xs\:bottom-95p {
        bottom: 95% !important;
    }

    .media-xs\:bottom-96p {
        bottom: 96% !important;
    }

    .media-xs\:bottom-97p {
        bottom: 97% !important;
    }

    .media-xs\:bottom-98p {
        bottom: 98% !important;
    }

    .media-xs\:bottom-99p {
        bottom: 99% !important;
    }

    .media-xs\:bottom-100p {
        bottom: 100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:bottom-1p {
        bottom: 1% !important;
    }

    .media-sm\:bottom-2p {
        bottom: 2% !important;
    }

    .media-sm\:bottom-3p {
        bottom: 3% !important;
    }

    .media-sm\:bottom-4p {
        bottom: 4% !important;
    }

    .media-sm\:bottom-5p {
        bottom: 5% !important;
    }

    .media-sm\:bottom-6p {
        bottom: 6% !important;
    }

    .media-sm\:bottom-7p {
        bottom: 7% !important;
    }

    .media-sm\:bottom-8p {
        bottom: 8% !important;
    }

    .media-sm\:bottom-9p {
        bottom: 9% !important;
    }

    .media-sm\:bottom-10p {
        bottom: 10% !important;
    }

    .media-sm\:bottom-11p {
        bottom: 11% !important;
    }

    .media-sm\:bottom-12p {
        bottom: 12% !important;
    }

    .media-sm\:bottom-13p {
        bottom: 13% !important;
    }

    .media-sm\:bottom-14p {
        bottom: 14% !important;
    }

    .media-sm\:bottom-15p {
        bottom: 15% !important;
    }

    .media-sm\:bottom-16p {
        bottom: 16% !important;
    }

    .media-sm\:bottom-17p {
        bottom: 17% !important;
    }

    .media-sm\:bottom-18p {
        bottom: 18% !important;
    }

    .media-sm\:bottom-19p {
        bottom: 19% !important;
    }

    .media-sm\:bottom-20p {
        bottom: 20% !important;
    }

    .media-sm\:bottom-21p {
        bottom: 21% !important;
    }

    .media-sm\:bottom-22p {
        bottom: 22% !important;
    }

    .media-sm\:bottom-23p {
        bottom: 23% !important;
    }

    .media-sm\:bottom-24p {
        bottom: 24% !important;
    }

    .media-sm\:bottom-25p {
        bottom: 25% !important;
    }

    .media-sm\:bottom-26p {
        bottom: 26% !important;
    }

    .media-sm\:bottom-27p {
        bottom: 27% !important;
    }

    .media-sm\:bottom-28p {
        bottom: 28% !important;
    }

    .media-sm\:bottom-29p {
        bottom: 29% !important;
    }

    .media-sm\:bottom-30p {
        bottom: 30% !important;
    }

    .media-sm\:bottom-31p {
        bottom: 31% !important;
    }

    .media-sm\:bottom-32p {
        bottom: 32% !important;
    }

    .media-sm\:bottom-33p {
        bottom: 33% !important;
    }

    .media-sm\:bottom-34p {
        bottom: 34% !important;
    }

    .media-sm\:bottom-35p {
        bottom: 35% !important;
    }

    .media-sm\:bottom-36p {
        bottom: 36% !important;
    }

    .media-sm\:bottom-37p {
        bottom: 37% !important;
    }

    .media-sm\:bottom-38p {
        bottom: 38% !important;
    }

    .media-sm\:bottom-39p {
        bottom: 39% !important;
    }

    .media-sm\:bottom-40p {
        bottom: 40% !important;
    }

    .media-sm\:bottom-41p {
        bottom: 41% !important;
    }

    .media-sm\:bottom-42p {
        bottom: 42% !important;
    }

    .media-sm\:bottom-43p {
        bottom: 43% !important;
    }

    .media-sm\:bottom-44p {
        bottom: 44% !important;
    }

    .media-sm\:bottom-45p {
        bottom: 45% !important;
    }

    .media-sm\:bottom-46p {
        bottom: 46% !important;
    }

    .media-sm\:bottom-47p {
        bottom: 47% !important;
    }

    .media-sm\:bottom-48p {
        bottom: 48% !important;
    }

    .media-sm\:bottom-49p {
        bottom: 49% !important;
    }

    .media-sm\:bottom-50p {
        bottom: 50% !important;
    }

    .media-sm\:bottom-51p {
        bottom: 51% !important;
    }

    .media-sm\:bottom-52p {
        bottom: 52% !important;
    }

    .media-sm\:bottom-53p {
        bottom: 53% !important;
    }

    .media-sm\:bottom-54p {
        bottom: 54% !important;
    }

    .media-sm\:bottom-55p {
        bottom: 55% !important;
    }

    .media-sm\:bottom-56p {
        bottom: 56% !important;
    }

    .media-sm\:bottom-57p {
        bottom: 57% !important;
    }

    .media-sm\:bottom-58p {
        bottom: 58% !important;
    }

    .media-sm\:bottom-59p {
        bottom: 59% !important;
    }

    .media-sm\:bottom-60p {
        bottom: 60% !important;
    }

    .media-sm\:bottom-61p {
        bottom: 61% !important;
    }

    .media-sm\:bottom-62p {
        bottom: 62% !important;
    }

    .media-sm\:bottom-63p {
        bottom: 63% !important;
    }

    .media-sm\:bottom-64p {
        bottom: 64% !important;
    }

    .media-sm\:bottom-65p {
        bottom: 65% !important;
    }

    .media-sm\:bottom-66p {
        bottom: 66% !important;
    }

    .media-sm\:bottom-67p {
        bottom: 67% !important;
    }

    .media-sm\:bottom-68p {
        bottom: 68% !important;
    }

    .media-sm\:bottom-69p {
        bottom: 69% !important;
    }

    .media-sm\:bottom-70p {
        bottom: 70% !important;
    }

    .media-sm\:bottom-71p {
        bottom: 71% !important;
    }

    .media-sm\:bottom-72p {
        bottom: 72% !important;
    }

    .media-sm\:bottom-73p {
        bottom: 73% !important;
    }

    .media-sm\:bottom-74p {
        bottom: 74% !important;
    }

    .media-sm\:bottom-75p {
        bottom: 75% !important;
    }

    .media-sm\:bottom-76p {
        bottom: 76% !important;
    }

    .media-sm\:bottom-77p {
        bottom: 77% !important;
    }

    .media-sm\:bottom-78p {
        bottom: 78% !important;
    }

    .media-sm\:bottom-79p {
        bottom: 79% !important;
    }

    .media-sm\:bottom-80p {
        bottom: 80% !important;
    }

    .media-sm\:bottom-81p {
        bottom: 81% !important;
    }

    .media-sm\:bottom-82p {
        bottom: 82% !important;
    }

    .media-sm\:bottom-83p {
        bottom: 83% !important;
    }

    .media-sm\:bottom-84p {
        bottom: 84% !important;
    }

    .media-sm\:bottom-85p {
        bottom: 85% !important;
    }

    .media-sm\:bottom-86p {
        bottom: 86% !important;
    }

    .media-sm\:bottom-87p {
        bottom: 87% !important;
    }

    .media-sm\:bottom-88p {
        bottom: 88% !important;
    }

    .media-sm\:bottom-89p {
        bottom: 89% !important;
    }

    .media-sm\:bottom-90p {
        bottom: 90% !important;
    }

    .media-sm\:bottom-91p {
        bottom: 91% !important;
    }

    .media-sm\:bottom-92p {
        bottom: 92% !important;
    }

    .media-sm\:bottom-93p {
        bottom: 93% !important;
    }

    .media-sm\:bottom-94p {
        bottom: 94% !important;
    }

    .media-sm\:bottom-95p {
        bottom: 95% !important;
    }

    .media-sm\:bottom-96p {
        bottom: 96% !important;
    }

    .media-sm\:bottom-97p {
        bottom: 97% !important;
    }

    .media-sm\:bottom-98p {
        bottom: 98% !important;
    }

    .media-sm\:bottom-99p {
        bottom: 99% !important;
    }

    .media-sm\:bottom-100p {
        bottom: 100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:bottom-1p {
        bottom: 1% !important;
    }

    .media-md\:bottom-2p {
        bottom: 2% !important;
    }

    .media-md\:bottom-3p {
        bottom: 3% !important;
    }

    .media-md\:bottom-4p {
        bottom: 4% !important;
    }

    .media-md\:bottom-5p {
        bottom: 5% !important;
    }

    .media-md\:bottom-6p {
        bottom: 6% !important;
    }

    .media-md\:bottom-7p {
        bottom: 7% !important;
    }

    .media-md\:bottom-8p {
        bottom: 8% !important;
    }

    .media-md\:bottom-9p {
        bottom: 9% !important;
    }

    .media-md\:bottom-10p {
        bottom: 10% !important;
    }

    .media-md\:bottom-11p {
        bottom: 11% !important;
    }

    .media-md\:bottom-12p {
        bottom: 12% !important;
    }

    .media-md\:bottom-13p {
        bottom: 13% !important;
    }

    .media-md\:bottom-14p {
        bottom: 14% !important;
    }

    .media-md\:bottom-15p {
        bottom: 15% !important;
    }

    .media-md\:bottom-16p {
        bottom: 16% !important;
    }

    .media-md\:bottom-17p {
        bottom: 17% !important;
    }

    .media-md\:bottom-18p {
        bottom: 18% !important;
    }

    .media-md\:bottom-19p {
        bottom: 19% !important;
    }

    .media-md\:bottom-20p {
        bottom: 20% !important;
    }

    .media-md\:bottom-21p {
        bottom: 21% !important;
    }

    .media-md\:bottom-22p {
        bottom: 22% !important;
    }

    .media-md\:bottom-23p {
        bottom: 23% !important;
    }

    .media-md\:bottom-24p {
        bottom: 24% !important;
    }

    .media-md\:bottom-25p {
        bottom: 25% !important;
    }

    .media-md\:bottom-26p {
        bottom: 26% !important;
    }

    .media-md\:bottom-27p {
        bottom: 27% !important;
    }

    .media-md\:bottom-28p {
        bottom: 28% !important;
    }

    .media-md\:bottom-29p {
        bottom: 29% !important;
    }

    .media-md\:bottom-30p {
        bottom: 30% !important;
    }

    .media-md\:bottom-31p {
        bottom: 31% !important;
    }

    .media-md\:bottom-32p {
        bottom: 32% !important;
    }

    .media-md\:bottom-33p {
        bottom: 33% !important;
    }

    .media-md\:bottom-34p {
        bottom: 34% !important;
    }

    .media-md\:bottom-35p {
        bottom: 35% !important;
    }

    .media-md\:bottom-36p {
        bottom: 36% !important;
    }

    .media-md\:bottom-37p {
        bottom: 37% !important;
    }

    .media-md\:bottom-38p {
        bottom: 38% !important;
    }

    .media-md\:bottom-39p {
        bottom: 39% !important;
    }

    .media-md\:bottom-40p {
        bottom: 40% !important;
    }

    .media-md\:bottom-41p {
        bottom: 41% !important;
    }

    .media-md\:bottom-42p {
        bottom: 42% !important;
    }

    .media-md\:bottom-43p {
        bottom: 43% !important;
    }

    .media-md\:bottom-44p {
        bottom: 44% !important;
    }

    .media-md\:bottom-45p {
        bottom: 45% !important;
    }

    .media-md\:bottom-46p {
        bottom: 46% !important;
    }

    .media-md\:bottom-47p {
        bottom: 47% !important;
    }

    .media-md\:bottom-48p {
        bottom: 48% !important;
    }

    .media-md\:bottom-49p {
        bottom: 49% !important;
    }

    .media-md\:bottom-50p {
        bottom: 50% !important;
    }

    .media-md\:bottom-51p {
        bottom: 51% !important;
    }

    .media-md\:bottom-52p {
        bottom: 52% !important;
    }

    .media-md\:bottom-53p {
        bottom: 53% !important;
    }

    .media-md\:bottom-54p {
        bottom: 54% !important;
    }

    .media-md\:bottom-55p {
        bottom: 55% !important;
    }

    .media-md\:bottom-56p {
        bottom: 56% !important;
    }

    .media-md\:bottom-57p {
        bottom: 57% !important;
    }

    .media-md\:bottom-58p {
        bottom: 58% !important;
    }

    .media-md\:bottom-59p {
        bottom: 59% !important;
    }

    .media-md\:bottom-60p {
        bottom: 60% !important;
    }

    .media-md\:bottom-61p {
        bottom: 61% !important;
    }

    .media-md\:bottom-62p {
        bottom: 62% !important;
    }

    .media-md\:bottom-63p {
        bottom: 63% !important;
    }

    .media-md\:bottom-64p {
        bottom: 64% !important;
    }

    .media-md\:bottom-65p {
        bottom: 65% !important;
    }

    .media-md\:bottom-66p {
        bottom: 66% !important;
    }

    .media-md\:bottom-67p {
        bottom: 67% !important;
    }

    .media-md\:bottom-68p {
        bottom: 68% !important;
    }

    .media-md\:bottom-69p {
        bottom: 69% !important;
    }

    .media-md\:bottom-70p {
        bottom: 70% !important;
    }

    .media-md\:bottom-71p {
        bottom: 71% !important;
    }

    .media-md\:bottom-72p {
        bottom: 72% !important;
    }

    .media-md\:bottom-73p {
        bottom: 73% !important;
    }

    .media-md\:bottom-74p {
        bottom: 74% !important;
    }

    .media-md\:bottom-75p {
        bottom: 75% !important;
    }

    .media-md\:bottom-76p {
        bottom: 76% !important;
    }

    .media-md\:bottom-77p {
        bottom: 77% !important;
    }

    .media-md\:bottom-78p {
        bottom: 78% !important;
    }

    .media-md\:bottom-79p {
        bottom: 79% !important;
    }

    .media-md\:bottom-80p {
        bottom: 80% !important;
    }

    .media-md\:bottom-81p {
        bottom: 81% !important;
    }

    .media-md\:bottom-82p {
        bottom: 82% !important;
    }

    .media-md\:bottom-83p {
        bottom: 83% !important;
    }

    .media-md\:bottom-84p {
        bottom: 84% !important;
    }

    .media-md\:bottom-85p {
        bottom: 85% !important;
    }

    .media-md\:bottom-86p {
        bottom: 86% !important;
    }

    .media-md\:bottom-87p {
        bottom: 87% !important;
    }

    .media-md\:bottom-88p {
        bottom: 88% !important;
    }

    .media-md\:bottom-89p {
        bottom: 89% !important;
    }

    .media-md\:bottom-90p {
        bottom: 90% !important;
    }

    .media-md\:bottom-91p {
        bottom: 91% !important;
    }

    .media-md\:bottom-92p {
        bottom: 92% !important;
    }

    .media-md\:bottom-93p {
        bottom: 93% !important;
    }

    .media-md\:bottom-94p {
        bottom: 94% !important;
    }

    .media-md\:bottom-95p {
        bottom: 95% !important;
    }

    .media-md\:bottom-96p {
        bottom: 96% !important;
    }

    .media-md\:bottom-97p {
        bottom: 97% !important;
    }

    .media-md\:bottom-98p {
        bottom: 98% !important;
    }

    .media-md\:bottom-99p {
        bottom: 99% !important;
    }

    .media-md\:bottom-100p {
        bottom: 100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:bottom-1p {
        bottom: 1% !important;
    }

    .media-lg\:bottom-2p {
        bottom: 2% !important;
    }

    .media-lg\:bottom-3p {
        bottom: 3% !important;
    }

    .media-lg\:bottom-4p {
        bottom: 4% !important;
    }

    .media-lg\:bottom-5p {
        bottom: 5% !important;
    }

    .media-lg\:bottom-6p {
        bottom: 6% !important;
    }

    .media-lg\:bottom-7p {
        bottom: 7% !important;
    }

    .media-lg\:bottom-8p {
        bottom: 8% !important;
    }

    .media-lg\:bottom-9p {
        bottom: 9% !important;
    }

    .media-lg\:bottom-10p {
        bottom: 10% !important;
    }

    .media-lg\:bottom-11p {
        bottom: 11% !important;
    }

    .media-lg\:bottom-12p {
        bottom: 12% !important;
    }

    .media-lg\:bottom-13p {
        bottom: 13% !important;
    }

    .media-lg\:bottom-14p {
        bottom: 14% !important;
    }

    .media-lg\:bottom-15p {
        bottom: 15% !important;
    }

    .media-lg\:bottom-16p {
        bottom: 16% !important;
    }

    .media-lg\:bottom-17p {
        bottom: 17% !important;
    }

    .media-lg\:bottom-18p {
        bottom: 18% !important;
    }

    .media-lg\:bottom-19p {
        bottom: 19% !important;
    }

    .media-lg\:bottom-20p {
        bottom: 20% !important;
    }

    .media-lg\:bottom-21p {
        bottom: 21% !important;
    }

    .media-lg\:bottom-22p {
        bottom: 22% !important;
    }

    .media-lg\:bottom-23p {
        bottom: 23% !important;
    }

    .media-lg\:bottom-24p {
        bottom: 24% !important;
    }

    .media-lg\:bottom-25p {
        bottom: 25% !important;
    }

    .media-lg\:bottom-26p {
        bottom: 26% !important;
    }

    .media-lg\:bottom-27p {
        bottom: 27% !important;
    }

    .media-lg\:bottom-28p {
        bottom: 28% !important;
    }

    .media-lg\:bottom-29p {
        bottom: 29% !important;
    }

    .media-lg\:bottom-30p {
        bottom: 30% !important;
    }

    .media-lg\:bottom-31p {
        bottom: 31% !important;
    }

    .media-lg\:bottom-32p {
        bottom: 32% !important;
    }

    .media-lg\:bottom-33p {
        bottom: 33% !important;
    }

    .media-lg\:bottom-34p {
        bottom: 34% !important;
    }

    .media-lg\:bottom-35p {
        bottom: 35% !important;
    }

    .media-lg\:bottom-36p {
        bottom: 36% !important;
    }

    .media-lg\:bottom-37p {
        bottom: 37% !important;
    }

    .media-lg\:bottom-38p {
        bottom: 38% !important;
    }

    .media-lg\:bottom-39p {
        bottom: 39% !important;
    }

    .media-lg\:bottom-40p {
        bottom: 40% !important;
    }

    .media-lg\:bottom-41p {
        bottom: 41% !important;
    }

    .media-lg\:bottom-42p {
        bottom: 42% !important;
    }

    .media-lg\:bottom-43p {
        bottom: 43% !important;
    }

    .media-lg\:bottom-44p {
        bottom: 44% !important;
    }

    .media-lg\:bottom-45p {
        bottom: 45% !important;
    }

    .media-lg\:bottom-46p {
        bottom: 46% !important;
    }

    .media-lg\:bottom-47p {
        bottom: 47% !important;
    }

    .media-lg\:bottom-48p {
        bottom: 48% !important;
    }

    .media-lg\:bottom-49p {
        bottom: 49% !important;
    }

    .media-lg\:bottom-50p {
        bottom: 50% !important;
    }

    .media-lg\:bottom-51p {
        bottom: 51% !important;
    }

    .media-lg\:bottom-52p {
        bottom: 52% !important;
    }

    .media-lg\:bottom-53p {
        bottom: 53% !important;
    }

    .media-lg\:bottom-54p {
        bottom: 54% !important;
    }

    .media-lg\:bottom-55p {
        bottom: 55% !important;
    }

    .media-lg\:bottom-56p {
        bottom: 56% !important;
    }

    .media-lg\:bottom-57p {
        bottom: 57% !important;
    }

    .media-lg\:bottom-58p {
        bottom: 58% !important;
    }

    .media-lg\:bottom-59p {
        bottom: 59% !important;
    }

    .media-lg\:bottom-60p {
        bottom: 60% !important;
    }

    .media-lg\:bottom-61p {
        bottom: 61% !important;
    }

    .media-lg\:bottom-62p {
        bottom: 62% !important;
    }

    .media-lg\:bottom-63p {
        bottom: 63% !important;
    }

    .media-lg\:bottom-64p {
        bottom: 64% !important;
    }

    .media-lg\:bottom-65p {
        bottom: 65% !important;
    }

    .media-lg\:bottom-66p {
        bottom: 66% !important;
    }

    .media-lg\:bottom-67p {
        bottom: 67% !important;
    }

    .media-lg\:bottom-68p {
        bottom: 68% !important;
    }

    .media-lg\:bottom-69p {
        bottom: 69% !important;
    }

    .media-lg\:bottom-70p {
        bottom: 70% !important;
    }

    .media-lg\:bottom-71p {
        bottom: 71% !important;
    }

    .media-lg\:bottom-72p {
        bottom: 72% !important;
    }

    .media-lg\:bottom-73p {
        bottom: 73% !important;
    }

    .media-lg\:bottom-74p {
        bottom: 74% !important;
    }

    .media-lg\:bottom-75p {
        bottom: 75% !important;
    }

    .media-lg\:bottom-76p {
        bottom: 76% !important;
    }

    .media-lg\:bottom-77p {
        bottom: 77% !important;
    }

    .media-lg\:bottom-78p {
        bottom: 78% !important;
    }

    .media-lg\:bottom-79p {
        bottom: 79% !important;
    }

    .media-lg\:bottom-80p {
        bottom: 80% !important;
    }

    .media-lg\:bottom-81p {
        bottom: 81% !important;
    }

    .media-lg\:bottom-82p {
        bottom: 82% !important;
    }

    .media-lg\:bottom-83p {
        bottom: 83% !important;
    }

    .media-lg\:bottom-84p {
        bottom: 84% !important;
    }

    .media-lg\:bottom-85p {
        bottom: 85% !important;
    }

    .media-lg\:bottom-86p {
        bottom: 86% !important;
    }

    .media-lg\:bottom-87p {
        bottom: 87% !important;
    }

    .media-lg\:bottom-88p {
        bottom: 88% !important;
    }

    .media-lg\:bottom-89p {
        bottom: 89% !important;
    }

    .media-lg\:bottom-90p {
        bottom: 90% !important;
    }

    .media-lg\:bottom-91p {
        bottom: 91% !important;
    }

    .media-lg\:bottom-92p {
        bottom: 92% !important;
    }

    .media-lg\:bottom-93p {
        bottom: 93% !important;
    }

    .media-lg\:bottom-94p {
        bottom: 94% !important;
    }

    .media-lg\:bottom-95p {
        bottom: 95% !important;
    }

    .media-lg\:bottom-96p {
        bottom: 96% !important;
    }

    .media-lg\:bottom-97p {
        bottom: 97% !important;
    }

    .media-lg\:bottom-98p {
        bottom: 98% !important;
    }

    .media-lg\:bottom-99p {
        bottom: 99% !important;
    }

    .media-lg\:bottom-100p {
        bottom: 100% !important;
    }
}