.bottom-0 {
    bottom: 0 !important;
}

.bottom-auto {
    bottom: auto !important;
}

.bottom-initial {
    bottom: initial !important;
}

.bottom-inherit {
    bottom: inherit !important;
}

.bottom-unset {
    bottom: unset !important;
}

.bottom-revert {
    bottom: revert !important;
}

@media (max-width: 576px) {
    .media-xs\:bottom-0 {
        bottom: 0 !important;
    }

    .media-xs\:bottom-auto {
        bottom: auto !important;
    }

    .media-xs\:bottom-initial {
        bottom: initial !important;
    }

    .media-xs\:bottom-inherit {
        bottom: inherit !important;
    }

    .media-xs\:bottom-unset {
        bottom: unset !important;
    }

    .media-xs\:bottom-revert {
        bottom: revert !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:bottom-0 {
        bottom: 0 !important;
    }

    .media-sm\:bottom-auto {
        bottom: auto !important;
    }

    .media-sm\:bottom-initial {
        bottom: initial !important;
    }

    .media-sm\:bottom-inherit {
        bottom: inherit !important;
    }

    .media-sm\:bottom-unset {
        bottom: unset !important;
    }

    .media-sm\:bottom-revert {
        bottom: revert !important;
    }
}

@media (max-width: 992px) {
    .media-md\:bottom-0 {
        bottom: 0 !important;
    }

    .media-md\:bottom-auto {
        bottom: auto !important;
    }

    .media-md\:bottom-initial {
        bottom: initial !important;
    }

    .media-md\:bottom-inherit {
        bottom: inherit !important;
    }

    .media-md\:bottom-unset {
        bottom: unset !important;
    }

    .media-md\:bottom-revert {
        bottom: revert !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:bottom-0 {
        bottom: 0 !important;
    }

    .media-lg\:bottom-auto {
        bottom: auto !important;
    }

    .media-lg\:bottom-initial {
        bottom: initial !important;
    }

    .media-lg\:bottom-inherit {
        bottom: inherit !important;
    }

    .media-lg\:bottom-unset {
        bottom: unset !important;
    }

    .media-lg\:bottom-revert {
        bottom: revert !important;
    }
}