.max-h-0 {
    max-height: 0 !important;
}

.max-h-screen {
    max-height: 100vh !important;
}

.max-h-auto {
    max-height: auto !important;
}

.max-h-fit {
    max-height: fit-content !important;
}

.max-h-max {
    max-height: max-content !important;
}

.max-h-min {
    max-height: min-content !important;
}

@media (max-width: 576px) {
    .media-xs\:max-h-0 {
        max-height: 0 !important;
    }

    .media-xs\:max-h-screen {
        max-height: 100vh !important;
    }

    .media-xs\:max-h-auto {
        max-height: auto !important;
    }

    .media-xs\:max-h-fit {
        max-height: fit-content !important;
    }

    .media-xs\:max-h-max {
        max-height: max-content !important;
    }

    .media-xs\:max-h-min {
        max-height: min-content !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:max-h-0 {
        max-height: 0 !important;
    }

    .media-sm\:max-h-screen {
        max-height: 100vh !important;
    }

    .media-sm\:max-h-auto {
        max-height: auto !important;
    }

    .media-sm\:max-h-fit {
        max-height: fit-content !important;
    }

    .media-sm\:max-h-max {
        max-height: max-content !important;
    }

    .media-sm\:max-h-min {
        max-height: min-content !important;
    }
}

@media (max-width: 992px) {
    .media-md\:max-h-0 {
        max-height: 0 !important;
    }

    .media-md\:max-h-screen {
        max-height: 100vh !important;
    }

    .media-md\:max-h-auto {
        max-height: auto !important;
    }

    .media-md\:max-h-fit {
        max-height: fit-content !important;
    }

    .media-md\:max-h-max {
        max-height: max-content !important;
    }

    .media-md\:max-h-min {
        max-height: min-content !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:max-h-0 {
        max-height: 0 !important;
    }

    .media-lg\:max-h-screen {
        max-height: 100vh !important;
    }

    .media-lg\:max-h-auto {
        max-height: auto !important;
    }

    .media-lg\:max-h-fit {
        max-height: fit-content !important;
    }

    .media-lg\:max-h-max {
        max-height: max-content !important;
    }

    .media-lg\:max-h-min {
        max-height: min-content !important;
    }
}