/********** min-height special **********/

/* Default Min-Height Classes */
.min-h-0 {
    min-height: 0 !important;
}

.min-h-screen {
    min-height: 100vh !important;
}

.min-h-auto {
    min-height: auto !important;
}

.min-h-fit {
    min-height: fit-content !important;
}

.min-h-max {
    min-height: max-content !important;
}

.min-h-min {
    min-height: min-content !important;
}

/********** xs (≤576px) **********/
@media (max-width: 576px) {
    .media-xs\:min-h-0 {
        min-height: 0 !important;
    }

    .media-xs\:min-h-screen {
        min-height: 100vh !important;
    }

    .media-xs\:min-h-auto {
        min-height: auto !important;
    }

    .media-xs\:min-h-fit {
        min-height: fit-content !important;
    }

    .media-xs\:min-h-max {
        min-height: max-content !important;
    }

    .media-xs\:min-h-min {
        min-height: min-content !important;
    }
}

/********** sm (≤768px) **********/
@media (max-width: 768px) {
    .media-sm\:min-h-0 {
        min-height: 0 !important;
    }

    .media-sm\:min-h-screen {
        min-height: 100vh !important;
    }

    .media-sm\:min-h-auto {
        min-height: auto !important;
    }

    .media-sm\:min-h-fit {
        min-height: fit-content !important;
    }

    .media-sm\:min-h-max {
        min-height: max-content !important;
    }

    .media-sm\:min-h-min {
        min-height: min-content !important;
    }
}

/********** md (≤992px) **********/
@media (max-width: 992px) {
    .media-md\:min-h-0 {
        min-height: 0 !important;
    }

    .media-md\:min-h-screen {
        min-height: 100vh !important;
    }

    .media-md\:min-h-auto {
        min-height: auto !important;
    }

    .media-md\:min-h-fit {
        min-height: fit-content !important;
    }

    .media-md\:min-h-max {
        min-height: max-content !important;
    }

    .media-md\:min-h-min {
        min-height: min-content !important;
    }
}

/********** lg (≤1200px) **********/
@media (max-width: 1200px) {
    .media-lg\:min-h-0 {
        min-height: 0 !important;
    }

    .media-lg\:min-h-screen {
        min-height: 100vh !important;
    }

    .media-lg\:min-h-auto {
        min-height: auto !important;
    }

    .media-lg\:min-h-fit {
        min-height: fit-content !important;
    }

    .media-lg\:min-h-max {
        min-height: max-content !important;
    }

    .media-lg\:min-h-min {
        min-height: min-content !important;
    }
}

/********** min-height special end **********/