/* Special Max Height Values */
.max-h-0 {
    max-height: 0;
}

.max-h-screen {
    max-height: 100vh;
}

.max-h-auto {
    max-height: auto;
}

.max-h-fit {
    max-height: fit-content;
}

.max-h-max {
    max-height: max-content;
}

.max-h-min {
    max-height: min-content;
}

.max-h-unset {
    max-height: unset;
}

.max-h-initial {
    max-height: initial;
}

.max-h-inherit {
    max-height: inherit;
}