/* Special Max Height Values */
.max-h-0 {
    max-height: 0 !important;
}

.max-h-screen {
    max-height: 100vh !important;
}

.max-h-auto {
    max-height: auto !important;
}

.max-h-fit {
    max-height: fit-content !important;
}

.max-h-max {
    max-height: max-content !important;
}

.max-h-min {
    max-height: min-content !important;
}

.max-h-unset {
    max-height: unset !important;
}

.max-h-initial {
    max-height: initial !important;
}

.max-h-inherit {
    max-height: inherit !important;
}