/* Special Min Height Values */
.min-h-0 {
    min-height: 0 !important;
}

.min-h-screen {
    min-height: 100vh !important;
}

.min-h-auto {
    min-height: auto !important;
}

.min-h-fit {
    min-height: fit-content !important;
}

.min-h-max {
    min-height: max-content !important;
}

.min-h-min {
    min-height: min-content !important;
}

.min-h-unset {
    min-height: unset !important;
}

.min-h-initial {
    min-height: initial !important;
}

.min-h-inherit {
    min-height: inherit !important;
}