.margin-auto {
    margin: auto !important;
}

.margin-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.margin-y-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.margin-top-auto {
    margin-top: auto !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

.margin-bottom-auto {
    margin-bottom: auto !important;
}

.margin-left-auto {
    margin-left: auto !important;
}

@media (max-width: 576px) {
    .media-xs\:margin-auto {
        margin: auto !important;
    }

    .media-xs\:margin-x-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .media-xs\:margin-y-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .media-xs\:margin-top-auto {
        margin-top: auto !important;
    }

    .media-xs\:margin-right-auto {
        margin-right: auto !important;
    }

    .media-xs\:margin-bottom-auto {
        margin-bottom: auto !important;
    }

    .media-xs\:margin-left-auto {
        margin-left: auto !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:margin-auto {
        margin: auto !important;
    }

    .media-sm\:margin-x-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .media-sm\:margin-y-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .media-sm\:margin-top-auto {
        margin-top: auto !important;
    }

    .media-sm\:margin-right-auto {
        margin-right: auto !important;
    }

    .media-sm\:margin-bottom-auto {
        margin-bottom: auto !important;
    }

    .media-sm\:margin-left-auto {
        margin-left: auto !important;
    }
}

@media (max-width: 992px) {
    .media-md\:margin-auto {
        margin: auto !important;
    }

    .media-md\:margin-x-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .media-md\:margin-y-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .media-md\:margin-top-auto {
        margin-top: auto !important;
    }

    .media-md\:margin-right-auto {
        margin-right: auto !important;
    }

    .media-md\:margin-bottom-auto {
        margin-bottom: auto !important;
    }

    .media-md\:margin-left-auto {
        margin-left: auto !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:margin-auto {
        margin: auto !important;
    }

    .media-lg\:margin-x-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .media-lg\:margin-y-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .media-lg\:margin-top-auto {
        margin-top: auto !important;
    }

    .media-lg\:margin-right-auto {
        margin-right: auto !important;
    }

    .media-lg\:margin-bottom-auto {
        margin-bottom: auto !important;
    }

    .media-lg\:margin-left-auto {
        margin-left: auto !important;
    }
}