.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-xs {
    margin-top: var(--kintaro-gap-xs) !important;
}

.margin-top-sm {
    margin-top: var(--kintaro-gap-sm) !important;
}

.margin-top-md {
    margin-top: var(--kintaro-gap-md) !important;
}

.margin-top-lg {
    margin-top: var(--kintaro-gap-lg) !important;
}

.margin-top-xl {
    margin-top: var(--kintaro-gap-xl) !important;
}

.margin-top-xxl {
    margin-top: var(--kintaro-gap-xxl) !important;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.margin-right-xs {
    margin-right: var(--kintaro-gap-xs) !important;
}

.margin-right-sm {
    margin-right: var(--kintaro-gap-sm) !important;
}

.margin-right-md {
    margin-right: var(--kintaro-gap-md) !important;
}

.margin-right-lg {
    margin-right: var(--kintaro-gap-lg) !important;
}

.margin-right-xl {
    margin-right: var(--kintaro-gap-xl) !important;
}

.margin-right-xxl {
    margin-right: var(--kintaro-gap-xxl) !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-xs {
    margin-bottom: var(--kintaro-gap-xs) !important;
}

.margin-bottom-sm {
    margin-bottom: var(--kintaro-gap-sm) !important;
}

.margin-bottom-md {
    margin-bottom: var(--kintaro-gap-md) !important;
}

.margin-bottom-lg {
    margin-bottom: var(--kintaro-gap-lg) !important;
}

.margin-bottom-xl {
    margin-bottom: var(--kintaro-gap-xl) !important;
}

.margin-bottom-xxl {
    margin-bottom: var(--kintaro-gap-xxl) !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.margin-left-xs {
    margin-left: var(--kintaro-gap-xs) !important;
}

.margin-left-sm {
    margin-left: var(--kintaro-gap-sm) !important;
}

.margin-left-md {
    margin-left: var(--kintaro-gap-md) !important;
}

.margin-left-lg {
    margin-left: var(--kintaro-gap-lg) !important;
}

.margin-left-xl {
    margin-left: var(--kintaro-gap-xl) !important;
}

.margin-left-xxl {
    margin-left: var(--kintaro-gap-xxl) !important;
}

@media (max-width: 576px) {
    .media-xs\:margin-top-0 {
        margin-top: 0 !important;
    }

    .media-xs\:margin-top-xs {
        margin-top: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:margin-top-sm {
        margin-top: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:margin-top-md {
        margin-top: var(--kintaro-gap-md) !important;
    }

    .media-xs\:margin-top-lg {
        margin-top: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:margin-top-xl {
        margin-top: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:margin-top-xxl {
        margin-top: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:margin-right-0 {
        margin-right: 0 !important;
    }

    .media-xs\:margin-right-xs {
        margin-right: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:margin-right-sm {
        margin-right: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:margin-right-md {
        margin-right: var(--kintaro-gap-md) !important;
    }

    .media-xs\:margin-right-lg {
        margin-right: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:margin-right-xl {
        margin-right: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:margin-right-xxl {
        margin-right: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:margin-bottom-0 {
        margin-bottom: 0 !important;
    }

    .media-xs\:margin-bottom-xs {
        margin-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:margin-bottom-sm {
        margin-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:margin-bottom-md {
        margin-bottom: var(--kintaro-gap-md) !important;
    }

    .media-xs\:margin-bottom-lg {
        margin-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:margin-bottom-xl {
        margin-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:margin-bottom-xxl {
        margin-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-xs\:margin-left-0 {
        margin-left: 0 !important;
    }

    .media-xs\:margin-left-xs {
        margin-left: var(--kintaro-gap-xs) !important;
    }

    .media-xs\:margin-left-sm {
        margin-left: var(--kintaro-gap-sm) !important;
    }

    .media-xs\:margin-left-md {
        margin-left: var(--kintaro-gap-md) !important;
    }

    .media-xs\:margin-left-lg {
        margin-left: var(--kintaro-gap-lg) !important;
    }

    .media-xs\:margin-left-xl {
        margin-left: var(--kintaro-gap-xl) !important;
    }

    .media-xs\:margin-left-xxl {
        margin-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:margin-top-0 {
        margin-top: 0 !important;
    }

    .media-sm\:margin-top-xs {
        margin-top: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:margin-top-sm {
        margin-top: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:margin-top-md {
        margin-top: var(--kintaro-gap-md) !important;
    }

    .media-sm\:margin-top-lg {
        margin-top: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:margin-top-xl {
        margin-top: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:margin-top-xxl {
        margin-top: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:margin-right-0 {
        margin-right: 0 !important;
    }

    .media-sm\:margin-right-xs {
        margin-right: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:margin-right-sm {
        margin-right: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:margin-right-md {
        margin-right: var(--kintaro-gap-md) !important;
    }

    .media-sm\:margin-right-lg {
        margin-right: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:margin-right-xl {
        margin-right: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:margin-right-xxl {
        margin-right: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:margin-bottom-0 {
        margin-bottom: 0 !important;
    }

    .media-sm\:margin-bottom-xs {
        margin-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:margin-bottom-sm {
        margin-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:margin-bottom-md {
        margin-bottom: var(--kintaro-gap-md) !important;
    }

    .media-sm\:margin-bottom-lg {
        margin-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:margin-bottom-xl {
        margin-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:margin-bottom-xxl {
        margin-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-sm\:margin-left-0 {
        margin-left: 0 !important;
    }

    .media-sm\:margin-left-xs {
        margin-left: var(--kintaro-gap-xs) !important;
    }

    .media-sm\:margin-left-sm {
        margin-left: var(--kintaro-gap-sm) !important;
    }

    .media-sm\:margin-left-md {
        margin-left: var(--kintaro-gap-md) !important;
    }

    .media-sm\:margin-left-lg {
        margin-left: var(--kintaro-gap-lg) !important;
    }

    .media-sm\:margin-left-xl {
        margin-left: var(--kintaro-gap-xl) !important;
    }

    .media-sm\:margin-left-xxl {
        margin-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:margin-top-0 {
        margin-top: 0 !important;
    }

    .media-md\:margin-top-xs {
        margin-top: var(--kintaro-gap-xs) !important;
    }

    .media-md\:margin-top-sm {
        margin-top: var(--kintaro-gap-sm) !important;
    }

    .media-md\:margin-top-md {
        margin-top: var(--kintaro-gap-md) !important;
    }

    .media-md\:margin-top-lg {
        margin-top: var(--kintaro-gap-lg) !important;
    }

    .media-md\:margin-top-xl {
        margin-top: var(--kintaro-gap-xl) !important;
    }

    .media-md\:margin-top-xxl {
        margin-top: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:margin-right-0 {
        margin-right: 0 !important;
    }

    .media-md\:margin-right-xs {
        margin-right: var(--kintaro-gap-xs) !important;
    }

    .media-md\:margin-right-sm {
        margin-right: var(--kintaro-gap-sm) !important;
    }

    .media-md\:margin-right-md {
        margin-right: var(--kintaro-gap-md) !important;
    }

    .media-md\:margin-right-lg {
        margin-right: var(--kintaro-gap-lg) !important;
    }

    .media-md\:margin-right-xl {
        margin-right: var(--kintaro-gap-xl) !important;
    }

    .media-md\:margin-right-xxl {
        margin-right: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:margin-bottom-0 {
        margin-bottom: 0 !important;
    }

    .media-md\:margin-bottom-xs {
        margin-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-md\:margin-bottom-sm {
        margin-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-md\:margin-bottom-md {
        margin-bottom: var(--kintaro-gap-md) !important;
    }

    .media-md\:margin-bottom-lg {
        margin-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-md\:margin-bottom-xl {
        margin-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-md\:margin-bottom-xxl {
        margin-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-md\:margin-left-0 {
        margin-left: 0 !important;
    }

    .media-md\:margin-left-xs {
        margin-left: var(--kintaro-gap-xs) !important;
    }

    .media-md\:margin-left-sm {
        margin-left: var(--kintaro-gap-sm) !important;
    }

    .media-md\:margin-left-md {
        margin-left: var(--kintaro-gap-md) !important;
    }

    .media-md\:margin-left-lg {
        margin-left: var(--kintaro-gap-lg) !important;
    }

    .media-md\:margin-left-xl {
        margin-left: var(--kintaro-gap-xl) !important;
    }

    .media-md\:margin-left-xxl {
        margin-left: var(--kintaro-gap-xxl) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:margin-top-0 {
        margin-top: 0 !important;
    }

    .media-lg\:margin-top-xs {
        margin-top: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:margin-top-sm {
        margin-top: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:margin-top-md {
        margin-top: var(--kintaro-gap-md) !important;
    }

    .media-lg\:margin-top-lg {
        margin-top: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:margin-top-xl {
        margin-top: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:margin-top-xxl {
        margin-top: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:margin-right-0 {
        margin-right: 0 !important;
    }

    .media-lg\:margin-right-xs {
        margin-right: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:margin-right-sm {
        margin-right: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:margin-right-md {
        margin-right: var(--kintaro-gap-md) !important;
    }

    .media-lg\:margin-right-lg {
        margin-right: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:margin-right-xl {
        margin-right: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:margin-right-xxl {
        margin-right: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:margin-bottom-0 {
        margin-bottom: 0 !important;
    }

    .media-lg\:margin-bottom-xs {
        margin-bottom: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:margin-bottom-sm {
        margin-bottom: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:margin-bottom-md {
        margin-bottom: var(--kintaro-gap-md) !important;
    }

    .media-lg\:margin-bottom-lg {
        margin-bottom: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:margin-bottom-xl {
        margin-bottom: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:margin-bottom-xxl {
        margin-bottom: var(--kintaro-gap-xxl) !important;
    }

    .media-lg\:margin-left-0 {
        margin-left: 0 !important;
    }

    .media-lg\:margin-left-xs {
        margin-left: var(--kintaro-gap-xs) !important;
    }

    .media-lg\:margin-left-sm {
        margin-left: var(--kintaro-gap-sm) !important;
    }

    .media-lg\:margin-left-md {
        margin-left: var(--kintaro-gap-md) !important;
    }

    .media-lg\:margin-left-lg {
        margin-left: var(--kintaro-gap-lg) !important;
    }

    .media-lg\:margin-left-xl {
        margin-left: var(--kintaro-gap-xl) !important;
    }

    .media-lg\:margin-left-xxl {
        margin-left: var(--kintaro-gap-xxl) !important;
    }
}