.translate-x-1p {
    transform: translateX(1%) !important;
}

.translate-x-2p {
    transform: translateX(2%) !important;
}

.translate-x-3p {
    transform: translateX(3%) !important;
}

.translate-x-4p {
    transform: translateX(4%) !important;
}

.translate-x-5p {
    transform: translateX(5%) !important;
}

.translate-x-6p {
    transform: translateX(6%) !important;
}

.translate-x-7p {
    transform: translateX(7%) !important;
}

.translate-x-8p {
    transform: translateX(8%) !important;
}

.translate-x-9p {
    transform: translateX(9%) !important;
}

.translate-x-10p {
    transform: translateX(10%) !important;
}

.translate-x-11p {
    transform: translateX(11%) !important;
}

.translate-x-12p {
    transform: translateX(12%) !important;
}

.translate-x-13p {
    transform: translateX(13%) !important;
}

.translate-x-14p {
    transform: translateX(14%) !important;
}

.translate-x-15p {
    transform: translateX(15%) !important;
}

.translate-x-16p {
    transform: translateX(16%) !important;
}

.translate-x-17p {
    transform: translateX(17%) !important;
}

.translate-x-18p {
    transform: translateX(18%) !important;
}

.translate-x-19p {
    transform: translateX(19%) !important;
}

.translate-x-20p {
    transform: translateX(20%) !important;
}

.translate-x-21p {
    transform: translateX(21%) !important;
}

.translate-x-22p {
    transform: translateX(22%) !important;
}

.translate-x-23p {
    transform: translateX(23%) !important;
}

.translate-x-24p {
    transform: translateX(24%) !important;
}

.translate-x-25p {
    transform: translateX(25%) !important;
}

.translate-x-26p {
    transform: translateX(26%) !important;
}

.translate-x-27p {
    transform: translateX(27%) !important;
}

.translate-x-28p {
    transform: translateX(28%) !important;
}

.translate-x-29p {
    transform: translateX(29%) !important;
}

.translate-x-30p {
    transform: translateX(30%) !important;
}

.translate-x-31p {
    transform: translateX(31%) !important;
}

.translate-x-32p {
    transform: translateX(32%) !important;
}

.translate-x-33p {
    transform: translateX(33%) !important;
}

.translate-x-34p {
    transform: translateX(34%) !important;
}

.translate-x-35p {
    transform: translateX(35%) !important;
}

.translate-x-36p {
    transform: translateX(36%) !important;
}

.translate-x-37p {
    transform: translateX(37%) !important;
}

.translate-x-38p {
    transform: translateX(38%) !important;
}

.translate-x-39p {
    transform: translateX(39%) !important;
}

.translate-x-40p {
    transform: translateX(40%) !important;
}

.translate-x-41p {
    transform: translateX(41%) !important;
}

.translate-x-42p {
    transform: translateX(42%) !important;
}

.translate-x-43p {
    transform: translateX(43%) !important;
}

.translate-x-44p {
    transform: translateX(44%) !important;
}

.translate-x-45p {
    transform: translateX(45%) !important;
}

.translate-x-46p {
    transform: translateX(46%) !important;
}

.translate-x-47p {
    transform: translateX(47%) !important;
}

.translate-x-48p {
    transform: translateX(48%) !important;
}

.translate-x-49p {
    transform: translateX(49%) !important;
}

.translate-x-50p {
    transform: translateX(50%) !important;
}

.translate-x-51p {
    transform: translateX(51%) !important;
}

.translate-x-52p {
    transform: translateX(52%) !important;
}

.translate-x-53p {
    transform: translateX(53%) !important;
}

.translate-x-54p {
    transform: translateX(54%) !important;
}

.translate-x-55p {
    transform: translateX(55%) !important;
}

.translate-x-56p {
    transform: translateX(56%) !important;
}

.translate-x-57p {
    transform: translateX(57%) !important;
}

.translate-x-58p {
    transform: translateX(58%) !important;
}

.translate-x-59p {
    transform: translateX(59%) !important;
}

.translate-x-60p {
    transform: translateX(60%) !important;
}

.translate-x-61p {
    transform: translateX(61%) !important;
}

.translate-x-62p {
    transform: translateX(62%) !important;
}

.translate-x-63p {
    transform: translateX(63%) !important;
}

.translate-x-64p {
    transform: translateX(64%) !important;
}

.translate-x-65p {
    transform: translateX(65%) !important;
}

.translate-x-66p {
    transform: translateX(66%) !important;
}

.translate-x-67p {
    transform: translateX(67%) !important;
}

.translate-x-68p {
    transform: translateX(68%) !important;
}

.translate-x-69p {
    transform: translateX(69%) !important;
}

.translate-x-70p {
    transform: translateX(70%) !important;
}

.translate-x-71p {
    transform: translateX(71%) !important;
}

.translate-x-72p {
    transform: translateX(72%) !important;
}

.translate-x-73p {
    transform: translateX(73%) !important;
}

.translate-x-74p {
    transform: translateX(74%) !important;
}

.translate-x-75p {
    transform: translateX(75%) !important;
}

.translate-x-76p {
    transform: translateX(76%) !important;
}

.translate-x-77p {
    transform: translateX(77%) !important;
}

.translate-x-78p {
    transform: translateX(78%) !important;
}

.translate-x-79p {
    transform: translateX(79%) !important;
}

.translate-x-80p {
    transform: translateX(80%) !important;
}

.translate-x-81p {
    transform: translateX(81%) !important;
}

.translate-x-82p {
    transform: translateX(82%) !important;
}

.translate-x-83p {
    transform: translateX(83%) !important;
}

.translate-x-84p {
    transform: translateX(84%) !important;
}

.translate-x-85p {
    transform: translateX(85%) !important;
}

.translate-x-86p {
    transform: translateX(86%) !important;
}

.translate-x-87p {
    transform: translateX(87%) !important;
}

.translate-x-88p {
    transform: translateX(88%) !important;
}

.translate-x-89p {
    transform: translateX(89%) !important;
}

.translate-x-90p {
    transform: translateX(90%) !important;
}

.translate-x-91p {
    transform: translateX(91%) !important;
}

.translate-x-92p {
    transform: translateX(92%) !important;
}

.translate-x-93p {
    transform: translateX(93%) !important;
}

.translate-x-94p {
    transform: translateX(94%) !important;
}

.translate-x-95p {
    transform: translateX(95%) !important;
}

.translate-x-96p {
    transform: translateX(96%) !important;
}

.translate-x-97p {
    transform: translateX(97%) !important;
}

.translate-x-98p {
    transform: translateX(98%) !important;
}

.translate-x-99p {
    transform: translateX(99%) !important;
}

.translate-x-100p {
    transform: translateX(100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-x-1p {
        transform: translateX(1%) !important;
    }

    .media-xs\:translate-x-2p {
        transform: translateX(2%) !important;
    }

    .media-xs\:translate-x-3p {
        transform: translateX(3%) !important;
    }

    .media-xs\:translate-x-4p {
        transform: translateX(4%) !important;
    }

    .media-xs\:translate-x-5p {
        transform: translateX(5%) !important;
    }

    .media-xs\:translate-x-6p {
        transform: translateX(6%) !important;
    }

    .media-xs\:translate-x-7p {
        transform: translateX(7%) !important;
    }

    .media-xs\:translate-x-8p {
        transform: translateX(8%) !important;
    }

    .media-xs\:translate-x-9p {
        transform: translateX(9%) !important;
    }

    .media-xs\:translate-x-10p {
        transform: translateX(10%) !important;
    }

    .media-xs\:translate-x-11p {
        transform: translateX(11%) !important;
    }

    .media-xs\:translate-x-12p {
        transform: translateX(12%) !important;
    }

    .media-xs\:translate-x-13p {
        transform: translateX(13%) !important;
    }

    .media-xs\:translate-x-14p {
        transform: translateX(14%) !important;
    }

    .media-xs\:translate-x-15p {
        transform: translateX(15%) !important;
    }

    .media-xs\:translate-x-16p {
        transform: translateX(16%) !important;
    }

    .media-xs\:translate-x-17p {
        transform: translateX(17%) !important;
    }

    .media-xs\:translate-x-18p {
        transform: translateX(18%) !important;
    }

    .media-xs\:translate-x-19p {
        transform: translateX(19%) !important;
    }

    .media-xs\:translate-x-20p {
        transform: translateX(20%) !important;
    }

    .media-xs\:translate-x-21p {
        transform: translateX(21%) !important;
    }

    .media-xs\:translate-x-22p {
        transform: translateX(22%) !important;
    }

    .media-xs\:translate-x-23p {
        transform: translateX(23%) !important;
    }

    .media-xs\:translate-x-24p {
        transform: translateX(24%) !important;
    }

    .media-xs\:translate-x-25p {
        transform: translateX(25%) !important;
    }

    .media-xs\:translate-x-26p {
        transform: translateX(26%) !important;
    }

    .media-xs\:translate-x-27p {
        transform: translateX(27%) !important;
    }

    .media-xs\:translate-x-28p {
        transform: translateX(28%) !important;
    }

    .media-xs\:translate-x-29p {
        transform: translateX(29%) !important;
    }

    .media-xs\:translate-x-30p {
        transform: translateX(30%) !important;
    }

    .media-xs\:translate-x-31p {
        transform: translateX(31%) !important;
    }

    .media-xs\:translate-x-32p {
        transform: translateX(32%) !important;
    }

    .media-xs\:translate-x-33p {
        transform: translateX(33%) !important;
    }

    .media-xs\:translate-x-34p {
        transform: translateX(34%) !important;
    }

    .media-xs\:translate-x-35p {
        transform: translateX(35%) !important;
    }

    .media-xs\:translate-x-36p {
        transform: translateX(36%) !important;
    }

    .media-xs\:translate-x-37p {
        transform: translateX(37%) !important;
    }

    .media-xs\:translate-x-38p {
        transform: translateX(38%) !important;
    }

    .media-xs\:translate-x-39p {
        transform: translateX(39%) !important;
    }

    .media-xs\:translate-x-40p {
        transform: translateX(40%) !important;
    }

    .media-xs\:translate-x-41p {
        transform: translateX(41%) !important;
    }

    .media-xs\:translate-x-42p {
        transform: translateX(42%) !important;
    }

    .media-xs\:translate-x-43p {
        transform: translateX(43%) !important;
    }

    .media-xs\:translate-x-44p {
        transform: translateX(44%) !important;
    }

    .media-xs\:translate-x-45p {
        transform: translateX(45%) !important;
    }

    .media-xs\:translate-x-46p {
        transform: translateX(46%) !important;
    }

    .media-xs\:translate-x-47p {
        transform: translateX(47%) !important;
    }

    .media-xs\:translate-x-48p {
        transform: translateX(48%) !important;
    }

    .media-xs\:translate-x-49p {
        transform: translateX(49%) !important;
    }

    .media-xs\:translate-x-50p {
        transform: translateX(50%) !important;
    }

    .media-xs\:translate-x-51p {
        transform: translateX(51%) !important;
    }

    .media-xs\:translate-x-52p {
        transform: translateX(52%) !important;
    }

    .media-xs\:translate-x-53p {
        transform: translateX(53%) !important;
    }

    .media-xs\:translate-x-54p {
        transform: translateX(54%) !important;
    }

    .media-xs\:translate-x-55p {
        transform: translateX(55%) !important;
    }

    .media-xs\:translate-x-56p {
        transform: translateX(56%) !important;
    }

    .media-xs\:translate-x-57p {
        transform: translateX(57%) !important;
    }

    .media-xs\:translate-x-58p {
        transform: translateX(58%) !important;
    }

    .media-xs\:translate-x-59p {
        transform: translateX(59%) !important;
    }

    .media-xs\:translate-x-60p {
        transform: translateX(60%) !important;
    }

    .media-xs\:translate-x-61p {
        transform: translateX(61%) !important;
    }

    .media-xs\:translate-x-62p {
        transform: translateX(62%) !important;
    }

    .media-xs\:translate-x-63p {
        transform: translateX(63%) !important;
    }

    .media-xs\:translate-x-64p {
        transform: translateX(64%) !important;
    }

    .media-xs\:translate-x-65p {
        transform: translateX(65%) !important;
    }

    .media-xs\:translate-x-66p {
        transform: translateX(66%) !important;
    }

    .media-xs\:translate-x-67p {
        transform: translateX(67%) !important;
    }

    .media-xs\:translate-x-68p {
        transform: translateX(68%) !important;
    }

    .media-xs\:translate-x-69p {
        transform: translateX(69%) !important;
    }

    .media-xs\:translate-x-70p {
        transform: translateX(70%) !important;
    }

    .media-xs\:translate-x-71p {
        transform: translateX(71%) !important;
    }

    .media-xs\:translate-x-72p {
        transform: translateX(72%) !important;
    }

    .media-xs\:translate-x-73p {
        transform: translateX(73%) !important;
    }

    .media-xs\:translate-x-74p {
        transform: translateX(74%) !important;
    }

    .media-xs\:translate-x-75p {
        transform: translateX(75%) !important;
    }

    .media-xs\:translate-x-76p {
        transform: translateX(76%) !important;
    }

    .media-xs\:translate-x-77p {
        transform: translateX(77%) !important;
    }

    .media-xs\:translate-x-78p {
        transform: translateX(78%) !important;
    }

    .media-xs\:translate-x-79p {
        transform: translateX(79%) !important;
    }

    .media-xs\:translate-x-80p {
        transform: translateX(80%) !important;
    }

    .media-xs\:translate-x-81p {
        transform: translateX(81%) !important;
    }

    .media-xs\:translate-x-82p {
        transform: translateX(82%) !important;
    }

    .media-xs\:translate-x-83p {
        transform: translateX(83%) !important;
    }

    .media-xs\:translate-x-84p {
        transform: translateX(84%) !important;
    }

    .media-xs\:translate-x-85p {
        transform: translateX(85%) !important;
    }

    .media-xs\:translate-x-86p {
        transform: translateX(86%) !important;
    }

    .media-xs\:translate-x-87p {
        transform: translateX(87%) !important;
    }

    .media-xs\:translate-x-88p {
        transform: translateX(88%) !important;
    }

    .media-xs\:translate-x-89p {
        transform: translateX(89%) !important;
    }

    .media-xs\:translate-x-90p {
        transform: translateX(90%) !important;
    }

    .media-xs\:translate-x-91p {
        transform: translateX(91%) !important;
    }

    .media-xs\:translate-x-92p {
        transform: translateX(92%) !important;
    }

    .media-xs\:translate-x-93p {
        transform: translateX(93%) !important;
    }

    .media-xs\:translate-x-94p {
        transform: translateX(94%) !important;
    }

    .media-xs\:translate-x-95p {
        transform: translateX(95%) !important;
    }

    .media-xs\:translate-x-96p {
        transform: translateX(96%) !important;
    }

    .media-xs\:translate-x-97p {
        transform: translateX(97%) !important;
    }

    .media-xs\:translate-x-98p {
        transform: translateX(98%) !important;
    }

    .media-xs\:translate-x-99p {
        transform: translateX(99%) !important;
    }

    .media-xs\:translate-x-100p {
        transform: translateX(100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-x-1p {
        transform: translateX(1%) !important;
    }

    .media-sm\:translate-x-2p {
        transform: translateX(2%) !important;
    }

    .media-sm\:translate-x-3p {
        transform: translateX(3%) !important;
    }

    .media-sm\:translate-x-4p {
        transform: translateX(4%) !important;
    }

    .media-sm\:translate-x-5p {
        transform: translateX(5%) !important;
    }

    .media-sm\:translate-x-6p {
        transform: translateX(6%) !important;
    }

    .media-sm\:translate-x-7p {
        transform: translateX(7%) !important;
    }

    .media-sm\:translate-x-8p {
        transform: translateX(8%) !important;
    }

    .media-sm\:translate-x-9p {
        transform: translateX(9%) !important;
    }

    .media-sm\:translate-x-10p {
        transform: translateX(10%) !important;
    }

    .media-sm\:translate-x-11p {
        transform: translateX(11%) !important;
    }

    .media-sm\:translate-x-12p {
        transform: translateX(12%) !important;
    }

    .media-sm\:translate-x-13p {
        transform: translateX(13%) !important;
    }

    .media-sm\:translate-x-14p {
        transform: translateX(14%) !important;
    }

    .media-sm\:translate-x-15p {
        transform: translateX(15%) !important;
    }

    .media-sm\:translate-x-16p {
        transform: translateX(16%) !important;
    }

    .media-sm\:translate-x-17p {
        transform: translateX(17%) !important;
    }

    .media-sm\:translate-x-18p {
        transform: translateX(18%) !important;
    }

    .media-sm\:translate-x-19p {
        transform: translateX(19%) !important;
    }

    .media-sm\:translate-x-20p {
        transform: translateX(20%) !important;
    }

    .media-sm\:translate-x-21p {
        transform: translateX(21%) !important;
    }

    .media-sm\:translate-x-22p {
        transform: translateX(22%) !important;
    }

    .media-sm\:translate-x-23p {
        transform: translateX(23%) !important;
    }

    .media-sm\:translate-x-24p {
        transform: translateX(24%) !important;
    }

    .media-sm\:translate-x-25p {
        transform: translateX(25%) !important;
    }

    .media-sm\:translate-x-26p {
        transform: translateX(26%) !important;
    }

    .media-sm\:translate-x-27p {
        transform: translateX(27%) !important;
    }

    .media-sm\:translate-x-28p {
        transform: translateX(28%) !important;
    }

    .media-sm\:translate-x-29p {
        transform: translateX(29%) !important;
    }

    .media-sm\:translate-x-30p {
        transform: translateX(30%) !important;
    }

    .media-sm\:translate-x-31p {
        transform: translateX(31%) !important;
    }

    .media-sm\:translate-x-32p {
        transform: translateX(32%) !important;
    }

    .media-sm\:translate-x-33p {
        transform: translateX(33%) !important;
    }

    .media-sm\:translate-x-34p {
        transform: translateX(34%) !important;
    }

    .media-sm\:translate-x-35p {
        transform: translateX(35%) !important;
    }

    .media-sm\:translate-x-36p {
        transform: translateX(36%) !important;
    }

    .media-sm\:translate-x-37p {
        transform: translateX(37%) !important;
    }

    .media-sm\:translate-x-38p {
        transform: translateX(38%) !important;
    }

    .media-sm\:translate-x-39p {
        transform: translateX(39%) !important;
    }

    .media-sm\:translate-x-40p {
        transform: translateX(40%) !important;
    }

    .media-sm\:translate-x-41p {
        transform: translateX(41%) !important;
    }

    .media-sm\:translate-x-42p {
        transform: translateX(42%) !important;
    }

    .media-sm\:translate-x-43p {
        transform: translateX(43%) !important;
    }

    .media-sm\:translate-x-44p {
        transform: translateX(44%) !important;
    }

    .media-sm\:translate-x-45p {
        transform: translateX(45%) !important;
    }

    .media-sm\:translate-x-46p {
        transform: translateX(46%) !important;
    }

    .media-sm\:translate-x-47p {
        transform: translateX(47%) !important;
    }

    .media-sm\:translate-x-48p {
        transform: translateX(48%) !important;
    }

    .media-sm\:translate-x-49p {
        transform: translateX(49%) !important;
    }

    .media-sm\:translate-x-50p {
        transform: translateX(50%) !important;
    }

    .media-sm\:translate-x-51p {
        transform: translateX(51%) !important;
    }

    .media-sm\:translate-x-52p {
        transform: translateX(52%) !important;
    }

    .media-sm\:translate-x-53p {
        transform: translateX(53%) !important;
    }

    .media-sm\:translate-x-54p {
        transform: translateX(54%) !important;
    }

    .media-sm\:translate-x-55p {
        transform: translateX(55%) !important;
    }

    .media-sm\:translate-x-56p {
        transform: translateX(56%) !important;
    }

    .media-sm\:translate-x-57p {
        transform: translateX(57%) !important;
    }

    .media-sm\:translate-x-58p {
        transform: translateX(58%) !important;
    }

    .media-sm\:translate-x-59p {
        transform: translateX(59%) !important;
    }

    .media-sm\:translate-x-60p {
        transform: translateX(60%) !important;
    }

    .media-sm\:translate-x-61p {
        transform: translateX(61%) !important;
    }

    .media-sm\:translate-x-62p {
        transform: translateX(62%) !important;
    }

    .media-sm\:translate-x-63p {
        transform: translateX(63%) !important;
    }

    .media-sm\:translate-x-64p {
        transform: translateX(64%) !important;
    }

    .media-sm\:translate-x-65p {
        transform: translateX(65%) !important;
    }

    .media-sm\:translate-x-66p {
        transform: translateX(66%) !important;
    }

    .media-sm\:translate-x-67p {
        transform: translateX(67%) !important;
    }

    .media-sm\:translate-x-68p {
        transform: translateX(68%) !important;
    }

    .media-sm\:translate-x-69p {
        transform: translateX(69%) !important;
    }

    .media-sm\:translate-x-70p {
        transform: translateX(70%) !important;
    }

    .media-sm\:translate-x-71p {
        transform: translateX(71%) !important;
    }

    .media-sm\:translate-x-72p {
        transform: translateX(72%) !important;
    }

    .media-sm\:translate-x-73p {
        transform: translateX(73%) !important;
    }

    .media-sm\:translate-x-74p {
        transform: translateX(74%) !important;
    }

    .media-sm\:translate-x-75p {
        transform: translateX(75%) !important;
    }

    .media-sm\:translate-x-76p {
        transform: translateX(76%) !important;
    }

    .media-sm\:translate-x-77p {
        transform: translateX(77%) !important;
    }

    .media-sm\:translate-x-78p {
        transform: translateX(78%) !important;
    }

    .media-sm\:translate-x-79p {
        transform: translateX(79%) !important;
    }

    .media-sm\:translate-x-80p {
        transform: translateX(80%) !important;
    }

    .media-sm\:translate-x-81p {
        transform: translateX(81%) !important;
    }

    .media-sm\:translate-x-82p {
        transform: translateX(82%) !important;
    }

    .media-sm\:translate-x-83p {
        transform: translateX(83%) !important;
    }

    .media-sm\:translate-x-84p {
        transform: translateX(84%) !important;
    }

    .media-sm\:translate-x-85p {
        transform: translateX(85%) !important;
    }

    .media-sm\:translate-x-86p {
        transform: translateX(86%) !important;
    }

    .media-sm\:translate-x-87p {
        transform: translateX(87%) !important;
    }

    .media-sm\:translate-x-88p {
        transform: translateX(88%) !important;
    }

    .media-sm\:translate-x-89p {
        transform: translateX(89%) !important;
    }

    .media-sm\:translate-x-90p {
        transform: translateX(90%) !important;
    }

    .media-sm\:translate-x-91p {
        transform: translateX(91%) !important;
    }

    .media-sm\:translate-x-92p {
        transform: translateX(92%) !important;
    }

    .media-sm\:translate-x-93p {
        transform: translateX(93%) !important;
    }

    .media-sm\:translate-x-94p {
        transform: translateX(94%) !important;
    }

    .media-sm\:translate-x-95p {
        transform: translateX(95%) !important;
    }

    .media-sm\:translate-x-96p {
        transform: translateX(96%) !important;
    }

    .media-sm\:translate-x-97p {
        transform: translateX(97%) !important;
    }

    .media-sm\:translate-x-98p {
        transform: translateX(98%) !important;
    }

    .media-sm\:translate-x-99p {
        transform: translateX(99%) !important;
    }

    .media-sm\:translate-x-100p {
        transform: translateX(100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-x-1p {
        transform: translateX(1%) !important;
    }

    .media-md\:translate-x-2p {
        transform: translateX(2%) !important;
    }

    .media-md\:translate-x-3p {
        transform: translateX(3%) !important;
    }

    .media-md\:translate-x-4p {
        transform: translateX(4%) !important;
    }

    .media-md\:translate-x-5p {
        transform: translateX(5%) !important;
    }

    .media-md\:translate-x-6p {
        transform: translateX(6%) !important;
    }

    .media-md\:translate-x-7p {
        transform: translateX(7%) !important;
    }

    .media-md\:translate-x-8p {
        transform: translateX(8%) !important;
    }

    .media-md\:translate-x-9p {
        transform: translateX(9%) !important;
    }

    .media-md\:translate-x-10p {
        transform: translateX(10%) !important;
    }

    .media-md\:translate-x-11p {
        transform: translateX(11%) !important;
    }

    .media-md\:translate-x-12p {
        transform: translateX(12%) !important;
    }

    .media-md\:translate-x-13p {
        transform: translateX(13%) !important;
    }

    .media-md\:translate-x-14p {
        transform: translateX(14%) !important;
    }

    .media-md\:translate-x-15p {
        transform: translateX(15%) !important;
    }

    .media-md\:translate-x-16p {
        transform: translateX(16%) !important;
    }

    .media-md\:translate-x-17p {
        transform: translateX(17%) !important;
    }

    .media-md\:translate-x-18p {
        transform: translateX(18%) !important;
    }

    .media-md\:translate-x-19p {
        transform: translateX(19%) !important;
    }

    .media-md\:translate-x-20p {
        transform: translateX(20%) !important;
    }

    .media-md\:translate-x-21p {
        transform: translateX(21%) !important;
    }

    .media-md\:translate-x-22p {
        transform: translateX(22%) !important;
    }

    .media-md\:translate-x-23p {
        transform: translateX(23%) !important;
    }

    .media-md\:translate-x-24p {
        transform: translateX(24%) !important;
    }

    .media-md\:translate-x-25p {
        transform: translateX(25%) !important;
    }

    .media-md\:translate-x-26p {
        transform: translateX(26%) !important;
    }

    .media-md\:translate-x-27p {
        transform: translateX(27%) !important;
    }

    .media-md\:translate-x-28p {
        transform: translateX(28%) !important;
    }

    .media-md\:translate-x-29p {
        transform: translateX(29%) !important;
    }

    .media-md\:translate-x-30p {
        transform: translateX(30%) !important;
    }

    .media-md\:translate-x-31p {
        transform: translateX(31%) !important;
    }

    .media-md\:translate-x-32p {
        transform: translateX(32%) !important;
    }

    .media-md\:translate-x-33p {
        transform: translateX(33%) !important;
    }

    .media-md\:translate-x-34p {
        transform: translateX(34%) !important;
    }

    .media-md\:translate-x-35p {
        transform: translateX(35%) !important;
    }

    .media-md\:translate-x-36p {
        transform: translateX(36%) !important;
    }

    .media-md\:translate-x-37p {
        transform: translateX(37%) !important;
    }

    .media-md\:translate-x-38p {
        transform: translateX(38%) !important;
    }

    .media-md\:translate-x-39p {
        transform: translateX(39%) !important;
    }

    .media-md\:translate-x-40p {
        transform: translateX(40%) !important;
    }

    .media-md\:translate-x-41p {
        transform: translateX(41%) !important;
    }

    .media-md\:translate-x-42p {
        transform: translateX(42%) !important;
    }

    .media-md\:translate-x-43p {
        transform: translateX(43%) !important;
    }

    .media-md\:translate-x-44p {
        transform: translateX(44%) !important;
    }

    .media-md\:translate-x-45p {
        transform: translateX(45%) !important;
    }

    .media-md\:translate-x-46p {
        transform: translateX(46%) !important;
    }

    .media-md\:translate-x-47p {
        transform: translateX(47%) !important;
    }

    .media-md\:translate-x-48p {
        transform: translateX(48%) !important;
    }

    .media-md\:translate-x-49p {
        transform: translateX(49%) !important;
    }

    .media-md\:translate-x-50p {
        transform: translateX(50%) !important;
    }

    .media-md\:translate-x-51p {
        transform: translateX(51%) !important;
    }

    .media-md\:translate-x-52p {
        transform: translateX(52%) !important;
    }

    .media-md\:translate-x-53p {
        transform: translateX(53%) !important;
    }

    .media-md\:translate-x-54p {
        transform: translateX(54%) !important;
    }

    .media-md\:translate-x-55p {
        transform: translateX(55%) !important;
    }

    .media-md\:translate-x-56p {
        transform: translateX(56%) !important;
    }

    .media-md\:translate-x-57p {
        transform: translateX(57%) !important;
    }

    .media-md\:translate-x-58p {
        transform: translateX(58%) !important;
    }

    .media-md\:translate-x-59p {
        transform: translateX(59%) !important;
    }

    .media-md\:translate-x-60p {
        transform: translateX(60%) !important;
    }

    .media-md\:translate-x-61p {
        transform: translateX(61%) !important;
    }

    .media-md\:translate-x-62p {
        transform: translateX(62%) !important;
    }

    .media-md\:translate-x-63p {
        transform: translateX(63%) !important;
    }

    .media-md\:translate-x-64p {
        transform: translateX(64%) !important;
    }

    .media-md\:translate-x-65p {
        transform: translateX(65%) !important;
    }

    .media-md\:translate-x-66p {
        transform: translateX(66%) !important;
    }

    .media-md\:translate-x-67p {
        transform: translateX(67%) !important;
    }

    .media-md\:translate-x-68p {
        transform: translateX(68%) !important;
    }

    .media-md\:translate-x-69p {
        transform: translateX(69%) !important;
    }

    .media-md\:translate-x-70p {
        transform: translateX(70%) !important;
    }

    .media-md\:translate-x-71p {
        transform: translateX(71%) !important;
    }

    .media-md\:translate-x-72p {
        transform: translateX(72%) !important;
    }

    .media-md\:translate-x-73p {
        transform: translateX(73%) !important;
    }

    .media-md\:translate-x-74p {
        transform: translateX(74%) !important;
    }

    .media-md\:translate-x-75p {
        transform: translateX(75%) !important;
    }

    .media-md\:translate-x-76p {
        transform: translateX(76%) !important;
    }

    .media-md\:translate-x-77p {
        transform: translateX(77%) !important;
    }

    .media-md\:translate-x-78p {
        transform: translateX(78%) !important;
    }

    .media-md\:translate-x-79p {
        transform: translateX(79%) !important;
    }

    .media-md\:translate-x-80p {
        transform: translateX(80%) !important;
    }

    .media-md\:translate-x-81p {
        transform: translateX(81%) !important;
    }

    .media-md\:translate-x-82p {
        transform: translateX(82%) !important;
    }

    .media-md\:translate-x-83p {
        transform: translateX(83%) !important;
    }

    .media-md\:translate-x-84p {
        transform: translateX(84%) !important;
    }

    .media-md\:translate-x-85p {
        transform: translateX(85%) !important;
    }

    .media-md\:translate-x-86p {
        transform: translateX(86%) !important;
    }

    .media-md\:translate-x-87p {
        transform: translateX(87%) !important;
    }

    .media-md\:translate-x-88p {
        transform: translateX(88%) !important;
    }

    .media-md\:translate-x-89p {
        transform: translateX(89%) !important;
    }

    .media-md\:translate-x-90p {
        transform: translateX(90%) !important;
    }

    .media-md\:translate-x-91p {
        transform: translateX(91%) !important;
    }

    .media-md\:translate-x-92p {
        transform: translateX(92%) !important;
    }

    .media-md\:translate-x-93p {
        transform: translateX(93%) !important;
    }

    .media-md\:translate-x-94p {
        transform: translateX(94%) !important;
    }

    .media-md\:translate-x-95p {
        transform: translateX(95%) !important;
    }

    .media-md\:translate-x-96p {
        transform: translateX(96%) !important;
    }

    .media-md\:translate-x-97p {
        transform: translateX(97%) !important;
    }

    .media-md\:translate-x-98p {
        transform: translateX(98%) !important;
    }

    .media-md\:translate-x-99p {
        transform: translateX(99%) !important;
    }

    .media-md\:translate-x-100p {
        transform: translateX(100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-x-1p {
        transform: translateX(1%) !important;
    }

    .media-lg\:translate-x-2p {
        transform: translateX(2%) !important;
    }

    .media-lg\:translate-x-3p {
        transform: translateX(3%) !important;
    }

    .media-lg\:translate-x-4p {
        transform: translateX(4%) !important;
    }

    .media-lg\:translate-x-5p {
        transform: translateX(5%) !important;
    }

    .media-lg\:translate-x-6p {
        transform: translateX(6%) !important;
    }

    .media-lg\:translate-x-7p {
        transform: translateX(7%) !important;
    }

    .media-lg\:translate-x-8p {
        transform: translateX(8%) !important;
    }

    .media-lg\:translate-x-9p {
        transform: translateX(9%) !important;
    }

    .media-lg\:translate-x-10p {
        transform: translateX(10%) !important;
    }

    .media-lg\:translate-x-11p {
        transform: translateX(11%) !important;
    }

    .media-lg\:translate-x-12p {
        transform: translateX(12%) !important;
    }

    .media-lg\:translate-x-13p {
        transform: translateX(13%) !important;
    }

    .media-lg\:translate-x-14p {
        transform: translateX(14%) !important;
    }

    .media-lg\:translate-x-15p {
        transform: translateX(15%) !important;
    }

    .media-lg\:translate-x-16p {
        transform: translateX(16%) !important;
    }

    .media-lg\:translate-x-17p {
        transform: translateX(17%) !important;
    }

    .media-lg\:translate-x-18p {
        transform: translateX(18%) !important;
    }

    .media-lg\:translate-x-19p {
        transform: translateX(19%) !important;
    }

    .media-lg\:translate-x-20p {
        transform: translateX(20%) !important;
    }

    .media-lg\:translate-x-21p {
        transform: translateX(21%) !important;
    }

    .media-lg\:translate-x-22p {
        transform: translateX(22%) !important;
    }

    .media-lg\:translate-x-23p {
        transform: translateX(23%) !important;
    }

    .media-lg\:translate-x-24p {
        transform: translateX(24%) !important;
    }

    .media-lg\:translate-x-25p {
        transform: translateX(25%) !important;
    }

    .media-lg\:translate-x-26p {
        transform: translateX(26%) !important;
    }

    .media-lg\:translate-x-27p {
        transform: translateX(27%) !important;
    }

    .media-lg\:translate-x-28p {
        transform: translateX(28%) !important;
    }

    .media-lg\:translate-x-29p {
        transform: translateX(29%) !important;
    }

    .media-lg\:translate-x-30p {
        transform: translateX(30%) !important;
    }

    .media-lg\:translate-x-31p {
        transform: translateX(31%) !important;
    }

    .media-lg\:translate-x-32p {
        transform: translateX(32%) !important;
    }

    .media-lg\:translate-x-33p {
        transform: translateX(33%) !important;
    }

    .media-lg\:translate-x-34p {
        transform: translateX(34%) !important;
    }

    .media-lg\:translate-x-35p {
        transform: translateX(35%) !important;
    }

    .media-lg\:translate-x-36p {
        transform: translateX(36%) !important;
    }

    .media-lg\:translate-x-37p {
        transform: translateX(37%) !important;
    }

    .media-lg\:translate-x-38p {
        transform: translateX(38%) !important;
    }

    .media-lg\:translate-x-39p {
        transform: translateX(39%) !important;
    }

    .media-lg\:translate-x-40p {
        transform: translateX(40%) !important;
    }

    .media-lg\:translate-x-41p {
        transform: translateX(41%) !important;
    }

    .media-lg\:translate-x-42p {
        transform: translateX(42%) !important;
    }

    .media-lg\:translate-x-43p {
        transform: translateX(43%) !important;
    }

    .media-lg\:translate-x-44p {
        transform: translateX(44%) !important;
    }

    .media-lg\:translate-x-45p {
        transform: translateX(45%) !important;
    }

    .media-lg\:translate-x-46p {
        transform: translateX(46%) !important;
    }

    .media-lg\:translate-x-47p {
        transform: translateX(47%) !important;
    }

    .media-lg\:translate-x-48p {
        transform: translateX(48%) !important;
    }

    .media-lg\:translate-x-49p {
        transform: translateX(49%) !important;
    }

    .media-lg\:translate-x-50p {
        transform: translateX(50%) !important;
    }

    .media-lg\:translate-x-51p {
        transform: translateX(51%) !important;
    }

    .media-lg\:translate-x-52p {
        transform: translateX(52%) !important;
    }

    .media-lg\:translate-x-53p {
        transform: translateX(53%) !important;
    }

    .media-lg\:translate-x-54p {
        transform: translateX(54%) !important;
    }

    .media-lg\:translate-x-55p {
        transform: translateX(55%) !important;
    }

    .media-lg\:translate-x-56p {
        transform: translateX(56%) !important;
    }

    .media-lg\:translate-x-57p {
        transform: translateX(57%) !important;
    }

    .media-lg\:translate-x-58p {
        transform: translateX(58%) !important;
    }

    .media-lg\:translate-x-59p {
        transform: translateX(59%) !important;
    }

    .media-lg\:translate-x-60p {
        transform: translateX(60%) !important;
    }

    .media-lg\:translate-x-61p {
        transform: translateX(61%) !important;
    }

    .media-lg\:translate-x-62p {
        transform: translateX(62%) !important;
    }

    .media-lg\:translate-x-63p {
        transform: translateX(63%) !important;
    }

    .media-lg\:translate-x-64p {
        transform: translateX(64%) !important;
    }

    .media-lg\:translate-x-65p {
        transform: translateX(65%) !important;
    }

    .media-lg\:translate-x-66p {
        transform: translateX(66%) !important;
    }

    .media-lg\:translate-x-67p {
        transform: translateX(67%) !important;
    }

    .media-lg\:translate-x-68p {
        transform: translateX(68%) !important;
    }

    .media-lg\:translate-x-69p {
        transform: translateX(69%) !important;
    }

    .media-lg\:translate-x-70p {
        transform: translateX(70%) !important;
    }

    .media-lg\:translate-x-71p {
        transform: translateX(71%) !important;
    }

    .media-lg\:translate-x-72p {
        transform: translateX(72%) !important;
    }

    .media-lg\:translate-x-73p {
        transform: translateX(73%) !important;
    }

    .media-lg\:translate-x-74p {
        transform: translateX(74%) !important;
    }

    .media-lg\:translate-x-75p {
        transform: translateX(75%) !important;
    }

    .media-lg\:translate-x-76p {
        transform: translateX(76%) !important;
    }

    .media-lg\:translate-x-77p {
        transform: translateX(77%) !important;
    }

    .media-lg\:translate-x-78p {
        transform: translateX(78%) !important;
    }

    .media-lg\:translate-x-79p {
        transform: translateX(79%) !important;
    }

    .media-lg\:translate-x-80p {
        transform: translateX(80%) !important;
    }

    .media-lg\:translate-x-81p {
        transform: translateX(81%) !important;
    }

    .media-lg\:translate-x-82p {
        transform: translateX(82%) !important;
    }

    .media-lg\:translate-x-83p {
        transform: translateX(83%) !important;
    }

    .media-lg\:translate-x-84p {
        transform: translateX(84%) !important;
    }

    .media-lg\:translate-x-85p {
        transform: translateX(85%) !important;
    }

    .media-lg\:translate-x-86p {
        transform: translateX(86%) !important;
    }

    .media-lg\:translate-x-87p {
        transform: translateX(87%) !important;
    }

    .media-lg\:translate-x-88p {
        transform: translateX(88%) !important;
    }

    .media-lg\:translate-x-89p {
        transform: translateX(89%) !important;
    }

    .media-lg\:translate-x-90p {
        transform: translateX(90%) !important;
    }

    .media-lg\:translate-x-91p {
        transform: translateX(91%) !important;
    }

    .media-lg\:translate-x-92p {
        transform: translateX(92%) !important;
    }

    .media-lg\:translate-x-93p {
        transform: translateX(93%) !important;
    }

    .media-lg\:translate-x-94p {
        transform: translateX(94%) !important;
    }

    .media-lg\:translate-x-95p {
        transform: translateX(95%) !important;
    }

    .media-lg\:translate-x-96p {
        transform: translateX(96%) !important;
    }

    .media-lg\:translate-x-97p {
        transform: translateX(97%) !important;
    }

    .media-lg\:translate-x-98p {
        transform: translateX(98%) !important;
    }

    .media-lg\:translate-x-99p {
        transform: translateX(99%) !important;
    }

    .media-lg\:translate-x-100p {
        transform: translateX(100%) !important;
    }
}