.translate-y-n1p {
    transform: translateY(-1%) !important;
}

.translate-y-n2p {
    transform: translateY(-2%) !important;
}

.translate-y-n3p {
    transform: translateY(-3%) !important;
}

.translate-y-n4p {
    transform: translateY(-4%) !important;
}

.translate-y-n5p {
    transform: translateY(-5%) !important;
}

.translate-y-n6p {
    transform: translateY(-6%) !important;
}

.translate-y-n7p {
    transform: translateY(-7%) !important;
}

.translate-y-n8p {
    transform: translateY(-8%) !important;
}

.translate-y-n9p {
    transform: translateY(-9%) !important;
}

.translate-y-n10p {
    transform: translateY(-10%) !important;
}

.translate-y-n11p {
    transform: translateY(-11%) !important;
}

.translate-y-n12p {
    transform: translateY(-12%) !important;
}

.translate-y-n13p {
    transform: translateY(-13%) !important;
}

.translate-y-n14p {
    transform: translateY(-14%) !important;
}

.translate-y-n15p {
    transform: translateY(-15%) !important;
}

.translate-y-n16p {
    transform: translateY(-16%) !important;
}

.translate-y-n17p {
    transform: translateY(-17%) !important;
}

.translate-y-n18p {
    transform: translateY(-18%) !important;
}

.translate-y-n19p {
    transform: translateY(-19%) !important;
}

.translate-y-n20p {
    transform: translateY(-20%) !important;
}

.translate-y-n21p {
    transform: translateY(-21%) !important;
}

.translate-y-n22p {
    transform: translateY(-22%) !important;
}

.translate-y-n23p {
    transform: translateY(-23%) !important;
}

.translate-y-n24p {
    transform: translateY(-24%) !important;
}

.translate-y-n25p {
    transform: translateY(-25%) !important;
}

.translate-y-n26p {
    transform: translateY(-26%) !important;
}

.translate-y-n27p {
    transform: translateY(-27%) !important;
}

.translate-y-n28p {
    transform: translateY(-28%) !important;
}

.translate-y-n29p {
    transform: translateY(-29%) !important;
}

.translate-y-n30p {
    transform: translateY(-30%) !important;
}

.translate-y-n31p {
    transform: translateY(-31%) !important;
}

.translate-y-n32p {
    transform: translateY(-32%) !important;
}

.translate-y-n33p {
    transform: translateY(-33%) !important;
}

.translate-y-n34p {
    transform: translateY(-34%) !important;
}

.translate-y-n35p {
    transform: translateY(-35%) !important;
}

.translate-y-n36p {
    transform: translateY(-36%) !important;
}

.translate-y-n37p {
    transform: translateY(-37%) !important;
}

.translate-y-n38p {
    transform: translateY(-38%) !important;
}

.translate-y-n39p {
    transform: translateY(-39%) !important;
}

.translate-y-n40p {
    transform: translateY(-40%) !important;
}

.translate-y-n41p {
    transform: translateY(-41%) !important;
}

.translate-y-n42p {
    transform: translateY(-42%) !important;
}

.translate-y-n43p {
    transform: translateY(-43%) !important;
}

.translate-y-n44p {
    transform: translateY(-44%) !important;
}

.translate-y-n45p {
    transform: translateY(-45%) !important;
}

.translate-y-n46p {
    transform: translateY(-46%) !important;
}

.translate-y-n47p {
    transform: translateY(-47%) !important;
}

.translate-y-n48p {
    transform: translateY(-48%) !important;
}

.translate-y-n49p {
    transform: translateY(-49%) !important;
}

.translate-y-n50p {
    transform: translateY(-50%) !important;
}

.translate-y-n51p {
    transform: translateY(-51%) !important;
}

.translate-y-n52p {
    transform: translateY(-52%) !important;
}

.translate-y-n53p {
    transform: translateY(-53%) !important;
}

.translate-y-n54p {
    transform: translateY(-54%) !important;
}

.translate-y-n55p {
    transform: translateY(-55%) !important;
}

.translate-y-n56p {
    transform: translateY(-56%) !important;
}

.translate-y-n57p {
    transform: translateY(-57%) !important;
}

.translate-y-n58p {
    transform: translateY(-58%) !important;
}

.translate-y-n59p {
    transform: translateY(-59%) !important;
}

.translate-y-n60p {
    transform: translateY(-60%) !important;
}

.translate-y-n61p {
    transform: translateY(-61%) !important;
}

.translate-y-n62p {
    transform: translateY(-62%) !important;
}

.translate-y-n63p {
    transform: translateY(-63%) !important;
}

.translate-y-n64p {
    transform: translateY(-64%) !important;
}

.translate-y-n65p {
    transform: translateY(-65%) !important;
}

.translate-y-n66p {
    transform: translateY(-66%) !important;
}

.translate-y-n67p {
    transform: translateY(-67%) !important;
}

.translate-y-n68p {
    transform: translateY(-68%) !important;
}

.translate-y-n69p {
    transform: translateY(-69%) !important;
}

.translate-y-n70p {
    transform: translateY(-70%) !important;
}

.translate-y-n71p {
    transform: translateY(-71%) !important;
}

.translate-y-n72p {
    transform: translateY(-72%) !important;
}

.translate-y-n73p {
    transform: translateY(-73%) !important;
}

.translate-y-n74p {
    transform: translateY(-74%) !important;
}

.translate-y-n75p {
    transform: translateY(-75%) !important;
}

.translate-y-n76p {
    transform: translateY(-76%) !important;
}

.translate-y-n77p {
    transform: translateY(-77%) !important;
}

.translate-y-n78p {
    transform: translateY(-78%) !important;
}

.translate-y-n79p {
    transform: translateY(-79%) !important;
}

.translate-y-n80p {
    transform: translateY(-80%) !important;
}

.translate-y-n81p {
    transform: translateY(-81%) !important;
}

.translate-y-n82p {
    transform: translateY(-82%) !important;
}

.translate-y-n83p {
    transform: translateY(-83%) !important;
}

.translate-y-n84p {
    transform: translateY(-84%) !important;
}

.translate-y-n85p {
    transform: translateY(-85%) !important;
}

.translate-y-n86p {
    transform: translateY(-86%) !important;
}

.translate-y-n87p {
    transform: translateY(-87%) !important;
}

.translate-y-n88p {
    transform: translateY(-88%) !important;
}

.translate-y-n89p {
    transform: translateY(-89%) !important;
}

.translate-y-n90p {
    transform: translateY(-90%) !important;
}

.translate-y-n91p {
    transform: translateY(-91%) !important;
}

.translate-y-n92p {
    transform: translateY(-92%) !important;
}

.translate-y-n93p {
    transform: translateY(-93%) !important;
}

.translate-y-n94p {
    transform: translateY(-94%) !important;
}

.translate-y-n95p {
    transform: translateY(-95%) !important;
}

.translate-y-n96p {
    transform: translateY(-96%) !important;
}

.translate-y-n97p {
    transform: translateY(-97%) !important;
}

.translate-y-n98p {
    transform: translateY(-98%) !important;
}

.translate-y-n99p {
    transform: translateY(-99%) !important;
}

.translate-y-n100p {
    transform: translateY(-100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-y-n1p {
        transform: translateY(-1%) !important;
    }

    .media-xs\:translate-y-n2p {
        transform: translateY(-2%) !important;
    }

    .media-xs\:translate-y-n3p {
        transform: translateY(-3%) !important;
    }

    .media-xs\:translate-y-n4p {
        transform: translateY(-4%) !important;
    }

    .media-xs\:translate-y-n5p {
        transform: translateY(-5%) !important;
    }

    .media-xs\:translate-y-n6p {
        transform: translateY(-6%) !important;
    }

    .media-xs\:translate-y-n7p {
        transform: translateY(-7%) !important;
    }

    .media-xs\:translate-y-n8p {
        transform: translateY(-8%) !important;
    }

    .media-xs\:translate-y-n9p {
        transform: translateY(-9%) !important;
    }

    .media-xs\:translate-y-n10p {
        transform: translateY(-10%) !important;
    }

    .media-xs\:translate-y-n11p {
        transform: translateY(-11%) !important;
    }

    .media-xs\:translate-y-n12p {
        transform: translateY(-12%) !important;
    }

    .media-xs\:translate-y-n13p {
        transform: translateY(-13%) !important;
    }

    .media-xs\:translate-y-n14p {
        transform: translateY(-14%) !important;
    }

    .media-xs\:translate-y-n15p {
        transform: translateY(-15%) !important;
    }

    .media-xs\:translate-y-n16p {
        transform: translateY(-16%) !important;
    }

    .media-xs\:translate-y-n17p {
        transform: translateY(-17%) !important;
    }

    .media-xs\:translate-y-n18p {
        transform: translateY(-18%) !important;
    }

    .media-xs\:translate-y-n19p {
        transform: translateY(-19%) !important;
    }

    .media-xs\:translate-y-n20p {
        transform: translateY(-20%) !important;
    }

    .media-xs\:translate-y-n21p {
        transform: translateY(-21%) !important;
    }

    .media-xs\:translate-y-n22p {
        transform: translateY(-22%) !important;
    }

    .media-xs\:translate-y-n23p {
        transform: translateY(-23%) !important;
    }

    .media-xs\:translate-y-n24p {
        transform: translateY(-24%) !important;
    }

    .media-xs\:translate-y-n25p {
        transform: translateY(-25%) !important;
    }

    .media-xs\:translate-y-n26p {
        transform: translateY(-26%) !important;
    }

    .media-xs\:translate-y-n27p {
        transform: translateY(-27%) !important;
    }

    .media-xs\:translate-y-n28p {
        transform: translateY(-28%) !important;
    }

    .media-xs\:translate-y-n29p {
        transform: translateY(-29%) !important;
    }

    .media-xs\:translate-y-n30p {
        transform: translateY(-30%) !important;
    }

    .media-xs\:translate-y-n31p {
        transform: translateY(-31%) !important;
    }

    .media-xs\:translate-y-n32p {
        transform: translateY(-32%) !important;
    }

    .media-xs\:translate-y-n33p {
        transform: translateY(-33%) !important;
    }

    .media-xs\:translate-y-n34p {
        transform: translateY(-34%) !important;
    }

    .media-xs\:translate-y-n35p {
        transform: translateY(-35%) !important;
    }

    .media-xs\:translate-y-n36p {
        transform: translateY(-36%) !important;
    }

    .media-xs\:translate-y-n37p {
        transform: translateY(-37%) !important;
    }

    .media-xs\:translate-y-n38p {
        transform: translateY(-38%) !important;
    }

    .media-xs\:translate-y-n39p {
        transform: translateY(-39%) !important;
    }

    .media-xs\:translate-y-n40p {
        transform: translateY(-40%) !important;
    }

    .media-xs\:translate-y-n41p {
        transform: translateY(-41%) !important;
    }

    .media-xs\:translate-y-n42p {
        transform: translateY(-42%) !important;
    }

    .media-xs\:translate-y-n43p {
        transform: translateY(-43%) !important;
    }

    .media-xs\:translate-y-n44p {
        transform: translateY(-44%) !important;
    }

    .media-xs\:translate-y-n45p {
        transform: translateY(-45%) !important;
    }

    .media-xs\:translate-y-n46p {
        transform: translateY(-46%) !important;
    }

    .media-xs\:translate-y-n47p {
        transform: translateY(-47%) !important;
    }

    .media-xs\:translate-y-n48p {
        transform: translateY(-48%) !important;
    }

    .media-xs\:translate-y-n49p {
        transform: translateY(-49%) !important;
    }

    .media-xs\:translate-y-n50p {
        transform: translateY(-50%) !important;
    }

    .media-xs\:translate-y-n51p {
        transform: translateY(-51%) !important;
    }

    .media-xs\:translate-y-n52p {
        transform: translateY(-52%) !important;
    }

    .media-xs\:translate-y-n53p {
        transform: translateY(-53%) !important;
    }

    .media-xs\:translate-y-n54p {
        transform: translateY(-54%) !important;
    }

    .media-xs\:translate-y-n55p {
        transform: translateY(-55%) !important;
    }

    .media-xs\:translate-y-n56p {
        transform: translateY(-56%) !important;
    }

    .media-xs\:translate-y-n57p {
        transform: translateY(-57%) !important;
    }

    .media-xs\:translate-y-n58p {
        transform: translateY(-58%) !important;
    }

    .media-xs\:translate-y-n59p {
        transform: translateY(-59%) !important;
    }

    .media-xs\:translate-y-n60p {
        transform: translateY(-60%) !important;
    }

    .media-xs\:translate-y-n61p {
        transform: translateY(-61%) !important;
    }

    .media-xs\:translate-y-n62p {
        transform: translateY(-62%) !important;
    }

    .media-xs\:translate-y-n63p {
        transform: translateY(-63%) !important;
    }

    .media-xs\:translate-y-n64p {
        transform: translateY(-64%) !important;
    }

    .media-xs\:translate-y-n65p {
        transform: translateY(-65%) !important;
    }

    .media-xs\:translate-y-n66p {
        transform: translateY(-66%) !important;
    }

    .media-xs\:translate-y-n67p {
        transform: translateY(-67%) !important;
    }

    .media-xs\:translate-y-n68p {
        transform: translateY(-68%) !important;
    }

    .media-xs\:translate-y-n69p {
        transform: translateY(-69%) !important;
    }

    .media-xs\:translate-y-n70p {
        transform: translateY(-70%) !important;
    }

    .media-xs\:translate-y-n71p {
        transform: translateY(-71%) !important;
    }

    .media-xs\:translate-y-n72p {
        transform: translateY(-72%) !important;
    }

    .media-xs\:translate-y-n73p {
        transform: translateY(-73%) !important;
    }

    .media-xs\:translate-y-n74p {
        transform: translateY(-74%) !important;
    }

    .media-xs\:translate-y-n75p {
        transform: translateY(-75%) !important;
    }

    .media-xs\:translate-y-n76p {
        transform: translateY(-76%) !important;
    }

    .media-xs\:translate-y-n77p {
        transform: translateY(-77%) !important;
    }

    .media-xs\:translate-y-n78p {
        transform: translateY(-78%) !important;
    }

    .media-xs\:translate-y-n79p {
        transform: translateY(-79%) !important;
    }

    .media-xs\:translate-y-n80p {
        transform: translateY(-80%) !important;
    }

    .media-xs\:translate-y-n81p {
        transform: translateY(-81%) !important;
    }

    .media-xs\:translate-y-n82p {
        transform: translateY(-82%) !important;
    }

    .media-xs\:translate-y-n83p {
        transform: translateY(-83%) !important;
    }

    .media-xs\:translate-y-n84p {
        transform: translateY(-84%) !important;
    }

    .media-xs\:translate-y-n85p {
        transform: translateY(-85%) !important;
    }

    .media-xs\:translate-y-n86p {
        transform: translateY(-86%) !important;
    }

    .media-xs\:translate-y-n87p {
        transform: translateY(-87%) !important;
    }

    .media-xs\:translate-y-n88p {
        transform: translateY(-88%) !important;
    }

    .media-xs\:translate-y-n89p {
        transform: translateY(-89%) !important;
    }

    .media-xs\:translate-y-n90p {
        transform: translateY(-90%) !important;
    }

    .media-xs\:translate-y-n91p {
        transform: translateY(-91%) !important;
    }

    .media-xs\:translate-y-n92p {
        transform: translateY(-92%) !important;
    }

    .media-xs\:translate-y-n93p {
        transform: translateY(-93%) !important;
    }

    .media-xs\:translate-y-n94p {
        transform: translateY(-94%) !important;
    }

    .media-xs\:translate-y-n95p {
        transform: translateY(-95%) !important;
    }

    .media-xs\:translate-y-n96p {
        transform: translateY(-96%) !important;
    }

    .media-xs\:translate-y-n97p {
        transform: translateY(-97%) !important;
    }

    .media-xs\:translate-y-n98p {
        transform: translateY(-98%) !important;
    }

    .media-xs\:translate-y-n99p {
        transform: translateY(-99%) !important;
    }

    .media-xs\:translate-y-n100p {
        transform: translateY(-100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-y-n1p {
        transform: translateY(-1%) !important;
    }

    .media-sm\:translate-y-n2p {
        transform: translateY(-2%) !important;
    }

    .media-sm\:translate-y-n3p {
        transform: translateY(-3%) !important;
    }

    .media-sm\:translate-y-n4p {
        transform: translateY(-4%) !important;
    }

    .media-sm\:translate-y-n5p {
        transform: translateY(-5%) !important;
    }

    .media-sm\:translate-y-n6p {
        transform: translateY(-6%) !important;
    }

    .media-sm\:translate-y-n7p {
        transform: translateY(-7%) !important;
    }

    .media-sm\:translate-y-n8p {
        transform: translateY(-8%) !important;
    }

    .media-sm\:translate-y-n9p {
        transform: translateY(-9%) !important;
    }

    .media-sm\:translate-y-n10p {
        transform: translateY(-10%) !important;
    }

    .media-sm\:translate-y-n11p {
        transform: translateY(-11%) !important;
    }

    .media-sm\:translate-y-n12p {
        transform: translateY(-12%) !important;
    }

    .media-sm\:translate-y-n13p {
        transform: translateY(-13%) !important;
    }

    .media-sm\:translate-y-n14p {
        transform: translateY(-14%) !important;
    }

    .media-sm\:translate-y-n15p {
        transform: translateY(-15%) !important;
    }

    .media-sm\:translate-y-n16p {
        transform: translateY(-16%) !important;
    }

    .media-sm\:translate-y-n17p {
        transform: translateY(-17%) !important;
    }

    .media-sm\:translate-y-n18p {
        transform: translateY(-18%) !important;
    }

    .media-sm\:translate-y-n19p {
        transform: translateY(-19%) !important;
    }

    .media-sm\:translate-y-n20p {
        transform: translateY(-20%) !important;
    }

    .media-sm\:translate-y-n21p {
        transform: translateY(-21%) !important;
    }

    .media-sm\:translate-y-n22p {
        transform: translateY(-22%) !important;
    }

    .media-sm\:translate-y-n23p {
        transform: translateY(-23%) !important;
    }

    .media-sm\:translate-y-n24p {
        transform: translateY(-24%) !important;
    }

    .media-sm\:translate-y-n25p {
        transform: translateY(-25%) !important;
    }

    .media-sm\:translate-y-n26p {
        transform: translateY(-26%) !important;
    }

    .media-sm\:translate-y-n27p {
        transform: translateY(-27%) !important;
    }

    .media-sm\:translate-y-n28p {
        transform: translateY(-28%) !important;
    }

    .media-sm\:translate-y-n29p {
        transform: translateY(-29%) !important;
    }

    .media-sm\:translate-y-n30p {
        transform: translateY(-30%) !important;
    }

    .media-sm\:translate-y-n31p {
        transform: translateY(-31%) !important;
    }

    .media-sm\:translate-y-n32p {
        transform: translateY(-32%) !important;
    }

    .media-sm\:translate-y-n33p {
        transform: translateY(-33%) !important;
    }

    .media-sm\:translate-y-n34p {
        transform: translateY(-34%) !important;
    }

    .media-sm\:translate-y-n35p {
        transform: translateY(-35%) !important;
    }

    .media-sm\:translate-y-n36p {
        transform: translateY(-36%) !important;
    }

    .media-sm\:translate-y-n37p {
        transform: translateY(-37%) !important;
    }

    .media-sm\:translate-y-n38p {
        transform: translateY(-38%) !important;
    }

    .media-sm\:translate-y-n39p {
        transform: translateY(-39%) !important;
    }

    .media-sm\:translate-y-n40p {
        transform: translateY(-40%) !important;
    }

    .media-sm\:translate-y-n41p {
        transform: translateY(-41%) !important;
    }

    .media-sm\:translate-y-n42p {
        transform: translateY(-42%) !important;
    }

    .media-sm\:translate-y-n43p {
        transform: translateY(-43%) !important;
    }

    .media-sm\:translate-y-n44p {
        transform: translateY(-44%) !important;
    }

    .media-sm\:translate-y-n45p {
        transform: translateY(-45%) !important;
    }

    .media-sm\:translate-y-n46p {
        transform: translateY(-46%) !important;
    }

    .media-sm\:translate-y-n47p {
        transform: translateY(-47%) !important;
    }

    .media-sm\:translate-y-n48p {
        transform: translateY(-48%) !important;
    }

    .media-sm\:translate-y-n49p {
        transform: translateY(-49%) !important;
    }

    .media-sm\:translate-y-n50p {
        transform: translateY(-50%) !important;
    }

    .media-sm\:translate-y-n51p {
        transform: translateY(-51%) !important;
    }

    .media-sm\:translate-y-n52p {
        transform: translateY(-52%) !important;
    }

    .media-sm\:translate-y-n53p {
        transform: translateY(-53%) !important;
    }

    .media-sm\:translate-y-n54p {
        transform: translateY(-54%) !important;
    }

    .media-sm\:translate-y-n55p {
        transform: translateY(-55%) !important;
    }

    .media-sm\:translate-y-n56p {
        transform: translateY(-56%) !important;
    }

    .media-sm\:translate-y-n57p {
        transform: translateY(-57%) !important;
    }

    .media-sm\:translate-y-n58p {
        transform: translateY(-58%) !important;
    }

    .media-sm\:translate-y-n59p {
        transform: translateY(-59%) !important;
    }

    .media-sm\:translate-y-n60p {
        transform: translateY(-60%) !important;
    }

    .media-sm\:translate-y-n61p {
        transform: translateY(-61%) !important;
    }

    .media-sm\:translate-y-n62p {
        transform: translateY(-62%) !important;
    }

    .media-sm\:translate-y-n63p {
        transform: translateY(-63%) !important;
    }

    .media-sm\:translate-y-n64p {
        transform: translateY(-64%) !important;
    }

    .media-sm\:translate-y-n65p {
        transform: translateY(-65%) !important;
    }

    .media-sm\:translate-y-n66p {
        transform: translateY(-66%) !important;
    }

    .media-sm\:translate-y-n67p {
        transform: translateY(-67%) !important;
    }

    .media-sm\:translate-y-n68p {
        transform: translateY(-68%) !important;
    }

    .media-sm\:translate-y-n69p {
        transform: translateY(-69%) !important;
    }

    .media-sm\:translate-y-n70p {
        transform: translateY(-70%) !important;
    }

    .media-sm\:translate-y-n71p {
        transform: translateY(-71%) !important;
    }

    .media-sm\:translate-y-n72p {
        transform: translateY(-72%) !important;
    }

    .media-sm\:translate-y-n73p {
        transform: translateY(-73%) !important;
    }

    .media-sm\:translate-y-n74p {
        transform: translateY(-74%) !important;
    }

    .media-sm\:translate-y-n75p {
        transform: translateY(-75%) !important;
    }

    .media-sm\:translate-y-n76p {
        transform: translateY(-76%) !important;
    }

    .media-sm\:translate-y-n77p {
        transform: translateY(-77%) !important;
    }

    .media-sm\:translate-y-n78p {
        transform: translateY(-78%) !important;
    }

    .media-sm\:translate-y-n79p {
        transform: translateY(-79%) !important;
    }

    .media-sm\:translate-y-n80p {
        transform: translateY(-80%) !important;
    }

    .media-sm\:translate-y-n81p {
        transform: translateY(-81%) !important;
    }

    .media-sm\:translate-y-n82p {
        transform: translateY(-82%) !important;
    }

    .media-sm\:translate-y-n83p {
        transform: translateY(-83%) !important;
    }

    .media-sm\:translate-y-n84p {
        transform: translateY(-84%) !important;
    }

    .media-sm\:translate-y-n85p {
        transform: translateY(-85%) !important;
    }

    .media-sm\:translate-y-n86p {
        transform: translateY(-86%) !important;
    }

    .media-sm\:translate-y-n87p {
        transform: translateY(-87%) !important;
    }

    .media-sm\:translate-y-n88p {
        transform: translateY(-88%) !important;
    }

    .media-sm\:translate-y-n89p {
        transform: translateY(-89%) !important;
    }

    .media-sm\:translate-y-n90p {
        transform: translateY(-90%) !important;
    }

    .media-sm\:translate-y-n91p {
        transform: translateY(-91%) !important;
    }

    .media-sm\:translate-y-n92p {
        transform: translateY(-92%) !important;
    }

    .media-sm\:translate-y-n93p {
        transform: translateY(-93%) !important;
    }

    .media-sm\:translate-y-n94p {
        transform: translateY(-94%) !important;
    }

    .media-sm\:translate-y-n95p {
        transform: translateY(-95%) !important;
    }

    .media-sm\:translate-y-n96p {
        transform: translateY(-96%) !important;
    }

    .media-sm\:translate-y-n97p {
        transform: translateY(-97%) !important;
    }

    .media-sm\:translate-y-n98p {
        transform: translateY(-98%) !important;
    }

    .media-sm\:translate-y-n99p {
        transform: translateY(-99%) !important;
    }

    .media-sm\:translate-y-n100p {
        transform: translateY(-100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-y-n1p {
        transform: translateY(-1%) !important;
    }

    .media-md\:translate-y-n2p {
        transform: translateY(-2%) !important;
    }

    .media-md\:translate-y-n3p {
        transform: translateY(-3%) !important;
    }

    .media-md\:translate-y-n4p {
        transform: translateY(-4%) !important;
    }

    .media-md\:translate-y-n5p {
        transform: translateY(-5%) !important;
    }

    .media-md\:translate-y-n6p {
        transform: translateY(-6%) !important;
    }

    .media-md\:translate-y-n7p {
        transform: translateY(-7%) !important;
    }

    .media-md\:translate-y-n8p {
        transform: translateY(-8%) !important;
    }

    .media-md\:translate-y-n9p {
        transform: translateY(-9%) !important;
    }

    .media-md\:translate-y-n10p {
        transform: translateY(-10%) !important;
    }

    .media-md\:translate-y-n11p {
        transform: translateY(-11%) !important;
    }

    .media-md\:translate-y-n12p {
        transform: translateY(-12%) !important;
    }

    .media-md\:translate-y-n13p {
        transform: translateY(-13%) !important;
    }

    .media-md\:translate-y-n14p {
        transform: translateY(-14%) !important;
    }

    .media-md\:translate-y-n15p {
        transform: translateY(-15%) !important;
    }

    .media-md\:translate-y-n16p {
        transform: translateY(-16%) !important;
    }

    .media-md\:translate-y-n17p {
        transform: translateY(-17%) !important;
    }

    .media-md\:translate-y-n18p {
        transform: translateY(-18%) !important;
    }

    .media-md\:translate-y-n19p {
        transform: translateY(-19%) !important;
    }

    .media-md\:translate-y-n20p {
        transform: translateY(-20%) !important;
    }

    .media-md\:translate-y-n21p {
        transform: translateY(-21%) !important;
    }

    .media-md\:translate-y-n22p {
        transform: translateY(-22%) !important;
    }

    .media-md\:translate-y-n23p {
        transform: translateY(-23%) !important;
    }

    .media-md\:translate-y-n24p {
        transform: translateY(-24%) !important;
    }

    .media-md\:translate-y-n25p {
        transform: translateY(-25%) !important;
    }

    .media-md\:translate-y-n26p {
        transform: translateY(-26%) !important;
    }

    .media-md\:translate-y-n27p {
        transform: translateY(-27%) !important;
    }

    .media-md\:translate-y-n28p {
        transform: translateY(-28%) !important;
    }

    .media-md\:translate-y-n29p {
        transform: translateY(-29%) !important;
    }

    .media-md\:translate-y-n30p {
        transform: translateY(-30%) !important;
    }

    .media-md\:translate-y-n31p {
        transform: translateY(-31%) !important;
    }

    .media-md\:translate-y-n32p {
        transform: translateY(-32%) !important;
    }

    .media-md\:translate-y-n33p {
        transform: translateY(-33%) !important;
    }

    .media-md\:translate-y-n34p {
        transform: translateY(-34%) !important;
    }

    .media-md\:translate-y-n35p {
        transform: translateY(-35%) !important;
    }

    .media-md\:translate-y-n36p {
        transform: translateY(-36%) !important;
    }

    .media-md\:translate-y-n37p {
        transform: translateY(-37%) !important;
    }

    .media-md\:translate-y-n38p {
        transform: translateY(-38%) !important;
    }

    .media-md\:translate-y-n39p {
        transform: translateY(-39%) !important;
    }

    .media-md\:translate-y-n40p {
        transform: translateY(-40%) !important;
    }

    .media-md\:translate-y-n41p {
        transform: translateY(-41%) !important;
    }

    .media-md\:translate-y-n42p {
        transform: translateY(-42%) !important;
    }

    .media-md\:translate-y-n43p {
        transform: translateY(-43%) !important;
    }

    .media-md\:translate-y-n44p {
        transform: translateY(-44%) !important;
    }

    .media-md\:translate-y-n45p {
        transform: translateY(-45%) !important;
    }

    .media-md\:translate-y-n46p {
        transform: translateY(-46%) !important;
    }

    .media-md\:translate-y-n47p {
        transform: translateY(-47%) !important;
    }

    .media-md\:translate-y-n48p {
        transform: translateY(-48%) !important;
    }

    .media-md\:translate-y-n49p {
        transform: translateY(-49%) !important;
    }

    .media-md\:translate-y-n50p {
        transform: translateY(-50%) !important;
    }

    .media-md\:translate-y-n51p {
        transform: translateY(-51%) !important;
    }

    .media-md\:translate-y-n52p {
        transform: translateY(-52%) !important;
    }

    .media-md\:translate-y-n53p {
        transform: translateY(-53%) !important;
    }

    .media-md\:translate-y-n54p {
        transform: translateY(-54%) !important;
    }

    .media-md\:translate-y-n55p {
        transform: translateY(-55%) !important;
    }

    .media-md\:translate-y-n56p {
        transform: translateY(-56%) !important;
    }

    .media-md\:translate-y-n57p {
        transform: translateY(-57%) !important;
    }

    .media-md\:translate-y-n58p {
        transform: translateY(-58%) !important;
    }

    .media-md\:translate-y-n59p {
        transform: translateY(-59%) !important;
    }

    .media-md\:translate-y-n60p {
        transform: translateY(-60%) !important;
    }

    .media-md\:translate-y-n61p {
        transform: translateY(-61%) !important;
    }

    .media-md\:translate-y-n62p {
        transform: translateY(-62%) !important;
    }

    .media-md\:translate-y-n63p {
        transform: translateY(-63%) !important;
    }

    .media-md\:translate-y-n64p {
        transform: translateY(-64%) !important;
    }

    .media-md\:translate-y-n65p {
        transform: translateY(-65%) !important;
    }

    .media-md\:translate-y-n66p {
        transform: translateY(-66%) !important;
    }

    .media-md\:translate-y-n67p {
        transform: translateY(-67%) !important;
    }

    .media-md\:translate-y-n68p {
        transform: translateY(-68%) !important;
    }

    .media-md\:translate-y-n69p {
        transform: translateY(-69%) !important;
    }

    .media-md\:translate-y-n70p {
        transform: translateY(-70%) !important;
    }

    .media-md\:translate-y-n71p {
        transform: translateY(-71%) !important;
    }

    .media-md\:translate-y-n72p {
        transform: translateY(-72%) !important;
    }

    .media-md\:translate-y-n73p {
        transform: translateY(-73%) !important;
    }

    .media-md\:translate-y-n74p {
        transform: translateY(-74%) !important;
    }

    .media-md\:translate-y-n75p {
        transform: translateY(-75%) !important;
    }

    .media-md\:translate-y-n76p {
        transform: translateY(-76%) !important;
    }

    .media-md\:translate-y-n77p {
        transform: translateY(-77%) !important;
    }

    .media-md\:translate-y-n78p {
        transform: translateY(-78%) !important;
    }

    .media-md\:translate-y-n79p {
        transform: translateY(-79%) !important;
    }

    .media-md\:translate-y-n80p {
        transform: translateY(-80%) !important;
    }

    .media-md\:translate-y-n81p {
        transform: translateY(-81%) !important;
    }

    .media-md\:translate-y-n82p {
        transform: translateY(-82%) !important;
    }

    .media-md\:translate-y-n83p {
        transform: translateY(-83%) !important;
    }

    .media-md\:translate-y-n84p {
        transform: translateY(-84%) !important;
    }

    .media-md\:translate-y-n85p {
        transform: translateY(-85%) !important;
    }

    .media-md\:translate-y-n86p {
        transform: translateY(-86%) !important;
    }

    .media-md\:translate-y-n87p {
        transform: translateY(-87%) !important;
    }

    .media-md\:translate-y-n88p {
        transform: translateY(-88%) !important;
    }

    .media-md\:translate-y-n89p {
        transform: translateY(-89%) !important;
    }

    .media-md\:translate-y-n90p {
        transform: translateY(-90%) !important;
    }

    .media-md\:translate-y-n91p {
        transform: translateY(-91%) !important;
    }

    .media-md\:translate-y-n92p {
        transform: translateY(-92%) !important;
    }

    .media-md\:translate-y-n93p {
        transform: translateY(-93%) !important;
    }

    .media-md\:translate-y-n94p {
        transform: translateY(-94%) !important;
    }

    .media-md\:translate-y-n95p {
        transform: translateY(-95%) !important;
    }

    .media-md\:translate-y-n96p {
        transform: translateY(-96%) !important;
    }

    .media-md\:translate-y-n97p {
        transform: translateY(-97%) !important;
    }

    .media-md\:translate-y-n98p {
        transform: translateY(-98%) !important;
    }

    .media-md\:translate-y-n99p {
        transform: translateY(-99%) !important;
    }

    .media-md\:translate-y-n100p {
        transform: translateY(-100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-y-n1p {
        transform: translateY(-1%) !important;
    }

    .media-lg\:translate-y-n2p {
        transform: translateY(-2%) !important;
    }

    .media-lg\:translate-y-n3p {
        transform: translateY(-3%) !important;
    }

    .media-lg\:translate-y-n4p {
        transform: translateY(-4%) !important;
    }

    .media-lg\:translate-y-n5p {
        transform: translateY(-5%) !important;
    }

    .media-lg\:translate-y-n6p {
        transform: translateY(-6%) !important;
    }

    .media-lg\:translate-y-n7p {
        transform: translateY(-7%) !important;
    }

    .media-lg\:translate-y-n8p {
        transform: translateY(-8%) !important;
    }

    .media-lg\:translate-y-n9p {
        transform: translateY(-9%) !important;
    }

    .media-lg\:translate-y-n10p {
        transform: translateY(-10%) !important;
    }

    .media-lg\:translate-y-n11p {
        transform: translateY(-11%) !important;
    }

    .media-lg\:translate-y-n12p {
        transform: translateY(-12%) !important;
    }

    .media-lg\:translate-y-n13p {
        transform: translateY(-13%) !important;
    }

    .media-lg\:translate-y-n14p {
        transform: translateY(-14%) !important;
    }

    .media-lg\:translate-y-n15p {
        transform: translateY(-15%) !important;
    }

    .media-lg\:translate-y-n16p {
        transform: translateY(-16%) !important;
    }

    .media-lg\:translate-y-n17p {
        transform: translateY(-17%) !important;
    }

    .media-lg\:translate-y-n18p {
        transform: translateY(-18%) !important;
    }

    .media-lg\:translate-y-n19p {
        transform: translateY(-19%) !important;
    }

    .media-lg\:translate-y-n20p {
        transform: translateY(-20%) !important;
    }

    .media-lg\:translate-y-n21p {
        transform: translateY(-21%) !important;
    }

    .media-lg\:translate-y-n22p {
        transform: translateY(-22%) !important;
    }

    .media-lg\:translate-y-n23p {
        transform: translateY(-23%) !important;
    }

    .media-lg\:translate-y-n24p {
        transform: translateY(-24%) !important;
    }

    .media-lg\:translate-y-n25p {
        transform: translateY(-25%) !important;
    }

    .media-lg\:translate-y-n26p {
        transform: translateY(-26%) !important;
    }

    .media-lg\:translate-y-n27p {
        transform: translateY(-27%) !important;
    }

    .media-lg\:translate-y-n28p {
        transform: translateY(-28%) !important;
    }

    .media-lg\:translate-y-n29p {
        transform: translateY(-29%) !important;
    }

    .media-lg\:translate-y-n30p {
        transform: translateY(-30%) !important;
    }

    .media-lg\:translate-y-n31p {
        transform: translateY(-31%) !important;
    }

    .media-lg\:translate-y-n32p {
        transform: translateY(-32%) !important;
    }

    .media-lg\:translate-y-n33p {
        transform: translateY(-33%) !important;
    }

    .media-lg\:translate-y-n34p {
        transform: translateY(-34%) !important;
    }

    .media-lg\:translate-y-n35p {
        transform: translateY(-35%) !important;
    }

    .media-lg\:translate-y-n36p {
        transform: translateY(-36%) !important;
    }

    .media-lg\:translate-y-n37p {
        transform: translateY(-37%) !important;
    }

    .media-lg\:translate-y-n38p {
        transform: translateY(-38%) !important;
    }

    .media-lg\:translate-y-n39p {
        transform: translateY(-39%) !important;
    }

    .media-lg\:translate-y-n40p {
        transform: translateY(-40%) !important;
    }

    .media-lg\:translate-y-n41p {
        transform: translateY(-41%) !important;
    }

    .media-lg\:translate-y-n42p {
        transform: translateY(-42%) !important;
    }

    .media-lg\:translate-y-n43p {
        transform: translateY(-43%) !important;
    }

    .media-lg\:translate-y-n44p {
        transform: translateY(-44%) !important;
    }

    .media-lg\:translate-y-n45p {
        transform: translateY(-45%) !important;
    }

    .media-lg\:translate-y-n46p {
        transform: translateY(-46%) !important;
    }

    .media-lg\:translate-y-n47p {
        transform: translateY(-47%) !important;
    }

    .media-lg\:translate-y-n48p {
        transform: translateY(-48%) !important;
    }

    .media-lg\:translate-y-n49p {
        transform: translateY(-49%) !important;
    }

    .media-lg\:translate-y-n50p {
        transform: translateY(-50%) !important;
    }

    .media-lg\:translate-y-n51p {
        transform: translateY(-51%) !important;
    }

    .media-lg\:translate-y-n52p {
        transform: translateY(-52%) !important;
    }

    .media-lg\:translate-y-n53p {
        transform: translateY(-53%) !important;
    }

    .media-lg\:translate-y-n54p {
        transform: translateY(-54%) !important;
    }

    .media-lg\:translate-y-n55p {
        transform: translateY(-55%) !important;
    }

    .media-lg\:translate-y-n56p {
        transform: translateY(-56%) !important;
    }

    .media-lg\:translate-y-n57p {
        transform: translateY(-57%) !important;
    }

    .media-lg\:translate-y-n58p {
        transform: translateY(-58%) !important;
    }

    .media-lg\:translate-y-n59p {
        transform: translateY(-59%) !important;
    }

    .media-lg\:translate-y-n60p {
        transform: translateY(-60%) !important;
    }

    .media-lg\:translate-y-n61p {
        transform: translateY(-61%) !important;
    }

    .media-lg\:translate-y-n62p {
        transform: translateY(-62%) !important;
    }

    .media-lg\:translate-y-n63p {
        transform: translateY(-63%) !important;
    }

    .media-lg\:translate-y-n64p {
        transform: translateY(-64%) !important;
    }

    .media-lg\:translate-y-n65p {
        transform: translateY(-65%) !important;
    }

    .media-lg\:translate-y-n66p {
        transform: translateY(-66%) !important;
    }

    .media-lg\:translate-y-n67p {
        transform: translateY(-67%) !important;
    }

    .media-lg\:translate-y-n68p {
        transform: translateY(-68%) !important;
    }

    .media-lg\:translate-y-n69p {
        transform: translateY(-69%) !important;
    }

    .media-lg\:translate-y-n70p {
        transform: translateY(-70%) !important;
    }

    .media-lg\:translate-y-n71p {
        transform: translateY(-71%) !important;
    }

    .media-lg\:translate-y-n72p {
        transform: translateY(-72%) !important;
    }

    .media-lg\:translate-y-n73p {
        transform: translateY(-73%) !important;
    }

    .media-lg\:translate-y-n74p {
        transform: translateY(-74%) !important;
    }

    .media-lg\:translate-y-n75p {
        transform: translateY(-75%) !important;
    }

    .media-lg\:translate-y-n76p {
        transform: translateY(-76%) !important;
    }

    .media-lg\:translate-y-n77p {
        transform: translateY(-77%) !important;
    }

    .media-lg\:translate-y-n78p {
        transform: translateY(-78%) !important;
    }

    .media-lg\:translate-y-n79p {
        transform: translateY(-79%) !important;
    }

    .media-lg\:translate-y-n80p {
        transform: translateY(-80%) !important;
    }

    .media-lg\:translate-y-n81p {
        transform: translateY(-81%) !important;
    }

    .media-lg\:translate-y-n82p {
        transform: translateY(-82%) !important;
    }

    .media-lg\:translate-y-n83p {
        transform: translateY(-83%) !important;
    }

    .media-lg\:translate-y-n84p {
        transform: translateY(-84%) !important;
    }

    .media-lg\:translate-y-n85p {
        transform: translateY(-85%) !important;
    }

    .media-lg\:translate-y-n86p {
        transform: translateY(-86%) !important;
    }

    .media-lg\:translate-y-n87p {
        transform: translateY(-87%) !important;
    }

    .media-lg\:translate-y-n88p {
        transform: translateY(-88%) !important;
    }

    .media-lg\:translate-y-n89p {
        transform: translateY(-89%) !important;
    }

    .media-lg\:translate-y-n90p {
        transform: translateY(-90%) !important;
    }

    .media-lg\:translate-y-n91p {
        transform: translateY(-91%) !important;
    }

    .media-lg\:translate-y-n92p {
        transform: translateY(-92%) !important;
    }

    .media-lg\:translate-y-n93p {
        transform: translateY(-93%) !important;
    }

    .media-lg\:translate-y-n94p {
        transform: translateY(-94%) !important;
    }

    .media-lg\:translate-y-n95p {
        transform: translateY(-95%) !important;
    }

    .media-lg\:translate-y-n96p {
        transform: translateY(-96%) !important;
    }

    .media-lg\:translate-y-n97p {
        transform: translateY(-97%) !important;
    }

    .media-lg\:translate-y-n98p {
        transform: translateY(-98%) !important;
    }

    .media-lg\:translate-y-n99p {
        transform: translateY(-99%) !important;
    }

    .media-lg\:translate-y-n100p {
        transform: translateY(-100%) !important;
    }
}