.translate-x-n1p {
    transform: translateX(-1%) !important;
}

.translate-x-n2p {
    transform: translateX(-2%) !important;
}

.translate-x-n3p {
    transform: translateX(-3%) !important;
}

.translate-x-n4p {
    transform: translateX(-4%) !important;
}

.translate-x-n5p {
    transform: translateX(-5%) !important;
}

.translate-x-n6p {
    transform: translateX(-6%) !important;
}

.translate-x-n7p {
    transform: translateX(-7%) !important;
}

.translate-x-n8p {
    transform: translateX(-8%) !important;
}

.translate-x-n9p {
    transform: translateX(-9%) !important;
}

.translate-x-n10p {
    transform: translateX(-10%) !important;
}

.translate-x-n11p {
    transform: translateX(-11%) !important;
}

.translate-x-n12p {
    transform: translateX(-12%) !important;
}

.translate-x-n13p {
    transform: translateX(-13%) !important;
}

.translate-x-n14p {
    transform: translateX(-14%) !important;
}

.translate-x-n15p {
    transform: translateX(-15%) !important;
}

.translate-x-n16p {
    transform: translateX(-16%) !important;
}

.translate-x-n17p {
    transform: translateX(-17%) !important;
}

.translate-x-n18p {
    transform: translateX(-18%) !important;
}

.translate-x-n19p {
    transform: translateX(-19%) !important;
}

.translate-x-n20p {
    transform: translateX(-20%) !important;
}

.translate-x-n21p {
    transform: translateX(-21%) !important;
}

.translate-x-n22p {
    transform: translateX(-22%) !important;
}

.translate-x-n23p {
    transform: translateX(-23%) !important;
}

.translate-x-n24p {
    transform: translateX(-24%) !important;
}

.translate-x-n25p {
    transform: translateX(-25%) !important;
}

.translate-x-n26p {
    transform: translateX(-26%) !important;
}

.translate-x-n27p {
    transform: translateX(-27%) !important;
}

.translate-x-n28p {
    transform: translateX(-28%) !important;
}

.translate-x-n29p {
    transform: translateX(-29%) !important;
}

.translate-x-n30p {
    transform: translateX(-30%) !important;
}

.translate-x-n31p {
    transform: translateX(-31%) !important;
}

.translate-x-n32p {
    transform: translateX(-32%) !important;
}

.translate-x-n33p {
    transform: translateX(-33%) !important;
}

.translate-x-n34p {
    transform: translateX(-34%) !important;
}

.translate-x-n35p {
    transform: translateX(-35%) !important;
}

.translate-x-n36p {
    transform: translateX(-36%) !important;
}

.translate-x-n37p {
    transform: translateX(-37%) !important;
}

.translate-x-n38p {
    transform: translateX(-38%) !important;
}

.translate-x-n39p {
    transform: translateX(-39%) !important;
}

.translate-x-n40p {
    transform: translateX(-40%) !important;
}

.translate-x-n41p {
    transform: translateX(-41%) !important;
}

.translate-x-n42p {
    transform: translateX(-42%) !important;
}

.translate-x-n43p {
    transform: translateX(-43%) !important;
}

.translate-x-n44p {
    transform: translateX(-44%) !important;
}

.translate-x-n45p {
    transform: translateX(-45%) !important;
}

.translate-x-n46p {
    transform: translateX(-46%) !important;
}

.translate-x-n47p {
    transform: translateX(-47%) !important;
}

.translate-x-n48p {
    transform: translateX(-48%) !important;
}

.translate-x-n49p {
    transform: translateX(-49%) !important;
}

.translate-x-n50p {
    transform: translateX(-50%) !important;
}

.translate-x-n51p {
    transform: translateX(-51%) !important;
}

.translate-x-n52p {
    transform: translateX(-52%) !important;
}

.translate-x-n53p {
    transform: translateX(-53%) !important;
}

.translate-x-n54p {
    transform: translateX(-54%) !important;
}

.translate-x-n55p {
    transform: translateX(-55%) !important;
}

.translate-x-n56p {
    transform: translateX(-56%) !important;
}

.translate-x-n57p {
    transform: translateX(-57%) !important;
}

.translate-x-n58p {
    transform: translateX(-58%) !important;
}

.translate-x-n59p {
    transform: translateX(-59%) !important;
}

.translate-x-n60p {
    transform: translateX(-60%) !important;
}

.translate-x-n61p {
    transform: translateX(-61%) !important;
}

.translate-x-n62p {
    transform: translateX(-62%) !important;
}

.translate-x-n63p {
    transform: translateX(-63%) !important;
}

.translate-x-n64p {
    transform: translateX(-64%) !important;
}

.translate-x-n65p {
    transform: translateX(-65%) !important;
}

.translate-x-n66p {
    transform: translateX(-66%) !important;
}

.translate-x-n67p {
    transform: translateX(-67%) !important;
}

.translate-x-n68p {
    transform: translateX(-68%) !important;
}

.translate-x-n69p {
    transform: translateX(-69%) !important;
}

.translate-x-n70p {
    transform: translateX(-70%) !important;
}

.translate-x-n71p {
    transform: translateX(-71%) !important;
}

.translate-x-n72p {
    transform: translateX(-72%) !important;
}

.translate-x-n73p {
    transform: translateX(-73%) !important;
}

.translate-x-n74p {
    transform: translateX(-74%) !important;
}

.translate-x-n75p {
    transform: translateX(-75%) !important;
}

.translate-x-n76p {
    transform: translateX(-76%) !important;
}

.translate-x-n77p {
    transform: translateX(-77%) !important;
}

.translate-x-n78p {
    transform: translateX(-78%) !important;
}

.translate-x-n79p {
    transform: translateX(-79%) !important;
}

.translate-x-n80p {
    transform: translateX(-80%) !important;
}

.translate-x-n81p {
    transform: translateX(-81%) !important;
}

.translate-x-n82p {
    transform: translateX(-82%) !important;
}

.translate-x-n83p {
    transform: translateX(-83%) !important;
}

.translate-x-n84p {
    transform: translateX(-84%) !important;
}

.translate-x-n85p {
    transform: translateX(-85%) !important;
}

.translate-x-n86p {
    transform: translateX(-86%) !important;
}

.translate-x-n87p {
    transform: translateX(-87%) !important;
}

.translate-x-n88p {
    transform: translateX(-88%) !important;
}

.translate-x-n89p {
    transform: translateX(-89%) !important;
}

.translate-x-n90p {
    transform: translateX(-90%) !important;
}

.translate-x-n91p {
    transform: translateX(-91%) !important;
}

.translate-x-n92p {
    transform: translateX(-92%) !important;
}

.translate-x-n93p {
    transform: translateX(-93%) !important;
}

.translate-x-n94p {
    transform: translateX(-94%) !important;
}

.translate-x-n95p {
    transform: translateX(-95%) !important;
}

.translate-x-n96p {
    transform: translateX(-96%) !important;
}

.translate-x-n97p {
    transform: translateX(-97%) !important;
}

.translate-x-n98p {
    transform: translateX(-98%) !important;
}

.translate-x-n99p {
    transform: translateX(-99%) !important;
}

.translate-x-n100p {
    transform: translateX(-100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-x-n1p {
        transform: translateX(-1%) !important;
    }

    .media-xs\:translate-x-n2p {
        transform: translateX(-2%) !important;
    }

    .media-xs\:translate-x-n3p {
        transform: translateX(-3%) !important;
    }

    .media-xs\:translate-x-n4p {
        transform: translateX(-4%) !important;
    }

    .media-xs\:translate-x-n5p {
        transform: translateX(-5%) !important;
    }

    .media-xs\:translate-x-n6p {
        transform: translateX(-6%) !important;
    }

    .media-xs\:translate-x-n7p {
        transform: translateX(-7%) !important;
    }

    .media-xs\:translate-x-n8p {
        transform: translateX(-8%) !important;
    }

    .media-xs\:translate-x-n9p {
        transform: translateX(-9%) !important;
    }

    .media-xs\:translate-x-n10p {
        transform: translateX(-10%) !important;
    }

    .media-xs\:translate-x-n11p {
        transform: translateX(-11%) !important;
    }

    .media-xs\:translate-x-n12p {
        transform: translateX(-12%) !important;
    }

    .media-xs\:translate-x-n13p {
        transform: translateX(-13%) !important;
    }

    .media-xs\:translate-x-n14p {
        transform: translateX(-14%) !important;
    }

    .media-xs\:translate-x-n15p {
        transform: translateX(-15%) !important;
    }

    .media-xs\:translate-x-n16p {
        transform: translateX(-16%) !important;
    }

    .media-xs\:translate-x-n17p {
        transform: translateX(-17%) !important;
    }

    .media-xs\:translate-x-n18p {
        transform: translateX(-18%) !important;
    }

    .media-xs\:translate-x-n19p {
        transform: translateX(-19%) !important;
    }

    .media-xs\:translate-x-n20p {
        transform: translateX(-20%) !important;
    }

    .media-xs\:translate-x-n21p {
        transform: translateX(-21%) !important;
    }

    .media-xs\:translate-x-n22p {
        transform: translateX(-22%) !important;
    }

    .media-xs\:translate-x-n23p {
        transform: translateX(-23%) !important;
    }

    .media-xs\:translate-x-n24p {
        transform: translateX(-24%) !important;
    }

    .media-xs\:translate-x-n25p {
        transform: translateX(-25%) !important;
    }

    .media-xs\:translate-x-n26p {
        transform: translateX(-26%) !important;
    }

    .media-xs\:translate-x-n27p {
        transform: translateX(-27%) !important;
    }

    .media-xs\:translate-x-n28p {
        transform: translateX(-28%) !important;
    }

    .media-xs\:translate-x-n29p {
        transform: translateX(-29%) !important;
    }

    .media-xs\:translate-x-n30p {
        transform: translateX(-30%) !important;
    }

    .media-xs\:translate-x-n31p {
        transform: translateX(-31%) !important;
    }

    .media-xs\:translate-x-n32p {
        transform: translateX(-32%) !important;
    }

    .media-xs\:translate-x-n33p {
        transform: translateX(-33%) !important;
    }

    .media-xs\:translate-x-n34p {
        transform: translateX(-34%) !important;
    }

    .media-xs\:translate-x-n35p {
        transform: translateX(-35%) !important;
    }

    .media-xs\:translate-x-n36p {
        transform: translateX(-36%) !important;
    }

    .media-xs\:translate-x-n37p {
        transform: translateX(-37%) !important;
    }

    .media-xs\:translate-x-n38p {
        transform: translateX(-38%) !important;
    }

    .media-xs\:translate-x-n39p {
        transform: translateX(-39%) !important;
    }

    .media-xs\:translate-x-n40p {
        transform: translateX(-40%) !important;
    }

    .media-xs\:translate-x-n41p {
        transform: translateX(-41%) !important;
    }

    .media-xs\:translate-x-n42p {
        transform: translateX(-42%) !important;
    }

    .media-xs\:translate-x-n43p {
        transform: translateX(-43%) !important;
    }

    .media-xs\:translate-x-n44p {
        transform: translateX(-44%) !important;
    }

    .media-xs\:translate-x-n45p {
        transform: translateX(-45%) !important;
    }

    .media-xs\:translate-x-n46p {
        transform: translateX(-46%) !important;
    }

    .media-xs\:translate-x-n47p {
        transform: translateX(-47%) !important;
    }

    .media-xs\:translate-x-n48p {
        transform: translateX(-48%) !important;
    }

    .media-xs\:translate-x-n49p {
        transform: translateX(-49%) !important;
    }

    .media-xs\:translate-x-n50p {
        transform: translateX(-50%) !important;
    }

    .media-xs\:translate-x-n51p {
        transform: translateX(-51%) !important;
    }

    .media-xs\:translate-x-n52p {
        transform: translateX(-52%) !important;
    }

    .media-xs\:translate-x-n53p {
        transform: translateX(-53%) !important;
    }

    .media-xs\:translate-x-n54p {
        transform: translateX(-54%) !important;
    }

    .media-xs\:translate-x-n55p {
        transform: translateX(-55%) !important;
    }

    .media-xs\:translate-x-n56p {
        transform: translateX(-56%) !important;
    }

    .media-xs\:translate-x-n57p {
        transform: translateX(-57%) !important;
    }

    .media-xs\:translate-x-n58p {
        transform: translateX(-58%) !important;
    }

    .media-xs\:translate-x-n59p {
        transform: translateX(-59%) !important;
    }

    .media-xs\:translate-x-n60p {
        transform: translateX(-60%) !important;
    }

    .media-xs\:translate-x-n61p {
        transform: translateX(-61%) !important;
    }

    .media-xs\:translate-x-n62p {
        transform: translateX(-62%) !important;
    }

    .media-xs\:translate-x-n63p {
        transform: translateX(-63%) !important;
    }

    .media-xs\:translate-x-n64p {
        transform: translateX(-64%) !important;
    }

    .media-xs\:translate-x-n65p {
        transform: translateX(-65%) !important;
    }

    .media-xs\:translate-x-n66p {
        transform: translateX(-66%) !important;
    }

    .media-xs\:translate-x-n67p {
        transform: translateX(-67%) !important;
    }

    .media-xs\:translate-x-n68p {
        transform: translateX(-68%) !important;
    }

    .media-xs\:translate-x-n69p {
        transform: translateX(-69%) !important;
    }

    .media-xs\:translate-x-n70p {
        transform: translateX(-70%) !important;
    }

    .media-xs\:translate-x-n71p {
        transform: translateX(-71%) !important;
    }

    .media-xs\:translate-x-n72p {
        transform: translateX(-72%) !important;
    }

    .media-xs\:translate-x-n73p {
        transform: translateX(-73%) !important;
    }

    .media-xs\:translate-x-n74p {
        transform: translateX(-74%) !important;
    }

    .media-xs\:translate-x-n75p {
        transform: translateX(-75%) !important;
    }

    .media-xs\:translate-x-n76p {
        transform: translateX(-76%) !important;
    }

    .media-xs\:translate-x-n77p {
        transform: translateX(-77%) !important;
    }

    .media-xs\:translate-x-n78p {
        transform: translateX(-78%) !important;
    }

    .media-xs\:translate-x-n79p {
        transform: translateX(-79%) !important;
    }

    .media-xs\:translate-x-n80p {
        transform: translateX(-80%) !important;
    }

    .media-xs\:translate-x-n81p {
        transform: translateX(-81%) !important;
    }

    .media-xs\:translate-x-n82p {
        transform: translateX(-82%) !important;
    }

    .media-xs\:translate-x-n83p {
        transform: translateX(-83%) !important;
    }

    .media-xs\:translate-x-n84p {
        transform: translateX(-84%) !important;
    }

    .media-xs\:translate-x-n85p {
        transform: translateX(-85%) !important;
    }

    .media-xs\:translate-x-n86p {
        transform: translateX(-86%) !important;
    }

    .media-xs\:translate-x-n87p {
        transform: translateX(-87%) !important;
    }

    .media-xs\:translate-x-n88p {
        transform: translateX(-88%) !important;
    }

    .media-xs\:translate-x-n89p {
        transform: translateX(-89%) !important;
    }

    .media-xs\:translate-x-n90p {
        transform: translateX(-90%) !important;
    }

    .media-xs\:translate-x-n91p {
        transform: translateX(-91%) !important;
    }

    .media-xs\:translate-x-n92p {
        transform: translateX(-92%) !important;
    }

    .media-xs\:translate-x-n93p {
        transform: translateX(-93%) !important;
    }

    .media-xs\:translate-x-n94p {
        transform: translateX(-94%) !important;
    }

    .media-xs\:translate-x-n95p {
        transform: translateX(-95%) !important;
    }

    .media-xs\:translate-x-n96p {
        transform: translateX(-96%) !important;
    }

    .media-xs\:translate-x-n97p {
        transform: translateX(-97%) !important;
    }

    .media-xs\:translate-x-n98p {
        transform: translateX(-98%) !important;
    }

    .media-xs\:translate-x-n99p {
        transform: translateX(-99%) !important;
    }

    .media-xs\:translate-x-n100p {
        transform: translateX(-100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-x-n1p {
        transform: translateX(-1%) !important;
    }

    .media-sm\:translate-x-n2p {
        transform: translateX(-2%) !important;
    }

    .media-sm\:translate-x-n3p {
        transform: translateX(-3%) !important;
    }

    .media-sm\:translate-x-n4p {
        transform: translateX(-4%) !important;
    }

    .media-sm\:translate-x-n5p {
        transform: translateX(-5%) !important;
    }

    .media-sm\:translate-x-n6p {
        transform: translateX(-6%) !important;
    }

    .media-sm\:translate-x-n7p {
        transform: translateX(-7%) !important;
    }

    .media-sm\:translate-x-n8p {
        transform: translateX(-8%) !important;
    }

    .media-sm\:translate-x-n9p {
        transform: translateX(-9%) !important;
    }

    .media-sm\:translate-x-n10p {
        transform: translateX(-10%) !important;
    }

    .media-sm\:translate-x-n11p {
        transform: translateX(-11%) !important;
    }

    .media-sm\:translate-x-n12p {
        transform: translateX(-12%) !important;
    }

    .media-sm\:translate-x-n13p {
        transform: translateX(-13%) !important;
    }

    .media-sm\:translate-x-n14p {
        transform: translateX(-14%) !important;
    }

    .media-sm\:translate-x-n15p {
        transform: translateX(-15%) !important;
    }

    .media-sm\:translate-x-n16p {
        transform: translateX(-16%) !important;
    }

    .media-sm\:translate-x-n17p {
        transform: translateX(-17%) !important;
    }

    .media-sm\:translate-x-n18p {
        transform: translateX(-18%) !important;
    }

    .media-sm\:translate-x-n19p {
        transform: translateX(-19%) !important;
    }

    .media-sm\:translate-x-n20p {
        transform: translateX(-20%) !important;
    }

    .media-sm\:translate-x-n21p {
        transform: translateX(-21%) !important;
    }

    .media-sm\:translate-x-n22p {
        transform: translateX(-22%) !important;
    }

    .media-sm\:translate-x-n23p {
        transform: translateX(-23%) !important;
    }

    .media-sm\:translate-x-n24p {
        transform: translateX(-24%) !important;
    }

    .media-sm\:translate-x-n25p {
        transform: translateX(-25%) !important;
    }

    .media-sm\:translate-x-n26p {
        transform: translateX(-26%) !important;
    }

    .media-sm\:translate-x-n27p {
        transform: translateX(-27%) !important;
    }

    .media-sm\:translate-x-n28p {
        transform: translateX(-28%) !important;
    }

    .media-sm\:translate-x-n29p {
        transform: translateX(-29%) !important;
    }

    .media-sm\:translate-x-n30p {
        transform: translateX(-30%) !important;
    }

    .media-sm\:translate-x-n31p {
        transform: translateX(-31%) !important;
    }

    .media-sm\:translate-x-n32p {
        transform: translateX(-32%) !important;
    }

    .media-sm\:translate-x-n33p {
        transform: translateX(-33%) !important;
    }

    .media-sm\:translate-x-n34p {
        transform: translateX(-34%) !important;
    }

    .media-sm\:translate-x-n35p {
        transform: translateX(-35%) !important;
    }

    .media-sm\:translate-x-n36p {
        transform: translateX(-36%) !important;
    }

    .media-sm\:translate-x-n37p {
        transform: translateX(-37%) !important;
    }

    .media-sm\:translate-x-n38p {
        transform: translateX(-38%) !important;
    }

    .media-sm\:translate-x-n39p {
        transform: translateX(-39%) !important;
    }

    .media-sm\:translate-x-n40p {
        transform: translateX(-40%) !important;
    }

    .media-sm\:translate-x-n41p {
        transform: translateX(-41%) !important;
    }

    .media-sm\:translate-x-n42p {
        transform: translateX(-42%) !important;
    }

    .media-sm\:translate-x-n43p {
        transform: translateX(-43%) !important;
    }

    .media-sm\:translate-x-n44p {
        transform: translateX(-44%) !important;
    }

    .media-sm\:translate-x-n45p {
        transform: translateX(-45%) !important;
    }

    .media-sm\:translate-x-n46p {
        transform: translateX(-46%) !important;
    }

    .media-sm\:translate-x-n47p {
        transform: translateX(-47%) !important;
    }

    .media-sm\:translate-x-n48p {
        transform: translateX(-48%) !important;
    }

    .media-sm\:translate-x-n49p {
        transform: translateX(-49%) !important;
    }

    .media-sm\:translate-x-n50p {
        transform: translateX(-50%) !important;
    }

    .media-sm\:translate-x-n51p {
        transform: translateX(-51%) !important;
    }

    .media-sm\:translate-x-n52p {
        transform: translateX(-52%) !important;
    }

    .media-sm\:translate-x-n53p {
        transform: translateX(-53%) !important;
    }

    .media-sm\:translate-x-n54p {
        transform: translateX(-54%) !important;
    }

    .media-sm\:translate-x-n55p {
        transform: translateX(-55%) !important;
    }

    .media-sm\:translate-x-n56p {
        transform: translateX(-56%) !important;
    }

    .media-sm\:translate-x-n57p {
        transform: translateX(-57%) !important;
    }

    .media-sm\:translate-x-n58p {
        transform: translateX(-58%) !important;
    }

    .media-sm\:translate-x-n59p {
        transform: translateX(-59%) !important;
    }

    .media-sm\:translate-x-n60p {
        transform: translateX(-60%) !important;
    }

    .media-sm\:translate-x-n61p {
        transform: translateX(-61%) !important;
    }

    .media-sm\:translate-x-n62p {
        transform: translateX(-62%) !important;
    }

    .media-sm\:translate-x-n63p {
        transform: translateX(-63%) !important;
    }

    .media-sm\:translate-x-n64p {
        transform: translateX(-64%) !important;
    }

    .media-sm\:translate-x-n65p {
        transform: translateX(-65%) !important;
    }

    .media-sm\:translate-x-n66p {
        transform: translateX(-66%) !important;
    }

    .media-sm\:translate-x-n67p {
        transform: translateX(-67%) !important;
    }

    .media-sm\:translate-x-n68p {
        transform: translateX(-68%) !important;
    }

    .media-sm\:translate-x-n69p {
        transform: translateX(-69%) !important;
    }

    .media-sm\:translate-x-n70p {
        transform: translateX(-70%) !important;
    }

    .media-sm\:translate-x-n71p {
        transform: translateX(-71%) !important;
    }

    .media-sm\:translate-x-n72p {
        transform: translateX(-72%) !important;
    }

    .media-sm\:translate-x-n73p {
        transform: translateX(-73%) !important;
    }

    .media-sm\:translate-x-n74p {
        transform: translateX(-74%) !important;
    }

    .media-sm\:translate-x-n75p {
        transform: translateX(-75%) !important;
    }

    .media-sm\:translate-x-n76p {
        transform: translateX(-76%) !important;
    }

    .media-sm\:translate-x-n77p {
        transform: translateX(-77%) !important;
    }

    .media-sm\:translate-x-n78p {
        transform: translateX(-78%) !important;
    }

    .media-sm\:translate-x-n79p {
        transform: translateX(-79%) !important;
    }

    .media-sm\:translate-x-n80p {
        transform: translateX(-80%) !important;
    }

    .media-sm\:translate-x-n81p {
        transform: translateX(-81%) !important;
    }

    .media-sm\:translate-x-n82p {
        transform: translateX(-82%) !important;
    }

    .media-sm\:translate-x-n83p {
        transform: translateX(-83%) !important;
    }

    .media-sm\:translate-x-n84p {
        transform: translateX(-84%) !important;
    }

    .media-sm\:translate-x-n85p {
        transform: translateX(-85%) !important;
    }

    .media-sm\:translate-x-n86p {
        transform: translateX(-86%) !important;
    }

    .media-sm\:translate-x-n87p {
        transform: translateX(-87%) !important;
    }

    .media-sm\:translate-x-n88p {
        transform: translateX(-88%) !important;
    }

    .media-sm\:translate-x-n89p {
        transform: translateX(-89%) !important;
    }

    .media-sm\:translate-x-n90p {
        transform: translateX(-90%) !important;
    }

    .media-sm\:translate-x-n91p {
        transform: translateX(-91%) !important;
    }

    .media-sm\:translate-x-n92p {
        transform: translateX(-92%) !important;
    }

    .media-sm\:translate-x-n93p {
        transform: translateX(-93%) !important;
    }

    .media-sm\:translate-x-n94p {
        transform: translateX(-94%) !important;
    }

    .media-sm\:translate-x-n95p {
        transform: translateX(-95%) !important;
    }

    .media-sm\:translate-x-n96p {
        transform: translateX(-96%) !important;
    }

    .media-sm\:translate-x-n97p {
        transform: translateX(-97%) !important;
    }

    .media-sm\:translate-x-n98p {
        transform: translateX(-98%) !important;
    }

    .media-sm\:translate-x-n99p {
        transform: translateX(-99%) !important;
    }

    .media-sm\:translate-x-n100p {
        transform: translateX(-100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-x-n1p {
        transform: translateX(-1%) !important;
    }

    .media-md\:translate-x-n2p {
        transform: translateX(-2%) !important;
    }

    .media-md\:translate-x-n3p {
        transform: translateX(-3%) !important;
    }

    .media-md\:translate-x-n4p {
        transform: translateX(-4%) !important;
    }

    .media-md\:translate-x-n5p {
        transform: translateX(-5%) !important;
    }

    .media-md\:translate-x-n6p {
        transform: translateX(-6%) !important;
    }

    .media-md\:translate-x-n7p {
        transform: translateX(-7%) !important;
    }

    .media-md\:translate-x-n8p {
        transform: translateX(-8%) !important;
    }

    .media-md\:translate-x-n9p {
        transform: translateX(-9%) !important;
    }

    .media-md\:translate-x-n10p {
        transform: translateX(-10%) !important;
    }

    .media-md\:translate-x-n11p {
        transform: translateX(-11%) !important;
    }

    .media-md\:translate-x-n12p {
        transform: translateX(-12%) !important;
    }

    .media-md\:translate-x-n13p {
        transform: translateX(-13%) !important;
    }

    .media-md\:translate-x-n14p {
        transform: translateX(-14%) !important;
    }

    .media-md\:translate-x-n15p {
        transform: translateX(-15%) !important;
    }

    .media-md\:translate-x-n16p {
        transform: translateX(-16%) !important;
    }

    .media-md\:translate-x-n17p {
        transform: translateX(-17%) !important;
    }

    .media-md\:translate-x-n18p {
        transform: translateX(-18%) !important;
    }

    .media-md\:translate-x-n19p {
        transform: translateX(-19%) !important;
    }

    .media-md\:translate-x-n20p {
        transform: translateX(-20%) !important;
    }

    .media-md\:translate-x-n21p {
        transform: translateX(-21%) !important;
    }

    .media-md\:translate-x-n22p {
        transform: translateX(-22%) !important;
    }

    .media-md\:translate-x-n23p {
        transform: translateX(-23%) !important;
    }

    .media-md\:translate-x-n24p {
        transform: translateX(-24%) !important;
    }

    .media-md\:translate-x-n25p {
        transform: translateX(-25%) !important;
    }

    .media-md\:translate-x-n26p {
        transform: translateX(-26%) !important;
    }

    .media-md\:translate-x-n27p {
        transform: translateX(-27%) !important;
    }

    .media-md\:translate-x-n28p {
        transform: translateX(-28%) !important;
    }

    .media-md\:translate-x-n29p {
        transform: translateX(-29%) !important;
    }

    .media-md\:translate-x-n30p {
        transform: translateX(-30%) !important;
    }

    .media-md\:translate-x-n31p {
        transform: translateX(-31%) !important;
    }

    .media-md\:translate-x-n32p {
        transform: translateX(-32%) !important;
    }

    .media-md\:translate-x-n33p {
        transform: translateX(-33%) !important;
    }

    .media-md\:translate-x-n34p {
        transform: translateX(-34%) !important;
    }

    .media-md\:translate-x-n35p {
        transform: translateX(-35%) !important;
    }

    .media-md\:translate-x-n36p {
        transform: translateX(-36%) !important;
    }

    .media-md\:translate-x-n37p {
        transform: translateX(-37%) !important;
    }

    .media-md\:translate-x-n38p {
        transform: translateX(-38%) !important;
    }

    .media-md\:translate-x-n39p {
        transform: translateX(-39%) !important;
    }

    .media-md\:translate-x-n40p {
        transform: translateX(-40%) !important;
    }

    .media-md\:translate-x-n41p {
        transform: translateX(-41%) !important;
    }

    .media-md\:translate-x-n42p {
        transform: translateX(-42%) !important;
    }

    .media-md\:translate-x-n43p {
        transform: translateX(-43%) !important;
    }

    .media-md\:translate-x-n44p {
        transform: translateX(-44%) !important;
    }

    .media-md\:translate-x-n45p {
        transform: translateX(-45%) !important;
    }

    .media-md\:translate-x-n46p {
        transform: translateX(-46%) !important;
    }

    .media-md\:translate-x-n47p {
        transform: translateX(-47%) !important;
    }

    .media-md\:translate-x-n48p {
        transform: translateX(-48%) !important;
    }

    .media-md\:translate-x-n49p {
        transform: translateX(-49%) !important;
    }

    .media-md\:translate-x-n50p {
        transform: translateX(-50%) !important;
    }

    .media-md\:translate-x-n51p {
        transform: translateX(-51%) !important;
    }

    .media-md\:translate-x-n52p {
        transform: translateX(-52%) !important;
    }

    .media-md\:translate-x-n53p {
        transform: translateX(-53%) !important;
    }

    .media-md\:translate-x-n54p {
        transform: translateX(-54%) !important;
    }

    .media-md\:translate-x-n55p {
        transform: translateX(-55%) !important;
    }

    .media-md\:translate-x-n56p {
        transform: translateX(-56%) !important;
    }

    .media-md\:translate-x-n57p {
        transform: translateX(-57%) !important;
    }

    .media-md\:translate-x-n58p {
        transform: translateX(-58%) !important;
    }

    .media-md\:translate-x-n59p {
        transform: translateX(-59%) !important;
    }

    .media-md\:translate-x-n60p {
        transform: translateX(-60%) !important;
    }

    .media-md\:translate-x-n61p {
        transform: translateX(-61%) !important;
    }

    .media-md\:translate-x-n62p {
        transform: translateX(-62%) !important;
    }

    .media-md\:translate-x-n63p {
        transform: translateX(-63%) !important;
    }

    .media-md\:translate-x-n64p {
        transform: translateX(-64%) !important;
    }

    .media-md\:translate-x-n65p {
        transform: translateX(-65%) !important;
    }

    .media-md\:translate-x-n66p {
        transform: translateX(-66%) !important;
    }

    .media-md\:translate-x-n67p {
        transform: translateX(-67%) !important;
    }

    .media-md\:translate-x-n68p {
        transform: translateX(-68%) !important;
    }

    .media-md\:translate-x-n69p {
        transform: translateX(-69%) !important;
    }

    .media-md\:translate-x-n70p {
        transform: translateX(-70%) !important;
    }

    .media-md\:translate-x-n71p {
        transform: translateX(-71%) !important;
    }

    .media-md\:translate-x-n72p {
        transform: translateX(-72%) !important;
    }

    .media-md\:translate-x-n73p {
        transform: translateX(-73%) !important;
    }

    .media-md\:translate-x-n74p {
        transform: translateX(-74%) !important;
    }

    .media-md\:translate-x-n75p {
        transform: translateX(-75%) !important;
    }

    .media-md\:translate-x-n76p {
        transform: translateX(-76%) !important;
    }

    .media-md\:translate-x-n77p {
        transform: translateX(-77%) !important;
    }

    .media-md\:translate-x-n78p {
        transform: translateX(-78%) !important;
    }

    .media-md\:translate-x-n79p {
        transform: translateX(-79%) !important;
    }

    .media-md\:translate-x-n80p {
        transform: translateX(-80%) !important;
    }

    .media-md\:translate-x-n81p {
        transform: translateX(-81%) !important;
    }

    .media-md\:translate-x-n82p {
        transform: translateX(-82%) !important;
    }

    .media-md\:translate-x-n83p {
        transform: translateX(-83%) !important;
    }

    .media-md\:translate-x-n84p {
        transform: translateX(-84%) !important;
    }

    .media-md\:translate-x-n85p {
        transform: translateX(-85%) !important;
    }

    .media-md\:translate-x-n86p {
        transform: translateX(-86%) !important;
    }

    .media-md\:translate-x-n87p {
        transform: translateX(-87%) !important;
    }

    .media-md\:translate-x-n88p {
        transform: translateX(-88%) !important;
    }

    .media-md\:translate-x-n89p {
        transform: translateX(-89%) !important;
    }

    .media-md\:translate-x-n90p {
        transform: translateX(-90%) !important;
    }

    .media-md\:translate-x-n91p {
        transform: translateX(-91%) !important;
    }

    .media-md\:translate-x-n92p {
        transform: translateX(-92%) !important;
    }

    .media-md\:translate-x-n93p {
        transform: translateX(-93%) !important;
    }

    .media-md\:translate-x-n94p {
        transform: translateX(-94%) !important;
    }

    .media-md\:translate-x-n95p {
        transform: translateX(-95%) !important;
    }

    .media-md\:translate-x-n96p {
        transform: translateX(-96%) !important;
    }

    .media-md\:translate-x-n97p {
        transform: translateX(-97%) !important;
    }

    .media-md\:translate-x-n98p {
        transform: translateX(-98%) !important;
    }

    .media-md\:translate-x-n99p {
        transform: translateX(-99%) !important;
    }

    .media-md\:translate-x-n100p {
        transform: translateX(-100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-x-n1p {
        transform: translateX(-1%) !important;
    }

    .media-lg\:translate-x-n2p {
        transform: translateX(-2%) !important;
    }

    .media-lg\:translate-x-n3p {
        transform: translateX(-3%) !important;
    }

    .media-lg\:translate-x-n4p {
        transform: translateX(-4%) !important;
    }

    .media-lg\:translate-x-n5p {
        transform: translateX(-5%) !important;
    }

    .media-lg\:translate-x-n6p {
        transform: translateX(-6%) !important;
    }

    .media-lg\:translate-x-n7p {
        transform: translateX(-7%) !important;
    }

    .media-lg\:translate-x-n8p {
        transform: translateX(-8%) !important;
    }

    .media-lg\:translate-x-n9p {
        transform: translateX(-9%) !important;
    }

    .media-lg\:translate-x-n10p {
        transform: translateX(-10%) !important;
    }

    .media-lg\:translate-x-n11p {
        transform: translateX(-11%) !important;
    }

    .media-lg\:translate-x-n12p {
        transform: translateX(-12%) !important;
    }

    .media-lg\:translate-x-n13p {
        transform: translateX(-13%) !important;
    }

    .media-lg\:translate-x-n14p {
        transform: translateX(-14%) !important;
    }

    .media-lg\:translate-x-n15p {
        transform: translateX(-15%) !important;
    }

    .media-lg\:translate-x-n16p {
        transform: translateX(-16%) !important;
    }

    .media-lg\:translate-x-n17p {
        transform: translateX(-17%) !important;
    }

    .media-lg\:translate-x-n18p {
        transform: translateX(-18%) !important;
    }

    .media-lg\:translate-x-n19p {
        transform: translateX(-19%) !important;
    }

    .media-lg\:translate-x-n20p {
        transform: translateX(-20%) !important;
    }

    .media-lg\:translate-x-n21p {
        transform: translateX(-21%) !important;
    }

    .media-lg\:translate-x-n22p {
        transform: translateX(-22%) !important;
    }

    .media-lg\:translate-x-n23p {
        transform: translateX(-23%) !important;
    }

    .media-lg\:translate-x-n24p {
        transform: translateX(-24%) !important;
    }

    .media-lg\:translate-x-n25p {
        transform: translateX(-25%) !important;
    }

    .media-lg\:translate-x-n26p {
        transform: translateX(-26%) !important;
    }

    .media-lg\:translate-x-n27p {
        transform: translateX(-27%) !important;
    }

    .media-lg\:translate-x-n28p {
        transform: translateX(-28%) !important;
    }

    .media-lg\:translate-x-n29p {
        transform: translateX(-29%) !important;
    }

    .media-lg\:translate-x-n30p {
        transform: translateX(-30%) !important;
    }

    .media-lg\:translate-x-n31p {
        transform: translateX(-31%) !important;
    }

    .media-lg\:translate-x-n32p {
        transform: translateX(-32%) !important;
    }

    .media-lg\:translate-x-n33p {
        transform: translateX(-33%) !important;
    }

    .media-lg\:translate-x-n34p {
        transform: translateX(-34%) !important;
    }

    .media-lg\:translate-x-n35p {
        transform: translateX(-35%) !important;
    }

    .media-lg\:translate-x-n36p {
        transform: translateX(-36%) !important;
    }

    .media-lg\:translate-x-n37p {
        transform: translateX(-37%) !important;
    }

    .media-lg\:translate-x-n38p {
        transform: translateX(-38%) !important;
    }

    .media-lg\:translate-x-n39p {
        transform: translateX(-39%) !important;
    }

    .media-lg\:translate-x-n40p {
        transform: translateX(-40%) !important;
    }

    .media-lg\:translate-x-n41p {
        transform: translateX(-41%) !important;
    }

    .media-lg\:translate-x-n42p {
        transform: translateX(-42%) !important;
    }

    .media-lg\:translate-x-n43p {
        transform: translateX(-43%) !important;
    }

    .media-lg\:translate-x-n44p {
        transform: translateX(-44%) !important;
    }

    .media-lg\:translate-x-n45p {
        transform: translateX(-45%) !important;
    }

    .media-lg\:translate-x-n46p {
        transform: translateX(-46%) !important;
    }

    .media-lg\:translate-x-n47p {
        transform: translateX(-47%) !important;
    }

    .media-lg\:translate-x-n48p {
        transform: translateX(-48%) !important;
    }

    .media-lg\:translate-x-n49p {
        transform: translateX(-49%) !important;
    }

    .media-lg\:translate-x-n50p {
        transform: translateX(-50%) !important;
    }

    .media-lg\:translate-x-n51p {
        transform: translateX(-51%) !important;
    }

    .media-lg\:translate-x-n52p {
        transform: translateX(-52%) !important;
    }

    .media-lg\:translate-x-n53p {
        transform: translateX(-53%) !important;
    }

    .media-lg\:translate-x-n54p {
        transform: translateX(-54%) !important;
    }

    .media-lg\:translate-x-n55p {
        transform: translateX(-55%) !important;
    }

    .media-lg\:translate-x-n56p {
        transform: translateX(-56%) !important;
    }

    .media-lg\:translate-x-n57p {
        transform: translateX(-57%) !important;
    }

    .media-lg\:translate-x-n58p {
        transform: translateX(-58%) !important;
    }

    .media-lg\:translate-x-n59p {
        transform: translateX(-59%) !important;
    }

    .media-lg\:translate-x-n60p {
        transform: translateX(-60%) !important;
    }

    .media-lg\:translate-x-n61p {
        transform: translateX(-61%) !important;
    }

    .media-lg\:translate-x-n62p {
        transform: translateX(-62%) !important;
    }

    .media-lg\:translate-x-n63p {
        transform: translateX(-63%) !important;
    }

    .media-lg\:translate-x-n64p {
        transform: translateX(-64%) !important;
    }

    .media-lg\:translate-x-n65p {
        transform: translateX(-65%) !important;
    }

    .media-lg\:translate-x-n66p {
        transform: translateX(-66%) !important;
    }

    .media-lg\:translate-x-n67p {
        transform: translateX(-67%) !important;
    }

    .media-lg\:translate-x-n68p {
        transform: translateX(-68%) !important;
    }

    .media-lg\:translate-x-n69p {
        transform: translateX(-69%) !important;
    }

    .media-lg\:translate-x-n70p {
        transform: translateX(-70%) !important;
    }

    .media-lg\:translate-x-n71p {
        transform: translateX(-71%) !important;
    }

    .media-lg\:translate-x-n72p {
        transform: translateX(-72%) !important;
    }

    .media-lg\:translate-x-n73p {
        transform: translateX(-73%) !important;
    }

    .media-lg\:translate-x-n74p {
        transform: translateX(-74%) !important;
    }

    .media-lg\:translate-x-n75p {
        transform: translateX(-75%) !important;
    }

    .media-lg\:translate-x-n76p {
        transform: translateX(-76%) !important;
    }

    .media-lg\:translate-x-n77p {
        transform: translateX(-77%) !important;
    }

    .media-lg\:translate-x-n78p {
        transform: translateX(-78%) !important;
    }

    .media-lg\:translate-x-n79p {
        transform: translateX(-79%) !important;
    }

    .media-lg\:translate-x-n80p {
        transform: translateX(-80%) !important;
    }

    .media-lg\:translate-x-n81p {
        transform: translateX(-81%) !important;
    }

    .media-lg\:translate-x-n82p {
        transform: translateX(-82%) !important;
    }

    .media-lg\:translate-x-n83p {
        transform: translateX(-83%) !important;
    }

    .media-lg\:translate-x-n84p {
        transform: translateX(-84%) !important;
    }

    .media-lg\:translate-x-n85p {
        transform: translateX(-85%) !important;
    }

    .media-lg\:translate-x-n86p {
        transform: translateX(-86%) !important;
    }

    .media-lg\:translate-x-n87p {
        transform: translateX(-87%) !important;
    }

    .media-lg\:translate-x-n88p {
        transform: translateX(-88%) !important;
    }

    .media-lg\:translate-x-n89p {
        transform: translateX(-89%) !important;
    }

    .media-lg\:translate-x-n90p {
        transform: translateX(-90%) !important;
    }

    .media-lg\:translate-x-n91p {
        transform: translateX(-91%) !important;
    }

    .media-lg\:translate-x-n92p {
        transform: translateX(-92%) !important;
    }

    .media-lg\:translate-x-n93p {
        transform: translateX(-93%) !important;
    }

    .media-lg\:translate-x-n94p {
        transform: translateX(-94%) !important;
    }

    .media-lg\:translate-x-n95p {
        transform: translateX(-95%) !important;
    }

    .media-lg\:translate-x-n96p {
        transform: translateX(-96%) !important;
    }

    .media-lg\:translate-x-n97p {
        transform: translateX(-97%) !important;
    }

    .media-lg\:translate-x-n98p {
        transform: translateX(-98%) !important;
    }

    .media-lg\:translate-x-n99p {
        transform: translateX(-99%) !important;
    }

    .media-lg\:translate-x-n100p {
        transform: translateX(-100%) !important;
    }
}