.translate-y-1p {
    transform: translateY(1%) !important;
}

.translate-y-2p {
    transform: translateY(2%) !important;
}

.translate-y-3p {
    transform: translateY(3%) !important;
}

.translate-y-4p {
    transform: translateY(4%) !important;
}

.translate-y-5p {
    transform: translateY(5%) !important;
}

.translate-y-6p {
    transform: translateY(6%) !important;
}

.translate-y-7p {
    transform: translateY(7%) !important;
}

.translate-y-8p {
    transform: translateY(8%) !important;
}

.translate-y-9p {
    transform: translateY(9%) !important;
}

.translate-y-10p {
    transform: translateY(10%) !important;
}

.translate-y-11p {
    transform: translateY(11%) !important;
}

.translate-y-12p {
    transform: translateY(12%) !important;
}

.translate-y-13p {
    transform: translateY(13%) !important;
}

.translate-y-14p {
    transform: translateY(14%) !important;
}

.translate-y-15p {
    transform: translateY(15%) !important;
}

.translate-y-16p {
    transform: translateY(16%) !important;
}

.translate-y-17p {
    transform: translateY(17%) !important;
}

.translate-y-18p {
    transform: translateY(18%) !important;
}

.translate-y-19p {
    transform: translateY(19%) !important;
}

.translate-y-20p {
    transform: translateY(20%) !important;
}

.translate-y-21p {
    transform: translateY(21%) !important;
}

.translate-y-22p {
    transform: translateY(22%) !important;
}

.translate-y-23p {
    transform: translateY(23%) !important;
}

.translate-y-24p {
    transform: translateY(24%) !important;
}

.translate-y-25p {
    transform: translateY(25%) !important;
}

.translate-y-26p {
    transform: translateY(26%) !important;
}

.translate-y-27p {
    transform: translateY(27%) !important;
}

.translate-y-28p {
    transform: translateY(28%) !important;
}

.translate-y-29p {
    transform: translateY(29%) !important;
}

.translate-y-30p {
    transform: translateY(30%) !important;
}

.translate-y-31p {
    transform: translateY(31%) !important;
}

.translate-y-32p {
    transform: translateY(32%) !important;
}

.translate-y-33p {
    transform: translateY(33%) !important;
}

.translate-y-34p {
    transform: translateY(34%) !important;
}

.translate-y-35p {
    transform: translateY(35%) !important;
}

.translate-y-36p {
    transform: translateY(36%) !important;
}

.translate-y-37p {
    transform: translateY(37%) !important;
}

.translate-y-38p {
    transform: translateY(38%) !important;
}

.translate-y-39p {
    transform: translateY(39%) !important;
}

.translate-y-40p {
    transform: translateY(40%) !important;
}

.translate-y-41p {
    transform: translateY(41%) !important;
}

.translate-y-42p {
    transform: translateY(42%) !important;
}

.translate-y-43p {
    transform: translateY(43%) !important;
}

.translate-y-44p {
    transform: translateY(44%) !important;
}

.translate-y-45p {
    transform: translateY(45%) !important;
}

.translate-y-46p {
    transform: translateY(46%) !important;
}

.translate-y-47p {
    transform: translateY(47%) !important;
}

.translate-y-48p {
    transform: translateY(48%) !important;
}

.translate-y-49p {
    transform: translateY(49%) !important;
}

.translate-y-50p {
    transform: translateY(50%) !important;
}

.translate-y-51p {
    transform: translateY(51%) !important;
}

.translate-y-52p {
    transform: translateY(52%) !important;
}

.translate-y-53p {
    transform: translateY(53%) !important;
}

.translate-y-54p {
    transform: translateY(54%) !important;
}

.translate-y-55p {
    transform: translateY(55%) !important;
}

.translate-y-56p {
    transform: translateY(56%) !important;
}

.translate-y-57p {
    transform: translateY(57%) !important;
}

.translate-y-58p {
    transform: translateY(58%) !important;
}

.translate-y-59p {
    transform: translateY(59%) !important;
}

.translate-y-60p {
    transform: translateY(60%) !important;
}

.translate-y-61p {
    transform: translateY(61%) !important;
}

.translate-y-62p {
    transform: translateY(62%) !important;
}

.translate-y-63p {
    transform: translateY(63%) !important;
}

.translate-y-64p {
    transform: translateY(64%) !important;
}

.translate-y-65p {
    transform: translateY(65%) !important;
}

.translate-y-66p {
    transform: translateY(66%) !important;
}

.translate-y-67p {
    transform: translateY(67%) !important;
}

.translate-y-68p {
    transform: translateY(68%) !important;
}

.translate-y-69p {
    transform: translateY(69%) !important;
}

.translate-y-70p {
    transform: translateY(70%) !important;
}

.translate-y-71p {
    transform: translateY(71%) !important;
}

.translate-y-72p {
    transform: translateY(72%) !important;
}

.translate-y-73p {
    transform: translateY(73%) !important;
}

.translate-y-74p {
    transform: translateY(74%) !important;
}

.translate-y-75p {
    transform: translateY(75%) !important;
}

.translate-y-76p {
    transform: translateY(76%) !important;
}

.translate-y-77p {
    transform: translateY(77%) !important;
}

.translate-y-78p {
    transform: translateY(78%) !important;
}

.translate-y-79p {
    transform: translateY(79%) !important;
}

.translate-y-80p {
    transform: translateY(80%) !important;
}

.translate-y-81p {
    transform: translateY(81%) !important;
}

.translate-y-82p {
    transform: translateY(82%) !important;
}

.translate-y-83p {
    transform: translateY(83%) !important;
}

.translate-y-84p {
    transform: translateY(84%) !important;
}

.translate-y-85p {
    transform: translateY(85%) !important;
}

.translate-y-86p {
    transform: translateY(86%) !important;
}

.translate-y-87p {
    transform: translateY(87%) !important;
}

.translate-y-88p {
    transform: translateY(88%) !important;
}

.translate-y-89p {
    transform: translateY(89%) !important;
}

.translate-y-90p {
    transform: translateY(90%) !important;
}

.translate-y-91p {
    transform: translateY(91%) !important;
}

.translate-y-92p {
    transform: translateY(92%) !important;
}

.translate-y-93p {
    transform: translateY(93%) !important;
}

.translate-y-94p {
    transform: translateY(94%) !important;
}

.translate-y-95p {
    transform: translateY(95%) !important;
}

.translate-y-96p {
    transform: translateY(96%) !important;
}

.translate-y-97p {
    transform: translateY(97%) !important;
}

.translate-y-98p {
    transform: translateY(98%) !important;
}

.translate-y-99p {
    transform: translateY(99%) !important;
}

.translate-y-100p {
    transform: translateY(100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-y-1p {
        transform: translateY(1%) !important;
    }

    .media-xs\:translate-y-2p {
        transform: translateY(2%) !important;
    }

    .media-xs\:translate-y-3p {
        transform: translateY(3%) !important;
    }

    .media-xs\:translate-y-4p {
        transform: translateY(4%) !important;
    }

    .media-xs\:translate-y-5p {
        transform: translateY(5%) !important;
    }

    .media-xs\:translate-y-6p {
        transform: translateY(6%) !important;
    }

    .media-xs\:translate-y-7p {
        transform: translateY(7%) !important;
    }

    .media-xs\:translate-y-8p {
        transform: translateY(8%) !important;
    }

    .media-xs\:translate-y-9p {
        transform: translateY(9%) !important;
    }

    .media-xs\:translate-y-10p {
        transform: translateY(10%) !important;
    }

    .media-xs\:translate-y-11p {
        transform: translateY(11%) !important;
    }

    .media-xs\:translate-y-12p {
        transform: translateY(12%) !important;
    }

    .media-xs\:translate-y-13p {
        transform: translateY(13%) !important;
    }

    .media-xs\:translate-y-14p {
        transform: translateY(14%) !important;
    }

    .media-xs\:translate-y-15p {
        transform: translateY(15%) !important;
    }

    .media-xs\:translate-y-16p {
        transform: translateY(16%) !important;
    }

    .media-xs\:translate-y-17p {
        transform: translateY(17%) !important;
    }

    .media-xs\:translate-y-18p {
        transform: translateY(18%) !important;
    }

    .media-xs\:translate-y-19p {
        transform: translateY(19%) !important;
    }

    .media-xs\:translate-y-20p {
        transform: translateY(20%) !important;
    }

    .media-xs\:translate-y-21p {
        transform: translateY(21%) !important;
    }

    .media-xs\:translate-y-22p {
        transform: translateY(22%) !important;
    }

    .media-xs\:translate-y-23p {
        transform: translateY(23%) !important;
    }

    .media-xs\:translate-y-24p {
        transform: translateY(24%) !important;
    }

    .media-xs\:translate-y-25p {
        transform: translateY(25%) !important;
    }

    .media-xs\:translate-y-26p {
        transform: translateY(26%) !important;
    }

    .media-xs\:translate-y-27p {
        transform: translateY(27%) !important;
    }

    .media-xs\:translate-y-28p {
        transform: translateY(28%) !important;
    }

    .media-xs\:translate-y-29p {
        transform: translateY(29%) !important;
    }

    .media-xs\:translate-y-30p {
        transform: translateY(30%) !important;
    }

    .media-xs\:translate-y-31p {
        transform: translateY(31%) !important;
    }

    .media-xs\:translate-y-32p {
        transform: translateY(32%) !important;
    }

    .media-xs\:translate-y-33p {
        transform: translateY(33%) !important;
    }

    .media-xs\:translate-y-34p {
        transform: translateY(34%) !important;
    }

    .media-xs\:translate-y-35p {
        transform: translateY(35%) !important;
    }

    .media-xs\:translate-y-36p {
        transform: translateY(36%) !important;
    }

    .media-xs\:translate-y-37p {
        transform: translateY(37%) !important;
    }

    .media-xs\:translate-y-38p {
        transform: translateY(38%) !important;
    }

    .media-xs\:translate-y-39p {
        transform: translateY(39%) !important;
    }

    .media-xs\:translate-y-40p {
        transform: translateY(40%) !important;
    }

    .media-xs\:translate-y-41p {
        transform: translateY(41%) !important;
    }

    .media-xs\:translate-y-42p {
        transform: translateY(42%) !important;
    }

    .media-xs\:translate-y-43p {
        transform: translateY(43%) !important;
    }

    .media-xs\:translate-y-44p {
        transform: translateY(44%) !important;
    }

    .media-xs\:translate-y-45p {
        transform: translateY(45%) !important;
    }

    .media-xs\:translate-y-46p {
        transform: translateY(46%) !important;
    }

    .media-xs\:translate-y-47p {
        transform: translateY(47%) !important;
    }

    .media-xs\:translate-y-48p {
        transform: translateY(48%) !important;
    }

    .media-xs\:translate-y-49p {
        transform: translateY(49%) !important;
    }

    .media-xs\:translate-y-50p {
        transform: translateY(50%) !important;
    }

    .media-xs\:translate-y-51p {
        transform: translateY(51%) !important;
    }

    .media-xs\:translate-y-52p {
        transform: translateY(52%) !important;
    }

    .media-xs\:translate-y-53p {
        transform: translateY(53%) !important;
    }

    .media-xs\:translate-y-54p {
        transform: translateY(54%) !important;
    }

    .media-xs\:translate-y-55p {
        transform: translateY(55%) !important;
    }

    .media-xs\:translate-y-56p {
        transform: translateY(56%) !important;
    }

    .media-xs\:translate-y-57p {
        transform: translateY(57%) !important;
    }

    .media-xs\:translate-y-58p {
        transform: translateY(58%) !important;
    }

    .media-xs\:translate-y-59p {
        transform: translateY(59%) !important;
    }

    .media-xs\:translate-y-60p {
        transform: translateY(60%) !important;
    }

    .media-xs\:translate-y-61p {
        transform: translateY(61%) !important;
    }

    .media-xs\:translate-y-62p {
        transform: translateY(62%) !important;
    }

    .media-xs\:translate-y-63p {
        transform: translateY(63%) !important;
    }

    .media-xs\:translate-y-64p {
        transform: translateY(64%) !important;
    }

    .media-xs\:translate-y-65p {
        transform: translateY(65%) !important;
    }

    .media-xs\:translate-y-66p {
        transform: translateY(66%) !important;
    }

    .media-xs\:translate-y-67p {
        transform: translateY(67%) !important;
    }

    .media-xs\:translate-y-68p {
        transform: translateY(68%) !important;
    }

    .media-xs\:translate-y-69p {
        transform: translateY(69%) !important;
    }

    .media-xs\:translate-y-70p {
        transform: translateY(70%) !important;
    }

    .media-xs\:translate-y-71p {
        transform: translateY(71%) !important;
    }

    .media-xs\:translate-y-72p {
        transform: translateY(72%) !important;
    }

    .media-xs\:translate-y-73p {
        transform: translateY(73%) !important;
    }

    .media-xs\:translate-y-74p {
        transform: translateY(74%) !important;
    }

    .media-xs\:translate-y-75p {
        transform: translateY(75%) !important;
    }

    .media-xs\:translate-y-76p {
        transform: translateY(76%) !important;
    }

    .media-xs\:translate-y-77p {
        transform: translateY(77%) !important;
    }

    .media-xs\:translate-y-78p {
        transform: translateY(78%) !important;
    }

    .media-xs\:translate-y-79p {
        transform: translateY(79%) !important;
    }

    .media-xs\:translate-y-80p {
        transform: translateY(80%) !important;
    }

    .media-xs\:translate-y-81p {
        transform: translateY(81%) !important;
    }

    .media-xs\:translate-y-82p {
        transform: translateY(82%) !important;
    }

    .media-xs\:translate-y-83p {
        transform: translateY(83%) !important;
    }

    .media-xs\:translate-y-84p {
        transform: translateY(84%) !important;
    }

    .media-xs\:translate-y-85p {
        transform: translateY(85%) !important;
    }

    .media-xs\:translate-y-86p {
        transform: translateY(86%) !important;
    }

    .media-xs\:translate-y-87p {
        transform: translateY(87%) !important;
    }

    .media-xs\:translate-y-88p {
        transform: translateY(88%) !important;
    }

    .media-xs\:translate-y-89p {
        transform: translateY(89%) !important;
    }

    .media-xs\:translate-y-90p {
        transform: translateY(90%) !important;
    }

    .media-xs\:translate-y-91p {
        transform: translateY(91%) !important;
    }

    .media-xs\:translate-y-92p {
        transform: translateY(92%) !important;
    }

    .media-xs\:translate-y-93p {
        transform: translateY(93%) !important;
    }

    .media-xs\:translate-y-94p {
        transform: translateY(94%) !important;
    }

    .media-xs\:translate-y-95p {
        transform: translateY(95%) !important;
    }

    .media-xs\:translate-y-96p {
        transform: translateY(96%) !important;
    }

    .media-xs\:translate-y-97p {
        transform: translateY(97%) !important;
    }

    .media-xs\:translate-y-98p {
        transform: translateY(98%) !important;
    }

    .media-xs\:translate-y-99p {
        transform: translateY(99%) !important;
    }

    .media-xs\:translate-y-100p {
        transform: translateY(100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-y-1p {
        transform: translateY(1%) !important;
    }

    .media-sm\:translate-y-2p {
        transform: translateY(2%) !important;
    }

    .media-sm\:translate-y-3p {
        transform: translateY(3%) !important;
    }

    .media-sm\:translate-y-4p {
        transform: translateY(4%) !important;
    }

    .media-sm\:translate-y-5p {
        transform: translateY(5%) !important;
    }

    .media-sm\:translate-y-6p {
        transform: translateY(6%) !important;
    }

    .media-sm\:translate-y-7p {
        transform: translateY(7%) !important;
    }

    .media-sm\:translate-y-8p {
        transform: translateY(8%) !important;
    }

    .media-sm\:translate-y-9p {
        transform: translateY(9%) !important;
    }

    .media-sm\:translate-y-10p {
        transform: translateY(10%) !important;
    }

    .media-sm\:translate-y-11p {
        transform: translateY(11%) !important;
    }

    .media-sm\:translate-y-12p {
        transform: translateY(12%) !important;
    }

    .media-sm\:translate-y-13p {
        transform: translateY(13%) !important;
    }

    .media-sm\:translate-y-14p {
        transform: translateY(14%) !important;
    }

    .media-sm\:translate-y-15p {
        transform: translateY(15%) !important;
    }

    .media-sm\:translate-y-16p {
        transform: translateY(16%) !important;
    }

    .media-sm\:translate-y-17p {
        transform: translateY(17%) !important;
    }

    .media-sm\:translate-y-18p {
        transform: translateY(18%) !important;
    }

    .media-sm\:translate-y-19p {
        transform: translateY(19%) !important;
    }

    .media-sm\:translate-y-20p {
        transform: translateY(20%) !important;
    }

    .media-sm\:translate-y-21p {
        transform: translateY(21%) !important;
    }

    .media-sm\:translate-y-22p {
        transform: translateY(22%) !important;
    }

    .media-sm\:translate-y-23p {
        transform: translateY(23%) !important;
    }

    .media-sm\:translate-y-24p {
        transform: translateY(24%) !important;
    }

    .media-sm\:translate-y-25p {
        transform: translateY(25%) !important;
    }

    .media-sm\:translate-y-26p {
        transform: translateY(26%) !important;
    }

    .media-sm\:translate-y-27p {
        transform: translateY(27%) !important;
    }

    .media-sm\:translate-y-28p {
        transform: translateY(28%) !important;
    }

    .media-sm\:translate-y-29p {
        transform: translateY(29%) !important;
    }

    .media-sm\:translate-y-30p {
        transform: translateY(30%) !important;
    }

    .media-sm\:translate-y-31p {
        transform: translateY(31%) !important;
    }

    .media-sm\:translate-y-32p {
        transform: translateY(32%) !important;
    }

    .media-sm\:translate-y-33p {
        transform: translateY(33%) !important;
    }

    .media-sm\:translate-y-34p {
        transform: translateY(34%) !important;
    }

    .media-sm\:translate-y-35p {
        transform: translateY(35%) !important;
    }

    .media-sm\:translate-y-36p {
        transform: translateY(36%) !important;
    }

    .media-sm\:translate-y-37p {
        transform: translateY(37%) !important;
    }

    .media-sm\:translate-y-38p {
        transform: translateY(38%) !important;
    }

    .media-sm\:translate-y-39p {
        transform: translateY(39%) !important;
    }

    .media-sm\:translate-y-40p {
        transform: translateY(40%) !important;
    }

    .media-sm\:translate-y-41p {
        transform: translateY(41%) !important;
    }

    .media-sm\:translate-y-42p {
        transform: translateY(42%) !important;
    }

    .media-sm\:translate-y-43p {
        transform: translateY(43%) !important;
    }

    .media-sm\:translate-y-44p {
        transform: translateY(44%) !important;
    }

    .media-sm\:translate-y-45p {
        transform: translateY(45%) !important;
    }

    .media-sm\:translate-y-46p {
        transform: translateY(46%) !important;
    }

    .media-sm\:translate-y-47p {
        transform: translateY(47%) !important;
    }

    .media-sm\:translate-y-48p {
        transform: translateY(48%) !important;
    }

    .media-sm\:translate-y-49p {
        transform: translateY(49%) !important;
    }

    .media-sm\:translate-y-50p {
        transform: translateY(50%) !important;
    }

    .media-sm\:translate-y-51p {
        transform: translateY(51%) !important;
    }

    .media-sm\:translate-y-52p {
        transform: translateY(52%) !important;
    }

    .media-sm\:translate-y-53p {
        transform: translateY(53%) !important;
    }

    .media-sm\:translate-y-54p {
        transform: translateY(54%) !important;
    }

    .media-sm\:translate-y-55p {
        transform: translateY(55%) !important;
    }

    .media-sm\:translate-y-56p {
        transform: translateY(56%) !important;
    }

    .media-sm\:translate-y-57p {
        transform: translateY(57%) !important;
    }

    .media-sm\:translate-y-58p {
        transform: translateY(58%) !important;
    }

    .media-sm\:translate-y-59p {
        transform: translateY(59%) !important;
    }

    .media-sm\:translate-y-60p {
        transform: translateY(60%) !important;
    }

    .media-sm\:translate-y-61p {
        transform: translateY(61%) !important;
    }

    .media-sm\:translate-y-62p {
        transform: translateY(62%) !important;
    }

    .media-sm\:translate-y-63p {
        transform: translateY(63%) !important;
    }

    .media-sm\:translate-y-64p {
        transform: translateY(64%) !important;
    }

    .media-sm\:translate-y-65p {
        transform: translateY(65%) !important;
    }

    .media-sm\:translate-y-66p {
        transform: translateY(66%) !important;
    }

    .media-sm\:translate-y-67p {
        transform: translateY(67%) !important;
    }

    .media-sm\:translate-y-68p {
        transform: translateY(68%) !important;
    }

    .media-sm\:translate-y-69p {
        transform: translateY(69%) !important;
    }

    .media-sm\:translate-y-70p {
        transform: translateY(70%) !important;
    }

    .media-sm\:translate-y-71p {
        transform: translateY(71%) !important;
    }

    .media-sm\:translate-y-72p {
        transform: translateY(72%) !important;
    }

    .media-sm\:translate-y-73p {
        transform: translateY(73%) !important;
    }

    .media-sm\:translate-y-74p {
        transform: translateY(74%) !important;
    }

    .media-sm\:translate-y-75p {
        transform: translateY(75%) !important;
    }

    .media-sm\:translate-y-76p {
        transform: translateY(76%) !important;
    }

    .media-sm\:translate-y-77p {
        transform: translateY(77%) !important;
    }

    .media-sm\:translate-y-78p {
        transform: translateY(78%) !important;
    }

    .media-sm\:translate-y-79p {
        transform: translateY(79%) !important;
    }

    .media-sm\:translate-y-80p {
        transform: translateY(80%) !important;
    }

    .media-sm\:translate-y-81p {
        transform: translateY(81%) !important;
    }

    .media-sm\:translate-y-82p {
        transform: translateY(82%) !important;
    }

    .media-sm\:translate-y-83p {
        transform: translateY(83%) !important;
    }

    .media-sm\:translate-y-84p {
        transform: translateY(84%) !important;
    }

    .media-sm\:translate-y-85p {
        transform: translateY(85%) !important;
    }

    .media-sm\:translate-y-86p {
        transform: translateY(86%) !important;
    }

    .media-sm\:translate-y-87p {
        transform: translateY(87%) !important;
    }

    .media-sm\:translate-y-88p {
        transform: translateY(88%) !important;
    }

    .media-sm\:translate-y-89p {
        transform: translateY(89%) !important;
    }

    .media-sm\:translate-y-90p {
        transform: translateY(90%) !important;
    }

    .media-sm\:translate-y-91p {
        transform: translateY(91%) !important;
    }

    .media-sm\:translate-y-92p {
        transform: translateY(92%) !important;
    }

    .media-sm\:translate-y-93p {
        transform: translateY(93%) !important;
    }

    .media-sm\:translate-y-94p {
        transform: translateY(94%) !important;
    }

    .media-sm\:translate-y-95p {
        transform: translateY(95%) !important;
    }

    .media-sm\:translate-y-96p {
        transform: translateY(96%) !important;
    }

    .media-sm\:translate-y-97p {
        transform: translateY(97%) !important;
    }

    .media-sm\:translate-y-98p {
        transform: translateY(98%) !important;
    }

    .media-sm\:translate-y-99p {
        transform: translateY(99%) !important;
    }

    .media-sm\:translate-y-100p {
        transform: translateY(100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-y-1p {
        transform: translateY(1%) !important;
    }

    .media-md\:translate-y-2p {
        transform: translateY(2%) !important;
    }

    .media-md\:translate-y-3p {
        transform: translateY(3%) !important;
    }

    .media-md\:translate-y-4p {
        transform: translateY(4%) !important;
    }

    .media-md\:translate-y-5p {
        transform: translateY(5%) !important;
    }

    .media-md\:translate-y-6p {
        transform: translateY(6%) !important;
    }

    .media-md\:translate-y-7p {
        transform: translateY(7%) !important;
    }

    .media-md\:translate-y-8p {
        transform: translateY(8%) !important;
    }

    .media-md\:translate-y-9p {
        transform: translateY(9%) !important;
    }

    .media-md\:translate-y-10p {
        transform: translateY(10%) !important;
    }

    .media-md\:translate-y-11p {
        transform: translateY(11%) !important;
    }

    .media-md\:translate-y-12p {
        transform: translateY(12%) !important;
    }

    .media-md\:translate-y-13p {
        transform: translateY(13%) !important;
    }

    .media-md\:translate-y-14p {
        transform: translateY(14%) !important;
    }

    .media-md\:translate-y-15p {
        transform: translateY(15%) !important;
    }

    .media-md\:translate-y-16p {
        transform: translateY(16%) !important;
    }

    .media-md\:translate-y-17p {
        transform: translateY(17%) !important;
    }

    .media-md\:translate-y-18p {
        transform: translateY(18%) !important;
    }

    .media-md\:translate-y-19p {
        transform: translateY(19%) !important;
    }

    .media-md\:translate-y-20p {
        transform: translateY(20%) !important;
    }

    .media-md\:translate-y-21p {
        transform: translateY(21%) !important;
    }

    .media-md\:translate-y-22p {
        transform: translateY(22%) !important;
    }

    .media-md\:translate-y-23p {
        transform: translateY(23%) !important;
    }

    .media-md\:translate-y-24p {
        transform: translateY(24%) !important;
    }

    .media-md\:translate-y-25p {
        transform: translateY(25%) !important;
    }

    .media-md\:translate-y-26p {
        transform: translateY(26%) !important;
    }

    .media-md\:translate-y-27p {
        transform: translateY(27%) !important;
    }

    .media-md\:translate-y-28p {
        transform: translateY(28%) !important;
    }

    .media-md\:translate-y-29p {
        transform: translateY(29%) !important;
    }

    .media-md\:translate-y-30p {
        transform: translateY(30%) !important;
    }

    .media-md\:translate-y-31p {
        transform: translateY(31%) !important;
    }

    .media-md\:translate-y-32p {
        transform: translateY(32%) !important;
    }

    .media-md\:translate-y-33p {
        transform: translateY(33%) !important;
    }

    .media-md\:translate-y-34p {
        transform: translateY(34%) !important;
    }

    .media-md\:translate-y-35p {
        transform: translateY(35%) !important;
    }

    .media-md\:translate-y-36p {
        transform: translateY(36%) !important;
    }

    .media-md\:translate-y-37p {
        transform: translateY(37%) !important;
    }

    .media-md\:translate-y-38p {
        transform: translateY(38%) !important;
    }

    .media-md\:translate-y-39p {
        transform: translateY(39%) !important;
    }

    .media-md\:translate-y-40p {
        transform: translateY(40%) !important;
    }

    .media-md\:translate-y-41p {
        transform: translateY(41%) !important;
    }

    .media-md\:translate-y-42p {
        transform: translateY(42%) !important;
    }

    .media-md\:translate-y-43p {
        transform: translateY(43%) !important;
    }

    .media-md\:translate-y-44p {
        transform: translateY(44%) !important;
    }

    .media-md\:translate-y-45p {
        transform: translateY(45%) !important;
    }

    .media-md\:translate-y-46p {
        transform: translateY(46%) !important;
    }

    .media-md\:translate-y-47p {
        transform: translateY(47%) !important;
    }

    .media-md\:translate-y-48p {
        transform: translateY(48%) !important;
    }

    .media-md\:translate-y-49p {
        transform: translateY(49%) !important;
    }

    .media-md\:translate-y-50p {
        transform: translateY(50%) !important;
    }

    .media-md\:translate-y-51p {
        transform: translateY(51%) !important;
    }

    .media-md\:translate-y-52p {
        transform: translateY(52%) !important;
    }

    .media-md\:translate-y-53p {
        transform: translateY(53%) !important;
    }

    .media-md\:translate-y-54p {
        transform: translateY(54%) !important;
    }

    .media-md\:translate-y-55p {
        transform: translateY(55%) !important;
    }

    .media-md\:translate-y-56p {
        transform: translateY(56%) !important;
    }

    .media-md\:translate-y-57p {
        transform: translateY(57%) !important;
    }

    .media-md\:translate-y-58p {
        transform: translateY(58%) !important;
    }

    .media-md\:translate-y-59p {
        transform: translateY(59%) !important;
    }

    .media-md\:translate-y-60p {
        transform: translateY(60%) !important;
    }

    .media-md\:translate-y-61p {
        transform: translateY(61%) !important;
    }

    .media-md\:translate-y-62p {
        transform: translateY(62%) !important;
    }

    .media-md\:translate-y-63p {
        transform: translateY(63%) !important;
    }

    .media-md\:translate-y-64p {
        transform: translateY(64%) !important;
    }

    .media-md\:translate-y-65p {
        transform: translateY(65%) !important;
    }

    .media-md\:translate-y-66p {
        transform: translateY(66%) !important;
    }

    .media-md\:translate-y-67p {
        transform: translateY(67%) !important;
    }

    .media-md\:translate-y-68p {
        transform: translateY(68%) !important;
    }

    .media-md\:translate-y-69p {
        transform: translateY(69%) !important;
    }

    .media-md\:translate-y-70p {
        transform: translateY(70%) !important;
    }

    .media-md\:translate-y-71p {
        transform: translateY(71%) !important;
    }

    .media-md\:translate-y-72p {
        transform: translateY(72%) !important;
    }

    .media-md\:translate-y-73p {
        transform: translateY(73%) !important;
    }

    .media-md\:translate-y-74p {
        transform: translateY(74%) !important;
    }

    .media-md\:translate-y-75p {
        transform: translateY(75%) !important;
    }

    .media-md\:translate-y-76p {
        transform: translateY(76%) !important;
    }

    .media-md\:translate-y-77p {
        transform: translateY(77%) !important;
    }

    .media-md\:translate-y-78p {
        transform: translateY(78%) !important;
    }

    .media-md\:translate-y-79p {
        transform: translateY(79%) !important;
    }

    .media-md\:translate-y-80p {
        transform: translateY(80%) !important;
    }

    .media-md\:translate-y-81p {
        transform: translateY(81%) !important;
    }

    .media-md\:translate-y-82p {
        transform: translateY(82%) !important;
    }

    .media-md\:translate-y-83p {
        transform: translateY(83%) !important;
    }

    .media-md\:translate-y-84p {
        transform: translateY(84%) !important;
    }

    .media-md\:translate-y-85p {
        transform: translateY(85%) !important;
    }

    .media-md\:translate-y-86p {
        transform: translateY(86%) !important;
    }

    .media-md\:translate-y-87p {
        transform: translateY(87%) !important;
    }

    .media-md\:translate-y-88p {
        transform: translateY(88%) !important;
    }

    .media-md\:translate-y-89p {
        transform: translateY(89%) !important;
    }

    .media-md\:translate-y-90p {
        transform: translateY(90%) !important;
    }

    .media-md\:translate-y-91p {
        transform: translateY(91%) !important;
    }

    .media-md\:translate-y-92p {
        transform: translateY(92%) !important;
    }

    .media-md\:translate-y-93p {
        transform: translateY(93%) !important;
    }

    .media-md\:translate-y-94p {
        transform: translateY(94%) !important;
    }

    .media-md\:translate-y-95p {
        transform: translateY(95%) !important;
    }

    .media-md\:translate-y-96p {
        transform: translateY(96%) !important;
    }

    .media-md\:translate-y-97p {
        transform: translateY(97%) !important;
    }

    .media-md\:translate-y-98p {
        transform: translateY(98%) !important;
    }

    .media-md\:translate-y-99p {
        transform: translateY(99%) !important;
    }

    .media-md\:translate-y-100p {
        transform: translateY(100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-y-1p {
        transform: translateY(1%) !important;
    }

    .media-lg\:translate-y-2p {
        transform: translateY(2%) !important;
    }

    .media-lg\:translate-y-3p {
        transform: translateY(3%) !important;
    }

    .media-lg\:translate-y-4p {
        transform: translateY(4%) !important;
    }

    .media-lg\:translate-y-5p {
        transform: translateY(5%) !important;
    }

    .media-lg\:translate-y-6p {
        transform: translateY(6%) !important;
    }

    .media-lg\:translate-y-7p {
        transform: translateY(7%) !important;
    }

    .media-lg\:translate-y-8p {
        transform: translateY(8%) !important;
    }

    .media-lg\:translate-y-9p {
        transform: translateY(9%) !important;
    }

    .media-lg\:translate-y-10p {
        transform: translateY(10%) !important;
    }

    .media-lg\:translate-y-11p {
        transform: translateY(11%) !important;
    }

    .media-lg\:translate-y-12p {
        transform: translateY(12%) !important;
    }

    .media-lg\:translate-y-13p {
        transform: translateY(13%) !important;
    }

    .media-lg\:translate-y-14p {
        transform: translateY(14%) !important;
    }

    .media-lg\:translate-y-15p {
        transform: translateY(15%) !important;
    }

    .media-lg\:translate-y-16p {
        transform: translateY(16%) !important;
    }

    .media-lg\:translate-y-17p {
        transform: translateY(17%) !important;
    }

    .media-lg\:translate-y-18p {
        transform: translateY(18%) !important;
    }

    .media-lg\:translate-y-19p {
        transform: translateY(19%) !important;
    }

    .media-lg\:translate-y-20p {
        transform: translateY(20%) !important;
    }

    .media-lg\:translate-y-21p {
        transform: translateY(21%) !important;
    }

    .media-lg\:translate-y-22p {
        transform: translateY(22%) !important;
    }

    .media-lg\:translate-y-23p {
        transform: translateY(23%) !important;
    }

    .media-lg\:translate-y-24p {
        transform: translateY(24%) !important;
    }

    .media-lg\:translate-y-25p {
        transform: translateY(25%) !important;
    }

    .media-lg\:translate-y-26p {
        transform: translateY(26%) !important;
    }

    .media-lg\:translate-y-27p {
        transform: translateY(27%) !important;
    }

    .media-lg\:translate-y-28p {
        transform: translateY(28%) !important;
    }

    .media-lg\:translate-y-29p {
        transform: translateY(29%) !important;
    }

    .media-lg\:translate-y-30p {
        transform: translateY(30%) !important;
    }

    .media-lg\:translate-y-31p {
        transform: translateY(31%) !important;
    }

    .media-lg\:translate-y-32p {
        transform: translateY(32%) !important;
    }

    .media-lg\:translate-y-33p {
        transform: translateY(33%) !important;
    }

    .media-lg\:translate-y-34p {
        transform: translateY(34%) !important;
    }

    .media-lg\:translate-y-35p {
        transform: translateY(35%) !important;
    }

    .media-lg\:translate-y-36p {
        transform: translateY(36%) !important;
    }

    .media-lg\:translate-y-37p {
        transform: translateY(37%) !important;
    }

    .media-lg\:translate-y-38p {
        transform: translateY(38%) !important;
    }

    .media-lg\:translate-y-39p {
        transform: translateY(39%) !important;
    }

    .media-lg\:translate-y-40p {
        transform: translateY(40%) !important;
    }

    .media-lg\:translate-y-41p {
        transform: translateY(41%) !important;
    }

    .media-lg\:translate-y-42p {
        transform: translateY(42%) !important;
    }

    .media-lg\:translate-y-43p {
        transform: translateY(43%) !important;
    }

    .media-lg\:translate-y-44p {
        transform: translateY(44%) !important;
    }

    .media-lg\:translate-y-45p {
        transform: translateY(45%) !important;
    }

    .media-lg\:translate-y-46p {
        transform: translateY(46%) !important;
    }

    .media-lg\:translate-y-47p {
        transform: translateY(47%) !important;
    }

    .media-lg\:translate-y-48p {
        transform: translateY(48%) !important;
    }

    .media-lg\:translate-y-49p {
        transform: translateY(49%) !important;
    }

    .media-lg\:translate-y-50p {
        transform: translateY(50%) !important;
    }

    .media-lg\:translate-y-51p {
        transform: translateY(51%) !important;
    }

    .media-lg\:translate-y-52p {
        transform: translateY(52%) !important;
    }

    .media-lg\:translate-y-53p {
        transform: translateY(53%) !important;
    }

    .media-lg\:translate-y-54p {
        transform: translateY(54%) !important;
    }

    .media-lg\:translate-y-55p {
        transform: translateY(55%) !important;
    }

    .media-lg\:translate-y-56p {
        transform: translateY(56%) !important;
    }

    .media-lg\:translate-y-57p {
        transform: translateY(57%) !important;
    }

    .media-lg\:translate-y-58p {
        transform: translateY(58%) !important;
    }

    .media-lg\:translate-y-59p {
        transform: translateY(59%) !important;
    }

    .media-lg\:translate-y-60p {
        transform: translateY(60%) !important;
    }

    .media-lg\:translate-y-61p {
        transform: translateY(61%) !important;
    }

    .media-lg\:translate-y-62p {
        transform: translateY(62%) !important;
    }

    .media-lg\:translate-y-63p {
        transform: translateY(63%) !important;
    }

    .media-lg\:translate-y-64p {
        transform: translateY(64%) !important;
    }

    .media-lg\:translate-y-65p {
        transform: translateY(65%) !important;
    }

    .media-lg\:translate-y-66p {
        transform: translateY(66%) !important;
    }

    .media-lg\:translate-y-67p {
        transform: translateY(67%) !important;
    }

    .media-lg\:translate-y-68p {
        transform: translateY(68%) !important;
    }

    .media-lg\:translate-y-69p {
        transform: translateY(69%) !important;
    }

    .media-lg\:translate-y-70p {
        transform: translateY(70%) !important;
    }

    .media-lg\:translate-y-71p {
        transform: translateY(71%) !important;
    }

    .media-lg\:translate-y-72p {
        transform: translateY(72%) !important;
    }

    .media-lg\:translate-y-73p {
        transform: translateY(73%) !important;
    }

    .media-lg\:translate-y-74p {
        transform: translateY(74%) !important;
    }

    .media-lg\:translate-y-75p {
        transform: translateY(75%) !important;
    }

    .media-lg\:translate-y-76p {
        transform: translateY(76%) !important;
    }

    .media-lg\:translate-y-77p {
        transform: translateY(77%) !important;
    }

    .media-lg\:translate-y-78p {
        transform: translateY(78%) !important;
    }

    .media-lg\:translate-y-79p {
        transform: translateY(79%) !important;
    }

    .media-lg\:translate-y-80p {
        transform: translateY(80%) !important;
    }

    .media-lg\:translate-y-81p {
        transform: translateY(81%) !important;
    }

    .media-lg\:translate-y-82p {
        transform: translateY(82%) !important;
    }

    .media-lg\:translate-y-83p {
        transform: translateY(83%) !important;
    }

    .media-lg\:translate-y-84p {
        transform: translateY(84%) !important;
    }

    .media-lg\:translate-y-85p {
        transform: translateY(85%) !important;
    }

    .media-lg\:translate-y-86p {
        transform: translateY(86%) !important;
    }

    .media-lg\:translate-y-87p {
        transform: translateY(87%) !important;
    }

    .media-lg\:translate-y-88p {
        transform: translateY(88%) !important;
    }

    .media-lg\:translate-y-89p {
        transform: translateY(89%) !important;
    }

    .media-lg\:translate-y-90p {
        transform: translateY(90%) !important;
    }

    .media-lg\:translate-y-91p {
        transform: translateY(91%) !important;
    }

    .media-lg\:translate-y-92p {
        transform: translateY(92%) !important;
    }

    .media-lg\:translate-y-93p {
        transform: translateY(93%) !important;
    }

    .media-lg\:translate-y-94p {
        transform: translateY(94%) !important;
    }

    .media-lg\:translate-y-95p {
        transform: translateY(95%) !important;
    }

    .media-lg\:translate-y-96p {
        transform: translateY(96%) !important;
    }

    .media-lg\:translate-y-97p {
        transform: translateY(97%) !important;
    }

    .media-lg\:translate-y-98p {
        transform: translateY(98%) !important;
    }

    .media-lg\:translate-y-99p {
        transform: translateY(99%) !important;
    }

    .media-lg\:translate-y-100p {
        transform: translateY(100%) !important;
    }
}