.translate-n1p {
    transform: translate(-1%, -1%) !important;
}

.translate-n2p {
    transform: translate(-2%, -2%) !important;
}

.translate-n3p {
    transform: translate(-3%, -3%) !important;
}

.translate-n4p {
    transform: translate(-4%, -4%) !important;
}

.translate-n5p {
    transform: translate(-5%, -5%) !important;
}

.translate-n6p {
    transform: translate(-6%, -6%) !important;
}

.translate-n7p {
    transform: translate(-7%, -7%) !important;
}

.translate-n8p {
    transform: translate(-8%, -8%) !important;
}

.translate-n9p {
    transform: translate(-9%, -9%) !important;
}

.translate-n10p {
    transform: translate(-10%, -10%) !important;
}

.translate-n11p {
    transform: translate(-11%, -11%) !important;
}

.translate-n12p {
    transform: translate(-12%, -12%) !important;
}

.translate-n13p {
    transform: translate(-13%, -13%) !important;
}

.translate-n14p {
    transform: translate(-14%, -14%) !important;
}

.translate-n15p {
    transform: translate(-15%, -15%) !important;
}

.translate-n16p {
    transform: translate(-16%, -16%) !important;
}

.translate-n17p {
    transform: translate(-17%, -17%) !important;
}

.translate-n18p {
    transform: translate(-18%, -18%) !important;
}

.translate-n19p {
    transform: translate(-19%, -19%) !important;
}

.translate-n20p {
    transform: translate(-20%, -20%) !important;
}

.translate-n21p {
    transform: translate(-21%, -21%) !important;
}

.translate-n22p {
    transform: translate(-22%, -22%) !important;
}

.translate-n23p {
    transform: translate(-23%, -23%) !important;
}

.translate-n24p {
    transform: translate(-24%, -24%) !important;
}

.translate-n25p {
    transform: translate(-25%, -25%) !important;
}

.translate-n26p {
    transform: translate(-26%, -26%) !important;
}

.translate-n27p {
    transform: translate(-27%, -27%) !important;
}

.translate-n28p {
    transform: translate(-28%, -28%) !important;
}

.translate-n29p {
    transform: translate(-29%, -29%) !important;
}

.translate-n30p {
    transform: translate(-30%, -30%) !important;
}

.translate-n31p {
    transform: translate(-31%, -31%) !important;
}

.translate-n32p {
    transform: translate(-32%, -32%) !important;
}

.translate-n33p {
    transform: translate(-33%, -33%) !important;
}

.translate-n34p {
    transform: translate(-34%, -34%) !important;
}

.translate-n35p {
    transform: translate(-35%, -35%) !important;
}

.translate-n36p {
    transform: translate(-36%, -36%) !important;
}

.translate-n37p {
    transform: translate(-37%, -37%) !important;
}

.translate-n38p {
    transform: translate(-38%, -38%) !important;
}

.translate-n39p {
    transform: translate(-39%, -39%) !important;
}

.translate-n40p {
    transform: translate(-40%, -40%) !important;
}

.translate-n41p {
    transform: translate(-41%, -41%) !important;
}

.translate-n42p {
    transform: translate(-42%, -42%) !important;
}

.translate-n43p {
    transform: translate(-43%, -43%) !important;
}

.translate-n44p {
    transform: translate(-44%, -44%) !important;
}

.translate-n45p {
    transform: translate(-45%, -45%) !important;
}

.translate-n46p {
    transform: translate(-46%, -46%) !important;
}

.translate-n47p {
    transform: translate(-47%, -47%) !important;
}

.translate-n48p {
    transform: translate(-48%, -48%) !important;
}

.translate-n49p {
    transform: translate(-49%, -49%) !important;
}

.translate-n50p {
    transform: translate(-50%, -50%) !important;
}

.translate-n51p {
    transform: translate(-51%, -51%) !important;
}

.translate-n52p {
    transform: translate(-52%, -52%) !important;
}

.translate-n53p {
    transform: translate(-53%, -53%) !important;
}

.translate-n54p {
    transform: translate(-54%, -54%) !important;
}

.translate-n55p {
    transform: translate(-55%, -55%) !important;
}

.translate-n56p {
    transform: translate(-56%, -56%) !important;
}

.translate-n57p {
    transform: translate(-57%, -57%) !important;
}

.translate-n58p {
    transform: translate(-58%, -58%) !important;
}

.translate-n59p {
    transform: translate(-59%, -59%) !important;
}

.translate-n60p {
    transform: translate(-60%, -60%) !important;
}

.translate-n61p {
    transform: translate(-61%, -61%) !important;
}

.translate-n62p {
    transform: translate(-62%, -62%) !important;
}

.translate-n63p {
    transform: translate(-63%, -63%) !important;
}

.translate-n64p {
    transform: translate(-64%, -64%) !important;
}

.translate-n65p {
    transform: translate(-65%, -65%) !important;
}

.translate-n66p {
    transform: translate(-66%, -66%) !important;
}

.translate-n67p {
    transform: translate(-67%, -67%) !important;
}

.translate-n68p {
    transform: translate(-68%, -68%) !important;
}

.translate-n69p {
    transform: translate(-69%, -69%) !important;
}

.translate-n70p {
    transform: translate(-70%, -70%) !important;
}

.translate-n71p {
    transform: translate(-71%, -71%) !important;
}

.translate-n72p {
    transform: translate(-72%, -72%) !important;
}

.translate-n73p {
    transform: translate(-73%, -73%) !important;
}

.translate-n74p {
    transform: translate(-74%, -74%) !important;
}

.translate-n75p {
    transform: translate(-75%, -75%) !important;
}

.translate-n76p {
    transform: translate(-76%, -76%) !important;
}

.translate-n77p {
    transform: translate(-77%, -77%) !important;
}

.translate-n78p {
    transform: translate(-78%, -78%) !important;
}

.translate-n79p {
    transform: translate(-79%, -79%) !important;
}

.translate-n80p {
    transform: translate(-80%, -80%) !important;
}

.translate-n81p {
    transform: translate(-81%, -81%) !important;
}

.translate-n82p {
    transform: translate(-82%, -82%) !important;
}

.translate-n83p {
    transform: translate(-83%, -83%) !important;
}

.translate-n84p {
    transform: translate(-84%, -84%) !important;
}

.translate-n85p {
    transform: translate(-85%, -85%) !important;
}

.translate-n86p {
    transform: translate(-86%, -86%) !important;
}

.translate-n87p {
    transform: translate(-87%, -87%) !important;
}

.translate-n88p {
    transform: translate(-88%, -88%) !important;
}

.translate-n89p {
    transform: translate(-89%, -89%) !important;
}

.translate-n90p {
    transform: translate(-90%, -90%) !important;
}

.translate-n91p {
    transform: translate(-91%, -91%) !important;
}

.translate-n92p {
    transform: translate(-92%, -92%) !important;
}

.translate-n93p {
    transform: translate(-93%, -93%) !important;
}

.translate-n94p {
    transform: translate(-94%, -94%) !important;
}

.translate-n95p {
    transform: translate(-95%, -95%) !important;
}

.translate-n96p {
    transform: translate(-96%, -96%) !important;
}

.translate-n97p {
    transform: translate(-97%, -97%) !important;
}

.translate-n98p {
    transform: translate(-98%, -98%) !important;
}

.translate-n99p {
    transform: translate(-99%, -99%) !important;
}

.translate-n100p {
    transform: translate(-100%, -100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-n1p {
        transform: translate(-1%, -1%) !important;
    }

    .media-xs\:translate-n2p {
        transform: translate(-2%, -2%) !important;
    }

    .media-xs\:translate-n3p {
        transform: translate(-3%, -3%) !important;
    }

    .media-xs\:translate-n4p {
        transform: translate(-4%, -4%) !important;
    }

    .media-xs\:translate-n5p {
        transform: translate(-5%, -5%) !important;
    }

    .media-xs\:translate-n6p {
        transform: translate(-6%, -6%) !important;
    }

    .media-xs\:translate-n7p {
        transform: translate(-7%, -7%) !important;
    }

    .media-xs\:translate-n8p {
        transform: translate(-8%, -8%) !important;
    }

    .media-xs\:translate-n9p {
        transform: translate(-9%, -9%) !important;
    }

    .media-xs\:translate-n10p {
        transform: translate(-10%, -10%) !important;
    }

    .media-xs\:translate-n11p {
        transform: translate(-11%, -11%) !important;
    }

    .media-xs\:translate-n12p {
        transform: translate(-12%, -12%) !important;
    }

    .media-xs\:translate-n13p {
        transform: translate(-13%, -13%) !important;
    }

    .media-xs\:translate-n14p {
        transform: translate(-14%, -14%) !important;
    }

    .media-xs\:translate-n15p {
        transform: translate(-15%, -15%) !important;
    }

    .media-xs\:translate-n16p {
        transform: translate(-16%, -16%) !important;
    }

    .media-xs\:translate-n17p {
        transform: translate(-17%, -17%) !important;
    }

    .media-xs\:translate-n18p {
        transform: translate(-18%, -18%) !important;
    }

    .media-xs\:translate-n19p {
        transform: translate(-19%, -19%) !important;
    }

    .media-xs\:translate-n20p {
        transform: translate(-20%, -20%) !important;
    }

    .media-xs\:translate-n21p {
        transform: translate(-21%, -21%) !important;
    }

    .media-xs\:translate-n22p {
        transform: translate(-22%, -22%) !important;
    }

    .media-xs\:translate-n23p {
        transform: translate(-23%, -23%) !important;
    }

    .media-xs\:translate-n24p {
        transform: translate(-24%, -24%) !important;
    }

    .media-xs\:translate-n25p {
        transform: translate(-25%, -25%) !important;
    }

    .media-xs\:translate-n26p {
        transform: translate(-26%, -26%) !important;
    }

    .media-xs\:translate-n27p {
        transform: translate(-27%, -27%) !important;
    }

    .media-xs\:translate-n28p {
        transform: translate(-28%, -28%) !important;
    }

    .media-xs\:translate-n29p {
        transform: translate(-29%, -29%) !important;
    }

    .media-xs\:translate-n30p {
        transform: translate(-30%, -30%) !important;
    }

    .media-xs\:translate-n31p {
        transform: translate(-31%, -31%) !important;
    }

    .media-xs\:translate-n32p {
        transform: translate(-32%, -32%) !important;
    }

    .media-xs\:translate-n33p {
        transform: translate(-33%, -33%) !important;
    }

    .media-xs\:translate-n34p {
        transform: translate(-34%, -34%) !important;
    }

    .media-xs\:translate-n35p {
        transform: translate(-35%, -35%) !important;
    }

    .media-xs\:translate-n36p {
        transform: translate(-36%, -36%) !important;
    }

    .media-xs\:translate-n37p {
        transform: translate(-37%, -37%) !important;
    }

    .media-xs\:translate-n38p {
        transform: translate(-38%, -38%) !important;
    }

    .media-xs\:translate-n39p {
        transform: translate(-39%, -39%) !important;
    }

    .media-xs\:translate-n40p {
        transform: translate(-40%, -40%) !important;
    }

    .media-xs\:translate-n41p {
        transform: translate(-41%, -41%) !important;
    }

    .media-xs\:translate-n42p {
        transform: translate(-42%, -42%) !important;
    }

    .media-xs\:translate-n43p {
        transform: translate(-43%, -43%) !important;
    }

    .media-xs\:translate-n44p {
        transform: translate(-44%, -44%) !important;
    }

    .media-xs\:translate-n45p {
        transform: translate(-45%, -45%) !important;
    }

    .media-xs\:translate-n46p {
        transform: translate(-46%, -46%) !important;
    }

    .media-xs\:translate-n47p {
        transform: translate(-47%, -47%) !important;
    }

    .media-xs\:translate-n48p {
        transform: translate(-48%, -48%) !important;
    }

    .media-xs\:translate-n49p {
        transform: translate(-49%, -49%) !important;
    }

    .media-xs\:translate-n50p {
        transform: translate(-50%, -50%) !important;
    }

    .media-xs\:translate-n51p {
        transform: translate(-51%, -51%) !important;
    }

    .media-xs\:translate-n52p {
        transform: translate(-52%, -52%) !important;
    }

    .media-xs\:translate-n53p {
        transform: translate(-53%, -53%) !important;
    }

    .media-xs\:translate-n54p {
        transform: translate(-54%, -54%) !important;
    }

    .media-xs\:translate-n55p {
        transform: translate(-55%, -55%) !important;
    }

    .media-xs\:translate-n56p {
        transform: translate(-56%, -56%) !important;
    }

    .media-xs\:translate-n57p {
        transform: translate(-57%, -57%) !important;
    }

    .media-xs\:translate-n58p {
        transform: translate(-58%, -58%) !important;
    }

    .media-xs\:translate-n59p {
        transform: translate(-59%, -59%) !important;
    }

    .media-xs\:translate-n60p {
        transform: translate(-60%, -60%) !important;
    }

    .media-xs\:translate-n61p {
        transform: translate(-61%, -61%) !important;
    }

    .media-xs\:translate-n62p {
        transform: translate(-62%, -62%) !important;
    }

    .media-xs\:translate-n63p {
        transform: translate(-63%, -63%) !important;
    }

    .media-xs\:translate-n64p {
        transform: translate(-64%, -64%) !important;
    }

    .media-xs\:translate-n65p {
        transform: translate(-65%, -65%) !important;
    }

    .media-xs\:translate-n66p {
        transform: translate(-66%, -66%) !important;
    }

    .media-xs\:translate-n67p {
        transform: translate(-67%, -67%) !important;
    }

    .media-xs\:translate-n68p {
        transform: translate(-68%, -68%) !important;
    }

    .media-xs\:translate-n69p {
        transform: translate(-69%, -69%) !important;
    }

    .media-xs\:translate-n70p {
        transform: translate(-70%, -70%) !important;
    }

    .media-xs\:translate-n71p {
        transform: translate(-71%, -71%) !important;
    }

    .media-xs\:translate-n72p {
        transform: translate(-72%, -72%) !important;
    }

    .media-xs\:translate-n73p {
        transform: translate(-73%, -73%) !important;
    }

    .media-xs\:translate-n74p {
        transform: translate(-74%, -74%) !important;
    }

    .media-xs\:translate-n75p {
        transform: translate(-75%, -75%) !important;
    }

    .media-xs\:translate-n76p {
        transform: translate(-76%, -76%) !important;
    }

    .media-xs\:translate-n77p {
        transform: translate(-77%, -77%) !important;
    }

    .media-xs\:translate-n78p {
        transform: translate(-78%, -78%) !important;
    }

    .media-xs\:translate-n79p {
        transform: translate(-79%, -79%) !important;
    }

    .media-xs\:translate-n80p {
        transform: translate(-80%, -80%) !important;
    }

    .media-xs\:translate-n81p {
        transform: translate(-81%, -81%) !important;
    }

    .media-xs\:translate-n82p {
        transform: translate(-82%, -82%) !important;
    }

    .media-xs\:translate-n83p {
        transform: translate(-83%, -83%) !important;
    }

    .media-xs\:translate-n84p {
        transform: translate(-84%, -84%) !important;
    }

    .media-xs\:translate-n85p {
        transform: translate(-85%, -85%) !important;
    }

    .media-xs\:translate-n86p {
        transform: translate(-86%, -86%) !important;
    }

    .media-xs\:translate-n87p {
        transform: translate(-87%, -87%) !important;
    }

    .media-xs\:translate-n88p {
        transform: translate(-88%, -88%) !important;
    }

    .media-xs\:translate-n89p {
        transform: translate(-89%, -89%) !important;
    }

    .media-xs\:translate-n90p {
        transform: translate(-90%, -90%) !important;
    }

    .media-xs\:translate-n91p {
        transform: translate(-91%, -91%) !important;
    }

    .media-xs\:translate-n92p {
        transform: translate(-92%, -92%) !important;
    }

    .media-xs\:translate-n93p {
        transform: translate(-93%, -93%) !important;
    }

    .media-xs\:translate-n94p {
        transform: translate(-94%, -94%) !important;
    }

    .media-xs\:translate-n95p {
        transform: translate(-95%, -95%) !important;
    }

    .media-xs\:translate-n96p {
        transform: translate(-96%, -96%) !important;
    }

    .media-xs\:translate-n97p {
        transform: translate(-97%, -97%) !important;
    }

    .media-xs\:translate-n98p {
        transform: translate(-98%, -98%) !important;
    }

    .media-xs\:translate-n99p {
        transform: translate(-99%, -99%) !important;
    }

    .media-xs\:translate-n100p {
        transform: translate(-100%, -100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-n1p {
        transform: translate(-1%, -1%) !important;
    }

    .media-sm\:translate-n2p {
        transform: translate(-2%, -2%) !important;
    }

    .media-sm\:translate-n3p {
        transform: translate(-3%, -3%) !important;
    }

    .media-sm\:translate-n4p {
        transform: translate(-4%, -4%) !important;
    }

    .media-sm\:translate-n5p {
        transform: translate(-5%, -5%) !important;
    }

    .media-sm\:translate-n6p {
        transform: translate(-6%, -6%) !important;
    }

    .media-sm\:translate-n7p {
        transform: translate(-7%, -7%) !important;
    }

    .media-sm\:translate-n8p {
        transform: translate(-8%, -8%) !important;
    }

    .media-sm\:translate-n9p {
        transform: translate(-9%, -9%) !important;
    }

    .media-sm\:translate-n10p {
        transform: translate(-10%, -10%) !important;
    }

    .media-sm\:translate-n11p {
        transform: translate(-11%, -11%) !important;
    }

    .media-sm\:translate-n12p {
        transform: translate(-12%, -12%) !important;
    }

    .media-sm\:translate-n13p {
        transform: translate(-13%, -13%) !important;
    }

    .media-sm\:translate-n14p {
        transform: translate(-14%, -14%) !important;
    }

    .media-sm\:translate-n15p {
        transform: translate(-15%, -15%) !important;
    }

    .media-sm\:translate-n16p {
        transform: translate(-16%, -16%) !important;
    }

    .media-sm\:translate-n17p {
        transform: translate(-17%, -17%) !important;
    }

    .media-sm\:translate-n18p {
        transform: translate(-18%, -18%) !important;
    }

    .media-sm\:translate-n19p {
        transform: translate(-19%, -19%) !important;
    }

    .media-sm\:translate-n20p {
        transform: translate(-20%, -20%) !important;
    }

    .media-sm\:translate-n21p {
        transform: translate(-21%, -21%) !important;
    }

    .media-sm\:translate-n22p {
        transform: translate(-22%, -22%) !important;
    }

    .media-sm\:translate-n23p {
        transform: translate(-23%, -23%) !important;
    }

    .media-sm\:translate-n24p {
        transform: translate(-24%, -24%) !important;
    }

    .media-sm\:translate-n25p {
        transform: translate(-25%, -25%) !important;
    }

    .media-sm\:translate-n26p {
        transform: translate(-26%, -26%) !important;
    }

    .media-sm\:translate-n27p {
        transform: translate(-27%, -27%) !important;
    }

    .media-sm\:translate-n28p {
        transform: translate(-28%, -28%) !important;
    }

    .media-sm\:translate-n29p {
        transform: translate(-29%, -29%) !important;
    }

    .media-sm\:translate-n30p {
        transform: translate(-30%, -30%) !important;
    }

    .media-sm\:translate-n31p {
        transform: translate(-31%, -31%) !important;
    }

    .media-sm\:translate-n32p {
        transform: translate(-32%, -32%) !important;
    }

    .media-sm\:translate-n33p {
        transform: translate(-33%, -33%) !important;
    }

    .media-sm\:translate-n34p {
        transform: translate(-34%, -34%) !important;
    }

    .media-sm\:translate-n35p {
        transform: translate(-35%, -35%) !important;
    }

    .media-sm\:translate-n36p {
        transform: translate(-36%, -36%) !important;
    }

    .media-sm\:translate-n37p {
        transform: translate(-37%, -37%) !important;
    }

    .media-sm\:translate-n38p {
        transform: translate(-38%, -38%) !important;
    }

    .media-sm\:translate-n39p {
        transform: translate(-39%, -39%) !important;
    }

    .media-sm\:translate-n40p {
        transform: translate(-40%, -40%) !important;
    }

    .media-sm\:translate-n41p {
        transform: translate(-41%, -41%) !important;
    }

    .media-sm\:translate-n42p {
        transform: translate(-42%, -42%) !important;
    }

    .media-sm\:translate-n43p {
        transform: translate(-43%, -43%) !important;
    }

    .media-sm\:translate-n44p {
        transform: translate(-44%, -44%) !important;
    }

    .media-sm\:translate-n45p {
        transform: translate(-45%, -45%) !important;
    }

    .media-sm\:translate-n46p {
        transform: translate(-46%, -46%) !important;
    }

    .media-sm\:translate-n47p {
        transform: translate(-47%, -47%) !important;
    }

    .media-sm\:translate-n48p {
        transform: translate(-48%, -48%) !important;
    }

    .media-sm\:translate-n49p {
        transform: translate(-49%, -49%) !important;
    }

    .media-sm\:translate-n50p {
        transform: translate(-50%, -50%) !important;
    }

    .media-sm\:translate-n51p {
        transform: translate(-51%, -51%) !important;
    }

    .media-sm\:translate-n52p {
        transform: translate(-52%, -52%) !important;
    }

    .media-sm\:translate-n53p {
        transform: translate(-53%, -53%) !important;
    }

    .media-sm\:translate-n54p {
        transform: translate(-54%, -54%) !important;
    }

    .media-sm\:translate-n55p {
        transform: translate(-55%, -55%) !important;
    }

    .media-sm\:translate-n56p {
        transform: translate(-56%, -56%) !important;
    }

    .media-sm\:translate-n57p {
        transform: translate(-57%, -57%) !important;
    }

    .media-sm\:translate-n58p {
        transform: translate(-58%, -58%) !important;
    }

    .media-sm\:translate-n59p {
        transform: translate(-59%, -59%) !important;
    }

    .media-sm\:translate-n60p {
        transform: translate(-60%, -60%) !important;
    }

    .media-sm\:translate-n61p {
        transform: translate(-61%, -61%) !important;
    }

    .media-sm\:translate-n62p {
        transform: translate(-62%, -62%) !important;
    }

    .media-sm\:translate-n63p {
        transform: translate(-63%, -63%) !important;
    }

    .media-sm\:translate-n64p {
        transform: translate(-64%, -64%) !important;
    }

    .media-sm\:translate-n65p {
        transform: translate(-65%, -65%) !important;
    }

    .media-sm\:translate-n66p {
        transform: translate(-66%, -66%) !important;
    }

    .media-sm\:translate-n67p {
        transform: translate(-67%, -67%) !important;
    }

    .media-sm\:translate-n68p {
        transform: translate(-68%, -68%) !important;
    }

    .media-sm\:translate-n69p {
        transform: translate(-69%, -69%) !important;
    }

    .media-sm\:translate-n70p {
        transform: translate(-70%, -70%) !important;
    }

    .media-sm\:translate-n71p {
        transform: translate(-71%, -71%) !important;
    }

    .media-sm\:translate-n72p {
        transform: translate(-72%, -72%) !important;
    }

    .media-sm\:translate-n73p {
        transform: translate(-73%, -73%) !important;
    }

    .media-sm\:translate-n74p {
        transform: translate(-74%, -74%) !important;
    }

    .media-sm\:translate-n75p {
        transform: translate(-75%, -75%) !important;
    }

    .media-sm\:translate-n76p {
        transform: translate(-76%, -76%) !important;
    }

    .media-sm\:translate-n77p {
        transform: translate(-77%, -77%) !important;
    }

    .media-sm\:translate-n78p {
        transform: translate(-78%, -78%) !important;
    }

    .media-sm\:translate-n79p {
        transform: translate(-79%, -79%) !important;
    }

    .media-sm\:translate-n80p {
        transform: translate(-80%, -80%) !important;
    }

    .media-sm\:translate-n81p {
        transform: translate(-81%, -81%) !important;
    }

    .media-sm\:translate-n82p {
        transform: translate(-82%, -82%) !important;
    }

    .media-sm\:translate-n83p {
        transform: translate(-83%, -83%) !important;
    }

    .media-sm\:translate-n84p {
        transform: translate(-84%, -84%) !important;
    }

    .media-sm\:translate-n85p {
        transform: translate(-85%, -85%) !important;
    }

    .media-sm\:translate-n86p {
        transform: translate(-86%, -86%) !important;
    }

    .media-sm\:translate-n87p {
        transform: translate(-87%, -87%) !important;
    }

    .media-sm\:translate-n88p {
        transform: translate(-88%, -88%) !important;
    }

    .media-sm\:translate-n89p {
        transform: translate(-89%, -89%) !important;
    }

    .media-sm\:translate-n90p {
        transform: translate(-90%, -90%) !important;
    }

    .media-sm\:translate-n91p {
        transform: translate(-91%, -91%) !important;
    }

    .media-sm\:translate-n92p {
        transform: translate(-92%, -92%) !important;
    }

    .media-sm\:translate-n93p {
        transform: translate(-93%, -93%) !important;
    }

    .media-sm\:translate-n94p {
        transform: translate(-94%, -94%) !important;
    }

    .media-sm\:translate-n95p {
        transform: translate(-95%, -95%) !important;
    }

    .media-sm\:translate-n96p {
        transform: translate(-96%, -96%) !important;
    }

    .media-sm\:translate-n97p {
        transform: translate(-97%, -97%) !important;
    }

    .media-sm\:translate-n98p {
        transform: translate(-98%, -98%) !important;
    }

    .media-sm\:translate-n99p {
        transform: translate(-99%, -99%) !important;
    }

    .media-sm\:translate-n100p {
        transform: translate(-100%, -100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-n1p {
        transform: translate(-1%, -1%) !important;
    }

    .media-md\:translate-n2p {
        transform: translate(-2%, -2%) !important;
    }

    .media-md\:translate-n3p {
        transform: translate(-3%, -3%) !important;
    }

    .media-md\:translate-n4p {
        transform: translate(-4%, -4%) !important;
    }

    .media-md\:translate-n5p {
        transform: translate(-5%, -5%) !important;
    }

    .media-md\:translate-n6p {
        transform: translate(-6%, -6%) !important;
    }

    .media-md\:translate-n7p {
        transform: translate(-7%, -7%) !important;
    }

    .media-md\:translate-n8p {
        transform: translate(-8%, -8%) !important;
    }

    .media-md\:translate-n9p {
        transform: translate(-9%, -9%) !important;
    }

    .media-md\:translate-n10p {
        transform: translate(-10%, -10%) !important;
    }

    .media-md\:translate-n11p {
        transform: translate(-11%, -11%) !important;
    }

    .media-md\:translate-n12p {
        transform: translate(-12%, -12%) !important;
    }

    .media-md\:translate-n13p {
        transform: translate(-13%, -13%) !important;
    }

    .media-md\:translate-n14p {
        transform: translate(-14%, -14%) !important;
    }

    .media-md\:translate-n15p {
        transform: translate(-15%, -15%) !important;
    }

    .media-md\:translate-n16p {
        transform: translate(-16%, -16%) !important;
    }

    .media-md\:translate-n17p {
        transform: translate(-17%, -17%) !important;
    }

    .media-md\:translate-n18p {
        transform: translate(-18%, -18%) !important;
    }

    .media-md\:translate-n19p {
        transform: translate(-19%, -19%) !important;
    }

    .media-md\:translate-n20p {
        transform: translate(-20%, -20%) !important;
    }

    .media-md\:translate-n21p {
        transform: translate(-21%, -21%) !important;
    }

    .media-md\:translate-n22p {
        transform: translate(-22%, -22%) !important;
    }

    .media-md\:translate-n23p {
        transform: translate(-23%, -23%) !important;
    }

    .media-md\:translate-n24p {
        transform: translate(-24%, -24%) !important;
    }

    .media-md\:translate-n25p {
        transform: translate(-25%, -25%) !important;
    }

    .media-md\:translate-n26p {
        transform: translate(-26%, -26%) !important;
    }

    .media-md\:translate-n27p {
        transform: translate(-27%, -27%) !important;
    }

    .media-md\:translate-n28p {
        transform: translate(-28%, -28%) !important;
    }

    .media-md\:translate-n29p {
        transform: translate(-29%, -29%) !important;
    }

    .media-md\:translate-n30p {
        transform: translate(-30%, -30%) !important;
    }

    .media-md\:translate-n31p {
        transform: translate(-31%, -31%) !important;
    }

    .media-md\:translate-n32p {
        transform: translate(-32%, -32%) !important;
    }

    .media-md\:translate-n33p {
        transform: translate(-33%, -33%) !important;
    }

    .media-md\:translate-n34p {
        transform: translate(-34%, -34%) !important;
    }

    .media-md\:translate-n35p {
        transform: translate(-35%, -35%) !important;
    }

    .media-md\:translate-n36p {
        transform: translate(-36%, -36%) !important;
    }

    .media-md\:translate-n37p {
        transform: translate(-37%, -37%) !important;
    }

    .media-md\:translate-n38p {
        transform: translate(-38%, -38%) !important;
    }

    .media-md\:translate-n39p {
        transform: translate(-39%, -39%) !important;
    }

    .media-md\:translate-n40p {
        transform: translate(-40%, -40%) !important;
    }

    .media-md\:translate-n41p {
        transform: translate(-41%, -41%) !important;
    }

    .media-md\:translate-n42p {
        transform: translate(-42%, -42%) !important;
    }

    .media-md\:translate-n43p {
        transform: translate(-43%, -43%) !important;
    }

    .media-md\:translate-n44p {
        transform: translate(-44%, -44%) !important;
    }

    .media-md\:translate-n45p {
        transform: translate(-45%, -45%) !important;
    }

    .media-md\:translate-n46p {
        transform: translate(-46%, -46%) !important;
    }

    .media-md\:translate-n47p {
        transform: translate(-47%, -47%) !important;
    }

    .media-md\:translate-n48p {
        transform: translate(-48%, -48%) !important;
    }

    .media-md\:translate-n49p {
        transform: translate(-49%, -49%) !important;
    }

    .media-md\:translate-n50p {
        transform: translate(-50%, -50%) !important;
    }

    .media-md\:translate-n51p {
        transform: translate(-51%, -51%) !important;
    }

    .media-md\:translate-n52p {
        transform: translate(-52%, -52%) !important;
    }

    .media-md\:translate-n53p {
        transform: translate(-53%, -53%) !important;
    }

    .media-md\:translate-n54p {
        transform: translate(-54%, -54%) !important;
    }

    .media-md\:translate-n55p {
        transform: translate(-55%, -55%) !important;
    }

    .media-md\:translate-n56p {
        transform: translate(-56%, -56%) !important;
    }

    .media-md\:translate-n57p {
        transform: translate(-57%, -57%) !important;
    }

    .media-md\:translate-n58p {
        transform: translate(-58%, -58%) !important;
    }

    .media-md\:translate-n59p {
        transform: translate(-59%, -59%) !important;
    }

    .media-md\:translate-n60p {
        transform: translate(-60%, -60%) !important;
    }

    .media-md\:translate-n61p {
        transform: translate(-61%, -61%) !important;
    }

    .media-md\:translate-n62p {
        transform: translate(-62%, -62%) !important;
    }

    .media-md\:translate-n63p {
        transform: translate(-63%, -63%) !important;
    }

    .media-md\:translate-n64p {
        transform: translate(-64%, -64%) !important;
    }

    .media-md\:translate-n65p {
        transform: translate(-65%, -65%) !important;
    }

    .media-md\:translate-n66p {
        transform: translate(-66%, -66%) !important;
    }

    .media-md\:translate-n67p {
        transform: translate(-67%, -67%) !important;
    }

    .media-md\:translate-n68p {
        transform: translate(-68%, -68%) !important;
    }

    .media-md\:translate-n69p {
        transform: translate(-69%, -69%) !important;
    }

    .media-md\:translate-n70p {
        transform: translate(-70%, -70%) !important;
    }

    .media-md\:translate-n71p {
        transform: translate(-71%, -71%) !important;
    }

    .media-md\:translate-n72p {
        transform: translate(-72%, -72%) !important;
    }

    .media-md\:translate-n73p {
        transform: translate(-73%, -73%) !important;
    }

    .media-md\:translate-n74p {
        transform: translate(-74%, -74%) !important;
    }

    .media-md\:translate-n75p {
        transform: translate(-75%, -75%) !important;
    }

    .media-md\:translate-n76p {
        transform: translate(-76%, -76%) !important;
    }

    .media-md\:translate-n77p {
        transform: translate(-77%, -77%) !important;
    }

    .media-md\:translate-n78p {
        transform: translate(-78%, -78%) !important;
    }

    .media-md\:translate-n79p {
        transform: translate(-79%, -79%) !important;
    }

    .media-md\:translate-n80p {
        transform: translate(-80%, -80%) !important;
    }

    .media-md\:translate-n81p {
        transform: translate(-81%, -81%) !important;
    }

    .media-md\:translate-n82p {
        transform: translate(-82%, -82%) !important;
    }

    .media-md\:translate-n83p {
        transform: translate(-83%, -83%) !important;
    }

    .media-md\:translate-n84p {
        transform: translate(-84%, -84%) !important;
    }

    .media-md\:translate-n85p {
        transform: translate(-85%, -85%) !important;
    }

    .media-md\:translate-n86p {
        transform: translate(-86%, -86%) !important;
    }

    .media-md\:translate-n87p {
        transform: translate(-87%, -87%) !important;
    }

    .media-md\:translate-n88p {
        transform: translate(-88%, -88%) !important;
    }

    .media-md\:translate-n89p {
        transform: translate(-89%, -89%) !important;
    }

    .media-md\:translate-n90p {
        transform: translate(-90%, -90%) !important;
    }

    .media-md\:translate-n91p {
        transform: translate(-91%, -91%) !important;
    }

    .media-md\:translate-n92p {
        transform: translate(-92%, -92%) !important;
    }

    .media-md\:translate-n93p {
        transform: translate(-93%, -93%) !important;
    }

    .media-md\:translate-n94p {
        transform: translate(-94%, -94%) !important;
    }

    .media-md\:translate-n95p {
        transform: translate(-95%, -95%) !important;
    }

    .media-md\:translate-n96p {
        transform: translate(-96%, -96%) !important;
    }

    .media-md\:translate-n97p {
        transform: translate(-97%, -97%) !important;
    }

    .media-md\:translate-n98p {
        transform: translate(-98%, -98%) !important;
    }

    .media-md\:translate-n99p {
        transform: translate(-99%, -99%) !important;
    }

    .media-md\:translate-n100p {
        transform: translate(-100%, -100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-n1p {
        transform: translate(-1%, -1%) !important;
    }

    .media-lg\:translate-n2p {
        transform: translate(-2%, -2%) !important;
    }

    .media-lg\:translate-n3p {
        transform: translate(-3%, -3%) !important;
    }

    .media-lg\:translate-n4p {
        transform: translate(-4%, -4%) !important;
    }

    .media-lg\:translate-n5p {
        transform: translate(-5%, -5%) !important;
    }

    .media-lg\:translate-n6p {
        transform: translate(-6%, -6%) !important;
    }

    .media-lg\:translate-n7p {
        transform: translate(-7%, -7%) !important;
    }

    .media-lg\:translate-n8p {
        transform: translate(-8%, -8%) !important;
    }

    .media-lg\:translate-n9p {
        transform: translate(-9%, -9%) !important;
    }

    .media-lg\:translate-n10p {
        transform: translate(-10%, -10%) !important;
    }

    .media-lg\:translate-n11p {
        transform: translate(-11%, -11%) !important;
    }

    .media-lg\:translate-n12p {
        transform: translate(-12%, -12%) !important;
    }

    .media-lg\:translate-n13p {
        transform: translate(-13%, -13%) !important;
    }

    .media-lg\:translate-n14p {
        transform: translate(-14%, -14%) !important;
    }

    .media-lg\:translate-n15p {
        transform: translate(-15%, -15%) !important;
    }

    .media-lg\:translate-n16p {
        transform: translate(-16%, -16%) !important;
    }

    .media-lg\:translate-n17p {
        transform: translate(-17%, -17%) !important;
    }

    .media-lg\:translate-n18p {
        transform: translate(-18%, -18%) !important;
    }

    .media-lg\:translate-n19p {
        transform: translate(-19%, -19%) !important;
    }

    .media-lg\:translate-n20p {
        transform: translate(-20%, -20%) !important;
    }

    .media-lg\:translate-n21p {
        transform: translate(-21%, -21%) !important;
    }

    .media-lg\:translate-n22p {
        transform: translate(-22%, -22%) !important;
    }

    .media-lg\:translate-n23p {
        transform: translate(-23%, -23%) !important;
    }

    .media-lg\:translate-n24p {
        transform: translate(-24%, -24%) !important;
    }

    .media-lg\:translate-n25p {
        transform: translate(-25%, -25%) !important;
    }

    .media-lg\:translate-n26p {
        transform: translate(-26%, -26%) !important;
    }

    .media-lg\:translate-n27p {
        transform: translate(-27%, -27%) !important;
    }

    .media-lg\:translate-n28p {
        transform: translate(-28%, -28%) !important;
    }

    .media-lg\:translate-n29p {
        transform: translate(-29%, -29%) !important;
    }

    .media-lg\:translate-n30p {
        transform: translate(-30%, -30%) !important;
    }

    .media-lg\:translate-n31p {
        transform: translate(-31%, -31%) !important;
    }

    .media-lg\:translate-n32p {
        transform: translate(-32%, -32%) !important;
    }

    .media-lg\:translate-n33p {
        transform: translate(-33%, -33%) !important;
    }

    .media-lg\:translate-n34p {
        transform: translate(-34%, -34%) !important;
    }

    .media-lg\:translate-n35p {
        transform: translate(-35%, -35%) !important;
    }

    .media-lg\:translate-n36p {
        transform: translate(-36%, -36%) !important;
    }

    .media-lg\:translate-n37p {
        transform: translate(-37%, -37%) !important;
    }

    .media-lg\:translate-n38p {
        transform: translate(-38%, -38%) !important;
    }

    .media-lg\:translate-n39p {
        transform: translate(-39%, -39%) !important;
    }

    .media-lg\:translate-n40p {
        transform: translate(-40%, -40%) !important;
    }

    .media-lg\:translate-n41p {
        transform: translate(-41%, -41%) !important;
    }

    .media-lg\:translate-n42p {
        transform: translate(-42%, -42%) !important;
    }

    .media-lg\:translate-n43p {
        transform: translate(-43%, -43%) !important;
    }

    .media-lg\:translate-n44p {
        transform: translate(-44%, -44%) !important;
    }

    .media-lg\:translate-n45p {
        transform: translate(-45%, -45%) !important;
    }

    .media-lg\:translate-n46p {
        transform: translate(-46%, -46%) !important;
    }

    .media-lg\:translate-n47p {
        transform: translate(-47%, -47%) !important;
    }

    .media-lg\:translate-n48p {
        transform: translate(-48%, -48%) !important;
    }

    .media-lg\:translate-n49p {
        transform: translate(-49%, -49%) !important;
    }

    .media-lg\:translate-n50p {
        transform: translate(-50%, -50%) !important;
    }

    .media-lg\:translate-n51p {
        transform: translate(-51%, -51%) !important;
    }

    .media-lg\:translate-n52p {
        transform: translate(-52%, -52%) !important;
    }

    .media-lg\:translate-n53p {
        transform: translate(-53%, -53%) !important;
    }

    .media-lg\:translate-n54p {
        transform: translate(-54%, -54%) !important;
    }

    .media-lg\:translate-n55p {
        transform: translate(-55%, -55%) !important;
    }

    .media-lg\:translate-n56p {
        transform: translate(-56%, -56%) !important;
    }

    .media-lg\:translate-n57p {
        transform: translate(-57%, -57%) !important;
    }

    .media-lg\:translate-n58p {
        transform: translate(-58%, -58%) !important;
    }

    .media-lg\:translate-n59p {
        transform: translate(-59%, -59%) !important;
    }

    .media-lg\:translate-n60p {
        transform: translate(-60%, -60%) !important;
    }

    .media-lg\:translate-n61p {
        transform: translate(-61%, -61%) !important;
    }

    .media-lg\:translate-n62p {
        transform: translate(-62%, -62%) !important;
    }

    .media-lg\:translate-n63p {
        transform: translate(-63%, -63%) !important;
    }

    .media-lg\:translate-n64p {
        transform: translate(-64%, -64%) !important;
    }

    .media-lg\:translate-n65p {
        transform: translate(-65%, -65%) !important;
    }

    .media-lg\:translate-n66p {
        transform: translate(-66%, -66%) !important;
    }

    .media-lg\:translate-n67p {
        transform: translate(-67%, -67%) !important;
    }

    .media-lg\:translate-n68p {
        transform: translate(-68%, -68%) !important;
    }

    .media-lg\:translate-n69p {
        transform: translate(-69%, -69%) !important;
    }

    .media-lg\:translate-n70p {
        transform: translate(-70%, -70%) !important;
    }

    .media-lg\:translate-n71p {
        transform: translate(-71%, -71%) !important;
    }

    .media-lg\:translate-n72p {
        transform: translate(-72%, -72%) !important;
    }

    .media-lg\:translate-n73p {
        transform: translate(-73%, -73%) !important;
    }

    .media-lg\:translate-n74p {
        transform: translate(-74%, -74%) !important;
    }

    .media-lg\:translate-n75p {
        transform: translate(-75%, -75%) !important;
    }

    .media-lg\:translate-n76p {
        transform: translate(-76%, -76%) !important;
    }

    .media-lg\:translate-n77p {
        transform: translate(-77%, -77%) !important;
    }

    .media-lg\:translate-n78p {
        transform: translate(-78%, -78%) !important;
    }

    .media-lg\:translate-n79p {
        transform: translate(-79%, -79%) !important;
    }

    .media-lg\:translate-n80p {
        transform: translate(-80%, -80%) !important;
    }

    .media-lg\:translate-n81p {
        transform: translate(-81%, -81%) !important;
    }

    .media-lg\:translate-n82p {
        transform: translate(-82%, -82%) !important;
    }

    .media-lg\:translate-n83p {
        transform: translate(-83%, -83%) !important;
    }

    .media-lg\:translate-n84p {
        transform: translate(-84%, -84%) !important;
    }

    .media-lg\:translate-n85p {
        transform: translate(-85%, -85%) !important;
    }

    .media-lg\:translate-n86p {
        transform: translate(-86%, -86%) !important;
    }

    .media-lg\:translate-n87p {
        transform: translate(-87%, -87%) !important;
    }

    .media-lg\:translate-n88p {
        transform: translate(-88%, -88%) !important;
    }

    .media-lg\:translate-n89p {
        transform: translate(-89%, -89%) !important;
    }

    .media-lg\:translate-n90p {
        transform: translate(-90%, -90%) !important;
    }

    .media-lg\:translate-n91p {
        transform: translate(-91%, -91%) !important;
    }

    .media-lg\:translate-n92p {
        transform: translate(-92%, -92%) !important;
    }

    .media-lg\:translate-n93p {
        transform: translate(-93%, -93%) !important;
    }

    .media-lg\:translate-n94p {
        transform: translate(-94%, -94%) !important;
    }

    .media-lg\:translate-n95p {
        transform: translate(-95%, -95%) !important;
    }

    .media-lg\:translate-n96p {
        transform: translate(-96%, -96%) !important;
    }

    .media-lg\:translate-n97p {
        transform: translate(-97%, -97%) !important;
    }

    .media-lg\:translate-n98p {
        transform: translate(-98%, -98%) !important;
    }

    .media-lg\:translate-n99p {
        transform: translate(-99%, -99%) !important;
    }

    .media-lg\:translate-n100p {
        transform: translate(-100%, -100%) !important;
    }
}