.translate-1p {
    transform: translate(1%, 1%) !important;
}

.translate-2p {
    transform: translate(2%, 2%) !important;
}

.translate-3p {
    transform: translate(3%, 3%) !important;
}

.translate-4p {
    transform: translate(4%, 4%) !important;
}

.translate-5p {
    transform: translate(5%, 5%) !important;
}

.translate-6p {
    transform: translate(6%, 6%) !important;
}

.translate-7p {
    transform: translate(7%, 7%) !important;
}

.translate-8p {
    transform: translate(8%, 8%) !important;
}

.translate-9p {
    transform: translate(9%, 9%) !important;
}

.translate-10p {
    transform: translate(10%, 10%) !important;
}

.translate-11p {
    transform: translate(11%, 11%) !important;
}

.translate-12p {
    transform: translate(12%, 12%) !important;
}

.translate-13p {
    transform: translate(13%, 13%) !important;
}

.translate-14p {
    transform: translate(14%, 14%) !important;
}

.translate-15p {
    transform: translate(15%, 15%) !important;
}

.translate-16p {
    transform: translate(16%, 16%) !important;
}

.translate-17p {
    transform: translate(17%, 17%) !important;
}

.translate-18p {
    transform: translate(18%, 18%) !important;
}

.translate-19p {
    transform: translate(19%, 19%) !important;
}

.translate-20p {
    transform: translate(20%, 20%) !important;
}

.translate-21p {
    transform: translate(21%, 21%) !important;
}

.translate-22p {
    transform: translate(22%, 22%) !important;
}

.translate-23p {
    transform: translate(23%, 23%) !important;
}

.translate-24p {
    transform: translate(24%, 24%) !important;
}

.translate-25p {
    transform: translate(25%, 25%) !important;
}

.translate-26p {
    transform: translate(26%, 26%) !important;
}

.translate-27p {
    transform: translate(27%, 27%) !important;
}

.translate-28p {
    transform: translate(28%, 28%) !important;
}

.translate-29p {
    transform: translate(29%, 29%) !important;
}

.translate-30p {
    transform: translate(30%, 30%) !important;
}

.translate-31p {
    transform: translate(31%, 31%) !important;
}

.translate-32p {
    transform: translate(32%, 32%) !important;
}

.translate-33p {
    transform: translate(33%, 33%) !important;
}

.translate-34p {
    transform: translate(34%, 34%) !important;
}

.translate-35p {
    transform: translate(35%, 35%) !important;
}

.translate-36p {
    transform: translate(36%, 36%) !important;
}

.translate-37p {
    transform: translate(37%, 37%) !important;
}

.translate-38p {
    transform: translate(38%, 38%) !important;
}

.translate-39p {
    transform: translate(39%, 39%) !important;
}

.translate-40p {
    transform: translate(40%, 40%) !important;
}

.translate-41p {
    transform: translate(41%, 41%) !important;
}

.translate-42p {
    transform: translate(42%, 42%) !important;
}

.translate-43p {
    transform: translate(43%, 43%) !important;
}

.translate-44p {
    transform: translate(44%, 44%) !important;
}

.translate-45p {
    transform: translate(45%, 45%) !important;
}

.translate-46p {
    transform: translate(46%, 46%) !important;
}

.translate-47p {
    transform: translate(47%, 47%) !important;
}

.translate-48p {
    transform: translate(48%, 48%) !important;
}

.translate-49p {
    transform: translate(49%, 49%) !important;
}

.translate-50p {
    transform: translate(50%, 50%) !important;
}

.translate-51p {
    transform: translate(51%, 51%) !important;
}

.translate-52p {
    transform: translate(52%, 52%) !important;
}

.translate-53p {
    transform: translate(53%, 53%) !important;
}

.translate-54p {
    transform: translate(54%, 54%) !important;
}

.translate-55p {
    transform: translate(55%, 55%) !important;
}

.translate-56p {
    transform: translate(56%, 56%) !important;
}

.translate-57p {
    transform: translate(57%, 57%) !important;
}

.translate-58p {
    transform: translate(58%, 58%) !important;
}

.translate-59p {
    transform: translate(59%, 59%) !important;
}

.translate-60p {
    transform: translate(60%, 60%) !important;
}

.translate-61p {
    transform: translate(61%, 61%) !important;
}

.translate-62p {
    transform: translate(62%, 62%) !important;
}

.translate-63p {
    transform: translate(63%, 63%) !important;
}

.translate-64p {
    transform: translate(64%, 64%) !important;
}

.translate-65p {
    transform: translate(65%, 65%) !important;
}

.translate-66p {
    transform: translate(66%, 66%) !important;
}

.translate-67p {
    transform: translate(67%, 67%) !important;
}

.translate-68p {
    transform: translate(68%, 68%) !important;
}

.translate-69p {
    transform: translate(69%, 69%) !important;
}

.translate-70p {
    transform: translate(70%, 70%) !important;
}

.translate-71p {
    transform: translate(71%, 71%) !important;
}

.translate-72p {
    transform: translate(72%, 72%) !important;
}

.translate-73p {
    transform: translate(73%, 73%) !important;
}

.translate-74p {
    transform: translate(74%, 74%) !important;
}

.translate-75p {
    transform: translate(75%, 75%) !important;
}

.translate-76p {
    transform: translate(76%, 76%) !important;
}

.translate-77p {
    transform: translate(77%, 77%) !important;
}

.translate-78p {
    transform: translate(78%, 78%) !important;
}

.translate-79p {
    transform: translate(79%, 79%) !important;
}

.translate-80p {
    transform: translate(80%, 80%) !important;
}

.translate-81p {
    transform: translate(81%, 81%) !important;
}

.translate-82p {
    transform: translate(82%, 82%) !important;
}

.translate-83p {
    transform: translate(83%, 83%) !important;
}

.translate-84p {
    transform: translate(84%, 84%) !important;
}

.translate-85p {
    transform: translate(85%, 85%) !important;
}

.translate-86p {
    transform: translate(86%, 86%) !important;
}

.translate-87p {
    transform: translate(87%, 87%) !important;
}

.translate-88p {
    transform: translate(88%, 88%) !important;
}

.translate-89p {
    transform: translate(89%, 89%) !important;
}

.translate-90p {
    transform: translate(90%, 90%) !important;
}

.translate-91p {
    transform: translate(91%, 91%) !important;
}

.translate-92p {
    transform: translate(92%, 92%) !important;
}

.translate-93p {
    transform: translate(93%, 93%) !important;
}

.translate-94p {
    transform: translate(94%, 94%) !important;
}

.translate-95p {
    transform: translate(95%, 95%) !important;
}

.translate-96p {
    transform: translate(96%, 96%) !important;
}

.translate-97p {
    transform: translate(97%, 97%) !important;
}

.translate-98p {
    transform: translate(98%, 98%) !important;
}

.translate-99p {
    transform: translate(99%, 99%) !important;
}

.translate-100p {
    transform: translate(100%, 100%) !important;
}

@media (max-width: 576px) {
    .media-xs\:translate-1p {
        transform: translate(1%, 1%) !important;
    }

    .media-xs\:translate-2p {
        transform: translate(2%, 2%) !important;
    }

    .media-xs\:translate-3p {
        transform: translate(3%, 3%) !important;
    }

    .media-xs\:translate-4p {
        transform: translate(4%, 4%) !important;
    }

    .media-xs\:translate-5p {
        transform: translate(5%, 5%) !important;
    }

    .media-xs\:translate-6p {
        transform: translate(6%, 6%) !important;
    }

    .media-xs\:translate-7p {
        transform: translate(7%, 7%) !important;
    }

    .media-xs\:translate-8p {
        transform: translate(8%, 8%) !important;
    }

    .media-xs\:translate-9p {
        transform: translate(9%, 9%) !important;
    }

    .media-xs\:translate-10p {
        transform: translate(10%, 10%) !important;
    }

    .media-xs\:translate-11p {
        transform: translate(11%, 11%) !important;
    }

    .media-xs\:translate-12p {
        transform: translate(12%, 12%) !important;
    }

    .media-xs\:translate-13p {
        transform: translate(13%, 13%) !important;
    }

    .media-xs\:translate-14p {
        transform: translate(14%, 14%) !important;
    }

    .media-xs\:translate-15p {
        transform: translate(15%, 15%) !important;
    }

    .media-xs\:translate-16p {
        transform: translate(16%, 16%) !important;
    }

    .media-xs\:translate-17p {
        transform: translate(17%, 17%) !important;
    }

    .media-xs\:translate-18p {
        transform: translate(18%, 18%) !important;
    }

    .media-xs\:translate-19p {
        transform: translate(19%, 19%) !important;
    }

    .media-xs\:translate-20p {
        transform: translate(20%, 20%) !important;
    }

    .media-xs\:translate-21p {
        transform: translate(21%, 21%) !important;
    }

    .media-xs\:translate-22p {
        transform: translate(22%, 22%) !important;
    }

    .media-xs\:translate-23p {
        transform: translate(23%, 23%) !important;
    }

    .media-xs\:translate-24p {
        transform: translate(24%, 24%) !important;
    }

    .media-xs\:translate-25p {
        transform: translate(25%, 25%) !important;
    }

    .media-xs\:translate-26p {
        transform: translate(26%, 26%) !important;
    }

    .media-xs\:translate-27p {
        transform: translate(27%, 27%) !important;
    }

    .media-xs\:translate-28p {
        transform: translate(28%, 28%) !important;
    }

    .media-xs\:translate-29p {
        transform: translate(29%, 29%) !important;
    }

    .media-xs\:translate-30p {
        transform: translate(30%, 30%) !important;
    }

    .media-xs\:translate-31p {
        transform: translate(31%, 31%) !important;
    }

    .media-xs\:translate-32p {
        transform: translate(32%, 32%) !important;
    }

    .media-xs\:translate-33p {
        transform: translate(33%, 33%) !important;
    }

    .media-xs\:translate-34p {
        transform: translate(34%, 34%) !important;
    }

    .media-xs\:translate-35p {
        transform: translate(35%, 35%) !important;
    }

    .media-xs\:translate-36p {
        transform: translate(36%, 36%) !important;
    }

    .media-xs\:translate-37p {
        transform: translate(37%, 37%) !important;
    }

    .media-xs\:translate-38p {
        transform: translate(38%, 38%) !important;
    }

    .media-xs\:translate-39p {
        transform: translate(39%, 39%) !important;
    }

    .media-xs\:translate-40p {
        transform: translate(40%, 40%) !important;
    }

    .media-xs\:translate-41p {
        transform: translate(41%, 41%) !important;
    }

    .media-xs\:translate-42p {
        transform: translate(42%, 42%) !important;
    }

    .media-xs\:translate-43p {
        transform: translate(43%, 43%) !important;
    }

    .media-xs\:translate-44p {
        transform: translate(44%, 44%) !important;
    }

    .media-xs\:translate-45p {
        transform: translate(45%, 45%) !important;
    }

    .media-xs\:translate-46p {
        transform: translate(46%, 46%) !important;
    }

    .media-xs\:translate-47p {
        transform: translate(47%, 47%) !important;
    }

    .media-xs\:translate-48p {
        transform: translate(48%, 48%) !important;
    }

    .media-xs\:translate-49p {
        transform: translate(49%, 49%) !important;
    }

    .media-xs\:translate-50p {
        transform: translate(50%, 50%) !important;
    }

    .media-xs\:translate-51p {
        transform: translate(51%, 51%) !important;
    }

    .media-xs\:translate-52p {
        transform: translate(52%, 52%) !important;
    }

    .media-xs\:translate-53p {
        transform: translate(53%, 53%) !important;
    }

    .media-xs\:translate-54p {
        transform: translate(54%, 54%) !important;
    }

    .media-xs\:translate-55p {
        transform: translate(55%, 55%) !important;
    }

    .media-xs\:translate-56p {
        transform: translate(56%, 56%) !important;
    }

    .media-xs\:translate-57p {
        transform: translate(57%, 57%) !important;
    }

    .media-xs\:translate-58p {
        transform: translate(58%, 58%) !important;
    }

    .media-xs\:translate-59p {
        transform: translate(59%, 59%) !important;
    }

    .media-xs\:translate-60p {
        transform: translate(60%, 60%) !important;
    }

    .media-xs\:translate-61p {
        transform: translate(61%, 61%) !important;
    }

    .media-xs\:translate-62p {
        transform: translate(62%, 62%) !important;
    }

    .media-xs\:translate-63p {
        transform: translate(63%, 63%) !important;
    }

    .media-xs\:translate-64p {
        transform: translate(64%, 64%) !important;
    }

    .media-xs\:translate-65p {
        transform: translate(65%, 65%) !important;
    }

    .media-xs\:translate-66p {
        transform: translate(66%, 66%) !important;
    }

    .media-xs\:translate-67p {
        transform: translate(67%, 67%) !important;
    }

    .media-xs\:translate-68p {
        transform: translate(68%, 68%) !important;
    }

    .media-xs\:translate-69p {
        transform: translate(69%, 69%) !important;
    }

    .media-xs\:translate-70p {
        transform: translate(70%, 70%) !important;
    }

    .media-xs\:translate-71p {
        transform: translate(71%, 71%) !important;
    }

    .media-xs\:translate-72p {
        transform: translate(72%, 72%) !important;
    }

    .media-xs\:translate-73p {
        transform: translate(73%, 73%) !important;
    }

    .media-xs\:translate-74p {
        transform: translate(74%, 74%) !important;
    }

    .media-xs\:translate-75p {
        transform: translate(75%, 75%) !important;
    }

    .media-xs\:translate-76p {
        transform: translate(76%, 76%) !important;
    }

    .media-xs\:translate-77p {
        transform: translate(77%, 77%) !important;
    }

    .media-xs\:translate-78p {
        transform: translate(78%, 78%) !important;
    }

    .media-xs\:translate-79p {
        transform: translate(79%, 79%) !important;
    }

    .media-xs\:translate-80p {
        transform: translate(80%, 80%) !important;
    }

    .media-xs\:translate-81p {
        transform: translate(81%, 81%) !important;
    }

    .media-xs\:translate-82p {
        transform: translate(82%, 82%) !important;
    }

    .media-xs\:translate-83p {
        transform: translate(83%, 83%) !important;
    }

    .media-xs\:translate-84p {
        transform: translate(84%, 84%) !important;
    }

    .media-xs\:translate-85p {
        transform: translate(85%, 85%) !important;
    }

    .media-xs\:translate-86p {
        transform: translate(86%, 86%) !important;
    }

    .media-xs\:translate-87p {
        transform: translate(87%, 87%) !important;
    }

    .media-xs\:translate-88p {
        transform: translate(88%, 88%) !important;
    }

    .media-xs\:translate-89p {
        transform: translate(89%, 89%) !important;
    }

    .media-xs\:translate-90p {
        transform: translate(90%, 90%) !important;
    }

    .media-xs\:translate-91p {
        transform: translate(91%, 91%) !important;
    }

    .media-xs\:translate-92p {
        transform: translate(92%, 92%) !important;
    }

    .media-xs\:translate-93p {
        transform: translate(93%, 93%) !important;
    }

    .media-xs\:translate-94p {
        transform: translate(94%, 94%) !important;
    }

    .media-xs\:translate-95p {
        transform: translate(95%, 95%) !important;
    }

    .media-xs\:translate-96p {
        transform: translate(96%, 96%) !important;
    }

    .media-xs\:translate-97p {
        transform: translate(97%, 97%) !important;
    }

    .media-xs\:translate-98p {
        transform: translate(98%, 98%) !important;
    }

    .media-xs\:translate-99p {
        transform: translate(99%, 99%) !important;
    }

    .media-xs\:translate-100p {
        transform: translate(100%, 100%) !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:translate-1p {
        transform: translate(1%, 1%) !important;
    }

    .media-sm\:translate-2p {
        transform: translate(2%, 2%) !important;
    }

    .media-sm\:translate-3p {
        transform: translate(3%, 3%) !important;
    }

    .media-sm\:translate-4p {
        transform: translate(4%, 4%) !important;
    }

    .media-sm\:translate-5p {
        transform: translate(5%, 5%) !important;
    }

    .media-sm\:translate-6p {
        transform: translate(6%, 6%) !important;
    }

    .media-sm\:translate-7p {
        transform: translate(7%, 7%) !important;
    }

    .media-sm\:translate-8p {
        transform: translate(8%, 8%) !important;
    }

    .media-sm\:translate-9p {
        transform: translate(9%, 9%) !important;
    }

    .media-sm\:translate-10p {
        transform: translate(10%, 10%) !important;
    }

    .media-sm\:translate-11p {
        transform: translate(11%, 11%) !important;
    }

    .media-sm\:translate-12p {
        transform: translate(12%, 12%) !important;
    }

    .media-sm\:translate-13p {
        transform: translate(13%, 13%) !important;
    }

    .media-sm\:translate-14p {
        transform: translate(14%, 14%) !important;
    }

    .media-sm\:translate-15p {
        transform: translate(15%, 15%) !important;
    }

    .media-sm\:translate-16p {
        transform: translate(16%, 16%) !important;
    }

    .media-sm\:translate-17p {
        transform: translate(17%, 17%) !important;
    }

    .media-sm\:translate-18p {
        transform: translate(18%, 18%) !important;
    }

    .media-sm\:translate-19p {
        transform: translate(19%, 19%) !important;
    }

    .media-sm\:translate-20p {
        transform: translate(20%, 20%) !important;
    }

    .media-sm\:translate-21p {
        transform: translate(21%, 21%) !important;
    }

    .media-sm\:translate-22p {
        transform: translate(22%, 22%) !important;
    }

    .media-sm\:translate-23p {
        transform: translate(23%, 23%) !important;
    }

    .media-sm\:translate-24p {
        transform: translate(24%, 24%) !important;
    }

    .media-sm\:translate-25p {
        transform: translate(25%, 25%) !important;
    }

    .media-sm\:translate-26p {
        transform: translate(26%, 26%) !important;
    }

    .media-sm\:translate-27p {
        transform: translate(27%, 27%) !important;
    }

    .media-sm\:translate-28p {
        transform: translate(28%, 28%) !important;
    }

    .media-sm\:translate-29p {
        transform: translate(29%, 29%) !important;
    }

    .media-sm\:translate-30p {
        transform: translate(30%, 30%) !important;
    }

    .media-sm\:translate-31p {
        transform: translate(31%, 31%) !important;
    }

    .media-sm\:translate-32p {
        transform: translate(32%, 32%) !important;
    }

    .media-sm\:translate-33p {
        transform: translate(33%, 33%) !important;
    }

    .media-sm\:translate-34p {
        transform: translate(34%, 34%) !important;
    }

    .media-sm\:translate-35p {
        transform: translate(35%, 35%) !important;
    }

    .media-sm\:translate-36p {
        transform: translate(36%, 36%) !important;
    }

    .media-sm\:translate-37p {
        transform: translate(37%, 37%) !important;
    }

    .media-sm\:translate-38p {
        transform: translate(38%, 38%) !important;
    }

    .media-sm\:translate-39p {
        transform: translate(39%, 39%) !important;
    }

    .media-sm\:translate-40p {
        transform: translate(40%, 40%) !important;
    }

    .media-sm\:translate-41p {
        transform: translate(41%, 41%) !important;
    }

    .media-sm\:translate-42p {
        transform: translate(42%, 42%) !important;
    }

    .media-sm\:translate-43p {
        transform: translate(43%, 43%) !important;
    }

    .media-sm\:translate-44p {
        transform: translate(44%, 44%) !important;
    }

    .media-sm\:translate-45p {
        transform: translate(45%, 45%) !important;
    }

    .media-sm\:translate-46p {
        transform: translate(46%, 46%) !important;
    }

    .media-sm\:translate-47p {
        transform: translate(47%, 47%) !important;
    }

    .media-sm\:translate-48p {
        transform: translate(48%, 48%) !important;
    }

    .media-sm\:translate-49p {
        transform: translate(49%, 49%) !important;
    }

    .media-sm\:translate-50p {
        transform: translate(50%, 50%) !important;
    }

    .media-sm\:translate-51p {
        transform: translate(51%, 51%) !important;
    }

    .media-sm\:translate-52p {
        transform: translate(52%, 52%) !important;
    }

    .media-sm\:translate-53p {
        transform: translate(53%, 53%) !important;
    }

    .media-sm\:translate-54p {
        transform: translate(54%, 54%) !important;
    }

    .media-sm\:translate-55p {
        transform: translate(55%, 55%) !important;
    }

    .media-sm\:translate-56p {
        transform: translate(56%, 56%) !important;
    }

    .media-sm\:translate-57p {
        transform: translate(57%, 57%) !important;
    }

    .media-sm\:translate-58p {
        transform: translate(58%, 58%) !important;
    }

    .media-sm\:translate-59p {
        transform: translate(59%, 59%) !important;
    }

    .media-sm\:translate-60p {
        transform: translate(60%, 60%) !important;
    }

    .media-sm\:translate-61p {
        transform: translate(61%, 61%) !important;
    }

    .media-sm\:translate-62p {
        transform: translate(62%, 62%) !important;
    }

    .media-sm\:translate-63p {
        transform: translate(63%, 63%) !important;
    }

    .media-sm\:translate-64p {
        transform: translate(64%, 64%) !important;
    }

    .media-sm\:translate-65p {
        transform: translate(65%, 65%) !important;
    }

    .media-sm\:translate-66p {
        transform: translate(66%, 66%) !important;
    }

    .media-sm\:translate-67p {
        transform: translate(67%, 67%) !important;
    }

    .media-sm\:translate-68p {
        transform: translate(68%, 68%) !important;
    }

    .media-sm\:translate-69p {
        transform: translate(69%, 69%) !important;
    }

    .media-sm\:translate-70p {
        transform: translate(70%, 70%) !important;
    }

    .media-sm\:translate-71p {
        transform: translate(71%, 71%) !important;
    }

    .media-sm\:translate-72p {
        transform: translate(72%, 72%) !important;
    }

    .media-sm\:translate-73p {
        transform: translate(73%, 73%) !important;
    }

    .media-sm\:translate-74p {
        transform: translate(74%, 74%) !important;
    }

    .media-sm\:translate-75p {
        transform: translate(75%, 75%) !important;
    }

    .media-sm\:translate-76p {
        transform: translate(76%, 76%) !important;
    }

    .media-sm\:translate-77p {
        transform: translate(77%, 77%) !important;
    }

    .media-sm\:translate-78p {
        transform: translate(78%, 78%) !important;
    }

    .media-sm\:translate-79p {
        transform: translate(79%, 79%) !important;
    }

    .media-sm\:translate-80p {
        transform: translate(80%, 80%) !important;
    }

    .media-sm\:translate-81p {
        transform: translate(81%, 81%) !important;
    }

    .media-sm\:translate-82p {
        transform: translate(82%, 82%) !important;
    }

    .media-sm\:translate-83p {
        transform: translate(83%, 83%) !important;
    }

    .media-sm\:translate-84p {
        transform: translate(84%, 84%) !important;
    }

    .media-sm\:translate-85p {
        transform: translate(85%, 85%) !important;
    }

    .media-sm\:translate-86p {
        transform: translate(86%, 86%) !important;
    }

    .media-sm\:translate-87p {
        transform: translate(87%, 87%) !important;
    }

    .media-sm\:translate-88p {
        transform: translate(88%, 88%) !important;
    }

    .media-sm\:translate-89p {
        transform: translate(89%, 89%) !important;
    }

    .media-sm\:translate-90p {
        transform: translate(90%, 90%) !important;
    }

    .media-sm\:translate-91p {
        transform: translate(91%, 91%) !important;
    }

    .media-sm\:translate-92p {
        transform: translate(92%, 92%) !important;
    }

    .media-sm\:translate-93p {
        transform: translate(93%, 93%) !important;
    }

    .media-sm\:translate-94p {
        transform: translate(94%, 94%) !important;
    }

    .media-sm\:translate-95p {
        transform: translate(95%, 95%) !important;
    }

    .media-sm\:translate-96p {
        transform: translate(96%, 96%) !important;
    }

    .media-sm\:translate-97p {
        transform: translate(97%, 97%) !important;
    }

    .media-sm\:translate-98p {
        transform: translate(98%, 98%) !important;
    }

    .media-sm\:translate-99p {
        transform: translate(99%, 99%) !important;
    }

    .media-sm\:translate-100p {
        transform: translate(100%, 100%) !important;
    }
}

@media (max-width: 992px) {
    .media-md\:translate-1p {
        transform: translate(1%, 1%) !important;
    }

    .media-md\:translate-2p {
        transform: translate(2%, 2%) !important;
    }

    .media-md\:translate-3p {
        transform: translate(3%, 3%) !important;
    }

    .media-md\:translate-4p {
        transform: translate(4%, 4%) !important;
    }

    .media-md\:translate-5p {
        transform: translate(5%, 5%) !important;
    }

    .media-md\:translate-6p {
        transform: translate(6%, 6%) !important;
    }

    .media-md\:translate-7p {
        transform: translate(7%, 7%) !important;
    }

    .media-md\:translate-8p {
        transform: translate(8%, 8%) !important;
    }

    .media-md\:translate-9p {
        transform: translate(9%, 9%) !important;
    }

    .media-md\:translate-10p {
        transform: translate(10%, 10%) !important;
    }

    .media-md\:translate-11p {
        transform: translate(11%, 11%) !important;
    }

    .media-md\:translate-12p {
        transform: translate(12%, 12%) !important;
    }

    .media-md\:translate-13p {
        transform: translate(13%, 13%) !important;
    }

    .media-md\:translate-14p {
        transform: translate(14%, 14%) !important;
    }

    .media-md\:translate-15p {
        transform: translate(15%, 15%) !important;
    }

    .media-md\:translate-16p {
        transform: translate(16%, 16%) !important;
    }

    .media-md\:translate-17p {
        transform: translate(17%, 17%) !important;
    }

    .media-md\:translate-18p {
        transform: translate(18%, 18%) !important;
    }

    .media-md\:translate-19p {
        transform: translate(19%, 19%) !important;
    }

    .media-md\:translate-20p {
        transform: translate(20%, 20%) !important;
    }

    .media-md\:translate-21p {
        transform: translate(21%, 21%) !important;
    }

    .media-md\:translate-22p {
        transform: translate(22%, 22%) !important;
    }

    .media-md\:translate-23p {
        transform: translate(23%, 23%) !important;
    }

    .media-md\:translate-24p {
        transform: translate(24%, 24%) !important;
    }

    .media-md\:translate-25p {
        transform: translate(25%, 25%) !important;
    }

    .media-md\:translate-26p {
        transform: translate(26%, 26%) !important;
    }

    .media-md\:translate-27p {
        transform: translate(27%, 27%) !important;
    }

    .media-md\:translate-28p {
        transform: translate(28%, 28%) !important;
    }

    .media-md\:translate-29p {
        transform: translate(29%, 29%) !important;
    }

    .media-md\:translate-30p {
        transform: translate(30%, 30%) !important;
    }

    .media-md\:translate-31p {
        transform: translate(31%, 31%) !important;
    }

    .media-md\:translate-32p {
        transform: translate(32%, 32%) !important;
    }

    .media-md\:translate-33p {
        transform: translate(33%, 33%) !important;
    }

    .media-md\:translate-34p {
        transform: translate(34%, 34%) !important;
    }

    .media-md\:translate-35p {
        transform: translate(35%, 35%) !important;
    }

    .media-md\:translate-36p {
        transform: translate(36%, 36%) !important;
    }

    .media-md\:translate-37p {
        transform: translate(37%, 37%) !important;
    }

    .media-md\:translate-38p {
        transform: translate(38%, 38%) !important;
    }

    .media-md\:translate-39p {
        transform: translate(39%, 39%) !important;
    }

    .media-md\:translate-40p {
        transform: translate(40%, 40%) !important;
    }

    .media-md\:translate-41p {
        transform: translate(41%, 41%) !important;
    }

    .media-md\:translate-42p {
        transform: translate(42%, 42%) !important;
    }

    .media-md\:translate-43p {
        transform: translate(43%, 43%) !important;
    }

    .media-md\:translate-44p {
        transform: translate(44%, 44%) !important;
    }

    .media-md\:translate-45p {
        transform: translate(45%, 45%) !important;
    }

    .media-md\:translate-46p {
        transform: translate(46%, 46%) !important;
    }

    .media-md\:translate-47p {
        transform: translate(47%, 47%) !important;
    }

    .media-md\:translate-48p {
        transform: translate(48%, 48%) !important;
    }

    .media-md\:translate-49p {
        transform: translate(49%, 49%) !important;
    }

    .media-md\:translate-50p {
        transform: translate(50%, 50%) !important;
    }

    .media-md\:translate-51p {
        transform: translate(51%, 51%) !important;
    }

    .media-md\:translate-52p {
        transform: translate(52%, 52%) !important;
    }

    .media-md\:translate-53p {
        transform: translate(53%, 53%) !important;
    }

    .media-md\:translate-54p {
        transform: translate(54%, 54%) !important;
    }

    .media-md\:translate-55p {
        transform: translate(55%, 55%) !important;
    }

    .media-md\:translate-56p {
        transform: translate(56%, 56%) !important;
    }

    .media-md\:translate-57p {
        transform: translate(57%, 57%) !important;
    }

    .media-md\:translate-58p {
        transform: translate(58%, 58%) !important;
    }

    .media-md\:translate-59p {
        transform: translate(59%, 59%) !important;
    }

    .media-md\:translate-60p {
        transform: translate(60%, 60%) !important;
    }

    .media-md\:translate-61p {
        transform: translate(61%, 61%) !important;
    }

    .media-md\:translate-62p {
        transform: translate(62%, 62%) !important;
    }

    .media-md\:translate-63p {
        transform: translate(63%, 63%) !important;
    }

    .media-md\:translate-64p {
        transform: translate(64%, 64%) !important;
    }

    .media-md\:translate-65p {
        transform: translate(65%, 65%) !important;
    }

    .media-md\:translate-66p {
        transform: translate(66%, 66%) !important;
    }

    .media-md\:translate-67p {
        transform: translate(67%, 67%) !important;
    }

    .media-md\:translate-68p {
        transform: translate(68%, 68%) !important;
    }

    .media-md\:translate-69p {
        transform: translate(69%, 69%) !important;
    }

    .media-md\:translate-70p {
        transform: translate(70%, 70%) !important;
    }

    .media-md\:translate-71p {
        transform: translate(71%, 71%) !important;
    }

    .media-md\:translate-72p {
        transform: translate(72%, 72%) !important;
    }

    .media-md\:translate-73p {
        transform: translate(73%, 73%) !important;
    }

    .media-md\:translate-74p {
        transform: translate(74%, 74%) !important;
    }

    .media-md\:translate-75p {
        transform: translate(75%, 75%) !important;
    }

    .media-md\:translate-76p {
        transform: translate(76%, 76%) !important;
    }

    .media-md\:translate-77p {
        transform: translate(77%, 77%) !important;
    }

    .media-md\:translate-78p {
        transform: translate(78%, 78%) !important;
    }

    .media-md\:translate-79p {
        transform: translate(79%, 79%) !important;
    }

    .media-md\:translate-80p {
        transform: translate(80%, 80%) !important;
    }

    .media-md\:translate-81p {
        transform: translate(81%, 81%) !important;
    }

    .media-md\:translate-82p {
        transform: translate(82%, 82%) !important;
    }

    .media-md\:translate-83p {
        transform: translate(83%, 83%) !important;
    }

    .media-md\:translate-84p {
        transform: translate(84%, 84%) !important;
    }

    .media-md\:translate-85p {
        transform: translate(85%, 85%) !important;
    }

    .media-md\:translate-86p {
        transform: translate(86%, 86%) !important;
    }

    .media-md\:translate-87p {
        transform: translate(87%, 87%) !important;
    }

    .media-md\:translate-88p {
        transform: translate(88%, 88%) !important;
    }

    .media-md\:translate-89p {
        transform: translate(89%, 89%) !important;
    }

    .media-md\:translate-90p {
        transform: translate(90%, 90%) !important;
    }

    .media-md\:translate-91p {
        transform: translate(91%, 91%) !important;
    }

    .media-md\:translate-92p {
        transform: translate(92%, 92%) !important;
    }

    .media-md\:translate-93p {
        transform: translate(93%, 93%) !important;
    }

    .media-md\:translate-94p {
        transform: translate(94%, 94%) !important;
    }

    .media-md\:translate-95p {
        transform: translate(95%, 95%) !important;
    }

    .media-md\:translate-96p {
        transform: translate(96%, 96%) !important;
    }

    .media-md\:translate-97p {
        transform: translate(97%, 97%) !important;
    }

    .media-md\:translate-98p {
        transform: translate(98%, 98%) !important;
    }

    .media-md\:translate-99p {
        transform: translate(99%, 99%) !important;
    }

    .media-md\:translate-100p {
        transform: translate(100%, 100%) !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:translate-1p {
        transform: translate(1%, 1%) !important;
    }

    .media-lg\:translate-2p {
        transform: translate(2%, 2%) !important;
    }

    .media-lg\:translate-3p {
        transform: translate(3%, 3%) !important;
    }

    .media-lg\:translate-4p {
        transform: translate(4%, 4%) !important;
    }

    .media-lg\:translate-5p {
        transform: translate(5%, 5%) !important;
    }

    .media-lg\:translate-6p {
        transform: translate(6%, 6%) !important;
    }

    .media-lg\:translate-7p {
        transform: translate(7%, 7%) !important;
    }

    .media-lg\:translate-8p {
        transform: translate(8%, 8%) !important;
    }

    .media-lg\:translate-9p {
        transform: translate(9%, 9%) !important;
    }

    .media-lg\:translate-10p {
        transform: translate(10%, 10%) !important;
    }

    .media-lg\:translate-11p {
        transform: translate(11%, 11%) !important;
    }

    .media-lg\:translate-12p {
        transform: translate(12%, 12%) !important;
    }

    .media-lg\:translate-13p {
        transform: translate(13%, 13%) !important;
    }

    .media-lg\:translate-14p {
        transform: translate(14%, 14%) !important;
    }

    .media-lg\:translate-15p {
        transform: translate(15%, 15%) !important;
    }

    .media-lg\:translate-16p {
        transform: translate(16%, 16%) !important;
    }

    .media-lg\:translate-17p {
        transform: translate(17%, 17%) !important;
    }

    .media-lg\:translate-18p {
        transform: translate(18%, 18%) !important;
    }

    .media-lg\:translate-19p {
        transform: translate(19%, 19%) !important;
    }

    .media-lg\:translate-20p {
        transform: translate(20%, 20%) !important;
    }

    .media-lg\:translate-21p {
        transform: translate(21%, 21%) !important;
    }

    .media-lg\:translate-22p {
        transform: translate(22%, 22%) !important;
    }

    .media-lg\:translate-23p {
        transform: translate(23%, 23%) !important;
    }

    .media-lg\:translate-24p {
        transform: translate(24%, 24%) !important;
    }

    .media-lg\:translate-25p {
        transform: translate(25%, 25%) !important;
    }

    .media-lg\:translate-26p {
        transform: translate(26%, 26%) !important;
    }

    .media-lg\:translate-27p {
        transform: translate(27%, 27%) !important;
    }

    .media-lg\:translate-28p {
        transform: translate(28%, 28%) !important;
    }

    .media-lg\:translate-29p {
        transform: translate(29%, 29%) !important;
    }

    .media-lg\:translate-30p {
        transform: translate(30%, 30%) !important;
    }

    .media-lg\:translate-31p {
        transform: translate(31%, 31%) !important;
    }

    .media-lg\:translate-32p {
        transform: translate(32%, 32%) !important;
    }

    .media-lg\:translate-33p {
        transform: translate(33%, 33%) !important;
    }

    .media-lg\:translate-34p {
        transform: translate(34%, 34%) !important;
    }

    .media-lg\:translate-35p {
        transform: translate(35%, 35%) !important;
    }

    .media-lg\:translate-36p {
        transform: translate(36%, 36%) !important;
    }

    .media-lg\:translate-37p {
        transform: translate(37%, 37%) !important;
    }

    .media-lg\:translate-38p {
        transform: translate(38%, 38%) !important;
    }

    .media-lg\:translate-39p {
        transform: translate(39%, 39%) !important;
    }

    .media-lg\:translate-40p {
        transform: translate(40%, 40%) !important;
    }

    .media-lg\:translate-41p {
        transform: translate(41%, 41%) !important;
    }

    .media-lg\:translate-42p {
        transform: translate(42%, 42%) !important;
    }

    .media-lg\:translate-43p {
        transform: translate(43%, 43%) !important;
    }

    .media-lg\:translate-44p {
        transform: translate(44%, 44%) !important;
    }

    .media-lg\:translate-45p {
        transform: translate(45%, 45%) !important;
    }

    .media-lg\:translate-46p {
        transform: translate(46%, 46%) !important;
    }

    .media-lg\:translate-47p {
        transform: translate(47%, 47%) !important;
    }

    .media-lg\:translate-48p {
        transform: translate(48%, 48%) !important;
    }

    .media-lg\:translate-49p {
        transform: translate(49%, 49%) !important;
    }

    .media-lg\:translate-50p {
        transform: translate(50%, 50%) !important;
    }

    .media-lg\:translate-51p {
        transform: translate(51%, 51%) !important;
    }

    .media-lg\:translate-52p {
        transform: translate(52%, 52%) !important;
    }

    .media-lg\:translate-53p {
        transform: translate(53%, 53%) !important;
    }

    .media-lg\:translate-54p {
        transform: translate(54%, 54%) !important;
    }

    .media-lg\:translate-55p {
        transform: translate(55%, 55%) !important;
    }

    .media-lg\:translate-56p {
        transform: translate(56%, 56%) !important;
    }

    .media-lg\:translate-57p {
        transform: translate(57%, 57%) !important;
    }

    .media-lg\:translate-58p {
        transform: translate(58%, 58%) !important;
    }

    .media-lg\:translate-59p {
        transform: translate(59%, 59%) !important;
    }

    .media-lg\:translate-60p {
        transform: translate(60%, 60%) !important;
    }

    .media-lg\:translate-61p {
        transform: translate(61%, 61%) !important;
    }

    .media-lg\:translate-62p {
        transform: translate(62%, 62%) !important;
    }

    .media-lg\:translate-63p {
        transform: translate(63%, 63%) !important;
    }

    .media-lg\:translate-64p {
        transform: translate(64%, 64%) !important;
    }

    .media-lg\:translate-65p {
        transform: translate(65%, 65%) !important;
    }

    .media-lg\:translate-66p {
        transform: translate(66%, 66%) !important;
    }

    .media-lg\:translate-67p {
        transform: translate(67%, 67%) !important;
    }

    .media-lg\:translate-68p {
        transform: translate(68%, 68%) !important;
    }

    .media-lg\:translate-69p {
        transform: translate(69%, 69%) !important;
    }

    .media-lg\:translate-70p {
        transform: translate(70%, 70%) !important;
    }

    .media-lg\:translate-71p {
        transform: translate(71%, 71%) !important;
    }

    .media-lg\:translate-72p {
        transform: translate(72%, 72%) !important;
    }

    .media-lg\:translate-73p {
        transform: translate(73%, 73%) !important;
    }

    .media-lg\:translate-74p {
        transform: translate(74%, 74%) !important;
    }

    .media-lg\:translate-75p {
        transform: translate(75%, 75%) !important;
    }

    .media-lg\:translate-76p {
        transform: translate(76%, 76%) !important;
    }

    .media-lg\:translate-77p {
        transform: translate(77%, 77%) !important;
    }

    .media-lg\:translate-78p {
        transform: translate(78%, 78%) !important;
    }

    .media-lg\:translate-79p {
        transform: translate(79%, 79%) !important;
    }

    .media-lg\:translate-80p {
        transform: translate(80%, 80%) !important;
    }

    .media-lg\:translate-81p {
        transform: translate(81%, 81%) !important;
    }

    .media-lg\:translate-82p {
        transform: translate(82%, 82%) !important;
    }

    .media-lg\:translate-83p {
        transform: translate(83%, 83%) !important;
    }

    .media-lg\:translate-84p {
        transform: translate(84%, 84%) !important;
    }

    .media-lg\:translate-85p {
        transform: translate(85%, 85%) !important;
    }

    .media-lg\:translate-86p {
        transform: translate(86%, 86%) !important;
    }

    .media-lg\:translate-87p {
        transform: translate(87%, 87%) !important;
    }

    .media-lg\:translate-88p {
        transform: translate(88%, 88%) !important;
    }

    .media-lg\:translate-89p {
        transform: translate(89%, 89%) !important;
    }

    .media-lg\:translate-90p {
        transform: translate(90%, 90%) !important;
    }

    .media-lg\:translate-91p {
        transform: translate(91%, 91%) !important;
    }

    .media-lg\:translate-92p {
        transform: translate(92%, 92%) !important;
    }

    .media-lg\:translate-93p {
        transform: translate(93%, 93%) !important;
    }

    .media-lg\:translate-94p {
        transform: translate(94%, 94%) !important;
    }

    .media-lg\:translate-95p {
        transform: translate(95%, 95%) !important;
    }

    .media-lg\:translate-96p {
        transform: translate(96%, 96%) !important;
    }

    .media-lg\:translate-97p {
        transform: translate(97%, 97%) !important;
    }

    .media-lg\:translate-98p {
        transform: translate(98%, 98%) !important;
    }

    .media-lg\:translate-99p {
        transform: translate(99%, 99%) !important;
    }

    .media-lg\:translate-100p {
        transform: translate(100%, 100%) !important;
    }
}