
.text {
    color: var(--kintaro-text-color-2);
    font-size: var(--kintaro-font-md);
    text-shadow: var(--kintaro-text-shadow);
}

.text-primary {
    color: var(--kintaro-text-color-1);
    font-size: var(--kintaro-font-md);
    text-shadow: var(--kintaro-text-shadow);
}

/**********shadow**********/

.box-shadow {
    box-shadow: var(--kintaro-box-shadow);
}

.text-shadow {
    text-shadow: var(--kintaro-text-shadow);
}

/**********shadow-end**********/