.right-n1p {
    right: -1% !important;
}

.right-n2p {
    right: -2% !important;
}

.right-n3p {
    right: -3% !important;
}

.right-n4p {
    right: -4% !important;
}

.right-n5p {
    right: -5% !important;
}

.right-n6p {
    right: -6% !important;
}

.right-n7p {
    right: -7% !important;
}

.right-n8p {
    right: -8% !important;
}

.right-n9p {
    right: -9% !important;
}

.right-n10p {
    right: -10% !important;
}

.right-n11p {
    right: -11% !important;
}

.right-n12p {
    right: -12% !important;
}

.right-n13p {
    right: -13% !important;
}

.right-n14p {
    right: -14% !important;
}

.right-n15p {
    right: -15% !important;
}

.right-n16p {
    right: -16% !important;
}

.right-n17p {
    right: -17% !important;
}

.right-n18p {
    right: -18% !important;
}

.right-n19p {
    right: -19% !important;
}

.right-n20p {
    right: -20% !important;
}

.right-n21p {
    right: -21% !important;
}

.right-n22p {
    right: -22% !important;
}

.right-n23p {
    right: -23% !important;
}

.right-n24p {
    right: -24% !important;
}

.right-n25p {
    right: -25% !important;
}

.right-n26p {
    right: -26% !important;
}

.right-n27p {
    right: -27% !important;
}

.right-n28p {
    right: -28% !important;
}

.right-n29p {
    right: -29% !important;
}

.right-n30p {
    right: -30% !important;
}

.right-n31p {
    right: -31% !important;
}

.right-n32p {
    right: -32% !important;
}

.right-n33p {
    right: -33% !important;
}

.right-n34p {
    right: -34% !important;
}

.right-n35p {
    right: -35% !important;
}

.right-n36p {
    right: -36% !important;
}

.right-n37p {
    right: -37% !important;
}

.right-n38p {
    right: -38% !important;
}

.right-n39p {
    right: -39% !important;
}

.right-n40p {
    right: -40% !important;
}

.right-n41p {
    right: -41% !important;
}

.right-n42p {
    right: -42% !important;
}

.right-n43p {
    right: -43% !important;
}

.right-n44p {
    right: -44% !important;
}

.right-n45p {
    right: -45% !important;
}

.right-n46p {
    right: -46% !important;
}

.right-n47p {
    right: -47% !important;
}

.right-n48p {
    right: -48% !important;
}

.right-n49p {
    right: -49% !important;
}

.right-n50p {
    right: -50% !important;
}

.right-n51p {
    right: -51% !important;
}

.right-n52p {
    right: -52% !important;
}

.right-n53p {
    right: -53% !important;
}

.right-n54p {
    right: -54% !important;
}

.right-n55p {
    right: -55% !important;
}

.right-n56p {
    right: -56% !important;
}

.right-n57p {
    right: -57% !important;
}

.right-n58p {
    right: -58% !important;
}

.right-n59p {
    right: -59% !important;
}

.right-n60p {
    right: -60% !important;
}

.right-n61p {
    right: -61% !important;
}

.right-n62p {
    right: -62% !important;
}

.right-n63p {
    right: -63% !important;
}

.right-n64p {
    right: -64% !important;
}

.right-n65p {
    right: -65% !important;
}

.right-n66p {
    right: -66% !important;
}

.right-n67p {
    right: -67% !important;
}

.right-n68p {
    right: -68% !important;
}

.right-n69p {
    right: -69% !important;
}

.right-n70p {
    right: -70% !important;
}

.right-n71p {
    right: -71% !important;
}

.right-n72p {
    right: -72% !important;
}

.right-n73p {
    right: -73% !important;
}

.right-n74p {
    right: -74% !important;
}

.right-n75p {
    right: -75% !important;
}

.right-n76p {
    right: -76% !important;
}

.right-n77p {
    right: -77% !important;
}

.right-n78p {
    right: -78% !important;
}

.right-n79p {
    right: -79% !important;
}

.right-n80p {
    right: -80% !important;
}

.right-n81p {
    right: -81% !important;
}

.right-n82p {
    right: -82% !important;
}

.right-n83p {
    right: -83% !important;
}

.right-n84p {
    right: -84% !important;
}

.right-n85p {
    right: -85% !important;
}

.right-n86p {
    right: -86% !important;
}

.right-n87p {
    right: -87% !important;
}

.right-n88p {
    right: -88% !important;
}

.right-n89p {
    right: -89% !important;
}

.right-n90p {
    right: -90% !important;
}

.right-n91p {
    right: -91% !important;
}

.right-n92p {
    right: -92% !important;
}

.right-n93p {
    right: -93% !important;
}

.right-n94p {
    right: -94% !important;
}

.right-n95p {
    right: -95% !important;
}

.right-n96p {
    right: -96% !important;
}

.right-n97p {
    right: -97% !important;
}

.right-n98p {
    right: -98% !important;
}

.right-n99p {
    right: -99% !important;
}

.right-n100p {
    right: -100% !important;
}

@media (max-width: 576px) {
    .media-xs\:right-n1p {
        right: -1% !important;
    }

    .media-xs\:right-n2p {
        right: -2% !important;
    }

    .media-xs\:right-n3p {
        right: -3% !important;
    }

    .media-xs\:right-n4p {
        right: -4% !important;
    }

    .media-xs\:right-n5p {
        right: -5% !important;
    }

    .media-xs\:right-n6p {
        right: -6% !important;
    }

    .media-xs\:right-n7p {
        right: -7% !important;
    }

    .media-xs\:right-n8p {
        right: -8% !important;
    }

    .media-xs\:right-n9p {
        right: -9% !important;
    }

    .media-xs\:right-n10p {
        right: -10% !important;
    }

    .media-xs\:right-n11p {
        right: -11% !important;
    }

    .media-xs\:right-n12p {
        right: -12% !important;
    }

    .media-xs\:right-n13p {
        right: -13% !important;
    }

    .media-xs\:right-n14p {
        right: -14% !important;
    }

    .media-xs\:right-n15p {
        right: -15% !important;
    }

    .media-xs\:right-n16p {
        right: -16% !important;
    }

    .media-xs\:right-n17p {
        right: -17% !important;
    }

    .media-xs\:right-n18p {
        right: -18% !important;
    }

    .media-xs\:right-n19p {
        right: -19% !important;
    }

    .media-xs\:right-n20p {
        right: -20% !important;
    }

    .media-xs\:right-n21p {
        right: -21% !important;
    }

    .media-xs\:right-n22p {
        right: -22% !important;
    }

    .media-xs\:right-n23p {
        right: -23% !important;
    }

    .media-xs\:right-n24p {
        right: -24% !important;
    }

    .media-xs\:right-n25p {
        right: -25% !important;
    }

    .media-xs\:right-n26p {
        right: -26% !important;
    }

    .media-xs\:right-n27p {
        right: -27% !important;
    }

    .media-xs\:right-n28p {
        right: -28% !important;
    }

    .media-xs\:right-n29p {
        right: -29% !important;
    }

    .media-xs\:right-n30p {
        right: -30% !important;
    }

    .media-xs\:right-n31p {
        right: -31% !important;
    }

    .media-xs\:right-n32p {
        right: -32% !important;
    }

    .media-xs\:right-n33p {
        right: -33% !important;
    }

    .media-xs\:right-n34p {
        right: -34% !important;
    }

    .media-xs\:right-n35p {
        right: -35% !important;
    }

    .media-xs\:right-n36p {
        right: -36% !important;
    }

    .media-xs\:right-n37p {
        right: -37% !important;
    }

    .media-xs\:right-n38p {
        right: -38% !important;
    }

    .media-xs\:right-n39p {
        right: -39% !important;
    }

    .media-xs\:right-n40p {
        right: -40% !important;
    }

    .media-xs\:right-n41p {
        right: -41% !important;
    }

    .media-xs\:right-n42p {
        right: -42% !important;
    }

    .media-xs\:right-n43p {
        right: -43% !important;
    }

    .media-xs\:right-n44p {
        right: -44% !important;
    }

    .media-xs\:right-n45p {
        right: -45% !important;
    }

    .media-xs\:right-n46p {
        right: -46% !important;
    }

    .media-xs\:right-n47p {
        right: -47% !important;
    }

    .media-xs\:right-n48p {
        right: -48% !important;
    }

    .media-xs\:right-n49p {
        right: -49% !important;
    }

    .media-xs\:right-n50p {
        right: -50% !important;
    }

    .media-xs\:right-n51p {
        right: -51% !important;
    }

    .media-xs\:right-n52p {
        right: -52% !important;
    }

    .media-xs\:right-n53p {
        right: -53% !important;
    }

    .media-xs\:right-n54p {
        right: -54% !important;
    }

    .media-xs\:right-n55p {
        right: -55% !important;
    }

    .media-xs\:right-n56p {
        right: -56% !important;
    }

    .media-xs\:right-n57p {
        right: -57% !important;
    }

    .media-xs\:right-n58p {
        right: -58% !important;
    }

    .media-xs\:right-n59p {
        right: -59% !important;
    }

    .media-xs\:right-n60p {
        right: -60% !important;
    }

    .media-xs\:right-n61p {
        right: -61% !important;
    }

    .media-xs\:right-n62p {
        right: -62% !important;
    }

    .media-xs\:right-n63p {
        right: -63% !important;
    }

    .media-xs\:right-n64p {
        right: -64% !important;
    }

    .media-xs\:right-n65p {
        right: -65% !important;
    }

    .media-xs\:right-n66p {
        right: -66% !important;
    }

    .media-xs\:right-n67p {
        right: -67% !important;
    }

    .media-xs\:right-n68p {
        right: -68% !important;
    }

    .media-xs\:right-n69p {
        right: -69% !important;
    }

    .media-xs\:right-n70p {
        right: -70% !important;
    }

    .media-xs\:right-n71p {
        right: -71% !important;
    }

    .media-xs\:right-n72p {
        right: -72% !important;
    }

    .media-xs\:right-n73p {
        right: -73% !important;
    }

    .media-xs\:right-n74p {
        right: -74% !important;
    }

    .media-xs\:right-n75p {
        right: -75% !important;
    }

    .media-xs\:right-n76p {
        right: -76% !important;
    }

    .media-xs\:right-n77p {
        right: -77% !important;
    }

    .media-xs\:right-n78p {
        right: -78% !important;
    }

    .media-xs\:right-n79p {
        right: -79% !important;
    }

    .media-xs\:right-n80p {
        right: -80% !important;
    }

    .media-xs\:right-n81p {
        right: -81% !important;
    }

    .media-xs\:right-n82p {
        right: -82% !important;
    }

    .media-xs\:right-n83p {
        right: -83% !important;
    }

    .media-xs\:right-n84p {
        right: -84% !important;
    }

    .media-xs\:right-n85p {
        right: -85% !important;
    }

    .media-xs\:right-n86p {
        right: -86% !important;
    }

    .media-xs\:right-n87p {
        right: -87% !important;
    }

    .media-xs\:right-n88p {
        right: -88% !important;
    }

    .media-xs\:right-n89p {
        right: -89% !important;
    }

    .media-xs\:right-n90p {
        right: -90% !important;
    }

    .media-xs\:right-n91p {
        right: -91% !important;
    }

    .media-xs\:right-n92p {
        right: -92% !important;
    }

    .media-xs\:right-n93p {
        right: -93% !important;
    }

    .media-xs\:right-n94p {
        right: -94% !important;
    }

    .media-xs\:right-n95p {
        right: -95% !important;
    }

    .media-xs\:right-n96p {
        right: -96% !important;
    }

    .media-xs\:right-n97p {
        right: -97% !important;
    }

    .media-xs\:right-n98p {
        right: -98% !important;
    }

    .media-xs\:right-n99p {
        right: -99% !important;
    }

    .media-xs\:right-n100p {
        right: -100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:right-n1p {
        right: -1% !important;
    }

    .media-sm\:right-n2p {
        right: -2% !important;
    }

    .media-sm\:right-n3p {
        right: -3% !important;
    }

    .media-sm\:right-n4p {
        right: -4% !important;
    }

    .media-sm\:right-n5p {
        right: -5% !important;
    }

    .media-sm\:right-n6p {
        right: -6% !important;
    }

    .media-sm\:right-n7p {
        right: -7% !important;
    }

    .media-sm\:right-n8p {
        right: -8% !important;
    }

    .media-sm\:right-n9p {
        right: -9% !important;
    }

    .media-sm\:right-n10p {
        right: -10% !important;
    }

    .media-sm\:right-n11p {
        right: -11% !important;
    }

    .media-sm\:right-n12p {
        right: -12% !important;
    }

    .media-sm\:right-n13p {
        right: -13% !important;
    }

    .media-sm\:right-n14p {
        right: -14% !important;
    }

    .media-sm\:right-n15p {
        right: -15% !important;
    }

    .media-sm\:right-n16p {
        right: -16% !important;
    }

    .media-sm\:right-n17p {
        right: -17% !important;
    }

    .media-sm\:right-n18p {
        right: -18% !important;
    }

    .media-sm\:right-n19p {
        right: -19% !important;
    }

    .media-sm\:right-n20p {
        right: -20% !important;
    }

    .media-sm\:right-n21p {
        right: -21% !important;
    }

    .media-sm\:right-n22p {
        right: -22% !important;
    }

    .media-sm\:right-n23p {
        right: -23% !important;
    }

    .media-sm\:right-n24p {
        right: -24% !important;
    }

    .media-sm\:right-n25p {
        right: -25% !important;
    }

    .media-sm\:right-n26p {
        right: -26% !important;
    }

    .media-sm\:right-n27p {
        right: -27% !important;
    }

    .media-sm\:right-n28p {
        right: -28% !important;
    }

    .media-sm\:right-n29p {
        right: -29% !important;
    }

    .media-sm\:right-n30p {
        right: -30% !important;
    }

    .media-sm\:right-n31p {
        right: -31% !important;
    }

    .media-sm\:right-n32p {
        right: -32% !important;
    }

    .media-sm\:right-n33p {
        right: -33% !important;
    }

    .media-sm\:right-n34p {
        right: -34% !important;
    }

    .media-sm\:right-n35p {
        right: -35% !important;
    }

    .media-sm\:right-n36p {
        right: -36% !important;
    }

    .media-sm\:right-n37p {
        right: -37% !important;
    }

    .media-sm\:right-n38p {
        right: -38% !important;
    }

    .media-sm\:right-n39p {
        right: -39% !important;
    }

    .media-sm\:right-n40p {
        right: -40% !important;
    }

    .media-sm\:right-n41p {
        right: -41% !important;
    }

    .media-sm\:right-n42p {
        right: -42% !important;
    }

    .media-sm\:right-n43p {
        right: -43% !important;
    }

    .media-sm\:right-n44p {
        right: -44% !important;
    }

    .media-sm\:right-n45p {
        right: -45% !important;
    }

    .media-sm\:right-n46p {
        right: -46% !important;
    }

    .media-sm\:right-n47p {
        right: -47% !important;
    }

    .media-sm\:right-n48p {
        right: -48% !important;
    }

    .media-sm\:right-n49p {
        right: -49% !important;
    }

    .media-sm\:right-n50p {
        right: -50% !important;
    }

    .media-sm\:right-n51p {
        right: -51% !important;
    }

    .media-sm\:right-n52p {
        right: -52% !important;
    }

    .media-sm\:right-n53p {
        right: -53% !important;
    }

    .media-sm\:right-n54p {
        right: -54% !important;
    }

    .media-sm\:right-n55p {
        right: -55% !important;
    }

    .media-sm\:right-n56p {
        right: -56% !important;
    }

    .media-sm\:right-n57p {
        right: -57% !important;
    }

    .media-sm\:right-n58p {
        right: -58% !important;
    }

    .media-sm\:right-n59p {
        right: -59% !important;
    }

    .media-sm\:right-n60p {
        right: -60% !important;
    }

    .media-sm\:right-n61p {
        right: -61% !important;
    }

    .media-sm\:right-n62p {
        right: -62% !important;
    }

    .media-sm\:right-n63p {
        right: -63% !important;
    }

    .media-sm\:right-n64p {
        right: -64% !important;
    }

    .media-sm\:right-n65p {
        right: -65% !important;
    }

    .media-sm\:right-n66p {
        right: -66% !important;
    }

    .media-sm\:right-n67p {
        right: -67% !important;
    }

    .media-sm\:right-n68p {
        right: -68% !important;
    }

    .media-sm\:right-n69p {
        right: -69% !important;
    }

    .media-sm\:right-n70p {
        right: -70% !important;
    }

    .media-sm\:right-n71p {
        right: -71% !important;
    }

    .media-sm\:right-n72p {
        right: -72% !important;
    }

    .media-sm\:right-n73p {
        right: -73% !important;
    }

    .media-sm\:right-n74p {
        right: -74% !important;
    }

    .media-sm\:right-n75p {
        right: -75% !important;
    }

    .media-sm\:right-n76p {
        right: -76% !important;
    }

    .media-sm\:right-n77p {
        right: -77% !important;
    }

    .media-sm\:right-n78p {
        right: -78% !important;
    }

    .media-sm\:right-n79p {
        right: -79% !important;
    }

    .media-sm\:right-n80p {
        right: -80% !important;
    }

    .media-sm\:right-n81p {
        right: -81% !important;
    }

    .media-sm\:right-n82p {
        right: -82% !important;
    }

    .media-sm\:right-n83p {
        right: -83% !important;
    }

    .media-sm\:right-n84p {
        right: -84% !important;
    }

    .media-sm\:right-n85p {
        right: -85% !important;
    }

    .media-sm\:right-n86p {
        right: -86% !important;
    }

    .media-sm\:right-n87p {
        right: -87% !important;
    }

    .media-sm\:right-n88p {
        right: -88% !important;
    }

    .media-sm\:right-n89p {
        right: -89% !important;
    }

    .media-sm\:right-n90p {
        right: -90% !important;
    }

    .media-sm\:right-n91p {
        right: -91% !important;
    }

    .media-sm\:right-n92p {
        right: -92% !important;
    }

    .media-sm\:right-n93p {
        right: -93% !important;
    }

    .media-sm\:right-n94p {
        right: -94% !important;
    }

    .media-sm\:right-n95p {
        right: -95% !important;
    }

    .media-sm\:right-n96p {
        right: -96% !important;
    }

    .media-sm\:right-n97p {
        right: -97% !important;
    }

    .media-sm\:right-n98p {
        right: -98% !important;
    }

    .media-sm\:right-n99p {
        right: -99% !important;
    }

    .media-sm\:right-n100p {
        right: -100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:right-n1p {
        right: -1% !important;
    }

    .media-md\:right-n2p {
        right: -2% !important;
    }

    .media-md\:right-n3p {
        right: -3% !important;
    }

    .media-md\:right-n4p {
        right: -4% !important;
    }

    .media-md\:right-n5p {
        right: -5% !important;
    }

    .media-md\:right-n6p {
        right: -6% !important;
    }

    .media-md\:right-n7p {
        right: -7% !important;
    }

    .media-md\:right-n8p {
        right: -8% !important;
    }

    .media-md\:right-n9p {
        right: -9% !important;
    }

    .media-md\:right-n10p {
        right: -10% !important;
    }

    .media-md\:right-n11p {
        right: -11% !important;
    }

    .media-md\:right-n12p {
        right: -12% !important;
    }

    .media-md\:right-n13p {
        right: -13% !important;
    }

    .media-md\:right-n14p {
        right: -14% !important;
    }

    .media-md\:right-n15p {
        right: -15% !important;
    }

    .media-md\:right-n16p {
        right: -16% !important;
    }

    .media-md\:right-n17p {
        right: -17% !important;
    }

    .media-md\:right-n18p {
        right: -18% !important;
    }

    .media-md\:right-n19p {
        right: -19% !important;
    }

    .media-md\:right-n20p {
        right: -20% !important;
    }

    .media-md\:right-n21p {
        right: -21% !important;
    }

    .media-md\:right-n22p {
        right: -22% !important;
    }

    .media-md\:right-n23p {
        right: -23% !important;
    }

    .media-md\:right-n24p {
        right: -24% !important;
    }

    .media-md\:right-n25p {
        right: -25% !important;
    }

    .media-md\:right-n26p {
        right: -26% !important;
    }

    .media-md\:right-n27p {
        right: -27% !important;
    }

    .media-md\:right-n28p {
        right: -28% !important;
    }

    .media-md\:right-n29p {
        right: -29% !important;
    }

    .media-md\:right-n30p {
        right: -30% !important;
    }

    .media-md\:right-n31p {
        right: -31% !important;
    }

    .media-md\:right-n32p {
        right: -32% !important;
    }

    .media-md\:right-n33p {
        right: -33% !important;
    }

    .media-md\:right-n34p {
        right: -34% !important;
    }

    .media-md\:right-n35p {
        right: -35% !important;
    }

    .media-md\:right-n36p {
        right: -36% !important;
    }

    .media-md\:right-n37p {
        right: -37% !important;
    }

    .media-md\:right-n38p {
        right: -38% !important;
    }

    .media-md\:right-n39p {
        right: -39% !important;
    }

    .media-md\:right-n40p {
        right: -40% !important;
    }

    .media-md\:right-n41p {
        right: -41% !important;
    }

    .media-md\:right-n42p {
        right: -42% !important;
    }

    .media-md\:right-n43p {
        right: -43% !important;
    }

    .media-md\:right-n44p {
        right: -44% !important;
    }

    .media-md\:right-n45p {
        right: -45% !important;
    }

    .media-md\:right-n46p {
        right: -46% !important;
    }

    .media-md\:right-n47p {
        right: -47% !important;
    }

    .media-md\:right-n48p {
        right: -48% !important;
    }

    .media-md\:right-n49p {
        right: -49% !important;
    }

    .media-md\:right-n50p {
        right: -50% !important;
    }

    .media-md\:right-n51p {
        right: -51% !important;
    }

    .media-md\:right-n52p {
        right: -52% !important;
    }

    .media-md\:right-n53p {
        right: -53% !important;
    }

    .media-md\:right-n54p {
        right: -54% !important;
    }

    .media-md\:right-n55p {
        right: -55% !important;
    }

    .media-md\:right-n56p {
        right: -56% !important;
    }

    .media-md\:right-n57p {
        right: -57% !important;
    }

    .media-md\:right-n58p {
        right: -58% !important;
    }

    .media-md\:right-n59p {
        right: -59% !important;
    }

    .media-md\:right-n60p {
        right: -60% !important;
    }

    .media-md\:right-n61p {
        right: -61% !important;
    }

    .media-md\:right-n62p {
        right: -62% !important;
    }

    .media-md\:right-n63p {
        right: -63% !important;
    }

    .media-md\:right-n64p {
        right: -64% !important;
    }

    .media-md\:right-n65p {
        right: -65% !important;
    }

    .media-md\:right-n66p {
        right: -66% !important;
    }

    .media-md\:right-n67p {
        right: -67% !important;
    }

    .media-md\:right-n68p {
        right: -68% !important;
    }

    .media-md\:right-n69p {
        right: -69% !important;
    }

    .media-md\:right-n70p {
        right: -70% !important;
    }

    .media-md\:right-n71p {
        right: -71% !important;
    }

    .media-md\:right-n72p {
        right: -72% !important;
    }

    .media-md\:right-n73p {
        right: -73% !important;
    }

    .media-md\:right-n74p {
        right: -74% !important;
    }

    .media-md\:right-n75p {
        right: -75% !important;
    }

    .media-md\:right-n76p {
        right: -76% !important;
    }

    .media-md\:right-n77p {
        right: -77% !important;
    }

    .media-md\:right-n78p {
        right: -78% !important;
    }

    .media-md\:right-n79p {
        right: -79% !important;
    }

    .media-md\:right-n80p {
        right: -80% !important;
    }

    .media-md\:right-n81p {
        right: -81% !important;
    }

    .media-md\:right-n82p {
        right: -82% !important;
    }

    .media-md\:right-n83p {
        right: -83% !important;
    }

    .media-md\:right-n84p {
        right: -84% !important;
    }

    .media-md\:right-n85p {
        right: -85% !important;
    }

    .media-md\:right-n86p {
        right: -86% !important;
    }

    .media-md\:right-n87p {
        right: -87% !important;
    }

    .media-md\:right-n88p {
        right: -88% !important;
    }

    .media-md\:right-n89p {
        right: -89% !important;
    }

    .media-md\:right-n90p {
        right: -90% !important;
    }

    .media-md\:right-n91p {
        right: -91% !important;
    }

    .media-md\:right-n92p {
        right: -92% !important;
    }

    .media-md\:right-n93p {
        right: -93% !important;
    }

    .media-md\:right-n94p {
        right: -94% !important;
    }

    .media-md\:right-n95p {
        right: -95% !important;
    }

    .media-md\:right-n96p {
        right: -96% !important;
    }

    .media-md\:right-n97p {
        right: -97% !important;
    }

    .media-md\:right-n98p {
        right: -98% !important;
    }

    .media-md\:right-n99p {
        right: -99% !important;
    }

    .media-md\:right-n100p {
        right: -100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:right-n1p {
        right: -1% !important;
    }

    .media-lg\:right-n2p {
        right: -2% !important;
    }

    .media-lg\:right-n3p {
        right: -3% !important;
    }

    .media-lg\:right-n4p {
        right: -4% !important;
    }

    .media-lg\:right-n5p {
        right: -5% !important;
    }

    .media-lg\:right-n6p {
        right: -6% !important;
    }

    .media-lg\:right-n7p {
        right: -7% !important;
    }

    .media-lg\:right-n8p {
        right: -8% !important;
    }

    .media-lg\:right-n9p {
        right: -9% !important;
    }

    .media-lg\:right-n10p {
        right: -10% !important;
    }

    .media-lg\:right-n11p {
        right: -11% !important;
    }

    .media-lg\:right-n12p {
        right: -12% !important;
    }

    .media-lg\:right-n13p {
        right: -13% !important;
    }

    .media-lg\:right-n14p {
        right: -14% !important;
    }

    .media-lg\:right-n15p {
        right: -15% !important;
    }

    .media-lg\:right-n16p {
        right: -16% !important;
    }

    .media-lg\:right-n17p {
        right: -17% !important;
    }

    .media-lg\:right-n18p {
        right: -18% !important;
    }

    .media-lg\:right-n19p {
        right: -19% !important;
    }

    .media-lg\:right-n20p {
        right: -20% !important;
    }

    .media-lg\:right-n21p {
        right: -21% !important;
    }

    .media-lg\:right-n22p {
        right: -22% !important;
    }

    .media-lg\:right-n23p {
        right: -23% !important;
    }

    .media-lg\:right-n24p {
        right: -24% !important;
    }

    .media-lg\:right-n25p {
        right: -25% !important;
    }

    .media-lg\:right-n26p {
        right: -26% !important;
    }

    .media-lg\:right-n27p {
        right: -27% !important;
    }

    .media-lg\:right-n28p {
        right: -28% !important;
    }

    .media-lg\:right-n29p {
        right: -29% !important;
    }

    .media-lg\:right-n30p {
        right: -30% !important;
    }

    .media-lg\:right-n31p {
        right: -31% !important;
    }

    .media-lg\:right-n32p {
        right: -32% !important;
    }

    .media-lg\:right-n33p {
        right: -33% !important;
    }

    .media-lg\:right-n34p {
        right: -34% !important;
    }

    .media-lg\:right-n35p {
        right: -35% !important;
    }

    .media-lg\:right-n36p {
        right: -36% !important;
    }

    .media-lg\:right-n37p {
        right: -37% !important;
    }

    .media-lg\:right-n38p {
        right: -38% !important;
    }

    .media-lg\:right-n39p {
        right: -39% !important;
    }

    .media-lg\:right-n40p {
        right: -40% !important;
    }

    .media-lg\:right-n41p {
        right: -41% !important;
    }

    .media-lg\:right-n42p {
        right: -42% !important;
    }

    .media-lg\:right-n43p {
        right: -43% !important;
    }

    .media-lg\:right-n44p {
        right: -44% !important;
    }

    .media-lg\:right-n45p {
        right: -45% !important;
    }

    .media-lg\:right-n46p {
        right: -46% !important;
    }

    .media-lg\:right-n47p {
        right: -47% !important;
    }

    .media-lg\:right-n48p {
        right: -48% !important;
    }

    .media-lg\:right-n49p {
        right: -49% !important;
    }

    .media-lg\:right-n50p {
        right: -50% !important;
    }

    .media-lg\:right-n51p {
        right: -51% !important;
    }

    .media-lg\:right-n52p {
        right: -52% !important;
    }

    .media-lg\:right-n53p {
        right: -53% !important;
    }

    .media-lg\:right-n54p {
        right: -54% !important;
    }

    .media-lg\:right-n55p {
        right: -55% !important;
    }

    .media-lg\:right-n56p {
        right: -56% !important;
    }

    .media-lg\:right-n57p {
        right: -57% !important;
    }

    .media-lg\:right-n58p {
        right: -58% !important;
    }

    .media-lg\:right-n59p {
        right: -59% !important;
    }

    .media-lg\:right-n60p {
        right: -60% !important;
    }

    .media-lg\:right-n61p {
        right: -61% !important;
    }

    .media-lg\:right-n62p {
        right: -62% !important;
    }

    .media-lg\:right-n63p {
        right: -63% !important;
    }

    .media-lg\:right-n64p {
        right: -64% !important;
    }

    .media-lg\:right-n65p {
        right: -65% !important;
    }

    .media-lg\:right-n66p {
        right: -66% !important;
    }

    .media-lg\:right-n67p {
        right: -67% !important;
    }

    .media-lg\:right-n68p {
        right: -68% !important;
    }

    .media-lg\:right-n69p {
        right: -69% !important;
    }

    .media-lg\:right-n70p {
        right: -70% !important;
    }

    .media-lg\:right-n71p {
        right: -71% !important;
    }

    .media-lg\:right-n72p {
        right: -72% !important;
    }

    .media-lg\:right-n73p {
        right: -73% !important;
    }

    .media-lg\:right-n74p {
        right: -74% !important;
    }

    .media-lg\:right-n75p {
        right: -75% !important;
    }

    .media-lg\:right-n76p {
        right: -76% !important;
    }

    .media-lg\:right-n77p {
        right: -77% !important;
    }

    .media-lg\:right-n78p {
        right: -78% !important;
    }

    .media-lg\:right-n79p {
        right: -79% !important;
    }

    .media-lg\:right-n80p {
        right: -80% !important;
    }

    .media-lg\:right-n81p {
        right: -81% !important;
    }

    .media-lg\:right-n82p {
        right: -82% !important;
    }

    .media-lg\:right-n83p {
        right: -83% !important;
    }

    .media-lg\:right-n84p {
        right: -84% !important;
    }

    .media-lg\:right-n85p {
        right: -85% !important;
    }

    .media-lg\:right-n86p {
        right: -86% !important;
    }

    .media-lg\:right-n87p {
        right: -87% !important;
    }

    .media-lg\:right-n88p {
        right: -88% !important;
    }

    .media-lg\:right-n89p {
        right: -89% !important;
    }

    .media-lg\:right-n90p {
        right: -90% !important;
    }

    .media-lg\:right-n91p {
        right: -91% !important;
    }

    .media-lg\:right-n92p {
        right: -92% !important;
    }

    .media-lg\:right-n93p {
        right: -93% !important;
    }

    .media-lg\:right-n94p {
        right: -94% !important;
    }

    .media-lg\:right-n95p {
        right: -95% !important;
    }

    .media-lg\:right-n96p {
        right: -96% !important;
    }

    .media-lg\:right-n97p {
        right: -97% !important;
    }

    .media-lg\:right-n98p {
        right: -98% !important;
    }

    .media-lg\:right-n99p {
        right: -99% !important;
    }

    .media-lg\:right-n100p {
        right: -100% !important;
    }
}