.right-1p {
    right: 1% !important;
}

.right-2p {
    right: 2% !important;
}

.right-3p {
    right: 3% !important;
}

.right-4p {
    right: 4% !important;
}

.right-5p {
    right: 5% !important;
}

.right-6p {
    right: 6% !important;
}

.right-7p {
    right: 7% !important;
}

.right-8p {
    right: 8% !important;
}

.right-9p {
    right: 9% !important;
}

.right-10p {
    right: 10% !important;
}

.right-11p {
    right: 11% !important;
}

.right-12p {
    right: 12% !important;
}

.right-13p {
    right: 13% !important;
}

.right-14p {
    right: 14% !important;
}

.right-15p {
    right: 15% !important;
}

.right-16p {
    right: 16% !important;
}

.right-17p {
    right: 17% !important;
}

.right-18p {
    right: 18% !important;
}

.right-19p {
    right: 19% !important;
}

.right-20p {
    right: 20% !important;
}

.right-21p {
    right: 21% !important;
}

.right-22p {
    right: 22% !important;
}

.right-23p {
    right: 23% !important;
}

.right-24p {
    right: 24% !important;
}

.right-25p {
    right: 25% !important;
}

.right-26p {
    right: 26% !important;
}

.right-27p {
    right: 27% !important;
}

.right-28p {
    right: 28% !important;
}

.right-29p {
    right: 29% !important;
}

.right-30p {
    right: 30% !important;
}

.right-31p {
    right: 31% !important;
}

.right-32p {
    right: 32% !important;
}

.right-33p {
    right: 33% !important;
}

.right-34p {
    right: 34% !important;
}

.right-35p {
    right: 35% !important;
}

.right-36p {
    right: 36% !important;
}

.right-37p {
    right: 37% !important;
}

.right-38p {
    right: 38% !important;
}

.right-39p {
    right: 39% !important;
}

.right-40p {
    right: 40% !important;
}

.right-41p {
    right: 41% !important;
}

.right-42p {
    right: 42% !important;
}

.right-43p {
    right: 43% !important;
}

.right-44p {
    right: 44% !important;
}

.right-45p {
    right: 45% !important;
}

.right-46p {
    right: 46% !important;
}

.right-47p {
    right: 47% !important;
}

.right-48p {
    right: 48% !important;
}

.right-49p {
    right: 49% !important;
}

.right-50p {
    right: 50% !important;
}

.right-51p {
    right: 51% !important;
}

.right-52p {
    right: 52% !important;
}

.right-53p {
    right: 53% !important;
}

.right-54p {
    right: 54% !important;
}

.right-55p {
    right: 55% !important;
}

.right-56p {
    right: 56% !important;
}

.right-57p {
    right: 57% !important;
}

.right-58p {
    right: 58% !important;
}

.right-59p {
    right: 59% !important;
}

.right-60p {
    right: 60% !important;
}

.right-61p {
    right: 61% !important;
}

.right-62p {
    right: 62% !important;
}

.right-63p {
    right: 63% !important;
}

.right-64p {
    right: 64% !important;
}

.right-65p {
    right: 65% !important;
}

.right-66p {
    right: 66% !important;
}

.right-67p {
    right: 67% !important;
}

.right-68p {
    right: 68% !important;
}

.right-69p {
    right: 69% !important;
}

.right-70p {
    right: 70% !important;
}

.right-71p {
    right: 71% !important;
}

.right-72p {
    right: 72% !important;
}

.right-73p {
    right: 73% !important;
}

.right-74p {
    right: 74% !important;
}

.right-75p {
    right: 75% !important;
}

.right-76p {
    right: 76% !important;
}

.right-77p {
    right: 77% !important;
}

.right-78p {
    right: 78% !important;
}

.right-79p {
    right: 79% !important;
}

.right-80p {
    right: 80% !important;
}

.right-81p {
    right: 81% !important;
}

.right-82p {
    right: 82% !important;
}

.right-83p {
    right: 83% !important;
}

.right-84p {
    right: 84% !important;
}

.right-85p {
    right: 85% !important;
}

.right-86p {
    right: 86% !important;
}

.right-87p {
    right: 87% !important;
}

.right-88p {
    right: 88% !important;
}

.right-89p {
    right: 89% !important;
}

.right-90p {
    right: 90% !important;
}

.right-91p {
    right: 91% !important;
}

.right-92p {
    right: 92% !important;
}

.right-93p {
    right: 93% !important;
}

.right-94p {
    right: 94% !important;
}

.right-95p {
    right: 95% !important;
}

.right-96p {
    right: 96% !important;
}

.right-97p {
    right: 97% !important;
}

.right-98p {
    right: 98% !important;
}

.right-99p {
    right: 99% !important;
}

.right-100p {
    right: 100% !important;
}

@media (max-width: 576px) {
    .media-xs\:right-1p {
        right: 1% !important;
    }

    .media-xs\:right-2p {
        right: 2% !important;
    }

    .media-xs\:right-3p {
        right: 3% !important;
    }

    .media-xs\:right-4p {
        right: 4% !important;
    }

    .media-xs\:right-5p {
        right: 5% !important;
    }

    .media-xs\:right-6p {
        right: 6% !important;
    }

    .media-xs\:right-7p {
        right: 7% !important;
    }

    .media-xs\:right-8p {
        right: 8% !important;
    }

    .media-xs\:right-9p {
        right: 9% !important;
    }

    .media-xs\:right-10p {
        right: 10% !important;
    }

    .media-xs\:right-11p {
        right: 11% !important;
    }

    .media-xs\:right-12p {
        right: 12% !important;
    }

    .media-xs\:right-13p {
        right: 13% !important;
    }

    .media-xs\:right-14p {
        right: 14% !important;
    }

    .media-xs\:right-15p {
        right: 15% !important;
    }

    .media-xs\:right-16p {
        right: 16% !important;
    }

    .media-xs\:right-17p {
        right: 17% !important;
    }

    .media-xs\:right-18p {
        right: 18% !important;
    }

    .media-xs\:right-19p {
        right: 19% !important;
    }

    .media-xs\:right-20p {
        right: 20% !important;
    }

    .media-xs\:right-21p {
        right: 21% !important;
    }

    .media-xs\:right-22p {
        right: 22% !important;
    }

    .media-xs\:right-23p {
        right: 23% !important;
    }

    .media-xs\:right-24p {
        right: 24% !important;
    }

    .media-xs\:right-25p {
        right: 25% !important;
    }

    .media-xs\:right-26p {
        right: 26% !important;
    }

    .media-xs\:right-27p {
        right: 27% !important;
    }

    .media-xs\:right-28p {
        right: 28% !important;
    }

    .media-xs\:right-29p {
        right: 29% !important;
    }

    .media-xs\:right-30p {
        right: 30% !important;
    }

    .media-xs\:right-31p {
        right: 31% !important;
    }

    .media-xs\:right-32p {
        right: 32% !important;
    }

    .media-xs\:right-33p {
        right: 33% !important;
    }

    .media-xs\:right-34p {
        right: 34% !important;
    }

    .media-xs\:right-35p {
        right: 35% !important;
    }

    .media-xs\:right-36p {
        right: 36% !important;
    }

    .media-xs\:right-37p {
        right: 37% !important;
    }

    .media-xs\:right-38p {
        right: 38% !important;
    }

    .media-xs\:right-39p {
        right: 39% !important;
    }

    .media-xs\:right-40p {
        right: 40% !important;
    }

    .media-xs\:right-41p {
        right: 41% !important;
    }

    .media-xs\:right-42p {
        right: 42% !important;
    }

    .media-xs\:right-43p {
        right: 43% !important;
    }

    .media-xs\:right-44p {
        right: 44% !important;
    }

    .media-xs\:right-45p {
        right: 45% !important;
    }

    .media-xs\:right-46p {
        right: 46% !important;
    }

    .media-xs\:right-47p {
        right: 47% !important;
    }

    .media-xs\:right-48p {
        right: 48% !important;
    }

    .media-xs\:right-49p {
        right: 49% !important;
    }

    .media-xs\:right-50p {
        right: 50% !important;
    }

    .media-xs\:right-51p {
        right: 51% !important;
    }

    .media-xs\:right-52p {
        right: 52% !important;
    }

    .media-xs\:right-53p {
        right: 53% !important;
    }

    .media-xs\:right-54p {
        right: 54% !important;
    }

    .media-xs\:right-55p {
        right: 55% !important;
    }

    .media-xs\:right-56p {
        right: 56% !important;
    }

    .media-xs\:right-57p {
        right: 57% !important;
    }

    .media-xs\:right-58p {
        right: 58% !important;
    }

    .media-xs\:right-59p {
        right: 59% !important;
    }

    .media-xs\:right-60p {
        right: 60% !important;
    }

    .media-xs\:right-61p {
        right: 61% !important;
    }

    .media-xs\:right-62p {
        right: 62% !important;
    }

    .media-xs\:right-63p {
        right: 63% !important;
    }

    .media-xs\:right-64p {
        right: 64% !important;
    }

    .media-xs\:right-65p {
        right: 65% !important;
    }

    .media-xs\:right-66p {
        right: 66% !important;
    }

    .media-xs\:right-67p {
        right: 67% !important;
    }

    .media-xs\:right-68p {
        right: 68% !important;
    }

    .media-xs\:right-69p {
        right: 69% !important;
    }

    .media-xs\:right-70p {
        right: 70% !important;
    }

    .media-xs\:right-71p {
        right: 71% !important;
    }

    .media-xs\:right-72p {
        right: 72% !important;
    }

    .media-xs\:right-73p {
        right: 73% !important;
    }

    .media-xs\:right-74p {
        right: 74% !important;
    }

    .media-xs\:right-75p {
        right: 75% !important;
    }

    .media-xs\:right-76p {
        right: 76% !important;
    }

    .media-xs\:right-77p {
        right: 77% !important;
    }

    .media-xs\:right-78p {
        right: 78% !important;
    }

    .media-xs\:right-79p {
        right: 79% !important;
    }

    .media-xs\:right-80p {
        right: 80% !important;
    }

    .media-xs\:right-81p {
        right: 81% !important;
    }

    .media-xs\:right-82p {
        right: 82% !important;
    }

    .media-xs\:right-83p {
        right: 83% !important;
    }

    .media-xs\:right-84p {
        right: 84% !important;
    }

    .media-xs\:right-85p {
        right: 85% !important;
    }

    .media-xs\:right-86p {
        right: 86% !important;
    }

    .media-xs\:right-87p {
        right: 87% !important;
    }

    .media-xs\:right-88p {
        right: 88% !important;
    }

    .media-xs\:right-89p {
        right: 89% !important;
    }

    .media-xs\:right-90p {
        right: 90% !important;
    }

    .media-xs\:right-91p {
        right: 91% !important;
    }

    .media-xs\:right-92p {
        right: 92% !important;
    }

    .media-xs\:right-93p {
        right: 93% !important;
    }

    .media-xs\:right-94p {
        right: 94% !important;
    }

    .media-xs\:right-95p {
        right: 95% !important;
    }

    .media-xs\:right-96p {
        right: 96% !important;
    }

    .media-xs\:right-97p {
        right: 97% !important;
    }

    .media-xs\:right-98p {
        right: 98% !important;
    }

    .media-xs\:right-99p {
        right: 99% !important;
    }

    .media-xs\:right-100p {
        right: 100% !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:right-1p {
        right: 1% !important;
    }

    .media-sm\:right-2p {
        right: 2% !important;
    }

    .media-sm\:right-3p {
        right: 3% !important;
    }

    .media-sm\:right-4p {
        right: 4% !important;
    }

    .media-sm\:right-5p {
        right: 5% !important;
    }

    .media-sm\:right-6p {
        right: 6% !important;
    }

    .media-sm\:right-7p {
        right: 7% !important;
    }

    .media-sm\:right-8p {
        right: 8% !important;
    }

    .media-sm\:right-9p {
        right: 9% !important;
    }

    .media-sm\:right-10p {
        right: 10% !important;
    }

    .media-sm\:right-11p {
        right: 11% !important;
    }

    .media-sm\:right-12p {
        right: 12% !important;
    }

    .media-sm\:right-13p {
        right: 13% !important;
    }

    .media-sm\:right-14p {
        right: 14% !important;
    }

    .media-sm\:right-15p {
        right: 15% !important;
    }

    .media-sm\:right-16p {
        right: 16% !important;
    }

    .media-sm\:right-17p {
        right: 17% !important;
    }

    .media-sm\:right-18p {
        right: 18% !important;
    }

    .media-sm\:right-19p {
        right: 19% !important;
    }

    .media-sm\:right-20p {
        right: 20% !important;
    }

    .media-sm\:right-21p {
        right: 21% !important;
    }

    .media-sm\:right-22p {
        right: 22% !important;
    }

    .media-sm\:right-23p {
        right: 23% !important;
    }

    .media-sm\:right-24p {
        right: 24% !important;
    }

    .media-sm\:right-25p {
        right: 25% !important;
    }

    .media-sm\:right-26p {
        right: 26% !important;
    }

    .media-sm\:right-27p {
        right: 27% !important;
    }

    .media-sm\:right-28p {
        right: 28% !important;
    }

    .media-sm\:right-29p {
        right: 29% !important;
    }

    .media-sm\:right-30p {
        right: 30% !important;
    }

    .media-sm\:right-31p {
        right: 31% !important;
    }

    .media-sm\:right-32p {
        right: 32% !important;
    }

    .media-sm\:right-33p {
        right: 33% !important;
    }

    .media-sm\:right-34p {
        right: 34% !important;
    }

    .media-sm\:right-35p {
        right: 35% !important;
    }

    .media-sm\:right-36p {
        right: 36% !important;
    }

    .media-sm\:right-37p {
        right: 37% !important;
    }

    .media-sm\:right-38p {
        right: 38% !important;
    }

    .media-sm\:right-39p {
        right: 39% !important;
    }

    .media-sm\:right-40p {
        right: 40% !important;
    }

    .media-sm\:right-41p {
        right: 41% !important;
    }

    .media-sm\:right-42p {
        right: 42% !important;
    }

    .media-sm\:right-43p {
        right: 43% !important;
    }

    .media-sm\:right-44p {
        right: 44% !important;
    }

    .media-sm\:right-45p {
        right: 45% !important;
    }

    .media-sm\:right-46p {
        right: 46% !important;
    }

    .media-sm\:right-47p {
        right: 47% !important;
    }

    .media-sm\:right-48p {
        right: 48% !important;
    }

    .media-sm\:right-49p {
        right: 49% !important;
    }

    .media-sm\:right-50p {
        right: 50% !important;
    }

    .media-sm\:right-51p {
        right: 51% !important;
    }

    .media-sm\:right-52p {
        right: 52% !important;
    }

    .media-sm\:right-53p {
        right: 53% !important;
    }

    .media-sm\:right-54p {
        right: 54% !important;
    }

    .media-sm\:right-55p {
        right: 55% !important;
    }

    .media-sm\:right-56p {
        right: 56% !important;
    }

    .media-sm\:right-57p {
        right: 57% !important;
    }

    .media-sm\:right-58p {
        right: 58% !important;
    }

    .media-sm\:right-59p {
        right: 59% !important;
    }

    .media-sm\:right-60p {
        right: 60% !important;
    }

    .media-sm\:right-61p {
        right: 61% !important;
    }

    .media-sm\:right-62p {
        right: 62% !important;
    }

    .media-sm\:right-63p {
        right: 63% !important;
    }

    .media-sm\:right-64p {
        right: 64% !important;
    }

    .media-sm\:right-65p {
        right: 65% !important;
    }

    .media-sm\:right-66p {
        right: 66% !important;
    }

    .media-sm\:right-67p {
        right: 67% !important;
    }

    .media-sm\:right-68p {
        right: 68% !important;
    }

    .media-sm\:right-69p {
        right: 69% !important;
    }

    .media-sm\:right-70p {
        right: 70% !important;
    }

    .media-sm\:right-71p {
        right: 71% !important;
    }

    .media-sm\:right-72p {
        right: 72% !important;
    }

    .media-sm\:right-73p {
        right: 73% !important;
    }

    .media-sm\:right-74p {
        right: 74% !important;
    }

    .media-sm\:right-75p {
        right: 75% !important;
    }

    .media-sm\:right-76p {
        right: 76% !important;
    }

    .media-sm\:right-77p {
        right: 77% !important;
    }

    .media-sm\:right-78p {
        right: 78% !important;
    }

    .media-sm\:right-79p {
        right: 79% !important;
    }

    .media-sm\:right-80p {
        right: 80% !important;
    }

    .media-sm\:right-81p {
        right: 81% !important;
    }

    .media-sm\:right-82p {
        right: 82% !important;
    }

    .media-sm\:right-83p {
        right: 83% !important;
    }

    .media-sm\:right-84p {
        right: 84% !important;
    }

    .media-sm\:right-85p {
        right: 85% !important;
    }

    .media-sm\:right-86p {
        right: 86% !important;
    }

    .media-sm\:right-87p {
        right: 87% !important;
    }

    .media-sm\:right-88p {
        right: 88% !important;
    }

    .media-sm\:right-89p {
        right: 89% !important;
    }

    .media-sm\:right-90p {
        right: 90% !important;
    }

    .media-sm\:right-91p {
        right: 91% !important;
    }

    .media-sm\:right-92p {
        right: 92% !important;
    }

    .media-sm\:right-93p {
        right: 93% !important;
    }

    .media-sm\:right-94p {
        right: 94% !important;
    }

    .media-sm\:right-95p {
        right: 95% !important;
    }

    .media-sm\:right-96p {
        right: 96% !important;
    }

    .media-sm\:right-97p {
        right: 97% !important;
    }

    .media-sm\:right-98p {
        right: 98% !important;
    }

    .media-sm\:right-99p {
        right: 99% !important;
    }

    .media-sm\:right-100p {
        right: 100% !important;
    }
}

@media (max-width: 992px) {
    .media-md\:right-1p {
        right: 1% !important;
    }

    .media-md\:right-2p {
        right: 2% !important;
    }

    .media-md\:right-3p {
        right: 3% !important;
    }

    .media-md\:right-4p {
        right: 4% !important;
    }

    .media-md\:right-5p {
        right: 5% !important;
    }

    .media-md\:right-6p {
        right: 6% !important;
    }

    .media-md\:right-7p {
        right: 7% !important;
    }

    .media-md\:right-8p {
        right: 8% !important;
    }

    .media-md\:right-9p {
        right: 9% !important;
    }

    .media-md\:right-10p {
        right: 10% !important;
    }

    .media-md\:right-11p {
        right: 11% !important;
    }

    .media-md\:right-12p {
        right: 12% !important;
    }

    .media-md\:right-13p {
        right: 13% !important;
    }

    .media-md\:right-14p {
        right: 14% !important;
    }

    .media-md\:right-15p {
        right: 15% !important;
    }

    .media-md\:right-16p {
        right: 16% !important;
    }

    .media-md\:right-17p {
        right: 17% !important;
    }

    .media-md\:right-18p {
        right: 18% !important;
    }

    .media-md\:right-19p {
        right: 19% !important;
    }

    .media-md\:right-20p {
        right: 20% !important;
    }

    .media-md\:right-21p {
        right: 21% !important;
    }

    .media-md\:right-22p {
        right: 22% !important;
    }

    .media-md\:right-23p {
        right: 23% !important;
    }

    .media-md\:right-24p {
        right: 24% !important;
    }

    .media-md\:right-25p {
        right: 25% !important;
    }

    .media-md\:right-26p {
        right: 26% !important;
    }

    .media-md\:right-27p {
        right: 27% !important;
    }

    .media-md\:right-28p {
        right: 28% !important;
    }

    .media-md\:right-29p {
        right: 29% !important;
    }

    .media-md\:right-30p {
        right: 30% !important;
    }

    .media-md\:right-31p {
        right: 31% !important;
    }

    .media-md\:right-32p {
        right: 32% !important;
    }

    .media-md\:right-33p {
        right: 33% !important;
    }

    .media-md\:right-34p {
        right: 34% !important;
    }

    .media-md\:right-35p {
        right: 35% !important;
    }

    .media-md\:right-36p {
        right: 36% !important;
    }

    .media-md\:right-37p {
        right: 37% !important;
    }

    .media-md\:right-38p {
        right: 38% !important;
    }

    .media-md\:right-39p {
        right: 39% !important;
    }

    .media-md\:right-40p {
        right: 40% !important;
    }

    .media-md\:right-41p {
        right: 41% !important;
    }

    .media-md\:right-42p {
        right: 42% !important;
    }

    .media-md\:right-43p {
        right: 43% !important;
    }

    .media-md\:right-44p {
        right: 44% !important;
    }

    .media-md\:right-45p {
        right: 45% !important;
    }

    .media-md\:right-46p {
        right: 46% !important;
    }

    .media-md\:right-47p {
        right: 47% !important;
    }

    .media-md\:right-48p {
        right: 48% !important;
    }

    .media-md\:right-49p {
        right: 49% !important;
    }

    .media-md\:right-50p {
        right: 50% !important;
    }

    .media-md\:right-51p {
        right: 51% !important;
    }

    .media-md\:right-52p {
        right: 52% !important;
    }

    .media-md\:right-53p {
        right: 53% !important;
    }

    .media-md\:right-54p {
        right: 54% !important;
    }

    .media-md\:right-55p {
        right: 55% !important;
    }

    .media-md\:right-56p {
        right: 56% !important;
    }

    .media-md\:right-57p {
        right: 57% !important;
    }

    .media-md\:right-58p {
        right: 58% !important;
    }

    .media-md\:right-59p {
        right: 59% !important;
    }

    .media-md\:right-60p {
        right: 60% !important;
    }

    .media-md\:right-61p {
        right: 61% !important;
    }

    .media-md\:right-62p {
        right: 62% !important;
    }

    .media-md\:right-63p {
        right: 63% !important;
    }

    .media-md\:right-64p {
        right: 64% !important;
    }

    .media-md\:right-65p {
        right: 65% !important;
    }

    .media-md\:right-66p {
        right: 66% !important;
    }

    .media-md\:right-67p {
        right: 67% !important;
    }

    .media-md\:right-68p {
        right: 68% !important;
    }

    .media-md\:right-69p {
        right: 69% !important;
    }

    .media-md\:right-70p {
        right: 70% !important;
    }

    .media-md\:right-71p {
        right: 71% !important;
    }

    .media-md\:right-72p {
        right: 72% !important;
    }

    .media-md\:right-73p {
        right: 73% !important;
    }

    .media-md\:right-74p {
        right: 74% !important;
    }

    .media-md\:right-75p {
        right: 75% !important;
    }

    .media-md\:right-76p {
        right: 76% !important;
    }

    .media-md\:right-77p {
        right: 77% !important;
    }

    .media-md\:right-78p {
        right: 78% !important;
    }

    .media-md\:right-79p {
        right: 79% !important;
    }

    .media-md\:right-80p {
        right: 80% !important;
    }

    .media-md\:right-81p {
        right: 81% !important;
    }

    .media-md\:right-82p {
        right: 82% !important;
    }

    .media-md\:right-83p {
        right: 83% !important;
    }

    .media-md\:right-84p {
        right: 84% !important;
    }

    .media-md\:right-85p {
        right: 85% !important;
    }

    .media-md\:right-86p {
        right: 86% !important;
    }

    .media-md\:right-87p {
        right: 87% !important;
    }

    .media-md\:right-88p {
        right: 88% !important;
    }

    .media-md\:right-89p {
        right: 89% !important;
    }

    .media-md\:right-90p {
        right: 90% !important;
    }

    .media-md\:right-91p {
        right: 91% !important;
    }

    .media-md\:right-92p {
        right: 92% !important;
    }

    .media-md\:right-93p {
        right: 93% !important;
    }

    .media-md\:right-94p {
        right: 94% !important;
    }

    .media-md\:right-95p {
        right: 95% !important;
    }

    .media-md\:right-96p {
        right: 96% !important;
    }

    .media-md\:right-97p {
        right: 97% !important;
    }

    .media-md\:right-98p {
        right: 98% !important;
    }

    .media-md\:right-99p {
        right: 99% !important;
    }

    .media-md\:right-100p {
        right: 100% !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:right-1p {
        right: 1% !important;
    }

    .media-lg\:right-2p {
        right: 2% !important;
    }

    .media-lg\:right-3p {
        right: 3% !important;
    }

    .media-lg\:right-4p {
        right: 4% !important;
    }

    .media-lg\:right-5p {
        right: 5% !important;
    }

    .media-lg\:right-6p {
        right: 6% !important;
    }

    .media-lg\:right-7p {
        right: 7% !important;
    }

    .media-lg\:right-8p {
        right: 8% !important;
    }

    .media-lg\:right-9p {
        right: 9% !important;
    }

    .media-lg\:right-10p {
        right: 10% !important;
    }

    .media-lg\:right-11p {
        right: 11% !important;
    }

    .media-lg\:right-12p {
        right: 12% !important;
    }

    .media-lg\:right-13p {
        right: 13% !important;
    }

    .media-lg\:right-14p {
        right: 14% !important;
    }

    .media-lg\:right-15p {
        right: 15% !important;
    }

    .media-lg\:right-16p {
        right: 16% !important;
    }

    .media-lg\:right-17p {
        right: 17% !important;
    }

    .media-lg\:right-18p {
        right: 18% !important;
    }

    .media-lg\:right-19p {
        right: 19% !important;
    }

    .media-lg\:right-20p {
        right: 20% !important;
    }

    .media-lg\:right-21p {
        right: 21% !important;
    }

    .media-lg\:right-22p {
        right: 22% !important;
    }

    .media-lg\:right-23p {
        right: 23% !important;
    }

    .media-lg\:right-24p {
        right: 24% !important;
    }

    .media-lg\:right-25p {
        right: 25% !important;
    }

    .media-lg\:right-26p {
        right: 26% !important;
    }

    .media-lg\:right-27p {
        right: 27% !important;
    }

    .media-lg\:right-28p {
        right: 28% !important;
    }

    .media-lg\:right-29p {
        right: 29% !important;
    }

    .media-lg\:right-30p {
        right: 30% !important;
    }

    .media-lg\:right-31p {
        right: 31% !important;
    }

    .media-lg\:right-32p {
        right: 32% !important;
    }

    .media-lg\:right-33p {
        right: 33% !important;
    }

    .media-lg\:right-34p {
        right: 34% !important;
    }

    .media-lg\:right-35p {
        right: 35% !important;
    }

    .media-lg\:right-36p {
        right: 36% !important;
    }

    .media-lg\:right-37p {
        right: 37% !important;
    }

    .media-lg\:right-38p {
        right: 38% !important;
    }

    .media-lg\:right-39p {
        right: 39% !important;
    }

    .media-lg\:right-40p {
        right: 40% !important;
    }

    .media-lg\:right-41p {
        right: 41% !important;
    }

    .media-lg\:right-42p {
        right: 42% !important;
    }

    .media-lg\:right-43p {
        right: 43% !important;
    }

    .media-lg\:right-44p {
        right: 44% !important;
    }

    .media-lg\:right-45p {
        right: 45% !important;
    }

    .media-lg\:right-46p {
        right: 46% !important;
    }

    .media-lg\:right-47p {
        right: 47% !important;
    }

    .media-lg\:right-48p {
        right: 48% !important;
    }

    .media-lg\:right-49p {
        right: 49% !important;
    }

    .media-lg\:right-50p {
        right: 50% !important;
    }

    .media-lg\:right-51p {
        right: 51% !important;
    }

    .media-lg\:right-52p {
        right: 52% !important;
    }

    .media-lg\:right-53p {
        right: 53% !important;
    }

    .media-lg\:right-54p {
        right: 54% !important;
    }

    .media-lg\:right-55p {
        right: 55% !important;
    }

    .media-lg\:right-56p {
        right: 56% !important;
    }

    .media-lg\:right-57p {
        right: 57% !important;
    }

    .media-lg\:right-58p {
        right: 58% !important;
    }

    .media-lg\:right-59p {
        right: 59% !important;
    }

    .media-lg\:right-60p {
        right: 60% !important;
    }

    .media-lg\:right-61p {
        right: 61% !important;
    }

    .media-lg\:right-62p {
        right: 62% !important;
    }

    .media-lg\:right-63p {
        right: 63% !important;
    }

    .media-lg\:right-64p {
        right: 64% !important;
    }

    .media-lg\:right-65p {
        right: 65% !important;
    }

    .media-lg\:right-66p {
        right: 66% !important;
    }

    .media-lg\:right-67p {
        right: 67% !important;
    }

    .media-lg\:right-68p {
        right: 68% !important;
    }

    .media-lg\:right-69p {
        right: 69% !important;
    }

    .media-lg\:right-70p {
        right: 70% !important;
    }

    .media-lg\:right-71p {
        right: 71% !important;
    }

    .media-lg\:right-72p {
        right: 72% !important;
    }

    .media-lg\:right-73p {
        right: 73% !important;
    }

    .media-lg\:right-74p {
        right: 74% !important;
    }

    .media-lg\:right-75p {
        right: 75% !important;
    }

    .media-lg\:right-76p {
        right: 76% !important;
    }

    .media-lg\:right-77p {
        right: 77% !important;
    }

    .media-lg\:right-78p {
        right: 78% !important;
    }

    .media-lg\:right-79p {
        right: 79% !important;
    }

    .media-lg\:right-80p {
        right: 80% !important;
    }

    .media-lg\:right-81p {
        right: 81% !important;
    }

    .media-lg\:right-82p {
        right: 82% !important;
    }

    .media-lg\:right-83p {
        right: 83% !important;
    }

    .media-lg\:right-84p {
        right: 84% !important;
    }

    .media-lg\:right-85p {
        right: 85% !important;
    }

    .media-lg\:right-86p {
        right: 86% !important;
    }

    .media-lg\:right-87p {
        right: 87% !important;
    }

    .media-lg\:right-88p {
        right: 88% !important;
    }

    .media-lg\:right-89p {
        right: 89% !important;
    }

    .media-lg\:right-90p {
        right: 90% !important;
    }

    .media-lg\:right-91p {
        right: 91% !important;
    }

    .media-lg\:right-92p {
        right: 92% !important;
    }

    .media-lg\:right-93p {
        right: 93% !important;
    }

    .media-lg\:right-94p {
        right: 94% !important;
    }

    .media-lg\:right-95p {
        right: 95% !important;
    }

    .media-lg\:right-96p {
        right: 96% !important;
    }

    .media-lg\:right-97p {
        right: 97% !important;
    }

    .media-lg\:right-98p {
        right: 98% !important;
    }

    .media-lg\:right-99p {
        right: 99% !important;
    }

    .media-lg\:right-100p {
        right: 100% !important;
    }
}