.right-0 {
    right: 0 !important;
}

.right-auto {
    right: auto !important;
}

.right-initial {
    right: initial !important;
}

.right-inherit {
    right: inherit !important;
}

.right-unset {
    right: unset !important;
}

.right-revert {
    right: revert !important;
}

@media (max-width: 576px) {
    .media-xs\:right-0 {
        right: 0 !important;
    }

    .media-xs\:right-auto {
        right: auto !important;
    }

    .media-xs\:right-initial {
        right: initial !important;
    }

    .media-xs\:right-inherit {
        right: inherit !important;
    }

    .media-xs\:right-unset {
        right: unset !important;
    }

    .media-xs\:right-revert {
        right: revert !important;
    }
}

@media (max-width: 768px) {
    .media-sm\:right-0 {
        right: 0 !important;
    }

    .media-sm\:right-auto {
        right: auto !important;
    }

    .media-sm\:right-initial {
        right: initial !important;
    }

    .media-sm\:right-inherit {
        right: inherit !important;
    }

    .media-sm\:right-unset {
        right: unset !important;
    }

    .media-sm\:right-revert {
        right: revert !important;
    }
}

@media (max-width: 992px) {
    .media-md\:right-0 {
        right: 0 !important;
    }

    .media-md\:right-auto {
        right: auto !important;
    }

    .media-md\:right-initial {
        right: initial !important;
    }

    .media-md\:right-inherit {
        right: inherit !important;
    }

    .media-md\:right-unset {
        right: unset !important;
    }

    .media-md\:right-revert {
        right: revert !important;
    }
}

@media (max-width: 1200px) {
    .media-lg\:right-0 {
        right: 0 !important;
    }

    .media-lg\:right-auto {
        right: auto !important;
    }

    .media-lg\:right-initial {
        right: initial !important;
    }

    .media-lg\:right-inherit {
        right: inherit !important;
    }

    .media-lg\:right-unset {
        right: unset !important;
    }

    .media-lg\:right-revert {
        right: revert !important;
    }
}